<app-info-bar
  *ngIf="!isLoading && isPresentation && contents && contents.length > 1"
  [barItems]="infoBarItems"
  [isPresentation]="true"
  [position]="'right'"
  [mode]="'pure'"
></app-info-bar>
<app-answer-count
  *ngIf="!isLoading && isPresentation && canAnswerContent"
  [count]="answerCount"
  [size]="'presentation'"
></app-answer-count>
<app-loading-indicator *ngIf="isLoading"></app-loading-indicator>
<div fxLayoutAlign="center center" *ngIf="!isLoading && !contents">
  <p class="hint">{{ 'content.no-contents-yet' | transloco }}</p>
</div>
<div>
  <div
    *ngIf="!isPresentation"
    tabindex="-1"
    [appAutofocus]
    class="visually-hidden"
  >
    {{ 'statistic.a11y-message-presentation' | transloco }}
  </div>
  <div
    *ngIf="isPresentation && !isLoading"
    tabindex="-1"
    [appAutofocus]
    class="visually-hidden"
  >
    {{
      'presentation.a11y-content-message'
        | transloco: { group: contentGroup.name }
    }}
  </div>
  <div
    id="stepper-container"
    fxLayout="column"
    fxLayoutAlign="start center"
    [ngClass]="{ scalable: isPresentation }"
  >
    <app-stepper
      *ngIf="contents && contents.length > 0 && !isLoading"
      (newIndex)="updateURL($event)"
      [listLength]="contents.length"
      [isPresentation]="isPresentation"
      i18nPrefix="content"
    >
      <cdk-step *ngFor="let content of contents; let i = index">
        <div
          id="step"
          *ngIf="
            (currentStep >= i - 1 && currentStep <= i + 1) || isPresentation
          "
        >
          <mat-card [ngClass]="{ 'presentation-card': isPresentation }">
            <app-statistic-content
              [content]="content"
              [directShow]="
                contentIndex === i && settings.showContentResultsDirectly
              "
              [active]="currentStep === i"
              [index]="i"
              [correctOptionsPublished]="true"
              [isPresentation]="isPresentation"
              (updatedCounter)="updateCounter($event, currentStep === i)"
              [indexChanged]="indexChanged"
              [contentGroup]="contentGroup"
              [settings]="settings"
            >
            </app-statistic-content>
          </mat-card>
        </div>
        <div tabindex="0" class="visually-hidden">
          {{ 'statistic.a11y-no-more-answers' | transloco }}
        </div>
      </cdk-step>
    </app-stepper>
  </div>
</div>
