@use '../../../variables' as *;

.name-input {
  margin-top: $spacing-2;
}

.publishing-mode-label {
  color: var(--on-surface);
  font-weight: $font-weight-bold;
  margin-top: $spacing-2;

  &.disabled {
    opacity: 0.5;
  }
}

.publishing-mode-description {
  color: var(--on-surface);
  opacity: 0.7;
  font-size: $s-font-size;
}
