<h2 mat-dialog-title>
  {{ 'creator.content.content-group-settings' | transloco }}
</h2>
<mat-dialog-content>
  <mat-form-field appearance="outline" class="name-input">
    <mat-label>{{
      'creator.content.content-group-name' | transloco
    }}</mat-label>
    <input
      #groupName
      [formControl]="nameFormControl"
      matInput
      name="group-name"
      maxlength="50"
      (input)="(nameFormControl.valid)"
    />
    <mat-hint align="end" aria-hidden="true"
      >{{ groupName.value.length }} / 50</mat-hint
    >
    @if (nameFormControl.hasError('validateUniqueName')) {
      <mat-error>
        {{ 'creator.content.duplicate-series-name' | transloco }}
      </mat-error>
    }
  </mat-form-field>
  <app-settings-slide-toggle
    [label]="'creator.content.publish'"
    [disabled]="formDisabled"
    [isChecked]="group.published"
    (toggleEvent)="group.published = $event"
  ></app-settings-slide-toggle>
  @if (group.groupType !== GroupType.FLASHCARDS) {
    <app-settings-slide-toggle
      [matTooltip]="
        'creator.content.reset-answers-to-disable-setting' | transloco
      "
      [matTooltipDisabled]="
        !isLive() || !data.alreadyAnswered || !group.leaderboardEnabled
      "
      [label]="'creator.content.live-mode'"
      [disabled]="
        formDisabled ||
        (isLive() && data.alreadyAnswered && group.leaderboardEnabled)
      "
      [isChecked]="isLive()"
      (toggleEvent)="
        group.publishingMode = $event
          ? PublishingMode.LIVE
          : data.contentGroup.publishingMode === PublishingMode.UP_TO
            ? PublishingMode.UP_TO
            : PublishingMode.ALL
      "
    ></app-settings-slide-toggle>
  }
  <div
    fxLayout="column"
    fxLayoutGap="8px"
    [matTooltip]="
      'creator.content.publishing-modes-not-available-in-live-mode' | transloco
    "
    [matTooltipDisabled]="!isLive()"
  >
    <span class="publishing-mode-label" [ngClass]="{ disabled: isLive() }">{{
      'creator.content.publishing-mode' | transloco
    }}</span>
    <mat-button-toggle-group
      name="publishingMode"
      [hideSingleSelectionIndicator]="true"
      [(ngModel)]="group.publishingMode"
      class="mode-toggle-btn"
    >
      <div fxFlex>
        <mat-button-toggle
          fxFlex
          [disabled]="isLive()"
          [value]="PublishingMode.ALL"
          >{{
            'creator.content.publishing-mode-all' | transloco
          }}</mat-button-toggle
        >
      </div>

      <mat-button-toggle
        fxFlex
        [disabled]="isLive()"
        [value]="PublishingMode.UP_TO"
        >{{
          'creator.content.publishing-mode-up-to' | transloco
        }}</mat-button-toggle
      >
    </mat-button-toggle-group>
    <div class="publishing-mode-description">
      @switch (group.publishingMode) {
        @case (PublishingMode.ALL) {
          <span>{{
            'creator.content.publishing-mode-description-all' | transloco
          }}</span>
        }
        @case (PublishingMode.UP_TO) {
          <span
            >{{
              'creator.content.publishing-mode-description-up-to' | transloco
            }}
          </span>
        }
      }
    </div>
  </div>
  @if (group.groupType === GroupType.QUIZ) {
    <app-settings-slide-toggle
      [matTooltip]="
        'creator.content.reset-answers-to-disable-setting' | transloco
      "
      [matTooltipDisabled]="
        !isLive() || !data.alreadyAnswered || !group.leaderboardEnabled
      "
      [label]="'creator.content.enable-leaderboard'"
      [disabled]="
        formDisabled ||
        (isLive() && data.alreadyAnswered && group.leaderboardEnabled)
      "
      [isChecked]="group.leaderboardEnabled"
      (toggleEvent)="group.leaderboardEnabled = $event"
    ></app-settings-slide-toggle>
  }
  @if (group.groupType !== GroupType.FLASHCARDS) {
    <app-settings-slide-toggle
      [label]="'creator.content.publish-statistics'"
      [disabled]="formDisabled"
      [isChecked]="group.statisticsPublished"
      (toggleEvent)="group.statisticsPublished = $event"
    ></app-settings-slide-toggle>
  }
  @if ([GroupType.QUIZ, GroupType.MIXED].includes(group.groupType)) {
    <app-settings-slide-toggle
      [label]="'creator.content.publish-correct-answers'"
      [disabled]="formDisabled"
      [isChecked]="group.correctOptionsPublished"
      (toggleEvent)="group.correctOptionsPublished = $event"
    ></app-settings-slide-toggle>
  }
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end">
  <button mat-button matDialogClose>
    {{ 'dialog.cancel' | transloco }}
  </button>
  <app-loading-button
    [isDialog]="true"
    (clicked)="saveGroup()"
    name="creator.content.save"
  ></app-loading-button>
</mat-dialog-actions>
