@if (dataSource) {
  <div [ngClass]="{ 'table-container-with-limited-height': allowScrolling }">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="position">
        <td
          mat-cell
          *matCellDef="let element; index as i"
          class="position"
          [ngClass]="{
            'bold-text bg-dark': element.userAlias?.id === aliasId,
            'no-border':
              i < dataSource.data.length - 1 &&
              dataSource.data[i + 1].position === element.position,
          }"
          [ngStyle]="{ color: getColor(element.userAlias?.seed) }"
        >
          {{
            i > 0 && dataSource.data[i - 1].position === element.position
              ? ''
              : (element.position | ordinal)
          }}
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <td
          mat-cell
          *matCellDef="let element; index as i"
          class="alias"
          [ngClass]="{
            'bold-text bg-dark': element.userAlias?.id === aliasId,
          }"
          [ngStyle]="{ color: getColor(element.userAlias?.seed) }"
        >
          {{ element.userAlias?.alias ?? 'general.anonymous' | transloco }}
        </td>
      </ng-container>
      <ng-container matColumnDef="score">
        <td
          mat-cell
          *matCellDef="let element; index as i"
          class="score"
          [ngClass]="{
            'bold-text bg-dark': element.userAlias?.id === aliasId,
          }"
          [ngStyle]="{ color: getColor(element.userAlias?.seed) }"
        >
          <span
            >{{ element.score }}
            <span fxHide.xs>{{ 'content.points' | transloco }}</span></span
          >
        </td>
      </ng-container>
      <tr
        mat-row
        *matRowDef="let row; columns: ['position', 'name', 'score']"
      ></tr>
    </table>
  </div>
}
<div fxLayoutAlign="center center">
  @if (leaderboardItems.length === 0) {
    <span class="hint">{{ 'content.no-leaderboard-entries' | transloco }}</span>
  }
</div>
