<mat-list>
  @for (item of leaderboardItems; track item; let i = $index) {
    <mat-list-item
      class="bottom-border"
      [ngClass]="{
        'primary-variant': item.userAlias.id === aliasId,
      }"
    >
      <div
        fxLayout="row"
        fxLayoutAlign="space-between"
        class="leaderboard-item"
        [ngClass]="{
          'bold-text': item.userAlias.id === aliasId,
        }"
      >
        <div fxLayout="row" fxLayoutGap="1em">
          <span>{{ i + 1 | ordinal }}</span>
          <span>{{ item.userAlias.alias }}</span>
        </div>
        <div fxLayout="row" fxLayoutGap="1.5em">
          <span>{{ item.score }} {{ 'content.points' | transloco }}</span>
        </div>
      </div>
    </mat-list-item>
  }
</mat-list>
<div fxLayoutAlign="center center">
  @if (leaderboardItems.length === 0) {
    <span class="hint">{{ 'content.no-leaderboard-entries' | transloco }}</span>
  }
</div>
