<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
  <mat-card>
    <div tabindex="-1" id="message" class="visually-hidden">{{ 'content.a11y-loose-contents' | translate }}</div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div class="cardTitle">
        <h2 *ngIf="!creationMode">{{ 'content.loose-contents' | translate }}</h2>
        <mat-form-field *ngIf="creationMode">
          <input id="content-group-input" matInput maxlength="25" [(ngModel)]="newName" aria-labelledby="enter-content-group-name">
          <mat-placeholder>{{ 'content.content-group-name' | translate }}</mat-placeholder>
        </mat-form-field>
      </div>
      <span class="fill-remaining-space"></span>
      <div fxLayoutGap="15px">
        <button *ngIf="creationMode" mat-raised-button class="button-abort" (click)="exitCreation()" aria-labelledby="cancel">
          {{ 'content.cancel' | translate }}
        </button>
        <button mat-raised-button class="button-primary" (click)="createNewGroup()" aria-labelledby="create">
          {{ ( creationMode ? 'content.create' : 'content.create-group-with-loose-contents') | translate }}
        </button>
      </div>
    </div>
    <mat-card-content>
      <p>{{ 'content.loose-contents-description' | translate }}</p>
      <app-loading-indicator *ngIf="isLoading" [size]="50"></app-loading-indicator>
      <div *ngIf="!isLoading">
        <mat-expansion-panel *ngFor="let content of contents; index as i" class="matPanel">
          <mat-expansion-panel-header class="matPanelListHeader" attr.aria-label="{{ 'content.a11y-selected-content' | translate: { name: labels[i] } }}">
            <mat-panel-title class="panelTitle">
              <mat-checkbox *ngIf="creationMode" (click)="$event.stopPropagation()" [(ngModel)]="creationSelection[i]">
              </mat-checkbox>
              {{ labels[i] }}
            </mat-panel-title>
            <button mat-icon-button (keyup.enter)="menuTrigger.openMenu()" #menuTrigger="matMenuTrigger"
                    [matMenuTriggerFor]="moreActions" (click)="$event.stopPropagation()"
                    class="editButton" matTooltip="{{ 'content.more-options' | translate}}">
              <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #moreActions="matMenu" xPosition="before">
              <button mat-menu-item (click)="editContent(content)" attr.aria-label="{{ 'content.a11y-edit-content' | translate }}">
                <mat-icon>edit</mat-icon>
                <span> {{ 'content.edit-content' | translate}}</span>
              </button>
              <button mat-menu-item [matMenuTriggerFor]="chooseGroups" attr.aria-label="{{ 'content.a11y-add-to-content-group' | translate }}">
                <mat-icon>library_add</mat-icon>
                <span>{{ 'content.add-content-to-group' | translate}}</span>
              </button>
              <button mat-menu-item (click)="deleteContent(content)" attr.aria-label="{{ 'content.a11y-delete-content' | translate }}">
                <mat-icon class="delete">delete_forever</mat-icon>
                <span>{{ 'content.delete-content' | translate}}</span>
              </button>
            </mat-menu>

            <mat-menu #chooseGroups="matMenu" xPosition="before">
              <button mat-menu-item *ngFor="let cg of contentGroups; index as i" [disabled]="i === currentGroupIndex"
                      (click)="addToContentGroup(content.id, cg, false)"
                      attr.aria-label="{{ 'content.a11y-add-to-this-content-group' | translate: { name: cg } }}">
                <span>{{ cg }}</span>
              </button>
              <mat-divider></mat-divider>
              <button mat-menu-item (click)="showContentGroupCreationDialog(content.id)" attr.aria-label="{{ 'content.a11y-new-content-group' | translate }}">
                <mat-icon>add</mat-icon>
                <span>{{ 'content.new-content-group' | translate}}</span>
              </button>
            </mat-menu>

          </mat-expansion-panel-header>
          <mat-panel-description class="panelTitle">
            {{ content.body }}
          </mat-panel-description>
        </mat-expansion-panel>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="visually-hidden">
  <div id="enter-content-group-name">{{ 'content.a11y-enter-content-group-name' | translate }}</div>
  <div id="edit-content-group-name">{{ 'content.a11y-edit-content-group-name' | translate }}</div>
  <div id="discard-changes">{{ 'content.a11y-discard-changes' | translate }}</div>
  <div id="save-changes">{{ 'content.a11y-save-changes' | translate }}</div>
  <div id="more">{{ 'content.a11y-more-options' | translate }}</div>
  <div id="cancel">{{ 'content.a11y-loose-cancel' | translate }}</div>
  <div id="create">{{ (creationMode ? 'content.a11y-loose-create-with-name' : 'content.a11y-loose-create') | translate: { name: newName } }}</div>
</div>
