.container {
  width: calc(92vw + 10px);
  max-width: calc(810px + 2em);
  overflow: hidden;
}

.inner-container {
  margin: 0 5px min(3%, 1em);
}

.stepper-container {
  width: calc(100vw - calc(70px + 6%));
  max-width: calc(760px + 6%);
  overflow: hidden;
}

.stepper-navigation-bar {
  display: flex;
  justify-content: flex-start;
}

.step-container {
  min-width: 50px;
  height: 50px;
  background-color: var(--background);
  cursor: pointer;
  margin: 0 calc(calc(100% - 250px) / 10);
  border-radius: 50%;
  -webkit-tap-highlight-color: transparent;
}

.step {
  transition: 300ms;
  min-width: 30px;
  height: 30px;
  font-size: 16px;
  outline: 0;
  border-radius: 50%;
  padding: 6px;
  margin: 10px;
  cursor: pointer;

  &:not(.primary-border) {
    border: 1px solid var(--surface);
  }

  &:not(.primary-background) {
    background-color: var(--surface);
  }

  &:not(.primary, .primary-background) {
    color: var(--on-surface);
  }
}

.mat-mdc-icon-button {
  align-self: center;
  width: max(calc(20px + 3%), 40px);
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.presentation-step {
  max-width: 650px;
}

.flag-icon {
  width: 20px;
  height: 20px;
  font-size: 20px;
}

.last {
  padding: 4px;
}
