@import "../../../../variables";

.mat-form-field {
  float: left;
  padding-left: 10px;
}

#searchBox {
  box-sizing: border-box;
  padding: 0 10px 0 5px;
  background-color: var(--background);
  border: none;
  outline: none;
  min-height: 70px;
  font-size: large;
  border-radius: 35px;
  color: var(--on-surface);
  transition: width 300ms linear;
}

.search-bar-placeholder {
  height: 70px;
}

.search-input-hidden {
  width: 0;
  padding: 0 !important;
}

.search-input {
  width: 100%;
  margin-left: 2em;
}

.search-container {
  transition: top 400ms;
  border-radius: 35px;
  background-color: var(--background);
  z-index: 1;
}

@media(min-width: 1000px) {
  .search-container-fixed > * {
    transition: opacity 200ms;
  }

  .search-container-fixed:hover > * {
    opacity: 1;
  }

  .search-container-fixed:not(:hover) > * {
    opacity: 0.7;
  }
}

.search-container-fixed {
  position: fixed;
  left: calc(50% - 205px);
  width: 100%;
  max-width: 410px;
  @media(max-width: 1000px) {
    left: calc(50% - 175px);
    max-width: 350px;
  }
  @media(max-width: 420px) {
    left: calc(50% - 143px);
    max-width: 286px;
  }
}

.search-container-moderator {
  left: calc(50% - 158px);
  max-width: 316px;
}

.search-container-fixed-visible {
  top: 4vw;
}

.search-container-fixed-invisible {
  position: sticky;
  top: calc(-4vw - 70px);
}

.close-btn {
  margin-right: 2em;
}

.bar-icon {
  background-color: var(--grey);
  color: var(--black);
  opacity: 0.7;
  &:last-of-type {
    margin: 0;
  }
}

.bigger-icon {
  height: 24px;
  width: 24px;
  font-size: 24px;
  margin-top: -2px;
}

.add-btn {
  background-color: var(--primary);
  color: var(--on-primary);
}

.mobile-add {
  position: fixed;
  right: 4vw;
  bottom: 4vw;
  z-index: 3
}

.above-nav {
  bottom: calc(4vw + 56px)!important;
}

button.selected {
  font-weight: $font-weight-bold;

  &.period {
    color: var(--secondary);
  }
}

.correct-icon {
  color: var(--green);
}

.wrong-icon {
  color: var(--red);
}

.blue-icon {
  color: var(--blue);
}

.favorite-icon {
  color: var(--yellow);
}

.counter-container {
  @media(max-width: 420px) {
    display: none;
  }
}

.counter {
  color: var(--on-background);
  text-align: center;
  font-size: 1.5em!important;
  margin: 0;
}

.up {
  color: var(--green);
}

.down {
  color: var(--red);
}

::placeholder {
  color: var(--on-surface);
  opacity: 1;
}

.fab-extended {
  height: 50px;
  border-radius: 25px;
  margin: 10% 0;
  font-size: 18px;
  width: 250px;
}

.above-add {
  bottom: calc(8vw + 96px);
}

.mobile-scroll-position {
  bottom: calc(8vw + 40px);
}

.desktop-scroll-position {
  bottom: 4vw;
}

.scrollTop {
  position: fixed;
  right: -40px;
  z-index: 1;
  transition: right 400ms;
}

.visible {
  right: 4vw;
}

.comments-container {
  margin-top: min(1em, 4vw);
  margin-bottom: 20px;
}

.divider-container {
  margin: 16px 0;
  position: relative;
}

.divider-container .mat-divider {
  border-top-color: var(--on-dialog);
  opacity: 0.3;
}

.divider-label {
  font-size: 14px;
  margin: 8px 0;
  padding: 0 8px;
  position: absolute;
  top: -16px;
  left: 16px;
  z-index: 3;
  background-color: var(--dialog);
}

.settings-icon {
  opacity: 0.6;
}

.switch-list-icon {
  color: var(--primary);
}
