@import '../../../../variables';

$bar-height: 70px;

.mat-form-field {
  float: left;
  padding-left: 10px;
}

#searchBox {
  box-sizing: border-box;
  padding: 0 10px 0 5px;
  background-color: var(--background);
  border: none;
  outline: none;
  min-height: 50px;
  font-size: large;
  border-radius: 35px;
  color: var(--on-background);
}

.search-input-hidden {
  width: 0;
  padding: 0!important;
}

.search-input {
  width: 100%;
  margin-left: 2em;
}

@media(min-width: 768px) {
  .search-bar-placeholder {
    display: none;
  }

  .fixed-start-position {
    opacity: 0;
    position: fixed;
    top: -200px!important;
    right: calc(calc(100vw - min(832px, 92vw)) / 2)!important;
  }

  .header-container {
    justify-content: space-between;
  }
}

@media(max-width: 767px) {
  .search-container {
    width: 100%;
    position: initial;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .list-switcher {
    display: none;
  }

  .header-container {
    justify-content: center;
  }
}

.centered {
  justify-content: center;
}

.list-switcher {
  margin-top: calc(calc(#{$bar-height} - 48px) / 2);
}

.search-container {
  transition: all 400ms;
  border-radius: 35px;
  background-color: var(--background);
  z-index: 1;
}

@media(min-width: 1000px) {
  .search-container-fixed > * {
    transition: opacity 200ms;
  }

  .search-container-fixed:hover > * {
    opacity: 1;
  }

  .search-container-fixed:not(:hover) > * {
    opacity: 0.7;
  }
}

.search-container-fixed {
  opacity: 1;
  min-height: $bar-height;
  position: fixed;
  width: 100%;
}

@media(max-width: 1000px) {
  .five-buttons {
    right: calc(50% - 170px);
    max-width: 340px;
  }
  .four-buttons {
    right: calc(50% - 143px);
    max-width: 286px;
  }
}

@media(min-width: 1001px) {
  .five-buttons {
    right: calc(50% - 205px);
    max-width: 410px;
  }
  .four-buttons {
    right: calc(50% - 178px);
    max-width: 356px;
  }
}


.search-container-archive {
  right: calc(50% - 122px);
  max-width: 244px;
}

.search-container-fixed-visible {
  top: 4vw;
}

.search-container-fixed-invisible {
  top: calc(-4vw - #{$bar-height});
}

.close-btn {
  margin-right: 2em;
}

.bar-icon {
  background-color: var(--surface);
  color: var(--on-surface);
  opacity: 0.8;
  &:last-of-type {
    margin: 0;
  }
}

.bigger-icon {
  height: 24px;
  width: 24px;
  font-size: 24px;
  margin-top: -2px;
}

.add-btn {
  background-color: var(--primary);
  color: var(--on-primary);
}

.mobile-add {
  position: fixed;
  right: 4vw;
  bottom: 4vw;
  z-index: 3
}

.above-nav {
  bottom: calc(4vw + 56px)!important;
}

button.selected {
  font-weight: $font-weight-bold;

  &.period {
    color: var(--primary);
  }
}

.correct-icon {
  color: var(--green);
}

.wrong-icon {
  color: var(--red);
}

.blue-icon {
  color: var(--blue);
}

.favorite-icon {
  color: var(--yellow);
}

.counter {
  color: var(--on-background);
  text-align: center;
  font-size: 1.5em!important;
  margin: 0;
}

.up {
  color: var(--green);
}

.down {
  color: var(--red);
}

::placeholder {
  color: var(--on-surface);
  opacity: 1;
}

.fab-extended {
  height: 50px;
  border-radius: 25px;
  margin: 10% 0;
  font-size: 18px;
  width: 250px;
}

.above-add {
  bottom: calc(8vw + 96px);
}

.mobile-scroll-position {
  bottom: calc(8vw + 40px);
}

.desktop-scroll-position {
  bottom: 4vw;
}

.scrollTop {
  position: fixed;
  right: -40px;
  z-index: 1;
  transition: right 400ms;
  opacity: 1;
}

@media(max-width: 1000px) {
  .scrollTop {
    background-color: var(--grey-light);
  }
}

.visible {
  right: 4vw;
}

.comments-container {
  margin-top: min(1em, 4vw);
  margin-bottom: 20px;
}

.divider-container {
  margin: 16px 0;
  position: relative;
}

.divider-container .mat-divider {
  border-top-color: var(--on-dialog);
  opacity: 0.3;
}

.divider-label {
  font-size: 14px;
  margin: 8px 0;
  padding: 0 8px;
  position: absolute;
  top: -16px;
  left: 16px;
  z-index: 3;
  background-color: var(--dialog);
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.header-container {
  height: $bar-height;
  display: flex;
  flex-direction: row;
}
