@import "../../../../variables";

.mat-form-field {
  float: left;
  padding-left: 10px;
}

#searchBox {
  box-sizing: border-box;
  padding: 0 10px 0 5px;
  background-color: var(--background);
  border: none;
  outline: none;
  min-height: 70px;
  font-size: large;
  border-radius: 35px;
  color: var(--on-surface);
  transition: width 300ms linear;
}

.search-bar-placeholder {
  height: 70px;
}

.search-input-hidden {
  width: 0;
  padding: 0 !important;
}

.search-input {
  width: 100%;
  margin-left: 2em;
}

.search-container {
  border-radius: 35px;
  background-color: var(--background);
}

.search-container-fixed {
  border-radius: 35px;
  background-color: var(--background);
  position: fixed;
  top: 4vw;
  left: calc(50% - 205px);
  width: 100%;
  max-width: 410px;
  z-index: 1;
  @media(max-width: 420px) {
    left: calc(50% - 170px);
    max-width: 340px;
  }
  @media(max-width: 340px) {
    left: 0;
    max-width: 100vw;
  }
}

.close-btn {
  margin-right: 2em;
}

.bar-icon {
  background-color: var(--secondary);
  color: var(--on-secondary);
  opacity: 0.7;
}

.bigger-icon {
  height: 24px;
  width: 24px;
  font-size: 24px;
  margin-top: -2px;
}

.add-btn {
  background-color: var(--primary);
  color: var(--on-primary);
}

button.selected {
  font-weight: $font-weight-bold;

  &.period {
    color: var(--secondary);
  }
}

.correct-icon {
  color: var(--green);
}

.wrong-icon {
  color: var(--red);
}

.blue-icon {
  color: var(--blue);
}

.favorite-icon {
  color: var(--yellow);
}

.counter-container {
  @media(max-width: 420px) {
    display: none;
  }
}

.counter {
  color: var(--on-background);
  text-align: center;
  font-size: 1.5em!important;
  margin: 0;
}

.up {
  color: var(--green);
}

.down {
  color: var(--red);
}

::placeholder {
  color: var(--on-surface);
  opacity: 1;
}

.fab-extended {
  height: 50px;
  border-radius: 25px;
  margin: 10% 0;
  font-size: 18px;
  width: 250px;
}

.scrollTop {
  position: fixed;
  left: 5%;
  bottom: 5%;
  transform: scale(0);
  z-index: 1;
  transition: 0.1s;
}

.visible {
  transform: scale(1);
}

.comments-container {
  margin-top: min(1em, 4vw);
}

.outer {
  margin-bottom: calc(-98px - 4vw);
  padding-bottom: calc(98px + 4vw);
}
