<div
  class="text-answer-container"
  [ngClass]="{ 'answers-visible': answersVisible }"
>
  @if (!isLoading && answersVisible) {
    <app-answer-list
      [answers]="answerStats"
      [banMode]="false"
      [isPresentation]="isPresentation"
      (deleteClicked)="deleteAnswer($event)"
    ></app-answer-list>
  }
  <div fxLayoutAlign="center">
    @if (isLoading) {
      <app-loading-indicator></app-loading-indicator>
    }
    @if (!isLoading && answerStats.length === 0) {
      <p class="hint">
        {{ 'statistic.no-answers' | transloco }}
      </p>
    }
  </div>
</div>
