<div>
  @if (!customButton.children.length) {
    <button
      mat-button
      class="copy-url"
      [cdkCopyToClipboard]="url"
      (cdkCopyToClipboardCopied)="showNotification($event)"
      [attr.aria-label]="'room-page.a11y-copy-url' | transloco"
      appTrackInteraction="Copied room URL"
    >
      <mat-icon>content_copy</mat-icon>
      {{ 'room-page.copy-url' | transloco }}
    </button>
  }
  <div
    #customButton
    class="custom-button"
    role="button"
    [matTooltip]="'room-page.copy-url' | transloco"
    [cdkCopyToClipboard]="url"
    (cdkCopyToClipboardCopied)="showNotification($event)"
  >
    <ng-content></ng-content>
  </div>
</div>
