@use '../../../../variables' as *;

.container {
  gap: $spacing-6;
}

.heading {
  margin-top: $spacing-7;
  gap: calc($spacing / 2);
}

.logo-container {
  height: 56px;
}

@include xs {
  .heading {
    margin-top: $spacing-5;
  }

  .logo-container {
    height: 48px;
  }

  .container {
    gap: $spacing-5;
  }
}
