@use '../../../variables' as *;

$icon-container-size: 40px;

.header-text {
  font-weight: $font-weight-bold;
}

@include xs {
  .header-text {
    font-size: $l-font-size;
  }
}

@include gt-xs {
  .header-text {
    font-size: $xl-font-size;
  }
}

.info-chart-container {
  padding-bottom: 20px;
  margin: 16px 0 32px;
}

.correct {
  color: var(--success);
}

.wrong {
  color: var(--warn);
}

.grey {
  color: var(--grey);
}

.full-border {
  transition: all 150ms;
  border-radius: 4px;
  border: 1px solid var(--border);

  --mat-list-list-item-hover-state-layer-color: var(--surface);
  --mat-list-list-item-focus-state-layer-color: var(--surface);

  &:not(:last-of-type) {
    margin-bottom: 8px;
  }

  &:hover,
  &:focus-within {
    cursor: pointer;
    border-color: var(--grey);
  }
}

.body {
  max-width: calc(100% - (#{$icon-container-size} + 16px));
}

app-hint {
  margin-bottom: 1em;
}

.leaderboard-icon {
  width: 64px;
  height: 64px;
  font-size: 64px;
}

.duration {
  color: var(--on-surface-light);
}

@include xs {
  .duration {
    font-size: $s-font-size;
  }
}
