<div fxLayout="column" fxLayoutAlign="start center">
  <mat-card fxLayout="column" fxLayoutGap="16px">
    <span
      *ngIf="!isLoading && group.groupType !== GroupType.QUIZ"
      class="header-text"
    >
      {{ getHeaderText() | transloco }}
    </span>
    <app-loading-indicator *ngIf="isLoading"></app-loading-indicator>
    <div fxLayout="column" fxLayoutGap="24px">
      <div
        *ngIf="
          !isLoading &&
          group.groupType === GroupType.QUIZ &&
          userLeaderboardItem
        "
        fxLayout="column"
        fxLayoutAlign="start center"
        fxLayoutGap="24px"
      >
        <mat-icon class="leaderboard-icon">emoji_events</mat-icon>
        <span class="position-text">
          {{
            'participant.content.you-are-at-position'
              | transloco: { position: getPosition() }
          }}
        </span>
      </div>
      <div
        *ngIf="!isLoading && !isPureInfoSeries"
        fxLayout="row wrap"
        fxLayoutAlign="space-around"
        class="info-chart-container"
      >
        <app-info-chart
          *ngIf="
            group.groupType === GroupType.QUIZ &&
            leaderboard &&
            userLeaderboardItem
          "
          id="points-info-chart"
          chartId="points-chart"
          [dataText]="userLeaderboardItem.score.toString()"
          [infoText]="'content.points' | transloco"
        ></app-info-chart>
        <app-info-chart
          *ngIf="hasScore"
          id="correct-info-chart"
          chartId="correct-chart"
          [dataText]="score + '%'"
          [infoText]="'participant.content.answer-state-correct' | transloco"
        ></app-info-chart>
        <app-info-chart
          id="progress-info-chart"
          chartId="progress-chart"
          [dataText]="getProgressDataText()"
          [infoText]="'participant.content.answer-state-neutral' | transloco"
        ></app-info-chart>
      </div>
      <app-leaderboard
        *ngIf="!isLoading && group.groupType === GroupType.QUIZ && leaderboard"
        fxFill
        [leaderboardItems]="leaderboard"
        [aliasId]="alias?.id"
      ></app-leaderboard>
      <app-hint
        *ngIf="!isLoading && !leaderboard && getLockedContentCount() > 0"
        [ngStyle]="{ 'margin-top': isPureInfoSeries ? '0' : '-1em' }"
        fxLayout="row"
        [fxLayoutAlign]="isPureInfoSeries ? 'start' : 'center'"
        [type]="HintType.INFO"
        [text]="
          (getLockedContentCount() === 1
            ? 'participant.content.there-is-one-locked-content'
            : 'participant.content.there-are-locked-contents'
          ) | transloco: { count: getLockedContentCount() }
        "
      ></app-hint>
      <div
        *ngIf="group.groupType === GroupType.QUIZ"
        fxLayout="row"
        fxLayoutAlign="center"
      >
        <button mat-stroked-button (click)="showContents = !showContents">
          {{
            (showContents
              ? 'participant.content.hide-contents'
              : 'participant.content.show-contents'
            ) | transloco
          }}
          <mat-icon>{{
            showContents ? 'expand_less' : 'expand_more'
          }}</mat-icon>
        </button>
      </div>
      <div
        *ngIf="group.groupType !== GroupType.QUIZ"
        fxLayout.gt-xs="row"
        fxLayout.lt-sm="column"
        fxLayoutGap="1em"
        fxLayoutAlign.gt-xs="space-between center"
        fxLayoutAlign.lt-sm="center center"
      >
        <span>{{ getSubHeaderText() | transloco }}</span>
        <button
          fxFlex="none"
          *ngIf="!isPureInfoSeries && !finished"
          mat-raised-button
          color="primary"
          (click)="goToFirstUnanswered()"
        >
          <mat-icon>arrow_forward</mat-icon>
          <span>{{
            'participant.content.continue-answering' | transloco
          }}</span>
        </button>
      </div>
      <app-loading-indicator *ngIf="isLoading"></app-loading-indicator>
      <mat-list
        *ngIf="
          !isLoading && (group.groupType !== GroupType.QUIZ || showContents)
        "
      >
        <mat-list-item
          *ngFor="let content of contentsWithResults; let i = index"
          class="full-border"
          (click)="goToContent(i)"
        >
          <div
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="16px"
            fxFill
          >
            <div fxLayoutAlign="center center" class="icon-container">
              <mat-icon
                *ngIf="
                  !(
                    isLoadingLastContent && i === contentsWithResults.length - 1
                  )
                "
                [ngClass]="{
                  correct: content.state === resultTypes.CORRECT,
                  wrong: content.state === resultTypes.WRONG,
                  answered:
                    ![resultTypes.CORRECT, resultTypes.WRONG].includes(
                      content.state
                    ) || !group.correctOptionsPublished,
                  primary: hasAnsweredState(content.state)
                }"
                [matTooltip]="
                  (![ContentType.FLASHCARD, ContentType.SLIDE].includes(
                    contents[i].format
                  )
                    ? 'participant.content.answer-state-' +
                      content.state.toLowerCase()
                    : ''
                  ) | transloco
                "
              >
                {{ getIcon(content.state) }}
              </mat-icon>
              <app-loading-indicator
                *ngIf="
                  isLoadingLastContent && i === contentsWithResults.length - 1
                "
                [size]="20"
              ></app-loading-indicator>
            </div>
            <app-rendered-text
              class="ellipsis body rendered-list-preview-container"
              [renderedText]="content.body"
              [listPreview]="true"
              tabindex="0"
              role="button"
              (keyup.enter)="goToContent(i)"
            ></app-rendered-text>
            <span class="fill-remaining-space"></span>
            <span
              *ngIf="
                content.duration !== undefined &&
                group.groupType === GroupType.QUIZ
              "
              class="duration"
              >{{ content.duration || 0 | duration }}</span
            >
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card>
</div>
