$icon-container-size: 40px;

.header-text {
  margin: 0;
  opacity: 0.8;
  font-weight: bold;
}

@media (max-width: 767px) {
  .header-text {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .header-text {
    font-size: 24px;
  }
}

.info-chart-container {
  padding-bottom: 20px;
  margin: 16px 0 32px;
}

.correct:not(.answered) {
  color: var(--green);
}

.wrong:not(.answered) {
  color: var(--red);
}

.answered {
  width: 16px;
  height: 16px;
  font-size: 16px;

  &:not(.primary) {
    color: var(--grey);
  }
}

.full-border {
  transition: all 150ms;
  border-radius: 4px;
  border: 1px solid var(--border);

  &:not(:last-of-type) {
    margin-bottom: 8px;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 3px var(--grey);
    border: 1px solid var(--surface);
  }
}

.icon-container {
  height: $icon-container-size;
  width: $icon-container-size;
}

.body {
  max-width: calc(100% - (#{$icon-container-size} + 16px));
}

app-hint {
  margin-bottom: 1em;
}
