<div fxLayout="column" fxLayoutAlign="start center">
  <mat-card fxLayout="column" fxLayoutGap="16px">
    @if (
      !isLoading &&
      (!group.leaderboardEnabled || (userLeaderboardItem && getPosition() > 3))
    ) {
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="12px">
        <span class="header-text">
          {{ getHeaderText() | transloco }}
        </span>
        @if (group.leaderboardEnabled) {
          <span class="position-info">
            {{
              'participant.content.you-are-at-position'
                | transloco: { position: getPosition() | ordinal }
            }}
          </span>
        }
      </div>
    }
    @if (isLoading) {
      <app-loading-indicator></app-loading-indicator>
    }
    <div fxLayout="column" fxLayoutGap="24px">
      @if (
        !isLoading &&
        group.leaderboardEnabled &&
        userLeaderboardItem &&
        getPosition() <= 3
      ) {
        <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="24px">
          <mat-icon
            class="leaderboard-icon"
            [style]="'color: var(--' + getTrophyIconColor() + ')'"
            >emoji_events</mat-icon
          >
          <span class="header-text">
            {{
              'participant.content.you-are-at-position-congrats'
                | transloco: { position: getPosition() | ordinal }
            }}
          </span>
        </div>
      }
      @if (!isLoading && !isPureInfoSeries) {
        <div
          fxLayout="row wrap"
          fxLayoutAlign="space-around"
          class="info-chart-container"
        >
          @if (group.leaderboardEnabled && leaderboard && userLeaderboardItem) {
            <app-info-chart
              id="points-info-chart"
              chartId="points-chart"
              [dataText]="userLeaderboardItem.score.toString()"
              [infoText]="'content.points' | transloco"
            ></app-info-chart>
          }
          @if (hasScore) {
            <app-info-chart
              id="correct-info-chart"
              chartId="correct-chart"
              [dataText]="score + '%'"
              [infoText]="
                'participant.content.answer-state-correct' | transloco
              "
            ></app-info-chart>
          }
          <app-info-chart
            id="progress-info-chart"
            chartId="progress-chart"
            [dataText]="getProgressDataText()"
            [infoText]="'participant.content.answer-state-neutral' | transloco"
          ></app-info-chart>
        </div>
      }
      @if (!isLoading && !leaderboard && getLockedContentCount() > 0) {
        <app-hint
          [ngStyle]="{ 'margin-top': isPureInfoSeries ? '0' : '-1em' }"
          fxLayout="row"
          [fxLayoutAlign]="isPureInfoSeries ? 'start' : 'center'"
          [type]="HintType.INFO"
          [text]="
            (getLockedContentCount() === 1
              ? 'participant.content.there-is-one-locked-content'
              : 'participant.content.there-are-locked-contents'
            ) | transloco: { count: getLockedContentCount() }
          "
        ></app-hint>
      }
      @if (group.leaderboardEnabled) {
        <div fxLayout="row">
          <mat-tab-group
            (selectedTabChange)="selectedTabIndex = $event.index"
            [selectedIndex]="selectedTabIndex"
            [animationDuration]="0"
          >
            <mat-tab
              [label]="'participant.content.contents' | transloco"
            ></mat-tab>
            <mat-tab [label]="'content.leaderboard' | transloco"> </mat-tab>
          </mat-tab-group>
        </div>
      }
      @if (!group.leaderboardEnabled) {
        <div
          fxLayout.gt-xs="row"
          fxLayout.lt-sm="column"
          fxLayoutGap="1em"
          fxLayoutAlign.gt-xs="space-between center"
          fxLayoutAlign.lt-sm="center center"
        >
          <span>{{ getSubHeaderText() | transloco }}</span>
          @if (!isPureInfoSeries && !finished) {
            <button
              fxFlex="none"
              mat-raised-button
              color="primary"
              (click)="goToFirstUnanswered()"
            >
              <mat-icon>arrow_forward</mat-icon>
              <span>{{
                'participant.content.continue-answering' | transloco
              }}</span>
            </button>
          }
        </div>
      }
      @if (isLoading) {
        <app-loading-indicator></app-loading-indicator>
      }
      @if (
        !isLoading && (!group.leaderboardEnabled || selectedTabIndex === 0)
      ) {
        <mat-list>
          @for (content of contentsWithResults; track content; let i = $index) {
            <mat-list-item class="full-border" (click)="goToContent(i)">
              <div
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="16px"
                fxFill
              >
                <div fxLayoutAlign="center center">
                  @if (
                    !(
                      isLoadingLastContent &&
                      i === contentsWithResults.length - 1
                    )
                  ) {
                    <mat-icon
                      [ngClass]="{
                        correct: content.state === resultTypes.CORRECT,
                        wrong: content.state === resultTypes.WRONG,
                        grey: [
                          resultTypes.ABSTAINED,
                          resultTypes.UNANSWERED,
                        ].includes(content.state),
                        primary: hasAnsweredState(content.state),
                      }"
                      [matTooltip]="
                        (![ContentType.FLASHCARD, ContentType.SLIDE].includes(
                          contents[i].format
                        )
                          ? 'participant.content.answer-state-' +
                            content.state.toLowerCase()
                          : ''
                        ) | transloco
                      "
                    >
                      {{ getIcon(content.state) }}
                    </mat-icon>
                  }
                  @if (
                    isLoadingLastContent && i === contentsWithResults.length - 1
                  ) {
                    <app-loading-indicator [size]="20"></app-loading-indicator>
                  }
                </div>
                <app-rendered-text
                  class="ellipsis body rendered-list-preview-container"
                  [renderedText]="content.body"
                  [listPreview]="true"
                  tabindex="0"
                  role="button"
                  (keyup.enter)="goToContent(i)"
                ></app-rendered-text>
                <span class="fill-remaining-space"></span>
                @if (content.duration && isLiveMode()) {
                  <span class="duration">{{
                    content.duration | duration
                  }}</span>
                }
              </div>
            </mat-list-item>
          }
        </mat-list>
      }
      @if (
        !isLoading &&
        group.leaderboardEnabled &&
        leaderboard &&
        selectedTabIndex === 1
      ) {
        @if (alias?.id) {
          <app-leaderboard
            fxFill
            [leaderboardItems]="leaderboard"
            [aliasId]="alias?.id"
          ></app-leaderboard>
        } @else {
          <app-content-waiting
            [alias]="alias"
            [roomId]="group.roomId"
            [aliasRequired]="true"
            (aliasSet)="loadLeaderboard()"
          ></app-content-waiting>
        }
      }
    </div>
  </mat-card>
</div>
