@import '../../../variables';

$icon-container-size: 40px;

.header-text {
  font-weight: $font-weight-bold;
}

.position-info {
  opacity: 0.7;
}

@include xs {
  .header-text {
    font-size: $l-font-size;
  }

  .position-info {
    font-size: $m-font-size;
  }
}

@include gt-xs {
  .header-text {
    font-size: $xl-font-size;
  }

  .position-info {
    font-size: $l-font-size;
  }
}

.info-chart-container {
  padding-bottom: 20px;
  margin: 16px 0 32px;
}

.correct:not(.answered) {
  color: var(--success);
}

.wrong:not(.answered) {
  color: var(--warn);
}

.answered {
  width: 16px;
  height: 16px;
  font-size: 16px;

  &:not(.primary) {
    color: var(--grey);
  }
}

.full-border {
  transition: all 150ms;
  border-radius: 4px;
  border: 1px solid var(--border);

  &:not(:last-of-type) {
    margin-bottom: 8px;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 3px var(--grey);
    border: 1px solid var(--surface);
  }
}

.body {
  max-width: calc(100% - (#{$icon-container-size} + 16px));
}

app-hint {
  margin-bottom: 1em;
}

.leaderboard-icon {
  width: 64px;
  height: 64px;
  font-size: 64px;
}

.duration {
  opacity: 0.7;
}

@include xs {
  .duration {
    font-size: $s-font-size;
  }
}
