<div fxLayout="column" fxLayoutAlign="start center">
  <mat-card fxLayout="column" fxLayoutGap="16px">
    <span class="header-text">
      {{ getHeaderText() | translate }}
    </span>
    <app-loading-indicator *ngIf="isLoading"></app-loading-indicator>
    <div fxLayout="column">
      <div
        *ngIf="!isLoading && !isPureInfoSeries"
        fxLayout="row"
        fxLayoutAlign="space-around"
        class="info-chart-container"
      >
        <app-info-chart
          id="progress-info-chart"
          chartId="progress-chart"
          [dataText]="getProgressDataText()"
          [infoText]="'content.answer-state-neutral' | translate"
        ></app-info-chart>
        <app-info-chart
          *ngIf="hasScore"
          id="correct-info-chart"
          chartId="correct-chart"
          [dataText]="score + '%'"
          [infoText]="'content.answer-state-correct' | translate"
        ></app-info-chart>
      </div>
      <app-hint
        [ngStyle]="{ 'margin-top': isPureInfoSeries ? '0' : '-1em' }"
        fxLayout="row"
        [fxLayoutAlign]="isPureInfoSeries ? 'start' : 'center'"
        *ngIf="!isLoading && getLockedContentCount() > 0"
        [type]="HintType.INFO"
        [text]="
          (getLockedContentCount() === 1
            ? 'content.there-is-one-locked-content'
            : 'content.there-are-locked-contents'
          ) | translate : { count: getLockedContentCount() }
        "
      ></app-hint>
      <div
        fxLayout.gt-sm="row"
        fxLayout.lt-sm="column"
        fxLayoutGap="1em"
        fxLayoutAlign.gt-sm="space-between center"
        fxLayoutAlign.lt-sm="center center"
      >
        <span>{{ getSubHeaderText() | translate }}</span>
        <button
          *ngIf="!isPureInfoSeries && !finished"
          mat-raised-button
          color="primary"
          (click)="goToFirstUnanswered()"
        >
          <mat-icon fxFlex="noshrink">arrow_forward</mat-icon>
          <span>{{ 'content.continue-answering' | translate }}</span>
        </button>
      </div>
    </div>
    <app-loading-indicator *ngIf="isLoading"></app-loading-indicator>
    <mat-list *ngIf="!isLoading">
      <mat-list-item
        *ngFor="let content of contentsWithResults; let i = index"
        class="full-border"
        (click)="goToContent(i)"
      >
        <div
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="16px"
          fxFill
        >
          <div fxLayoutAlign="center center" class="icon-container">
            <mat-icon
              *ngIf="
                !(isLoadingLastContent && i === contentsWithResults.length - 1)
              "
              [ngClass]="{
                correct: content.state === resultTypes.CORRECT,
                wrong: content.state === resultTypes.WRONG,
                answered:
                  ![resultTypes.CORRECT, resultTypes.WRONG].includes(
                    content.state
                  ) || !group.correctOptionsPublished,
                primary: hasAnsweredState(content.state)
              }"
              [matTooltip]="
                (![ContentType.FLASHCARD, ContentType.SLIDE].includes(
                  contents[i].format
                )
                  ? 'content.answer-state-' + content.state.toLowerCase()
                  : ''
                ) | translate
              "
            >
              {{ getIcon(content.state) }}
            </mat-icon>
            <app-loading-indicator
              *ngIf="
                isLoadingLastContent && i === contentsWithResults.length - 1
              "
              [size]="20"
            ></app-loading-indicator>
          </div>
          <app-rendered-text
            class="ellipsis body rendered-list-preview-container"
            [renderedText]="content.body"
            [listPreview]="true"
            tabindex="0"
            role="button"
            (keyup.enter)="goToContent(i)"
          ></app-rendered-text>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
