<form (ngSubmit)="addContentGroup()">
  <div
    mat-dialog-content
    fxLayout="column"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
  >
    <mat-form-field appearance="outline">
      <mat-label>{{ 'dialog.content-group-name' | transloco }}</mat-label>
      <input
        [disabled]="formDisabled"
        matInput
        #nameInput
        class="input-block"
        type="text"
        maxlength="25"
        [(ngModel)]="name"
        name="contentGroupName"
        autocomplete="off"
        [placeholder]="'dialog.content-group-example' | transloco"
      />
    </mat-form-field>
  </div>
  <div fxLayoutAlign="end">
    <div
      mat-dialog-actions
      fxLayout="row-reverse"
      fxLayoutAling="end"
      fxLayoutGap="10px"
    >
      <app-loading-button name="dialog.create-content-group" [isDialog]="true">
      </app-loading-button>
      <button
        (click)="closeDialog()"
        aria-labelledby="cancel"
        mat-button
        type="button"
      >
        {{ 'dialog.cancel' | transloco }}
      </button>
    </div>
  </div>
</form>
