@use '../../../variables' as *;

.warning {
  border-color: var(--warn-soft);

  mat-icon {
    color: var(--warn-soft);
  }
}

.info {
  border-color: var(--grey);

  mat-icon {
    color: var(--grey);
  }
}

.border {
  width: 100%;
  padding: $spacing-2;
  border-radius: $border-radius;
  border-width: 1px;
  border-style: solid;
}
