<div fxLayout="row" fxLayoutAlign="center">
  <mat-card [ngClass]="{'closed': !expanded}">
    <div *ngIf="expanded">
      <h2>
        {{ headerName | translate }}
        <button mat-icon-button class="expand">
          <mat-icon>expand_less</mat-icon>
        </button>
      </h2>
      <div [ngSwitch]="componentName">
        <app-room-edit [editRoom]="room" [name]="room.name" [description]="room.description"
                       *ngSwitchCase="'generalSettings'"></app-room-edit>
        <app-comment-settings [editRoom]="room" [roomId]="room.id" *ngSwitchCase="'commentSettings'"></app-comment-settings>
        <app-moderators [roomId]="room.id" *ngSwitchCase="'moderatorSettings'"></app-moderators>
        <app-bonus-token [room]="room" *ngSwitchCase="'tokenSettings'"></app-bonus-token>
        <app-tags [room]="room" *ngSwitchCase="'tagSettings'"></app-tags>
      </div>
    </div>
  </mat-card>
</div>
