@import '../../../variables';

footer {
  overflow-y: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#footer-toolbar {
  background-color: var(--background);
  padding: 0;
}

a {
  margin: 1em;
  font-size: 10px;
  color: var(--on-background);
  opacity: 0.7;
  text-decoration: none;
}

.by {
  display: none;
}

@media (max-width: 539px) {
  .powered-by {
    display: none;
  }

  .by {
    display: initial;
  }
}
