<mat-form-field class="input-block" [ngClass]="{'no-field-hint': !checkStrength}" appearance="outline">
  <mat-label>{{ 'password.password' | translate }}</mat-label>
  <input minlength="8" matInput type="password" #passwordInput [type]="hidePw ? 'password' : 'text'" [(ngModel)]="password"
         [formControl]="passwordFormControl" [errorStateMatcher]="matcher"
         placeholder="{{ 'password.enter-password' | translate }}" aria-labelledby="register-password-description"
         autocomplete="{{isNew ? 'new-password' : 'current-password'}}"/>
  <button mat-icon-button matSuffix type="button" (click)="hidePw = !hidePw" [matTooltip]="(hidePw ? 'password.show-password' : 'password.hide-password') | translate">
    <mat-icon>{{hidePw ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
  <mat-error *ngIf="checkStrength && passwordFormControl.hasError('required')">
    {{ 'password.password-required' | translate }}
  </mat-error>
  <mat-error *ngIf="checkStrength && !passwordFormControl.hasError('required')
             && passwordFormControl.hasError('minlength')">
    {{ 'password.password-too-short' | translate }}
  </mat-error>
  <mat-error *ngIf="checkStrength && !passwordFormControl.hasError('required')
             && !passwordFormControl.hasError('minlength') && passwordFormControl.hasError('passwordIsStrong')">
    {{ 'password.password-too-weak' | translate }}
  </mat-error>
  <mat-hint class="success" *ngIf="checkStrength && !passwordFormControl.hasError('required')
            && !passwordFormControl.hasError('minlength') && !passwordFormControl.hasError('passwordIsStrong')">
    {{ 'password.password-strong' | translate }}
  </mat-hint>
</mat-form-field>
