form > button {
  margin: 20px 0;
}

.mat-checkbox {
  padding-left: 16px;
  margin-bottom: 12px;
}

.mat-list {
  margin: 12px 0 20px;
}

.mat-list-item:last-of-type {
  border-bottom: solid 1px var(--border);
}
