form > button {
  margin: 20px 0;
}

.mat-card {
  margin: 20px 0;
  padding: 0;
  background-color: var(--background) !important;
}

.mat-list {
  background-color: var(--background);
}

.mat-checkbox {
  padding-left: 16px;
}
