<form fxLayout="column" fxLayoutAlign="start">
  <mat-radio-group
    [disabled]="formDisabled"
    [(ngModel)]="currentOption"
    [ngModelOptions]="{ standalone: true }"
    fxLayout="column"
    fxLayoutAlign="center"
  >
    <mat-radio-button
      *ngFor="let option of options"
      [value]="option"
      [attr.aria-label]="'creator.content.a11y-answer-' + option | transloco"
    >
      {{ 'creator.content.answer-' + option | transloco }}
    </mat-radio-button>
  </mat-radio-group>
</form>
