<div fxLayout="column" fxLayoutAlign="center center" fxFill>
  <mat-card fxLayout="column" fxLayoutAlign="center center" [ngClass]="{'invisible-card': deviceWidth < 500}">
    <p class="info" fxFlexAlign="start">{{ 'password-reset.set-new-password' | translate }}</p>
    <p>{{ email }}</p>
    <form (ngSubmit)="setNewPassword(key.value, password1.value)" class="full-width" fxLayout="column"
          fxLayoutAlign="space-around" fxLayoutGap="10px">
      <mat-form-field class="input-block" appearance="outline">
        <mat-label>{{ 'login.password' | translate }}</mat-label>
        <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
               matInput type="password" #password1 [formControl]="passwordFormControl" aria-labelledby="new-password1"
               [errorStateMatcher]="matcher" placeholder="{{ 'login.enter-password' | translate }}"
               autocomplete="new-password"/>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          {{ 'register.password-required' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input-block" appearance="outline">
        <mat-label>{{ 'register.password-verify' | translate }}</mat-label>
        <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
               matInput type="password" #password2 [formControl]="passwordFormControl2" aria-labelledby="new-password2"
               [errorStateMatcher]="matcher" placeholder="{{ 'register.enter-password-again' | translate }}"
               autocomplete="new-password"/>
        <mat-error *ngIf="passwordFormControl2.hasError('required')">
          {{ 'register.password-required' | translate }}
        </mat-error>
        <mat-error
          *ngIf="passwordFormControl2.hasError('passwordIsEqual') && !passwordFormControl2.hasError('required')">
          {{ 'register.password-unmatch' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="input-block" appearance="outline">
        <mat-label>{{ 'password-reset.key' | translate }}</mat-label>
        <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
               matInput type="text" #key [formControl]="keyFormControl" aria-labelledby="password-reset-key"
               [errorStateMatcher]="matcher" placeholder="{{ 'password-reset.enter-key' | translate }}"/>
        <mat-error *ngIf="keyFormControl.hasError('required')">
          {{ 'password-reset.key-required' | translate }}
        </mat-error>
      </mat-form-field>
      <div fxLayout="column" fxLayoutAlign="center center">
        <button mat-raised-button class="button-primary login-button" type="submit" aria-labelledby="password-set-button">
          {{ 'password-reset.set-new-password-button' | translate }}
        </button>
      </div>
    </form>
  </mat-card>
</div>

<div class="visually-hidden">
  <div id="password-set-description">{{ 'password-reset.a11y-enter-email' | translate }}</div>
  <div id="new-password1">{{ 'password-reset.a11y-new-password1' | translate }}</div>
  <div id="new-password2">{{ 'password-reset.a11y-new-password2' | translate }}</div>
  <div id="password-reset-key">{{ 'password-reset.a11y-reset-key' | translate }}</div>
  <div id="password-set-button">{{ 'password-reset.a11y-set-button' | translate }}</div>
</div>
