@use '../../../../variables' as *;

.forgot-pw {
  margin-bottom: $spacing-2;
}

.mat-divider {
  width: calc(100% - $spacing-2);
  margin: $spacing 0 $spacing-4;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 30px var(--surface) inset;
  -webkit-text-fill-color: var(--on-surface);
}

.link-container {
  margin-top: $spacing;
}
