.delete {
  margin: 20px 0 20px 0;
  min-width: 160px;
  background-color: var(--red);
  color: var(--on-secondary);
}

button {
  min-width: 105px;
}

mat-icon {
  margin-right: 10px;
}

mat-hint {
  color: var(--on-surface)!important;
}
