<div
  fxLayout="row wrap"
  fxLayoutAlign="center"
  class="link-container"
  [ngClass]="{ 'container-padding': showHelp }"
>
  <div fxLayout="row">
    @if (isAdminRole()) {
      <a routerLink="admin" (click)="sendClickedEvent()">{{
        'header.admin-area' | transloco
      }}</a>
    }
    @if (showHelp && helpUrl) {
      <a [attr.href]="helpUrl" target="_blank">{{
        'header.help' | transloco
      }}</a>
    }
    @if (accessibilityUrl) {
      <a [attr.href]="accessibilityUrl" target="_blank">
        {{ 'footer.accessibility' | transloco }}</a
      >
    }
  </div>
  <div fxLayout="row">
    <a matMenuTrigger [matMenuTriggerFor]="privacyMenu">
      {{ 'footer.dsgvo' | transloco }}</a
    >
    @if (imprintUrl) {
      <a [href]="imprintUrl" target="_blank">
        {{ 'footer.imprint' | transloco }}</a
      >
    }
  </div>
</div>
<mat-menu #privacyMenu="matMenu" [overlapTrigger]="false">
  @if (privacyUrl) {
    <a [attr.href]="privacyUrl" target="_blank" mat-menu-item>
      {{ 'footer.privacy-policy' | transloco }}</a
    >
  }
  <button mat-menu-item (click)="showCookieSettings()">
    {{ 'footer.cookie-settings' | transloco }}
  </button>
</mat-menu>
