@import "../../../../variables";

.mat-toolbar {
  background-color: var(--surface);
  position: relative;
}

.header-icons {
  color: var(--on-surface);
}

.gavel {
  cursor: initial;
}

.bonus {
  color: var(--yellow);
}

.rooms {
  color: var(--secondary);
}

.login {
  color: var(--primary);
}

.delete {
  color: var(--warn);
}

.mat-button {
  padding: 0;
}

.color {
  font-size: 45px;
  width: 45px;
  height: 45px;
  position: relative;
  margin-right: 12px;
}

.checked {
  position: absolute;
  left: 22px;
  top: 15px;
  font-size: 25px;
  width: 25px;
  height: 25px;
}

.mat-menu-item {
  height: 50px;
  padding: 5px 12px;
}

.item-title {
  line-height: 100%;
}

.color-title {
  height: 14px;
  font-size: 14px;
  color: var(--on-dialog);
  font-weight: $font-weight-bold;
}

.color-description {
  height: 14px;
  font-size: 14px;
  line-height: 14px;
  margin-top: 5px;
  color: var(--on-dialog);
}

.lang-title {
  text-align: center;
}

.less-important {
  opacity: 0.6;
}

