<mat-toolbar class="mat-elevation-z2">
  <mat-toolbar-row>
    <button id="back-button" mat-icon-button aria-labelledby="back-label" *ngIf="router.url !== '/home'"
            (click)="goBack()"
            matTooltip="{{'header.back' | translate}}">
      <mat-icon class="header-icons">arrow_back</mat-icon>
    </button>
    <lib-extension-point extensionId="header-logo" *ngIf="router.url === '/home'"></lib-extension-point>
    <span class="fill-remaining-space"></span>
    <h2 *ngIf="router.url.includes('comments') && isCreator && deviceType === 'desktop'">
      {{cTime}}
    </h2>
    <span class="fill-remaining-space"
          *ngIf="router.url.includes('comments') && isCreator && deviceType === 'desktop'"></span>
    <button mat-icon-button class="gavel" *ngIf="router.url.includes('comments') && isParticipant && moderationEnabled"
            #tt="matTooltip" matTooltip="{{ 'header.moderation-enabled' | translate }}" (click)="tt.toggle()">
      <mat-icon class="header-icons">gavel</mat-icon>
    </button>
    <h2 id="shortId-header" *ngIf="router.url.includes('comments') && isCreator && deviceType === 'desktop'">
      {{'header.id' | translate}}: {{ shortId.slice(0, 4) }} {{  shortId.slice(4, 8) }}
    </h2>
    <span class="fill-remaining-space"></span>

    <mat-menu #userMenu="matMenu" [overlapTrigger]="false" xPosition="before">
      <button mat-menu-item *ngIf="auth" routerLink="/user" tabindex="0">
        <mat-icon class="rooms">home</mat-icon>
        <span>{{'header.my-rooms' | translate}}</span>
      </button>
      <button *ngIf="auth && isGuest" mat-menu-item [routerLink]="'login'" tabindex="0">
        <mat-icon class="login">exit_to_app</mat-icon>
        <span>{{ 'header.login' | translate }}</span>
      </button>
      <button mat-menu-item (click)="navToHelp()" tabindex="0">
        <mat-icon class="less-important">help</mat-icon>
        <span>{{'header.help' | translate}}</span>
      </button>
      <button mat-menu-item aria-labelledby="style-label" [matMenuTriggerFor]="themeMenu">
        <mat-icon class="less-important">palette</mat-icon>
        <span>{{'header.style' | translate}}</span>
      </button>
      <button id="language-menu" mat-menu-item aria-labelledby="language-label" [matMenuTriggerFor]="langMenu">
        <mat-icon class="less-important">language</mat-icon>
        <span>{{'header.language' | translate}}</span>
      </button>
      <div *ngIf="deviceWidth < 1000">
        <button mat-menu-item aria-labelledby="privacy-label" [matMenuTriggerFor]="privacyMenu">
          <mat-icon class="less-important">security</mat-icon>
          <span>{{'footer.dsgvo' | translate}}</span>
        </button>
        <button [routerLink]="" mat-menu-item aria-labelledby="imprint-label">
          <mat-icon class="less-important">contact_mail</mat-icon>
          <span>{{'footer.imprint' | translate}}</span>
        </button>
      </div>
      <!-- <button mat-menu-item *ngIf="auth" (click)="openUserBonusTokenDialog()" tabindex="0">
        <mat-icon class="bonus">grade</mat-icon>
        <span>{{'header.user-bonus-token' | translate}}</span>
      </button> -->
      <button mat-menu-item *ngIf="isAdmin" routerLink="/admin" tabindex="0">
        <mat-icon>build</mat-icon>
        <span>{{'header.admin-area' | translate}}</span>
      </button>
      <button mat-menu-item *ngIf="auth && !isGuest" (click)="openDeleteUserDialog()" tabindex="0">
        <mat-icon class="delete">delete</mat-icon>
        <span>{{'header.delete-account' | translate}}</span>
      </button>
      <button *ngIf="auth && !isGuest" mat-menu-item (click)="logout()" tabindex="0">
        <mat-icon class="delete">exit_to_app</mat-icon>
        <span>{{ 'header.logout' | translate }}</span>
      </button>
    </mat-menu>

    <mat-menu class="wider-panel" #themeMenu="matMenu" xPosition="before" [overlapTrigger]="false">
      <button mat-menu-item *ngFor="let theme of themes" (click)="changeTheme(theme)"
              title="{{theme.toString(lang)}}">
        <div fxLayout="row">
          <mat-icon class="color" [ngStyle]="{'color':theme.getPreviewColor()}">lens</mat-icon>
          <mat-icon class="checked" *ngIf="theme.key === themeClass" [ngStyle]="{'color':theme.getOnPreviewColor()}">
            checked
          </mat-icon>
          <div fxLayout="column" fxLayoutAlign="center" class="color-text-container">
            <span class="item-title color-title">{{theme.getName(lang)}}</span>
            <span class="color-description"
                  *ngIf="deviceWidth > 600">{{theme.getDescription(lang)}}</span>
          </div>
        </div>
      </button>
    </mat-menu>

    <mat-menu #langMenu="matMenu" [dir]="" xPosition="before" [overlapTrigger]="false">
      <button class="item-title lang-title" mat-menu-item (click)="useLanguage('de')">
        {{ 'header.german' | translate }}</button>
      <button class="item-title lang-title" mat-menu-item (click)="useLanguage('en')">
        {{ 'header.english' | translate }}</button>
    </mat-menu>

    <mat-menu #privacyMenu="matMenu" [overlapTrigger]="false">
      <button *ngIf="privacyUrl" class="item-title" mat-menu-item (click)="showDataProtection()">
        {{ 'footer.privacy-policy' | translate }}</button>
      <button class="item-title" mat-menu-item (click)="showCookieSettings()">
        {{ 'footer.cookie-settings' | translate }}</button>
    </mat-menu>

    <button *ngIf="showNews" mat-icon-button class="news-btn" (click)="openUpdateInfoDialog()" aria-labelledby="news"
            matTooltip="{{ 'header.news' | translate }}">
      <mat-icon matBadge="1">
        notifications
      </mat-icon>
    </button>

    <button mat-button *ngIf="auth" [matMenuTriggerFor]="userMenu" aria-labelledby="room-label" id="room-button">
        <mat-icon class="header-icons">account_circle</mat-icon>
        <span class="button-text" *ngIf="!isGuest">{{'header.my-account' | translate}}</span>
        <span class="button-text" *ngIf="isGuest">{{'header.my-guest-account' | translate}}</span>
    </button>
    <div *ngIf="router.url !== '/login'">
      <button id="login-button" mat-button *ngIf="!auth" (click)=navToLogin() aria-labelledby="login-label">
        <mat-icon class="header-icons">account_circle</mat-icon>
        <span class="button-text">{{'header.login' | translate}}</span>
      </button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>

<div class="visually-hidden">
  <div id="login-label">{{'header.a11y-login' | translate}}</div>
  <div id="back-label">{{'header.a11y-back' | translate}}</div>
  <div id="room-label">{{'header.a11y-room' | translate}}</div>
  <div id="help-label">{{'header.a11y-help' | translate}}</div>
  <div id="style-label">{{'header.a11y-style' | translate}}</div>
  <div id="language-label">{{'header.a11y-language' | translate}}</div>
  <div id="news">{{'header.a11y-news' | translate}}</div>
  <div id="data-protection-label">{{'footer.a11y-data-protection' | translate}}</div>
  <div id="imprint-label">{{'footer.a11y-imprint' | translate}}</div>
</div>
