@import '../../../../variables';

.mat-toolbar {
  background-color: var(--surface);
  position: relative;
  z-index: 2;
}

.header-icons {
  color: var(--on-surface);
}

.user-button {
  background: var(--primary-variant);
  color: var(--black);
  margin-right: 0;

  span {
    font-size: 16px;
    font-weight: $font-weight-bold;
  }

  .mat-icon {
    height: 20px;
    width: 20px;
    font-size: 20px;
  }
}

.guest {
  background-color: var(--grey-light);
}

.color {
  font-size: 44px;
  width: 44px;
  height: 44px;
  position: relative;
}

.checked {
  position: absolute;
  left: 26px;
  top: 12px;
  font-size: 24px;
  width: 24px;
  height: 24px;
}

.item-title {
  line-height: 100%;
}

.color-title {
  height: 14px;
  font-size: 14px;
  color: var(--on-dialog);
  font-weight: $font-weight-bold;
}

.color-description {
  height: 14px;
  font-size: 14px;
  line-height: 14px;
  margin-top: 5px;
  color: var(--on-dialog);
}

.lang-title {
  text-align: center;
}

.color-text-container {
  padding-right: 16px;
}

.desktop-action-container {
  height: 36px;
  margin-right: 16px;
}

.mobile-action-container {
  margin-right: 8px;
}

@media (max-width: 1000px) {
  .desktop-action-container {
    display: none !important;
  }
}

@media (min-width: 1001px) {
  .mobile-action-container {
    display: none;
  }
}

.back-to-edit {
  opacity: 1;
  color: var(--primary) !important;
}

.mat-mdc-icon-button .mat-icon {
  opacity: 0.8;
}
