@import "../../../../variables";

.mat-toolbar {
  background-color: var(--surface);
  position: relative;
}

.header-icons {
  color: var(--on-surface);
}

.gavel {
  cursor: initial;
}

.bonus {
  color: var(--yellow);
}

.rooms {
  color: var(--secondary);
}

.login {
  color: var(--primary);
}

.delete {
  color: var(--warn);
}

.mat-button {
  padding: 0;
}

.color {
  font-size: 44px;
  width: 44px;
  height: 44px;
  position: relative;
}

.checked {
  position: absolute;
  left: 26px;
  top: 12px;
  font-size: 24px;
  width: 24px;
  height: 24px;
}

.item-title {
  line-height: 100%;
}

.color-title {
  height: 14px;
  font-size: 14px;
  color: var(--on-dialog);
  font-weight: $font-weight-bold;
}

.color-description {
  height: 14px;
  font-size: 14px;
  line-height: 14px;
  margin-top: 5px;
  color: var(--on-dialog);
}

.lang-title {
  text-align: center;
}

.less-important {
  opacity: 0.6;
}

.news-btn {
  color: var(--on-surface);
  margin-right: 0.5em;
}

.color-text-container {
  padding-right: 16px;
}
