<app-control-bar [shortId]="shortId" (activeFeature)="updateFeature($event)" (activeGroup)="updateUrl($event)"></app-control-bar>
<button tabindex="-1" id="welcome-message" class="visually-hidden" (click)="announceShortcuts()">{{ 'presentation.a11y-welcome' | translate }}</button>
<div [ngSwitch]="featureString" fxFill>
  <div *ngSwitchCase="undefined" fxFill>
    <app-qr-code [shortId]="shortId"></app-qr-code>
  </div>
  <app-comment-page *ngSwitchCase="'comments'" [isPresentation]="true"></app-comment-page>
  <div *ngSwitchCase="'group'" fxLayout="column" fxLayoutAlign="start center">
    <app-content-presentation [isPresentation]="true" [groupChanged]="groupChanged"></app-content-presentation>
  </div>
  <app-survey-page *ngSwitchCase="'survey'" [isPresentation]="true"></app-survey-page>
</div>
