@import '../statistic-content';

.correct-icon {
  transition: opacity 300ms;
  opacity: 0;
  color: var(--green);
}

.show-correct-icon {
  opacity: 1;
}

.button-container {
  position: absolute;
  top: 16px;
  right: 16px;
}

.mat-card-header-text {
  margin: 0!important;
}

.fix-width {
  width: 80px;
}
