<div fxLayout="column" fxLayoutGap="0.5em">
  <app-loading-indicator *ngIf="isLoading"></app-loading-indicator>
  <div class="chart-container" *ngIf="!isLoading" [ngClass]="{ 'invisible': !answersVisible, 'normal-chart': !isPresentation && answersVisible, 'presentation-chart': isPresentation && answersVisible}">
    <canvas class="chart" id="{{ chartId }}"></canvas>
  </div>
  <mat-list *ngIf="!isLoading" role="list">
    <mat-list-item role="listitem" [ngClass]="{'correct': colorLabel && checkIfCorrect(i), 'no-background': isPresentation,
                   'all-animations': !isPresentation}" tabindex="0"
                   attr.aria-label="{{ ('statistic.a11y-choice-evaluation' | translate: { count: data[i], answer: a.answer }) +
                 (isSurvey ? '' : ((checkIfCorrect(i) ?
                 'statistic.a11y-correct' : 'statistic.a11y-wrong') | translate)) }}"
                 *ngFor="let a of answerList; let i = index">
    <div fxFill fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
        <p class="answer-label">{{a.label}}</p>
        <p>{{a.answer}}</p>
      </div>
      <mat-icon *ngIf="!isSurvey" [ngClass]="{'show-correct-icon': colorLabel && checkIfCorrect(i)}"
                class="correct-icon">check</mat-icon>
      </div>
    </mat-list-item>
  </mat-list>
</div>
<div class="visually-hidden">
  <div id="show-correct">{{ 'statistic.a11y-answer-indicator' | translate }}</div>
  <div id="show-chart">{{ 'statistic.a11y-show-chart' | translate }}</div>
</div>
