<div class="visually-hidden" [appAutofocus] tabIndex="-1">
  {{ 'survey.a11y-message' | a11yIntro | async }}
</div>
@if (isLoading) {
  <app-loading-indicator></app-loading-indicator>
}
@if (!isLoading) {
  <app-base-card [showShadow]="showCard">
    <div fxLayout="column" fxLayoutGap="8px">
      <app-live-feedback
        [data]="data"
        [dataChanged]="dataChanged"
        [fixedSize]="false"
        [isEnabled]="isEnabled"
        [type]="type"
      ></app-live-feedback>
      <div fxLayout="row" fxLayoutAlign="center">
        <app-answer-count [count]="answerCount"></app-answer-count>
      </div>
    </div>
  </app-base-card>
}
<div
  [ngClass]="{ faded: !isEnabled }"
  fxLayout="column"
  fxLayoutAlign="start center"
  class="answer-container"
>
  <div fxLayout="row wrap" class="card-row">
    @for (key of voteKeys; track key; let i = $index) {
      <button
        mat-raised-button
        id="survey-button-{{ i }}"
        fxLayout="row"
        fxLayoutAlign="center center"
        color="primary"
        class="answer-button"
        [attr.aria-label]="
          'participant.survey.a11y-' +
            (type === LiveFeedbackType.SURVEY
              ? surveyLabels[i]
              : feedbackLabels[i]) | transloco
        "
        (click)="submitAnswer(i)"
        tabIndex="0"
        [appHotkey]="key"
        [appHotkeyTitle]="
          'participant.survey.a11y-' +
            (type === LiveFeedbackType.SURVEY
              ? surveyLabels[i]
              : feedbackLabels[i]) | transloco
        "
      >
        @if (type === LiveFeedbackType.SURVEY) {
          <span class="answer-button-label">
            {{ surveyLabels[i] }}
          </span>
        }
        @if (type === LiveFeedbackType.FEEDBACK) {
          <mat-icon class="button-label-icon"> {{ feedbackIcons[i] }}</mat-icon>
        }
      </button>
    }
  </div>
</div>
