@use '../../../variables' as *;

$bar-height-desktop: min(65px, 8vh);
$bar-margin-desktop: min(10px, 2vh);
$bar-margin-mobile: min(6px, 1vh);

.faded {
  opacity: 0.3;
}

.answer-button {
  height: auto !important;
  width: calc(50% - $spacing-2 / 2);
}

@mixin desktop($bottom-bar-height) {
  @media (min-height: 701px) {
    .answer-container {
      height: calc(
        var(--full-height) -
          (
            ($spacing-2 * 4) + ($bar-height-desktop * 4) +
              ($bar-margin-desktop * 8) + ($spacing-4 * 2) + $bar-height +
              $bottom-bar-height
          )
      );
    }

    .mat-mdc-raised-button .button-label-icon {
      font-size: 40px;
      height: 40px;
      width: 40px;
    }
  }
}

@mixin mobile($bar-height-mobile, $min-button-height) {
  @media (max-height: 700px) {
    .answer-container {
      height: calc(
        var(--full-height) - calc(
            ($spacing-2 * 4) + ($bar-height-mobile * 4) +
              ($bar-margin-mobile * 8) + $mobile-bar-height + ($spacing-2 * 2) +
              $mobile-bar-height
          )
      );
    }

    .mat-mdc-raised-button .button-label-icon {
      font-size: $bar-height-mobile;
      height: $bar-height-mobile;
      width: $bar-height-mobile;
    }

    .card-row {
      min-height: $min-button-height;
    }
  }
}

@media (max-width: 1000px) {
  @include desktop($bottom-bar-height: $mobile-bar-height);
  @include mobile($bar-height-mobile: max(30px, 6vh), $min-button-height: 40px);
}

@media (min-width: 1001px) {
  @include desktop($bottom-bar-height: 0px);
  @include mobile($bar-height-mobile: min(40px, 8vh), $min-button-height: 60px);
}

.answer-container {
  max-height: 400px;
}

.answer-button-label {
  color: var(--on-primary);
  font-size: 28px;
}

.card-row {
  height: 100%;
  width: 100%;
  max-width: $card-width;
  margin-top: $spacing-2;
  gap: $spacing-2;
}
