<div
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="3em"
  class="waiting-container"
  [ngStyle]="{ opacity: isLocked ? 0.7 : 1 }"
>
  @if (current !== undefined && totalCount !== undefined) {
    <app-content-step-info
      [current]="current"
      [totalCount]="totalCount"
    ></app-content-step-info>
  }
  @if (alias && !alias.id && aliasRequired) {
    <form
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="0.75em"
      class="alias-form"
    >
      <span class="alias-hint">{{
        'content.enter-alias-for-participation' | transloco
      }}</span>
      <mat-form-field class="no-field-hint">
        @if (alias.alias) {
          <input
            name="alias-input"
            [disabled]="formDisabled"
            matInput
            [(ngModel)]="enteredAlias"
            [placeholder]="alias.alias"
            [maxLength]="30"
            data-testid="nickname-input"
          />
        }
        <button mat-icon-button matSuffix (click)="generateAlias()">
          @if (!alias.id) {
            <mat-icon
              attr.aria-label="{{ 'content.generate-new-alias' | transloco }}"
              class="generate-icon"
              >autorenew</mat-icon
            >
          }
        </button>
      </mat-form-field>
      <app-loading-button
        [name]="'content.join-quiz' | transloco"
        (clicked)="setAlias()"
      ></app-loading-button>
    </form>
  }
  @if (isLocked) {
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5em">
      <mat-icon class="locked-icon">lock</mat-icon>
      <span>{{ 'content.content-not-published' | transloco }}</span>
    </div>
  } @else {
    @if (alias?.id) {
      <span class="primary">{{
        'content.get-ready-alias' | transloco: { alias: alias?.alias }
      }}</span>
      <div fxLayout="row" fxLayoutAlign="center" class="answering-hint">
        @if (timerActive) {
          <span>
            {{ 'content.answer-fast-to-get-more-points' | transloco }}
          </span>
        } @else {
          <span>
            {{ 'content.answer-correct-to-get-points' | transloco }}
          </span>
        }
      </div>
    }
    @if (!alias) {
      <span class="primary">
        {{ 'content.get-ready' | transloco }}
      </span>
      <span class="answering-hint">
        {{ 'content.contents-will-be-published-gradually' | transloco }}
      </span>
    }
  }
</div>
