$search-bar-height: 70px;

.page-container {
  width: 100%;
  max-width: calc(800px + 2em);
}

.header-container {
  height: $search-bar-height;
  align-items: center;
}

.comments-container {
  margin-top: min(1em, 4vw);
  margin-bottom: 20px;
}

@media (min-width: 1001px) {
  .header-container {
    place-content: center space-between;
  }
}

@media (max-width: 1000px) {
  .header-container {
    place-content: center center;
  }

  .tab-group {
    display: none;
    visibility: hidden;
  }
}
