<div fxLayout="row" fxLayoutAlign="center">
  <div class="page-container">
    <div fxLayout="column" fxLayoutGap="1em">
      <mat-tab-group
        (selectedTabChange)="switchList($event.index)"
        [selectedIndex]="isModeration ? 1 : 0"
        tabindex="-1"
        [appAutofocus]
        [attr.aria-label]="
          (isModeration
            ? 'creator.comment-page.a11y-message-moderation'
            : 'comment-page.a11y-message'
          )
            | a11yIntro
            | async
        "
      >
        <mat-tab
          label="{{ 'creator.comment-list.public-list' | transloco }} {{
            publicCounter | counterBraces
          }}"
        ></mat-tab>
        <mat-tab
          label="{{ 'creator.comment-list.moderation' | transloco }} {{
            moderationCounter | counterBraces
          }}"
        ></mat-tab>
      </mat-tab-group>
      <app-comment-list-bar
        [showFixedBar]="scroll && isScrollStart"
        [commentCounter]="commentsFilteredByTime.length"
        [isAddButtonDisabled]="isModeration || readonly || disabled"
        [currentFilter]="currentFilter"
        [currentSort]="currentSort"
        [period]="period"
        [categories]="tags()"
        [selectedCategory]="currentTag"
        [searchInput]="searchInput"
        (searchInputChanged)="searchComments($event)"
        (createCommentClicked)="openCreateDialog()"
        (filterSelected)="filterComments($event)"
        (sortingSelected)="sortCommentsManually($event)"
        (periodSelected)="setTimePeriod($event)"
        (categorySelected)="selectTag($event)"
      >
        <app-comment-list-bar-extension
          [room]="room()"
          [isModeration]="isModeration"
          [comments]="comments"
          [readonly]="readonly"
          [disabled]="disabled"
          [viewRole]="viewRole"
          (createCommentClicked)="openCreateDialog()"
          (toggleReadonlyClicked)="
            disabled || readonly ? activateComments() : pauseComments()
          "
          (resetCommentsClicked)="resetComments()"
        ></app-comment-list-bar-extension>
      </app-comment-list-bar>
    </div>
    @if (isLoading) {
      <app-loading-indicator></app-loading-indicator>
    }
    <app-comment-settings-hint
      [disabled]="disabled"
      [readonly]="readonly"
      [showToggleButton]="true"
      (toggleButtonClicked)="
        disabled || readonly ? activateComments() : pauseComments()
      "
    ></app-comment-settings-hint>
    @if (!isLoading && !disabled) {
      <app-comment-list-hint
        [isListEmpty]="comments.length < 1"
        [noPostsFound]="
          (hideCommentsList && filteredComments.length < 1) ||
          (!hideCommentsList && commentsFilteredByTime.length < 1)
        "
      ></app-comment-list-hint>
    }
    @if (!isLoading) {
      <div class="comments-container">
        @for (comment of displayComments; track comment) {
          <app-comment
            [comment]="comment"
            [isEditor]="true"
            [isModeration]="isModeration"
            [referenceEvent]="referenceEvent.asObservable()"
            [isNew]="comment.id === newestComment.id"
            [fileUploadEnabled]="fileUploadEnabled"
            (activeComment)="updateCurrentComment($event)"
            (clickedOnTag)="selectTag($event)"
            [tags]="tags()"
          >
          </app-comment>
        }
      </div>
    }
    @if (comments.length < 3 && !isLoading && !disabled) {
      <app-comment-list-add-button
        [disabled]="readonly"
        (buttonClicked)="openCreateDialog()"
      ></app-comment-list-add-button>
    }
    <app-comment-list-floating-buttons
      [showScrollButton]="scrollExtended && scrollActive"
      [showScrollToNewPostsButton]="scrollExtended && unreadCommentCount > 0"
      [navBarExists]="true"
      (scrollTopClicked)="scrollTop(true)"
      (loadAndScrollClicked)="loadAndScroll()"
    ></app-comment-list-floating-buttons>
  </div>
</div>
