<div fxLayout="row" fxLayoutAlign="center">
  <div class="page-container">
    <div fxLayout="column" fxLayoutGap="1em">
      <mat-tab-group
        (selectedTabChange)="switchList($event.index)"
        [selectedIndex]="isModeration() ? 1 : 0"
        tabindex="-1"
        [appAutofocus]
        [attr.aria-label]="
          (isModeration()
            ? 'creator.comment-page.a11y-message-moderation'
            : 'comment-page.a11y-message'
          )
            | a11yIntro
            | async
        "
      >
        <mat-tab
          label="{{ 'creator.comment-list.public-list' | transloco }} {{
            counts().accepted | counterBraces
          }}"
        ></mat-tab>
        <mat-tab
          label="{{ 'creator.comment-list.moderation' | transloco }} {{
            counts().rejected | counterBraces
          }}"
        ></mat-tab>
      </mat-tab-group>
      <app-comment-list-bar
        [roomId]="roomId()"
        [showFixedBar]="scroll && isScrollStart"
        [commentCounter]="
          isModeration() ? counts().rejected : counts().accepted
        "
        [isAddButtonDisabled]="isModeration() || state() !== QnaState.Started"
        [selectedFlags]="selectedFlags"
        [currentSort]="currentSort"
        [period]="selectedPeriodFilter()"
        [selectedTags]="selectedTags()"
        [searchInput]="searchInput"
        (searchInputChanged)="searchComments($event)"
        (createCommentClicked)="openCreateDialog()"
        (filterSelected)="selectFlagFilter($event)"
        (filterRemoved)="removeFlagFilter($event)"
        (sortingSelected)="sort($event)"
        (periodSelected)="setPeriod($event)"
        (tagSelected)="selectFilterTag($event)"
        (tagRemoved)="removeFilterTag($event)"
      >
        <app-comment-list-bar-extension
          [room]="room()"
          [qnaId]="qnaId()"
          [isModeration]="isModeration()"
          [posts]="posts()"
          [state]="state()"
          [viewRole]="viewRole()"
          (createCommentClicked)="openCreateDialog()"
          (toggleReadonlyClicked)="
            state() !== QnaState.Started ? enableComments() : pauseComments()
          "
          (postsDeleted)="clearPosts()"
        ></app-comment-list-bar-extension>
      </app-comment-list-bar>
    </div>
    @if (!isLoadingQna()) {
      <app-comment-settings-hint
        [state]="state()"
        [showToggleButton]="true"
        (toggleButtonClicked)="
          state() !== QnaState.Started ? enableComments() : pauseComments()
        "
      ></app-comment-settings-hint>
    }
    @if (isLoadingPosts()) {
      <app-loading-indicator></app-loading-indicator>
    } @else {
      @if (state() === QnaState.Started) {
        <app-comment-list-hint
          [isListEmpty]="posts().length === 0"
          [noPostsFound]="
            !!search() ||
            !!this.selectedTags() ||
            selectedFlags.length > 0 ||
            selectedPeriodFilter() !== undefined
          "
        ></app-comment-list-hint>
      }
      <div class="comments-container">
        @for (post of posts(); track post.id) {
          <app-comment
            [post]="post"
            [isEditor]="true"
            [isModeration]="isModeration()"
            [activePostId]="activePost()?.id"
            [qnaId]="qnaId()"
            [animate]="animatePost"
            (clickedOnTag)="selectFilterTag($event)"
          >
          </app-comment>
        }
      </div>
      @if (posts().length < 3 && state() === QnaState.Started) {
        <app-comment-list-add-button
          [disabled]="state() === QnaState.Paused"
          (buttonClicked)="openCreateDialog()"
        ></app-comment-list-add-button>
      }
      <app-comment-list-floating-buttons
        [showScrollButton]="scrollExtended && scrollActive"
        [showScrollToNewPostsButton]="scrollExtended && newPostsAvailable"
        [navBarExists]="true"
        (scrollTopClicked)="scrollTop()"
      ></app-comment-list-floating-buttons>
    }
  </div>
</div>
