@import '../../../../variables';

.list-badge {
  background-color: var(--secondary);
  width: 22px;
  height: 22px;
  border-radius: 11px;
  &:first-child {
    color: var(--on-secondary);
    font-size: 12px;
    font-weight: $font-weight-extra-bold;
  }
}
