.mat-card {
  margin-top: 8px;
  background-color: var(--background)!important;
  cursor: grabbing;
}

.no-grab {
  cursor: initial;
}

.cdk-drop-list-dragging {
  cursor: grabbing;
}

.cdk-drop-list-disabled {
  opacity: 0.7;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}
