@use '../../../variables' as *;

$drawer-width: 73px;

.routing-container {
  width: calc(100% - $spacing-2 * 2);
  max-width: $card-width;
  padding: $spacing-2;
}

.room-container {
  margin-top: -$spacing-2;
  margin-bottom: -$spacing-2;
  height: calc(var(--full-height) - $bar-height);
  width: calc(100vw - $spacing-2);
}

.mat-drawer-container {
  background-color: var(--background);
  margin-left: -$spacing-2;
  width: calc(100vw + $spacing-2) !important;
}

@include gt-xs {
  .routing-container {
    width: calc(100% - $spacing-4 * 2);
    padding: $spacing-4;
  }

  .room-container {
    margin-top: -$spacing-4;
    margin-bottom: -$spacing-4;
    width: calc(100vw - $spacing-4);
  }

  .mat-drawer-container {
    margin-left: -$spacing-4;
    width: calc(100vw + $spacing-4) !important;
  }
}

.mat-drawer {
  border: none;
  background-color: var(--background);
}

@include xs {
  .mat-drawer-container {
    height: calc(var(--full-height) - $mobile-bar-height);
  }
}

@include gt-xs {
  .mat-drawer-container {
    height: calc(var(--full-height) - $bar-height);
  }
}

@include gt-md {
  .mat-drawer {
    width: $drawer-width;
  }

  .mat-drawer-content:not(.no-navigation) {
    width: calc(100% - #{$drawer-width});
    transition: none;
  }
}

@include lt-md {
  .mat-drawer {
    width: 100vw;
    height: $mobile-bar-height;
    position: fixed;
    top: unset;
    transform: translate3d(0, 100%, 0);
  }

  .footer {
    display: none;
  }

  .mat-drawer-content {
    margin-left: 0 !important;
    height: calc(var(--full-height) - $mobile-bar-height);

    &:not(.no-navigation) {
      margin-bottom: -$mobile-bar-height;
      padding-bottom: $mobile-bar-height;
    }
  }
}
