@use '../../../variables' as *;

.overview-container {
  width: 100%;
  max-width: $card-width;
}

.overview-row-container {
  display: flex;
  flex-direction: column;
  gap: $spacing-1;
}

.feature-column-item {
  width: 100%;
}

@include gt-md {
  .feature-row-item {
    width: calc(50% - $spacing);
  }

  .overview-row-container {
    flex-direction: row;
    gap: $spacing-2;
  }
}
