@use '../../../variables' as *;

$step-button-size: 40px;
$step-button-count: 5;

.container {
  overflow: hidden;
}

.step-padding {
  padding: $spacing;
}

.fixed-width-container {
  width: 92vw;
  max-width: $card-width;
}

.inner-container {
  margin-bottom: $spacing-2;
}

.stepper-container {
  width: 100%;
  overflow: hidden;
}

.step-container {
  margin: 0
    calc(
      calc(100% - calc($step-button-count * $step-button-size)) /
        calc($step-button-count * 2)
    );
}

.step-btn {
  --mat-icon-button-state-layer-color: var(--surface);

  height: $step-button-size !important;
  width: $step-button-size !important;
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--surface);

  &.bold {
    font-weight: $font-weight-extra-bold;
  }

  mat-icon {
    font-size: $xs-font-size;
    width: $xs-font-size;
    height: $xs-font-size;
  }

  span {
    font-size: $m-font-size;

    &.smaller-text {
      font-size: $s-font-size;
      padding-top: 2px;
    }
  }
}

.correct {
  color: var(--success);
}

.wrong {
  color: var(--warn);
}

.abstained,
.unanswered {
  color: var(--grey);
}
