@import '../../../variables';

$step-button-size: 32px;
$step-button-count: 5;

.container {
  overflow: hidden;
  padding: $spacing;
}

.fixed-width-container {
  width: 92vw;
  max-width: $card-width;
}

.inner-container {
  margin-bottom: $spacing-2;
}

.stepper-container {
  width: 100%;
  overflow: hidden;
}

.step-container {
  margin: 0
    calc(
      calc(100% - calc($step-button-count * $step-button-size)) /
        calc($step-button-count * 2)
    );
}

.step-btn {
  --mat-icon-button-state-layer-color: var(--surface);

  height: $step-button-size !important;
  width: $step-button-size !important;
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $m-font-size;
  line-height: $m-font-size;

  mat-icon {
    font-size: $m-font-size;
    width: $m-font-size;
    height: $m-font-size;
  }

  span {
    padding-top: 2px;
  }
}
