<div
  tabindex="-1"
  class="container"
  [ngClass]="{
    'fixed-width-container': fixedWitdth,
    'step-padding': showSteps,
  }"
  (touchstart)="swipe($event, 'start')"
  (touchend)="swipe($event, 'end')"
>
  @if (showSteps) {
    <div fxLayout="row" fxLayoutAlign="start center" class="inner-container">
      @if (listLength > 5) {
        <button
          tabindex="-1"
          mat-icon-button
          color="primary"
          disableRipple
          [disabled]="headerPos < 1"
          (click)="moveHeaderRight(true)"
        >
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
      }
      <div
        [ngClass]="{
          'fixed-width-container container': listLength <= 5,
          'stepper-container': listLength > 5,
        }"
      >
        <div
          fxLayout="row"
          fxLayoutAlign="start center"
          [@slideHeader]="{
            value: headerAnimationState,
            params: { position: headerPos * -20 },
          }"
          (@slideHeader.done)="headerAnimationDone()"
        >
          <span class="fill-remaining-space"></span>
          @for (step of steps; track step; let i = $index) {
            <div class="step-container" fxLayout="row" fxLayout="center center">
              <button
                mat-icon-button
                (click)="onClick(i)"
                [disabled]="
                  (isLocked(i) && lockedContentsDisabled) || !allowNavigation
                "
                class="step-btn"
                [ngClass]="{
                  'primary-border bold': selectedIndex === i,
                }"
              >
                @if (additionalStepIcon && i === listLength - 1) {
                  <mat-icon>{{ additionalStepIcon }}</mat-icon>
                } @else {
                  @if (answerResults.size > 0) {
                    <div
                      fxLayout="column"
                      fxLayoutAlign="center center"
                      fxLayoutGap="1px"
                    >
                      <span class="smaller-text">{{ i + 1 }}</span>
                      <mat-icon
                        [ngClass]="{
                          primary:
                            answerResults.get(i) === AnswerResultType.NEUTRAL,
                        }"
                        [class]="answerResults.get(i)?.toLowerCase() ?? ''"
                        >{{ getAnswerResultIcon(i) }}</mat-icon
                      >
                    </div>
                  } @else {
                    <span>{{ i + 1 }} </span>
                  }
                }
              </button>
            </div>
          }
          <span class="fill-remaining-space"></span>
        </div>
      </div>
      @if (listLength > 5) {
        <button
          mat-icon-button
          tabindex="-1"
          disableRipple
          color="primary"
          [disabled]="headerPos >= listLength - 5"
          (click)="moveHeaderLeft(true)"
        >
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      }
    </div>
  }
  <div
    fxFill
    [@slideContainer]="stepAnimationState"
    (@slideContainer.done)="stepAnimationDone()"
  >
    <ng-container [ngTemplateOutlet]="selected?.content || null"></ng-container>
  </div>
</div>
