<div
  tabindex="-1"
  class="container"
  [ngClass]="{ 'fixed-width-container': fixedWitdth }"
  (touchstart)="swipe($event, 'start')"
  (touchend)="swipe($event, 'end')"
>
  @if (showSteps) {
    <div fxLayout="row" class="inner-container">
      @if (listLength > 5) {
        <button
          tabindex="-1"
          mat-icon-button
          disableRipple
          [disabled]="headerPos < 1"
          (click)="moveHeaderRight(true)"
        >
          <mat-icon color="primary" [ngClass]="{ disabled: headerPos < 1 }"
            >keyboard_arrow_left</mat-icon
          >
        </button>
      }
      <div
        [ngClass]="{
          'fixed-width-container container': listLength <= 5,
          'stepper-container': listLength > 5,
        }"
      >
        <div
          fxLayout="row"
          fxLayoutAlign="start"
          [@slideHeader]="{
            value: headerAnimationState,
            params: { position: headerPos * -20 },
          }"
          (@slideHeader.done)="headerAnimationDone()"
        >
          <span class="fill-remaining-space"></span>
          @for (step of steps; track step; let i = $index) {
            <div
              class="step-container"
              (click)="onClick(i)"
              [ngStyle]="{ opacity: completed.has(i) ? 1 : 0.7 }"
            >
              <button
                [disabled]="!completed.has(i)"
                class="step"
                tabindex="-1"
                [ngClass]="{
                  'primary-background primary-border': selectedIndex === i,
                  'primary primary-border':
                    completed.get(i) && selectedIndex !== i,
                  last: i === listLength - 1,
                }"
              >
                @if (!additionalStepIcon || i < listLength - 1) {
                  <span>{{ i + 1 }}</span>
                }
                @if (additionalStepIcon && i === listLength - 1) {
                  <mat-icon>{{ additionalStepIcon }}</mat-icon>
                }
              </button>
            </div>
          }
          <span class="fill-remaining-space"></span>
        </div>
      </div>
      @if (listLength > 5) {
        <button
          mat-icon-button
          tabindex="-1"
          disableRipple
          [disabled]="headerPos >= listLength"
          (click)="moveHeaderLeft(true)"
        >
          <mat-icon
            color="primary"
            [ngClass]="{ disabled: headerPos >= listLength - 5 }"
            >keyboard_arrow_right</mat-icon
          >
        </button>
      }
    </div>
  }
  <div
    fxFill
    [@slideContainer]="stepAnimationState"
    (@slideContainer.done)="stepAnimationDone()"
  >
    <ng-container [ngTemplateOutlet]="selected?.content || null"></ng-container>
  </div>
</div>
