<div fxLayout="column" fxLayoutAlign="start center">
  <app-loading-indicator *ngIf="isLoadingContentGroup"></app-loading-indicator>
  <mat-card
    *ngIf="!isLoadingContentGroup"
    [appearance]="appearance"
    class="template-card"
  >
    <div
      fxLayout="row-wrap"
      fxLayoutAlign="space-between center"
      fxLayoutGap="1em"
    >
      <span class="template-name">{{ template.name }}</span>
      <app-loading-button
        (click)="add()"
        [isDialog]="true"
        name="templates.add"
      >
      </app-loading-button>
    </div>
    <p class="template-description">{{ template.description }}</p>
    <div fxLayout="column" fxLayoutGap="1em">
      <app-template-license
        [ownerName]="template.attribution"
        [license]="template.license"
        [showLink]="true"
        [aiGenerated]="template.aiGenerated"
      ></app-template-license>
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-chip-set>
          <mat-chip *ngFor="let tag of template.tags">
            {{ tag.name }}
          </mat-chip>
        </mat-chip-set>
      </div>
      <app-loading-indicator *ngIf="isLoadingContents"></app-loading-indicator>
      <mat-list *ngIf="!isLoadingContents">
        <mat-list-item *ngFor="let content of contents" class="bottom-border">
          <div
            fxFill
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="12px"
          >
            <div fxLayoutAlign="center">
              <mat-icon class="format-icon">{{
                getIcon(content.format)
              }}</mat-icon>
            </div>
            <p class="ellipsis">{{ content.body }}</p>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card>
</div>
