<app-loading-indicator *ngIf="isLoading"></app-loading-indicator>
<div fxFill>
  <div *ngIf="!isLoading" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
    <button class="visually-hidden" id="message-announcer-button" tabIndex="-1" (click)="announceKeys()">
      {{ 'feedback.a11y-message' | translate }}</button>
    <mat-card>
      <div class="feedback-container" [ngClass]="{'faded' : isClosed}">
        <div fxLayout="row" fxLayoutGap="30px" *ngFor="let state of survey; let i = index">
          <button id="feedback-button-{{i}}" mat-icon-button [disabled]="isOwner" (click)="submitSurvey(state.state)"
                  attr.aria-label="{{ state.a11y | translate }}">
            <mat-icon matTooltip="{{ state.label | translate }}">
              {{ state.name }}</mat-icon>
          </button>
          <mat-progress-bar class="feedback-progress" [value]="state.count"></mat-progress-bar>
        </div>
      </div>
      <div class="text invisible" [ngClass]="{'visible' : isClosed}">
        <h3 tabindex="-1" id="stopped-label">{{ 'feedback.is-stopped' | translate }}</h3>
      </div>
      <div fxLayoutAlign="center" fxLayoutGap="20px" *ngIf="isOwner">
        <button mat-raised-button id="change-button" class="button-secondary" fxLayoutAlign="center" (click)="changeType()"
                aria-labelledby="reset">
        ChangeType
        </button>
        <button mat-raised-button id="reset-button" class="button-secondary" fxLayoutAlign="center" (click)="reset()"
                aria-labelledby="reset">
          {{ 'feedback.reset' | translate }}
        </button>
        <button mat-raised-button id="toggle-button" class="button-primary" fxLayoutAlign="center" (click)="toggle()"
                aria-labelledby="toggle">
          {{ (isClosed ? 'feedback.start' : 'feedback.stop') | translate }}
        </button>
      </div>
    </mat-card>
  </div>
</div>

<div class="visually-hidden">
  <div id="toggle">{{ (isClosed ? 'feedback.a11y-start' : 'feedback.a11y-stop') | translate }}</div>
  <div id="reset">{{ 'feedback.a11y-reset' | translate }}</div>
</div>
