<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
  <mat-card>
    <div fxLayout="row" fxLayoutGap="30px" *ngFor="let state of feedback">
      <mat-icon matTooltip="{{ state.message }}"
              (click)="!isOwner && submitFeedback(state.state)">{{ state.name }}</mat-icon>
      <mat-progress-bar [value]="state.count" color="accent"></mat-progress-bar>
    </div>
    <div *ngIf="isClosed" fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center">
      <h3>{{ 'feedback.is-stopped' | translate }}</h3>
    </div>
    <div fxLayoutAlign="center" *ngIf="isOwner">
      <button mat-raised-button class="toggle-button" fxLayoutAlign="center" (click)="toggle()">
          <p *ngIf="isClosed">{{ 'feedback.start' | translate }}</p>
          <p *ngIf="!isClosed">{{ 'feedback.stop' | translate }}</p>
      </button>
    </div>
  </mat-card>
</div>
