mat-card {
  width: 100%;
}

mat-progress-bar {
  height: 50px;
  margin: 8px 0;
}

// TODO: Mobile & desktop: different views/sizes

.label-icon {
  font-size: 40px;
  height: 40px;
  width: 40px;
  color: var(--on-surface);
  margin: 0 20px 0 4px!important;
}

.mat-raised-button {
  width: 120px;
  height: 36px;
  margin: 18px 0 10px 0;
}

.feedback-container {
  position: relative;
}

.faded {
  opacity: 0.3;
}

.text {
  width: 300px;
  margin: -32px 0 0 -150px;
  text-align: center;
}

.invisible {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: scale(0);
  transition: 0.2s;
  opacity: 0;
}

.visible {
  transition: 0.2s;
  transform: scale(1);
  opacity: 1;
}

.answer-label {
  color: var(--on-surface);
  font-size: 28px;
  font-weight: bold;
  margin: 0 30px 0 14px!important;
}

.answer {
  width: 100%;
  background-color: var(--primary)!important;
  cursor: pointer;
}

.answer-container {
  height: calc(100% - 296px);
  max-height: 400px;
}

.answer-button-label {
  color: var(--on-primary);
  font-size: 28px;
}

.button-label-icon {
  font-size: 40px;
  height: 40px;
  width: 40px;
  color: var(--on-primary);
}

.card-row {
  height: 50%;
  min-height: 80px;
  width: 100%;
  max-width: 832px;
  margin-top: 16px;
}

mat-form-field {
  margin-top: 20px;
}
