mat-card {
  width: 100%;
}

mat-progress-bar {
  height: 50px;
  margin-bottom: 20px;
}

mat-icon {
  font-size: 300%;
  height: 50px;
  width: 50px;
  color: var(--primary);
}

p {
  margin: 0;
}

.feedback-container {
  position: relative;
}

.faded {
  opacity: 0.3;
}

.text {
  width: 300px;
  margin: -32px 0 0 -150px;
  text-align: center;
}

.invisible {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: scale(0);
  transition: 0.2s;
  opacity: 0;
}

.visible {
  transition: 0.2s;
  transform: scale(1);
  opacity: 1;
}
