<div fxLayout="column" fxFill>
  @if (showCopyUrlButton && url) {
    <div fxLayout="row" fxLayoutAlign="end">
      <app-copy-url class="copy-url" [url]="url"></app-copy-url>
    </div>
  }
  <div
    fxFill
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap.gt-xs="8vw"
  >
    <div
      class="qr-container"
      fxLayout.lt-sm="column"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap.gt-xs="8vw"
      fxLayoutGap.xs="1em"
    >
      <div
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap.xs="0.25em"
      >
        @if (showIcon) {
          <lib-extension-point extensionId="branding-logo">
            <mat-icon color="primary" class="web-icon disabled"
              >language</mat-icon
            >
          </lib-extension-point>
        }
        @if (!useJoinUrl) {
          <span class="url text">{{ displayUrl }}</span>
        }
        <span class="url text">{{
          useJoinUrl ? displayUrl : (shortId | splitShortId: false)
        }}</span>
        @if (room.passwordProtected) {
          <lib-extension-point
            extensionId="share-room-password"
          ></lib-extension-point>
        }
      </div>
      <qr-code
        fxLayout="column"
        fxLayoutAlign="center center"
        [value]="qrUrl"
        [size]="qrSize"
        [lightColor]="bgColor"
        [darkColor]="fgColor"
        [errorCorrectionLevel]="'M'"
        [margin]="0"
      ></qr-code>
    </div>
    @if (!!userCount && showUserCount) {
      <div class="disabled" fxLayoutAlign="center center" fxLayoutGap="12px">
        <span class="text">{{ userCount }}</span>
        <mat-icon class="user-icon">people</mat-icon>
      </div>
    }
  </div>
</div>
