<mat-card>
  <mat-card-title>
    {{ 'admin-area.room-management' | translate }}
  </mat-card-title>
  <mat-card-content>
    <mat-form-field appearance="outline">
      <mat-label>{{ 'admin-area.room-id' | translate }}</mat-label>
      <input matInput #idField>
      <button mat-button matSuffix color="accent" (click)="loadEntity(idField.value)">
        <mat-icon aria-hidden="false" attr.aria-label="{{ 'admin-area.find' | translate }}">search</mat-icon>
      </button>
    </mat-form-field>
    <app-user-search-field label="{{ 'admin-area.room-new-owner-id' | translate }}" #newOwnerIdField></app-user-search-field>
    <button mat-button (click)="transferRoom(newOwnerIdField.value)">
      <mat-icon aria-hidden="false">forward</mat-icon>
      {{ 'admin-area.transfer-room' | translate }}
    </button>
    <button mat-button (click)="deleteEntity()">
      <mat-icon aria-hidden="false">delete</mat-icon>
      {{ 'admin-area.delete-room' | translate }}
    </button>
    <div *ngIf="room">
      <header>{{ 'admin-area.properties' | translate }}</header>
      <app-entity-properties [entity]="room"></app-entity-properties>
    </div>
  </mat-card-content>
</mat-card>
