<div fxLayout="column" [ngClass]="{'flashcard-container': format === ContentType.FLASHCARD}" fxLayoutAlign="space-between">
  <div *ngIf="[ContentType.SLIDE, ContentType.FLASHCARD].indexOf(format) === -1" fxLayout="row" fxLayoutAlign="space-between">
    <div tabindex="0" id="message-button" class="visually-hidden">
      {{ (answerCount === 0 ? 'statistic.a11y-message-evaluation' : 'statistic.a11y-message-evaluation-answers')
      | translate: {index: index+1, content: content.body, answers: answerCount} }}
    </div>
    <app-answer-count tabindex="-1" *ngIf="!isLoading" [count]="answerCount"></app-answer-count>
    <div fxLayout="row" fxLayoutAlign="end" [ngClass]="{'fix-width': !survey}">
      <button mat-icon-button *ngIf="answersVisible && !survey" disableRipple (click)="toggleCorrect()"
            matTooltip="{{ 'statistic.answer-indicator' | translate }}" aria-labelledby="show-correct">
        <mat-icon class="corner-icon icon-primary">playlist_add_check</mat-icon>
      </button>
      <button id="show-chart-btn" mat-icon-button disableRipple (click)="toggleAnswers()" aria-labelledby="show-chart"
              matTooltip="{{ (answersVisible ? 'statistic.hide-chart' : 'statistic.show-chart') | translate }}">
        <mat-icon class="corner-icon icon-primary">insert_chart</mat-icon>
      </button>
    </div>
  </div>
  <app-rendered-text tabindex="-1" [rawText]="content.body" [renderedText]="content.renderedBody"></app-rendered-text>
  <div *ngIf="format === ContentType.FLASHCARD">
    <button mat-icon-button (click)="toggleAnswers()" [matTooltip]="(answersVisible ? 'statistic.hide-flashcard-back' :
    'statistic.show-flashcard-back') | translate">
      <mat-icon class="corner-icon icon-primary">fact_check</mat-icon>
    </button>
  </div>
</div>
<lib-extension-point extensionId="attachment-list" [extensionData]="attachmentData"></lib-extension-point>
<app-statistic-choice *ngIf="[ContentType.CHOICE, ContentType.SCALE, ContentType.BINARY].indexOf(format) !== -1" [content]="content"
                      [directShow]="directShow" (updateCounterEvent)="updateCounter($event)" [isSurvey]="survey"></app-statistic-choice>
<app-statistic-text *ngIf="format === ContentType.TEXT" [content]="content"
                    [directShow]="directShow" (updateCounterEvent)="updateCounter($event)"></app-statistic-text>
<app-statistic-sort *ngIf="format === ContentType.SORT" [content]="content"
                    [directShow]="directShow" (updateCounterEvent)="updateCounter($event)"></app-statistic-sort>
<div *ngIf="content.format === ContentType.FLASHCARD && answersVisible">
  <div class="divider-space"></div>
  <mat-divider></mat-divider>
  <div class="divider-space"></div>
  <app-rendered-text [rawText]="content.additionalText" [dynamic]="true" [markdownFeatureset]="flashcardMarkdownFeatures"></app-rendered-text>
</div>
<div class="visually-hidden">
  <div id="show-correct">{{ 'statistic.a11y-answer-indicator' | translate }}</div>
  <div id="show-chart">{{ 'statistic.a11y-show-chart' | translate }}</div>
</div>
