<div fxLayout="row" fxLayoutAlign="end">
  <button
    mat-stroked-button
    [matMenuTriggerFor]="roundMenu"
    [matTooltip]="
      'content.round' + (round > 1 ? 's-' : '-') + 'displayed'
        | transloco: { rounds: rounds[round] }
    "
  >
    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="8px">
      @for (roundItem of [0, 1]; track roundItem; let i = $index) {
        <div
          [ngClass]="{ disabled: round !== i && round !== 2 }"
          class="round-legend primary-background"
          fxLayoutAlign="center center"
        >
          <span class="round-number">{{ i + 1 }}</span>
        </div>
      }
    </div>
  </button>
  <mat-menu #roundMenu>
    @for (roundItem of rounds; track roundItem; let i = $index) {
      <button mat-menu-item (click)="changeRound(i)">
        <span [ngClass]="{ 'selected-menu-item': round === i }">
          {{ 'content.round' | transloco }}&nbsp;{{ roundItem }}
        </span>
      </button>
    }
  </mat-menu>
</div>
