@use '../../../variables' as *;

.round-button {
  padding: $spacing $spacing-1;
  height: 100%;
  border-radius: 20px;
  background-color: var(--surface);
}

.round-legend {
  height: $xl-font-size;
  width: $xl-font-size;
  border-radius: $border-radius;
}

.disabled {
  opacity: 0.5;
}
