<div *ngIf="!isLoading" fxLayout="column" fxLayoutGap="10px">

  <mat-checkbox class="loose-checkbox" [checked]="multipleCorrectAnswers" [(ngModel)]="multipleCorrectAnswers" name="multiple">
    <span>{{ 'content.multiple-answers-allowed' | translate }}</span>
  </mat-checkbox>
  <mat-checkbox class="loose-checkbox" [checked]="noCorrectAnswers" [(ngModel)]="noCorrectAnswers" (ngModelChange)="removeCorrectAnswers()" name="noCorrect">
    <span>{{ 'content.no-correct-answer' | translate }}</span>
  </mat-checkbox>
  <div *ngIf="displayAnswers.length > 0">
    <app-divider></app-divider>
    <mat-list>
      <mat-list-item fxLayout="column" fxLayoutAlign="center" *ngFor="let answer of displayAnswers; let i = index">
        <div fxLayout="row" fxLayoutAlign="center center" class="full-width">
          <mat-checkbox id="answer-{{i}}" *ngIf="!noCorrectAnswers" (ngModelChange)="switchValue(answer.answerOption.label, i)" [(ngModel)]="answer.correct"
                        [checked]="answer.correct" name="{{ answer.answerOption.label }}"
                        aria-label="{{ 'content.a11y-answer-checkbox' | translate:
                        {answer: answer.answerOption.label} }}">
          </mat-checkbox>
          <form fxLayout="row" class="form full-width">
            <mat-form-field class="editInput full-width no-field-hint" appearance="standard">
              <input id="answerEdit-{{i}}" name="answerEdit" matInput [(ngModel)]="answer.answerOption.label"
                     (focus)="goInEditMode(i)" (blur)="leaveEditMode()" autocomplete="off">
            </mat-form-field>
          </form>
          <button mat-icon-button *ngIf="!isEditMode || noAnswersYet"
                  attr.aria-label="{{ 'content.a11y-delete-answer' | translate: {answer: answer.answerOption.label} }}"
                  class="delete" (click)="deleteAnswer(i)"
                  matTooltip="{{ 'content.delete-answer' | translate }}">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </mat-list-item>
    </mat-list>
  </div>

  <div *ngIf="!isEditMode || noAnswersYet" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
    <form class="full-width answer-form" fxLayout="row">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>{{ 'content.add-answer' | translate }}</mat-label>
        <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
               matInput [(ngModel)]="newAnswerOptionLabel" name="answer" id="answer-input" aria-labelledby="answer"
               autocomplete="off">
        <button tabindex="-1" class="add-button" mat-icon-button matSuffix (click)="addAnswer($event)">
          <mat-icon class="add-icon">add_circle</mat-icon>
        </button>
        <mat-placeholder>{{ 'content.answer' | translate }}</mat-placeholder>
      </mat-form-field>
    </form>
  </div>

</div>

<div class="visually-hidden">
  <div id="single-choice">{{ 'content.a11y-single-choice' | translate }}</div>
  <div id="multiple-choice">{{ 'content.a11y-multiple-choice' | translate }}</div>
  <div id="answer">{{ 'content.a11y-enter-answer' | translate }}</div>
  <div id="delete-answer">{{ 'content.a11y-delete-answer' | translate }}</div>
  <div id="reset">{{ 'content.a11y-reset' | translate }}</div>
</div>
