@use '../../../variables' as *;

app-content-stepper,
app-leaderboard-page {
  width: 100%;
}

.scalable {
  transform-origin: 0 0;
  transition: transform 300ms;
  transform: scale(1);
  position: absolute;
}

.step-info {
  color: var(--on-surface-light);
  position: fixed;
  top: $spacing-3;
  right: $spacing-3;
  font-size: $l-font-size;
}

.live-info {
  color: var(--play);
  padding-bottom: $spacing-3;
  font-size: $l-font-size;
}

@include gt-xl {
  .step-info,
  .live-info {
    font-size: $xl-font-size;
  }
}

.countdown-container {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  transition: bottom 300ms;
}

.over-control-bar {
  bottom: $navigation-rail-width;
}

.locked-hint {
  position: fixed;
  left: 50vw;
  transform: translateX(-50%);
  transition: bottom 300ms;
  background-color: var(--grey-light);
  padding: $spacing-1 $spacing-2;
  border-radius: $border-radius * 2;
  margin-bottom: 20px;

  &:not(.over-control-bar) {
    bottom: 0;
  }
}

.answer-count {
  position: fixed;
  margin-bottom: $spacing-3;
  right: $spacing-3;
  transition: bottom 300ms;

  &:not(.over-control-bar) {
    bottom: 0;
  }
}
