.mat-card {
  width: 100%;
}

.mat-stroked-button {
  width: 150px;
  // height of form field ..
  height: 59px;
  color: var(--warn);
}

@media(max-width: 420px) {
  .mat-stroked-button {
    margin-top: 1em;
  }
}
