.mat-mdc-card {
  width: 100%;
}

.mat-mdc-outlined-button {
  width: 150px;

  // height of form field ..
  height: 59px;
  color: var(--warn);
}

@media (max-width: 420px) {
  .mat-mdc-outlined-button {
    margin-top: 1em;
  }
}
