.mat-mdc-card {
  width: 100%;
}

.mat-mdc-outlined-button {
  // height of form field ..
  height: 59px !important;
  color: var(--warn) !important;
}

@media (max-width: 420px) {
  .mat-mdc-outlined-button {
    margin-top: 1em;
  }
}
