@import '../../../../variables';

.card-title {
  margin-top: -5px;
  align-items: center;
}

.name-input {
  text-overflow: ellipsis;
}

@media (max-width: 500px) {
  .card-title {
    margin: 0;
  }
}

.active-input {
  width: 100%;
  font-weight: $font-weight-bold;
}

@include xs {
  .active-input {
    font-size: $s-font-size;
  }
}

@include gt-xs {
  .active-input {
    font-size: $m-font-size;
  }
}
