h2 {
  margin-bottom: 10px;
}

p {
  font-size: medium;
}

.close {
  margin-right: 32px;
}

.close-icon {
  color: var(--warn);
}

.mat-raised-button {
  min-width: 105px;
}

.mat-form-field {
  margin-top: 1em;
}
