<mat-card>
  <mat-card-title>
    {{ 'admin-area.user-management' | translate }}
  </mat-card-title>
  <app-user-search-field label="{{ 'admin-area.user-id' | translate }}" (submit)="loadEntity($event)"></app-user-search-field>
  <mat-card-content>
    <button mat-button (click)="activateUser()">
      <mat-icon aria-hidden="false">lock_open</mat-icon>
      {{ 'admin-area.activate-user' | translate }}
    </button>
    <button mat-button (click)="deleteEntity()">
      <mat-icon aria-hidden="false">delete</mat-icon>
      {{ 'admin-area.delete-user' | translate }}
    </button>
    <div *ngIf="user">
      <header>{{ 'admin-area.properties' | translate }}</header>
      <app-entity-properties [entity]="user"></app-entity-properties>
    </div>
  </mat-card-content>
</mat-card>
