.mat-mdc-icon-button {
  background-color: var(--background);

  &:not([disabled]) {
    color: var(--on-background);
  }
}

.list-item {
  padding: 0.5em 1em;

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--grey-lighter);
  }

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    margin-bottom: 1em;
  }
}

input[type='number'] {
  appearance: textfield;
  text-align: center;
}

input[type='number']::-webkit-inner-spin-button {
  appearance: none;
}

@media (min-width: 768px) {
  .answer-text {
    // 170px = button + input field width
    max-width: calc(100% - 170px - 1em);
    margin-right: 1em;
  }
}

@media (max-width: 767px) {
  .list-item {
    place-content: center;
  }
}
