@if (isLoading) {
  <app-loading-indicator></app-loading-indicator>
}
<div>
  <div tabindex="-1" [appAutofocus] class="visually-hidden">
    {{ 'creator.statistic.a11y-message-presentation' | transloco }}
  </div>
  <div id="stepper-container" fxLayout="column" fxLayoutAlign="start center">
    @if (!isLoading) {
      <app-content-stepper
        [contents]="contents"
        [settings]="settings"
        [startIndex]="contentIndex"
        [attributions]="attributions"
        (indexChanged)="updateURL($event)"
        [showStepInfo]="false"
        [language]="room.language"
      ></app-content-stepper>
    }
  </div>
</div>
