<h3>{{ data.section + data.headerLabel | translate}}</h3>
<p>{{ data.section + data.body | translate}}</p>
<p><strong *ngIf="data.bodyElement">{{ data.bodyElement }}</strong></p>
<div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
  <button mat-flat-button class="button-abort" (click)="closeDialog(data.abortLabel)">
    {{ data.section + data.abortLabel | translate}}
  </button>
  <button mat-flat-button class="{{data.type}}" (click)="closeDialog(data.confirmLabel)">
    {{ data.section + data.confirmLabel | translate}}
  </button>
</div>
