@import '../../../../../variables';

table {
  width: 100%;
}

tr:last-child td {
  border-bottom: 0;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  color: #333;
  display: inline-block;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}
