mat-tab-group {
  max-width: 800px;
}

::ng-deep .mat-tab-body.mat-tab-body-active {
  min-height: 400px;
}

::ng-deep .mat-tab-label {
  color: var(--on-surface);
}

::ng-deep .mat-tab-label-active {
  color: var(--on-surface);
}

::ng-deep .mat-ink-bar {
  background-color: var(--primary) !important;
}

::ng-deep .mat-tab-header-pagination-chevron {
  border-color: var(--primary);
}
