@import '../../../variables';

@include xs {
  .mat-mdc-cell {
    font-size: $s-font-size;
  }

  th,
  td {
    padding-right: 0;
  }
}

.less-visible {
  opacity: 0.8;
}

table {
  background-color: var(--surface);
}

.bg-dark {
  background-color: var(--background);
}
