<mat-list>
  <mat-list-item
    *ngFor="let item of leaderboardItems; index as i"
    class="bottom-border"
    [ngClass]="{
      'primary-variant': item.userAlias.id === aliasId,
    }"
  >
    <div
      fxLayout="row wrap"
      fxLayoutAlign="space-between center"
      class="leaderboard-item"
      [ngClass]="{
        'bold-text': item.userAlias.id === aliasId,
      }"
    >
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">
        <span>{{ i + 1 | ordinal }}</span>
        <span>{{ item.userAlias.alias }}</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.25em">
          <span>{{ item.score || 0 }}</span>
          <span>{{ 'content.points' | transloco }}</span>
          <span class="current-result">{{
            '(+' + (item.currentResult.points || 0) + ')'
          }}</span>
        </div>
        <div
          *ngIf="showDuration"
          fxLayout="row"
          fxLayoutAlign="end center"
          fxLayoutGap="0.5em"
          class="current-result"
        >
          <span>{{ item.currentResult.durationMs || 0 | duration }}</span>
        </div>
      </div>
    </div>
  </mat-list-item>
</mat-list>
