@use '../../../variables' as *;

@include xs {
  th,
  td {
    font-size: $s-font-size;
    padding: 0 $spacing-1;

    &:not(:last-of-type) {
      padding-right: 0;
    }
  }
}

.less-visible {
  opacity: 0.8;
}

table {
  background-color: var(--surface);
}

.bg-dark {
  background-color: var(--background);
}

th span,
mat-icon {
  opacity: 0.8;
}

.position {
  text-align: center;
}

.alias {
  hyphens: auto;
  overflow-wrap: anywhere;
}

.timer-icon {
  width: 20px;
  height: 20px;
  font-size: 20px;
}
