<div
  class="text-answer-container"
  [ngClass]="{ 'answers-visible': answersVisible }"
>
  <div fxLayoutAlign="center">
    @if (wordWeights.length === 0) {
      <p class="hint-sm">
        {{ 'statistic.no-answers' | transloco }}
      </p>
    }
  </div>
  @if (answersVisible) {
    <div>
      @if (!showModeration) {
        <app-wordcloud [wordWeights]="wordWeights"></app-wordcloud>
      }
      @if (showModeration) {
        <app-answer-list
          [answers]="answerList"
          (deleteClicked)="banAnswer($event)"
        ></app-answer-list>
      }
    </div>
  }
</div>
