<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="center">
    <section class="card-container">
      <div class="card" [ngClass]="{'flipped': flipped}">
        <mat-card>
          <div class="side" [ngClass]="{'invisible-card-content': flipped}">
            <div class="visually-hidden">
              <button (click)="announce()" id="message-announcer-button" tabIndex="-1">
                {{ (isEditMode ? 'content.a11y-content-edit-message' : 'content.a11y-content-create-message') | translate }}</button>
              <button (click)="announce()" id="keys-announcer-button" tabIndex="-1">
                {{ 'content.a11y-content-create-shortcuts' | translate }}</button>
            </div>
            <form>
              <div [ngClass]="{'disabled': isEditMode}" fxLayout="row wrap" fxLayoutAlign="start">
                <button tabindex="{{isEditMode ? '-1' : '0'}}" [matMenuTriggerFor]="formatMenu" aria-labelledby="choose-format" class="format-button"
                        id="format-button" mat-stroked-button>
                  <mat-icon class="format-button-icon">{{ selectedFormat.icon }}</mat-icon>
                  <span>
          {{ 'content.format-' + selectedFormat.name | translate}}
        </span>
                </button>
                <mat-menu class="wider-panel" #formatMenu="matMenu">
                  <button (click)="changeFormat(format)" *ngFor="let format of formats" [value]="format" mat-menu-item>
                    <div fxLayout="row">
                      <mat-icon class="format-icon">{{ format.icon }}</mat-icon>
                      <div fxLayout="column" fxLayoutAlign="center">
                <span attr.aria-label="{{('content.a11y-format-' + format.name) | translate}}" class="format-name">
                  {{ 'content.format-' + format.name | translate }}</span>
                        <span class="format-description">{{ 'content.format-' + format.name +
                        '-description' | translate }}</span>
                      </div>
                    </div>
                  </button>
                </mat-menu>
                <span class="fill-remaining-space"></span>
                <mat-form-field appearance="outline" class="group">
                  <mat-label>{{ 'content.collection' | translate }}</mat-label>
                  <input tabindex="{{isEditMode ? '-1' : '0'}}" #group (blur)="eventService.makeFocusOnInputFalse()"
                         (focus)="eventService.makeFocusOnInputTrue()" [(ngModel)]="lastContentGroup"
                         [formControl]="myControl" [matAutocomplete]="auto" aria-labelledby="content-group"
                         id="group-input"
                         matInput maxlength="25"
                         placeholder="{{ 'content.choose-collection' | translate }}"/>
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let collection of contentGroups" [value]="collection">
                      {{collection}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <mat-form-field appearance="outline" class="input-block no-field-hint">
                <mat-label>{{ (selectedFormat.name !== 'slide' ? 'content.body' : 'content.body-neutral') | translate }}</mat-label>
                <textarea #questionInput (blur)="eventService.makeFocusOnInputFalse()"
                          (focus)="eventService.makeFocusOnInputTrue()"
                          (input)="updateTextContainsImage(questionInput.value)"
                          [(ngModel)]="question"
                          [placeholder]="(selectedFormat.name !== 'slide' ? 'content.enter-body' : 'content.enter-body-neutral') | translate"
                          aria-labelledby="body" id="body-input"
                          matAutosizeMaxRows="8"
                          matAutosizeMinRows="3"
                          matInput matTextareaAutosize maxlength="{{ selectedFormat.name !== 'slide' ? 1000 : 2000 }}" name="questionInput"></textarea>
              </mat-form-field>
              <app-hint *ngIf="textContainsImage" text="utils.formatting-image-hint" [type]="warningType"></app-hint>
              <lib-extension-point extensionId="attachment-list" [extensionData]="attachmentData"></lib-extension-point>
              <div class="form-spacer"></div>
            </form>
            <div class="abstentions">
              <mat-checkbox *ngIf="['slide', 'flashcard'].indexOf(selectedFormat.name) === -1" [(ngModel)]="abstentionsAllowed">
                {{ 'content.abstentions-allowed' | translate }}
              </mat-checkbox>
            </div>
            <div *ngIf="!isLoading" class="content-action-container">
              <app-content-choice-creation (contentReset)="reset()" (contentSent)="saveContent($event)" (refId)="linkAttachments($event)"
                                          *ngIf="selectedFormat.name === 'choice'"
                                          [contentBody]="questionInput.value"
                                          [contentGroup]="group.value"
                                          [abstentionsAllowed]="abstentionsAllowed"
                                          [createEvent]="createEventSubject.asObservable()"
                                          [editContent]="content">
              </app-content-choice-creation>
              <app-content-likert-creation (contentReset)="reset()" (contentSent)="saveContent($event)" (refId)="linkAttachments($event)"
                                          *ngIf="selectedFormat.name === 'scale'"
                                          [contentBody]="questionInput.value"
                                          [contentGroup]="group.value"
                                          [abstentionsAllowed]="abstentionsAllowed"
                                          [createEvent]="createEventSubject.asObservable()"
                                          [editContent]="content">
              </app-content-likert-creation>
              <app-content-yes-no-creation (contentReset)="reset()" (contentSent)="saveContent($event)" (refId)="linkAttachments($event)"
                                          *ngIf="selectedFormat.name === 'binary'"
                                          [contentBody]="questionInput.value"
                                          [contentGroup]="group.value"
                                          [abstentionsAllowed]="abstentionsAllowed"
                                          [createEvent]="createEventSubject.asObservable()"
                                          [editContent]="content">
              </app-content-yes-no-creation>
              <app-content-text-creation (contentReset)="reset()" (contentSent)="saveContent($event)" (refId)="linkAttachments($event)"
                                        *ngIf="selectedFormat.name === 'text'"
                                        [contentBody]="questionInput.value"
                                        [abstentionsAllowed]="abstentionsAllowed"
                                        [contentGroup]="group.value" [createEvent]="createEventSubject.asObservable()"
                                        [editContent]="content"
                                        [format]="selectedFormat.name.toLocaleUpperCase()">
              </app-content-text-creation>
              <app-content-text-creation (contentReset)="reset()" (contentSent)="saveContent($event)" (refId)="linkAttachments($event)"
                                          *ngIf="selectedFormat.name === 'slide'"
                                          [contentBody]="questionInput.value"
                                          [contentGroup]="group.value"
                                          [createEvent]="createEventSubject.asObservable()"
                                          [editContent]="content"
                                          [format]="selectedFormat.name.toLocaleUpperCase()">

              </app-content-text-creation>
              <app-content-flashcard-creation (contentReset)="reset()" (contentSent)="saveContent($event)" (refId)="linkAttachments($event)"
                                         *ngIf="selectedFormat.name === 'flashcard'"
                                         [contentBody]="questionInput.value"
                                         [contentGroup]="group.value"
                                         [createEvent]="createEventSubject.asObservable()"
                                         [editContent]="content">

              </app-content-flashcard-creation>
              <app-content-sort-creation (contentReset)="reset()" (contentSent)="saveContent($event)" (refId)="linkAttachments($event)"
                                         *ngIf="selectedFormat.name === 'sort'"
                                         [contentBody]="questionInput.value"
                                         [contentGroup]="group.value"
                                         [abstentionsAllowed]="abstentionsAllowed"
                                         [createEvent]="createEventSubject.asObservable()" [editContent]="content">
              </app-content-sort-creation>
              <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="1em" [ngClass]="{'top-space': isEditMode}">
                <button (click)="showPreview()" attr.aria-label="{{ 'content.a11y-preview' | translate }}"
                        class="button-abort button-md" mat-raised-button>
                  {{ 'content.preview' | translate }}</button>
                <button (click)="emitCreateEvent(true)"
                        attr.aria-label="{{ 'content.a11y-submit' | translate: { body: question, group: group.value } }}"
                        class="button-primary button-md" mat-raised-button>
                  {{ (isEditMode ? 'content.save' : 'content.create') | translate }}</button>
              </div>

            </div>
          </div>

          <div [ngClass]="{'invisible-card-content': !flipped}" class="back side">
            <app-preview *ngIf="flipped" [content]="content" [isEditMode]="isEditMode"
                         (flipEvent)="flipBack($event)"></app-preview>
          </div>
        </mat-card>
      </div>
    </section>
  </div>
</div>

<div class="visually-hidden">
  <div id="subject">{{ 'content.a11y-enter-subject' | translate }}</div>
  <div id="body">{{ 'content.a11y-enter-body' | translate }}</div>
  <div id="content-group">{{ 'content.a11y-enter-content-group' | translate }}</div>
  <div id="format-choice">{{ 'content.a11y-format-choice' | translate }}</div>
  <div id="format-scale">{{ 'content.a11y-format-likert' | translate }}</div>
  <div id="format-binary">{{ 'content.a11y-format-binary' | translate }}</div>
  <div id="format-text">{{ 'content.a11y-format-text' | translate }}</div>
  <div id="format-slide">{{ 'content.a11y-format-slide' | translate }}</div>
  <div id="format-sort">{{ 'content.a11y-format-sort' | translate }}</div>
  <div id="choose-format">{{ 'content.a11y-choose-format' | translate:
    { format: 'content.format-' + selectedFormat.name | translate } }}</div>
</div>
