@import '../../../../../variables';

form {
  width: 100%;
}

.mat-mdc-menu-item {
  height: auto;
}

.format-name {
  line-height: 100%;
  font-weight: $font-weight-bold;
  height: 16px;
  font-size: 14px;
  text-align: start;
  margin-top: 8px;
  color: var(--on-dialog);
}

.format-description {
  white-space: normal;
  line-height: 16px;
  font-size: 14px;
  margin: 4px 0 8px;
  color: var(--on-dialog);
}

.format-icon {
  align-self: center;
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
.format-button-icon {
  margin-bottom: 2px;
}

.mat-mdc-card {
  overflow: hidden;
}

.abstentions {
  margin-left: 16px;
  margin-bottom: 10px;
}

.top-space {
  margin-top: 16px;
}
