@import '../../../../../variables';

form {
  width: 100%;
}

.group {
  max-width: 80%;
}

.mat-menu-item {
  height: auto;
}

.format-name {
  line-height: 100%;
  font-weight: $font-weight-bold;
  height: 16px;
  font-size: 14px;
  text-align: start;
  margin-top: 8px;
  color: var(--on-dialog);
}

.format-description {
  white-space: normal;
  line-height: 16px;
  font-size: 14px;
  margin: 4px 0 8px 0;
  color: var(--on-dialog);
}

.format-icon {
  align-self: center;
}

.format-button-icon {
  margin-right: 4px;
}

.format-button {
  color: var(--secondary);
  border-color: var(--secondary);
  margin: 3px 20px 20px 0;
  height: 60px;
  &:disabled {
    opacity: 0.7;
    color: var(--secondary);
  }
}

.mat-card {
  overflow: hidden;
}

.abstentions {
  margin-left: 16px;
  margin-bottom: 10px;
}

.disabled {
  pointer-events: none;

  button {
    color: var(--on-surface);
    border-color: var(--on-surface);
  }
}

.top-space {
  margin-top: 16px;
}
