<button
  *ngIf="isDialog"
  mat-flat-button
  type="submit"
  [color]="color"
  [disabled]="formDisabled"
  [attr.aria-label]="aria | translate"
  (click)="click()"
>
  <span [ngClass]="{ hidden: formDisabled }">
    {{ name | translate }}
  </span>
  <app-loading-indicator
    *ngIf="formDisabled"
    [size]="18"
    [disabled]="true"
  ></app-loading-indicator>
</button>
<button
  *ngIf="!isDialog"
  mat-raised-button
  type="submit"
  [color]="color"
  [disabled]="(formDisabled && loading) || disabled"
  [ngClass]="{ 'login-button': fullWidth }"
  [appHotkey]="hotkey"
  [appHotkeyTitle]="hotkeyTitle"
  [appHotkeyAction]="hotkeyAction"
  [appTrackInteraction]="trackInteraction"
  [appTrackName]="trackName"
  [attr.aria-label]="aria | translate"
  (click)="click()"
>
  <span [ngClass]="{ hidden: formDisabled && loading }">
    {{ name | translate }}
  </span>
  <app-loading-indicator
    *ngIf="formDisabled && loading"
    [size]="18"
    [disabled]="true"
  ></app-loading-indicator>
</button>
