@if (isDialog) {
  <button
    mat-flat-button
    type="submit"
    [color]="color"
    [disabled]="(formDisabled && loading) || disabled"
    [attr.aria-label]="aria ?? name | transloco"
    (click)="click()"
  >
    <ng-template [ngTemplateOutlet]="innerButton"></ng-template>
  </button>
} @else {
  @if (!useDirectives) {
    <button
      mat-raised-button
      type="submit"
      [color]="color"
      [disabled]="(formDisabled && loading) || disabled"
      [ngClass]="{ 'login-button': fullWidth }"
      [attr.aria-label]="aria ?? name | transloco"
      (click)="click()"
    >
      <ng-template [ngTemplateOutlet]="innerButton"></ng-template>
    </button>
  } @else {
    @if (hotkey && trackInteraction) {
      <button
        mat-raised-button
        type="submit"
        [color]="color"
        [disabled]="(formDisabled && loading) || disabled"
        [ngClass]="{ 'login-button': fullWidth }"
        [appHotkey]="hotkey"
        [appHotkeyTitle]="hotkeyTitle"
        [appHotkeyAction]="hotkeyAction"
        [appTrackInteraction]="trackInteraction"
        [appTrackName]="trackName"
        [attr.aria-label]="aria ?? name | transloco"
        (click)="click()"
      >
        <ng-template [ngTemplateOutlet]="innerButton"></ng-template>
      </button>
    }
  }
}

<ng-template #innerButton>
  <span [ngClass]="{ hidden: formDisabled && loading }">
    {{ name | transloco }}
  </span>
  @if (formDisabled && loading) {
    <app-loading-indicator
      [size]="18"
      [disabled]="true"
    ></app-loading-indicator>
  }
</ng-template>
