<div
  fxLayout="row"
  fxLayoutAlign="center center"
  [ngClass]="{ 'icon-container': !withText, 'feature-container': withText }"
>
  @for (item of items; track item) {
    <div
      matRipple
      role="button"
      fxLayout="column"
      fxLayoutAlign="center center"
      class="action-button"
      [ngClass]="{
        disabled: item.disabled,
        'primary highlighted': item.highlighted,
      }"
      (click)="sendKeyEvent(item.key)"
      [matTooltip]="
        ('creator.control-bar.' + item.name | transloco) +
        ' (' +
        (item.displayKey | transloco) +
        ')'
      "
      [attr.data-testid]="item.name + '-btn'"
    >
      <mat-icon [ngClass]="{ 'nav-icon': withText }">{{ item.icon }}</mat-icon>
      @if (withText) {
        <p class="text">
          {{ 'creator.control-bar.' + item.name | transloco }}
        </p>
      }
    </div>
  }
</div>
