@use '../../../../variables' as *;

.mat-accordion {
  width: 100%;
  max-width: 800px;
}

.username {
  opacity: 0.8;
}

.type-icon {
  opacity: 0.6;
}

.container {
  align-items: center;
  gap: 16px;
}

.delete-container > * {
  margin-top: 12px;
}

@include xs {
  .input-field {
    width: calc(100% - 40px);
  }

  .container {
    justify-content: end;
  }
}

@include gt-xs {
  .input-field {
    width: calc(50% - 28px);
  }
}
