<div class="visually-hidden" [appAutofocus] tabIndex="-1">
  {{ 'survey.a11y-message' | a11yIntro | async }}
</div>
@if (isLoading) {
  <app-loading-indicator></app-loading-indicator>
}
@if (!isLoading) {
  <app-base-card>
    <div fxLayout="column" fxLayoutGap="8px">
      <app-live-feedback
        [data]="data"
        [dataChanged]="dataChanged"
        [fixedSize]="true"
        [isClosed]="isClosed"
        [type]="type"
      ></app-live-feedback>
      @if (!isModerator()) {
        <div
          fxLayout="row"
          fxLayoutAlign="center center"
          [fxLayoutGap]="isClosed ? '10px' : '16px'"
        >
          <div fxLayout="row">
            <div
              class="invisible-button button-container"
              [ngClass]="{ 'visible-button': isClosed }"
            >
              @if (isClosed) {
                <button
                  id="switch-button"
                  [disabled]="!isClosed"
                  mat-stroked-button
                  class="bottom-button"
                  (click)="changeType()"
                  [appHotkey]="changeKey"
                  [appHotkeyTitle]="'creator.survey.change-type' | transloco"
                  [appHotkeyAction]="HotkeyAction.FOCUS"
                  appTrackInteraction="Survey type toggled"
                  [appTrackName]="type.toLowerCase()"
                  appDisableForm
                >
                  {{ 'creator.survey.change-type' | transloco }}
                </button>
              }
            </div>
            <div
              class="invisible-button button-container"
              [ngClass]="{ 'visible-button': !isClosed }"
            >
              <app-answer-count
                id="answer-count"
                [count]="answerCount"
              ></app-answer-count>
            </div>
          </div>
          <app-loading-button
            id="toggle-button"
            class="bottom-button"
            [name]="isClosed ? 'creator.survey.start' : 'creator.survey.stop'"
            (clicked)="toggle()"
            [useDirectives]="true"
            [hotkey]="toggleKey"
            [hotkeyTitle]="
              (isClosed ? 'creator.survey.start' : 'creator.survey.stop')
                | transloco
            "
            [hotkeyAction]="HotkeyAction.FOCUS"
            trackInteraction="Survey toggled"
            [trackName]="isClosed ? 'on' : 'off'"
          >
          </app-loading-button>
        </div>
      }
    </div>
  </app-base-card>
}
