.bottom-button {
  transition: 300ms;
}

.button-container {
  transition: 300ms ease-out;
}

.invisible-button {
  position: relative;
  width: 0;
  left: 100px;
  opacity: 0;
  overflow: hidden;
}

.visible-button {
  position: relative;
  left: 0;
  top: 0;
  opacity: 1;
  width: auto;
}
