@use '../../../../variables' as *;

.mat-toolbar {
  background-color: var(--surface);
  position: relative;
  z-index: 2;
}

.user-button {
  color: var(--black);
  margin-right: 0;

  span {
    font-size: 16px;
    font-weight: $font-weight-bold;
  }

  .mat-icon {
    height: 20px;
    width: 20px;
    font-size: 20px;
  }
}

.guest {
  background-color: var(--grey-light);
  color: var(--on-surface);
}

@media (max-width: 599px) {
  .presentation-button-container {
    display: none !important;
  }

  .mobile-action-container {
    margin-right: 0 !important;
  }
}

@media (max-width: 999px) {
  .desktop-action-container {
    display: none !important;
  }
}

@media (min-width: 1000px) {
  .mobile-action-container {
    display: none;
  }
}

.back-to-edit {
  opacity: 1;
}

.mat-mdc-icon-button .mat-icon {
  opacity: 0.8;
}

.focus-mode-hint {
  font-size: 14px;
  opacity: 0.7;
}

.room-actions-divider {
  height: var(--mdc-protected-button-container-height);
}

.title {
  font-weight: normal;
  font-size: $s-font-size;
}

.room-name {
  display: none;
}

@include gt-xl {
  .title {
    font-size: $m-font-size;
  }
}

@include gt-md {
  .room-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $spacing;
    opacity: 0.7;

    mat-icon {
      opacity: 0.7;
    }
  }
}
