@if (correctAnswer) {
  <form fxLayout="column" fxLayoutGap="16px">
    <span>{{ 'creator.content.correct-answer' | transloco }}</span>
    <mat-radio-group
      [disabled]="formDisabled"
      [(ngModel)]="currentOption"
      [ngModelOptions]="{ standalone: true }"
      fxLayout="column"
      fxLayoutAlign="center"
    >
      @for (option of options; track option) {
        <mat-radio-button
          [value]="option"
          [attr.aria-label]="
            'creator.content.a11y-answer-' + option | transloco
          "
        >
          {{ 'creator.content.answer-' + option | transloco }}
        </mat-radio-button>
      }
    </mat-radio-group>
  </form>
}
