<div fxLayout="column" fxLayoutAlign="space-between" class="answer-container">
  <form *ngIf="!givenAnswer">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'answer.your-answer' | translate }}</mat-label>
      <textarea matInput (focus)="eventService.makeFocusOnInputTrue()"
                (blur)="eventService.makeFocusOnInputFalse()" [(ngModel)]="textAnswer" name="answer"
                matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="8" maxLength="255"
                aria-labelledby="answer-input" placeholder="{{ 'answer.enter-answer' | translate }}"></textarea>
    </mat-form-field>
  </form>
  <div *ngIf="givenAnswer && givenAnswer.body">
    <p class="answer">{{givenAnswer.body}}</p>
  </div>
</div>
<div tabindex="-1" class="visually-hidden">
  <div id="answer-input">{{ 'answer.a11y-enter-answer' | translate }}</div>
</div>
