mat-radio-button {
  margin-top: 20px;
  color: var(--on-surface);
}

mat-header-cell {
  background-color: var(--surface);
  color: var(--on-surface);
}

mat-row {
  height: 70px;
  background-color: var(--surface);
}

mat-cell:first-of-type, mat-header-cell:first-of-type {
  padding-left: 4%;
}

mat-cell:last-of-type, mat-header-cell:last-of-type {
  justify-content: center;
  max-width: 80px;
  padding-right: calc(4% - 10px);
}

.delete {
  color: var(--warn);
}

p {
  font-size: larger;
}

.editInput {
  margin-left: 10px;
  margin-top: 5px;
}

.activeInput {
  width: 100%;
  font-size: larger;
}

.inactiveInput {
  width: 0;
}

.mat-checkbox {
  color: var(--on-surface);
}

.answer-input {
  width: 100%;
  margin: 0 !important;
}

.add {
  height: 36px;
  width: 36px;
  margin: 0 1% 0 3%;
  background-color: var(--primary);
  color: var(--background);
  font-size: 36px;
  transition: 0.3s;
}

.multiple {
  border-radius: 10%;
}

.mat-raised-button {
  min-width: 120px;
}
