<form (ngSubmit)="submitContent()" fxLayout="column" fxLayoutGap="20px">

  <mat-radio-group [(ngModel)]="singleChoice" [ngModelOptions]="{standalone: true}" fxLayout="row"
                   fxLayoutAlign="center" fxLayoutGap="20px">
    <mat-radio-button [value]=true [checked]=true>
      Single Choice
    </mat-radio-button>
    <mat-radio-button [value]=false [checked]=false>
      Multiple Choice
    </mat-radio-button>
  </mat-radio-group>

  <mat-card *ngIf="displayAnswers.length > 0">
    <mat-list>
      <mat-list-item fxLayout="column" fxLayoutAlign="center" *ngFor="let answer of displayAnswers; let i = index">
        <div fxLayout="row" fxLayoutAlign="center center" class="inner">
          <mat-checkbox (click)="switchValue(answer.answerOption.label)" [(ngModel)]="answer.correct"
                        [checked]="answer.correct"
                        name="{{ answer.answerOption.label }}">
            <span class="answer-label" *ngIf="isAnswerEdit !== i">{{ answer.answerOption.label }}</span>
          </mat-checkbox>
          <mat-form-field class="editInput" [ngClass]="{'activeInput': isAnswerEdit === i,
        'inactiveInput': isAnswerEdit !== i}">
            <input name="answerEdit" matInput [(ngModel)]="updatedAnswer">
          </mat-form-field>
          <span class="fill-remaining-space"></span>
          <button *ngIf="isAnswerEdit !== i" mat-icon-button (click)="goInEditMode(i, answer)"
                  matTooltip="{{ 'content.edit-answer' | translate }}">
            <mat-icon class="editIcon">edit</mat-icon>
          </button>
          <button *ngIf="isAnswerEdit === i" mat-icon-button (click)="updateAnswer(i, answer)"
                  matTooltip="{{ 'content.save-content-group' | translate}}">
            <mat-icon class="editIcon">done</mat-icon>
          </button>
          <button *ngIf="isAnswerEdit === i" mat-icon-button (click)="leaveEditMode()"
                  matTooltip="{{ 'content.abort' | translate}}">
            <mat-icon class="editIcon">clear</mat-icon>
          </button>
          <button mat-icon-button *ngIf="isAnswerEdit !== i" class="delete"
                  (click)="deleteAnswer($event, answer.answerOption.label)"
                  matTooltip="{{ 'content.delete-answer' | translate }}">
            <mat-icon>delete</mat-icon>
          </button>
          <mat-divider *ngIf="i < displayAnswers.length - 1"></mat-divider>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card>

  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
    <mat-form-field class="answer-input">
      <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
             matInput [(ngModel)]="newAnswerOptionLabel" placeholder="{{ 'content.answer' | translate }}" name="answer">
    </mat-form-field>
    <button mat-fab class="add" [ngClass]="{'multiple': !singleChoice}" (click)="addAnswer($event)">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
    <button mat-raised-button class="button-secondary"
            (click)="reset($event)">{{ 'content.reset' | translate }}</button>
    <button mat-raised-button class="button-primary" type="submit">{{ 'content.create' | translate }}</button>
  </div>
</form>
