<div fxLayout="row" fxLayoutAlign="space-between">
  <app-admin-page-header headerText="system-stats"> </app-admin-page-header>
  <lib-extension-point extensionId="tenant-selection"></lib-extension-point>
</div>

@if (isLoading) {
  <app-loading-indicator></app-loading-indicator>
} @else {
  <mat-tab-group [dynamicHeight]="true" [animationDuration]="0">
    @for (tab of tabs; track tab; let i = $index) {
      <mat-tab [label]="'admin.admin-area.' + tab | transloco">
        <mat-card class="stats-card" appearance="outlined">
          <app-entity-properties
            [entity]="getStats(tabs[i])"
            [translateKeys]="true"
          ></app-entity-properties>
        </mat-card>
      </mat-tab>
    }
  </mat-tab-group>
}
