.summary-container {
  padding: 2em 0;
  border-bottom: 1px solid var(--grey-light);
  background-color: var(--background);
}

.mat-icon,
span,
b {
  font-size: 24px;
}

p {
  margin-bottom: 0;
  opacity: 0.7;
}
