<mat-card [ngClass]="{ disabled: editMode }" appearance="outlined">
  <div fxLayout="row" fxLayoutAlign="space-between start">
    <h3 class="title">{{ title }}</h3>
    @if (!!label) {
      <div
        fxLayoutAlign="center center"
        class="label-container secondary-background"
      >
        <span class="label-text new-label">{{
          'announcement.' + label | transloco
        }}</span>
      </div>
    }
    @if (role === 'OWNER') {
      <button
        mat-icon-button
        [matMenuTriggerFor]="moreMenu"
        [disabled]="editMode"
        [matTooltip]="'creator.announcement.options' | transloco"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
    }
    <mat-menu #moreMenu>
      <button mat-menu-item (click)="edit()">
        <mat-icon>edit</mat-icon>
        {{ 'creator.announcement.edit' | transloco }}
      </button>
      <button mat-menu-item (click)="delete()">
        <mat-icon color="warn">delete</mat-icon>
        {{ 'creator.announcement.delete' | transloco }}
      </button>
    </mat-menu>
  </div>
  <p class="subtitle">
    <app-date [timestamp]="updatedAt || createdAt"></app-date>
    @if (updatedAt) {
      <span>&nbsp;({{ 'announcement.edited' | transloco }})</span>
    }
  </p>
  <app-rendered-text
    [rawText]="body"
    [renderedText]="bodyRendered"
    [markdownFeatureset]="markdownFeatureset"
  ></app-rendered-text>
  <div fxLayoutAlign="start">
    @if (role !== 'OWNER') {
      <div fxLayoutAlign="center center" class="label-container room-container">
        <span class="label-text room-label">{{ roomName }}</span>
      </div>
    }
  </div>
</mat-card>
