<app-admin-page-header
  headerText="user-management"
  [buttonText]="showButton() ? 'add-account' : undefined"
  buttonIcon="add"
  (buttonClicked)="addAccount()"
>
</app-admin-page-header>

<mat-form-field appearance="outline">
  <mat-label>{{
    'admin.admin-area.search-account-with-id' | transloco
  }}</mat-label>
  <input matInput appDisableForm [formControl]="formControl" />
  @if (formControl.value) {
    <button matSuffix mat-icon-button class="clear-button" (click)="clear()">
      <mat-icon>close</mat-icon>
    </button>
  }
</mat-form-field>

@let _users = users();
@if (isLoading()) {
  <app-loading-indicator></app-loading-indicator>
} @else {
  <div fxLayout="column" fxLayoutGap="16px">
    @for (user of _users; track user) {
      <mat-card appearance="outlined" fxLayout="column" fxLayoutGap="16px">
        <app-entity-properties [entity]="user"></app-entity-properties>
        <div fxLayoutAlign="space-between">
          <button mat-stroked-button color="warn" (click)="deleteUser(user.id)">
            <mat-icon>delete</mat-icon>
            {{ 'admin.admin-area.delete-user' | transloco }}
          </button>
          <app-loading-button
            name="admin.admin-area.activate-user"
            (clicked)="activateUser(user.id)"
            [disabled]="!!user.username || !user.unverifiedMailAddress"
          ></app-loading-button>
        </div>
      </mat-card>
    }
  </div>
  @if (formControl.value && _users.length === 0) {
    <span>{{ 'admin.admin-area.no-accounts-found' | transloco }}</span>
  }
}
