.divider-container {
  margin: 16px 0;
  position: relative;
}

.divider-container .mat-divider {
  border-top-color: var(--grey);
  opacity: 0.5;
}

.divider-label {
  font-size: 14px;
  margin: 8px 0;
  padding: 0 8px;
  position: absolute;
  top: -16px;
  left: 16px;
  z-index: 3;
  background-color: var(--dialog);
}
