@use '../../../variables' as *;

.divider-space {
  height: $spacing-2;
}

.presentation-space {
  margin-top: $spacing-2;
}

.count-container {
  padding: $spacing 0;
}

.action-button {
  background-color: var(--surface);
  opacity: 0;
  transition: opacity 300ms;
}

.corner-button {
  top: 0;
}

.results-container:hover,
.results-container:focus {
  .action-button {
    opacity: 1;
  }
}
