<app-navigation-drawer
  [buttonSections]="navButtonSection"
  parentRoute="admin"
  [showFooter]="false"
  backgroundColor="surface"
>
  <div footer fxLayout="row" fxLayoutAlign="center" [style.height]="'32px'">
    <lib-extension-point
      extensionId="app-logo"
      [extensionData]="{ height: '32px' }"
    >
      <h2>{{ 'admin.admin-area.title' | transloco }}</h2>
    </lib-extension-point>
  </div>
  <div class="routing-container">
    <router-outlet></router-outlet></div
></app-navigation-drawer>
