<app-navigation-drawer
  [buttonSections]="navButtonSection"
  parentRoute="admin"
  [showFooter]="false"
  backgroundColor="surface"
>
  <div header fxLayout="row" fxLayoutAlign="start" class="title">
    <lib-extension-point
      extensionId="app-logo"
      [extensionData]="{ height: '36px' }"
    >
      <h2>{{ 'admin.admin-area.title' | transloco }}</h2>
    </lib-extension-point>
  </div>
  <app-admin-summary-bar [healthInfo]="healthInfo"></app-admin-summary-bar>
  <div class="routing-container">
    <router-outlet></router-outlet></div
></app-navigation-drawer>
