@import '../contents-with-options';

.mat-card {
  width: calc(100% - 2em);
  margin-top: $option-padding-full;
  cursor: grabbing;
  box-shadow: none;
  padding: $option-padding $option-padding-full;
  border: 2px solid var(--grey-light);
  &:first-of-type {
    margin-top: 8px;
  }
}

.mat-icon {
  color: var(--grey);
}

.no-grab {
  cursor: initial;
}

.cdk-drop-list-dragging {
  cursor: grabbing;
}

.cdk-drop-list-disabled {
  opacity: 0.7;
}

.cdk-drag-preview {
  border-color: var(--surface);
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 0 5px var(--primary);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}
