<mat-form-field fxFill appearance="outline" class="no-field-hint">
  <mat-label>{{ 'templates.tags' | transloco }}</mat-label>
  <mat-chip-grid #chipGrid [disabled]="formDisabled">
    @for (tag of selectedTags; track tag) {
      <mat-chip-row (removed)="remove(tag)">
        {{ tag.name }}
        <button
          matChipRemove
          [attr.aria-label]="'templates.remove-tag' | transloco: { tag: tag }"
        >
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    }
    <input
      matInput
      #tagInput
      [placeholder]="
        selectedTags.length === 0 && !allowCreation
          ? ('templates.select-tags' | transloco)
          : ''
      "
      [formControl]="tagFormControl"
      [matChipInputFor]="chipGrid"
      [matAutocomplete]="auto"
    />
    @if (tagFormControl.invalid) {
      <mat-error style="font-size: var(--mat-form-field-subscript-text-size)">
        {{ 'templates.no-special-characters-allowed' | transloco }}
      </mat-error>
    }
    <mat-autocomplete
      #auto="matAutocomplete"
      [hideSingleSelectionIndicator]="true"
      [autoSelectActiveOption]="false"
      (optionSelected)="selected($event)"
    >
      @for (tag of filteredTags; track tag) {
        <mat-option [value]="tag.name" [disabled]="isTagSelected(tag)">
          {{ tag.name }}
        </mat-option>
      }
      @if (
        filteredTags.length === 0 && tagInput.value.length > 0 && allowCreation
      ) {
        <mat-option [disabled]="tagFormControl.invalid">
          <mat-icon>add</mat-icon>
          {{ 'templates.create-new-tag' | transloco }}
        </mat-option>
      }
    </mat-autocomplete>
  </mat-chip-grid>
</mat-form-field>
