form > button {
  margin: 20px 0;
}

mat-card {
  margin-top: 20px;
  padding: 0 1%;
}

mat-list {
  padding: 0;
  outline: none;
  background-color: var(--surface);
}

mat-list-item {
  height: auto;
  outline: none;
}

.mat-raised-button {
  min-width: 120px;
  margin-top: 20px;
}
