@use '../../../../variables' as *;

span {
  font-size: 14px;
  color: var(--background);
}

.done {
  color: var(--success-inverted);
  font-weight: $font-weight-extra-bold;
}

.close {
  color: var(--warn-inverted);
  font-weight: $font-weight-extra-bold;
}

.warning {
  color: var(--warn-soft-inverted);
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: var(
    --mdc-snackbar-supporting-text-color
  );
}
