<div class="survey-container" [ngClass]="{ faded: isClosed }">
  @for (data of displayData; track data; let i = $index) {
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px">
      @if (type === LiveFeedbackType.FEEDBACK) {
        <mat-icon
          fxFlex="noshrink"
          [ngClass]="{
            'label-icon': !fixedSize,
            'icon-fixed-size': fixedSize,
          }"
          [matTooltip]="'survey.' + feedbackLabels[i] | transloco"
        >
          {{ feedbackIcons[i] }}</mat-icon
        >
      }
      @if (type === LiveFeedbackType.SURVEY) {
        <p class="answer-label">
          {{ surveyLabels[i] | transloco }}
        </p>
      }
      <mat-progress-bar
        class="survey-progress custom-height"
        [ngClass]="{
          bar: !fixedSize,
          'bar-fixed-size': fixedSize,
        }"
        [value]="data.count"
      ></mat-progress-bar>
    </div>
  }
</div>
<div class="text invisible" [ngClass]="{ visible: isClosed }">
  <h3 tabindex="-1" id="stopped-label">
    {{ 'survey.is-stopped' | transloco }}
  </h3>
</div>
