<div fxLayout="row" fxLayoutAlign="center">
<h1>{{ 'admin-area.title' | translate }}</h1>
</div>

<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'admin-area.user-management' | translate }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>
      [TODO: User Management]
    </mat-panel-description>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ 'admin-area.room-management' | translate }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-panel-description>
      [TODO: Room Management]
    </mat-panel-description>
  </mat-expansion-panel>
</mat-accordion>
