<div fxLayout="row" fxLayoutAlign="end">
  <button
    *ngIf="standalone"
    mat-stroked-button
    [matMenuTriggerFor]="roundMenu"
    [matTooltip]="
      'content.round' + (currentRound > 1 ? 's-' : '-') + 'displayed'
        | translate : { rounds: rounds[currentRound] }
    "
  >
    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="8px">
      <div
        *ngFor="let round of [0, 1]; let i = index"
        [ngClass]="{ disabled: currentRound !== i && currentRound !== 2 }"
        class="round-legend primary-background"
        fxLayoutAlign="center center"
      >
        <span class="round-number">{{ i + 1 }}</span>
      </div>
    </div>
  </button>
  <button
    *ngIf="!standalone"
    mat-menu-item
    [matMenuTriggerFor]="roundMenu"
    [attr.aria-label]="
      'content.round' + (currentRound > 1 ? 's-' : '-') + 'displayed'
        | translate : { rounds: rounds[currentRound] }
    "
  >
    <mat-icon>tune</mat-icon>
    {{ 'content.round' | translate }}&nbsp;{{ rounds[currentRound] }}
  </button>
  <mat-menu #roundMenu>
    <button
      mat-menu-item
      *ngFor="let round of rounds; let i = index"
      (click)="changeRound(i)"
    >
      <span [ngClass]="{ 'selected-menu-item': currentRound === i }">
        {{ 'content.round' | translate }}&nbsp;{{ round }}
      </span>
    </button>
  </mat-menu>
</div>
