.summary-container {
  padding: 2em 0;
  border-bottom: 1px solid var(--grey-lighter);
  background-color: var(--background);
}

.mat-icon,
span,
b {
  font-size: 24px;
}

p {
  margin-bottom: 0;
  color: var(--on-surface-light);
}
