@if ((healthInfo | async)?.status) {
  <div fxLayout="row" fxLayoutAlign="space-around" class="summary-container">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div fxLayout="column" fxLayoutAlign="center">
        <app-health-status
          [status]="(healthInfo | async)?.status"
        ></app-health-status>
      </div>
      <p>
        {{ 'admin.admin-area.system-health' | transloco }}
      </p>
    </div>
    @if (connectedUserCount() !== undefined) {
      <div fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="center">
          <span>{{ connectedUserCount() }}</span>
        </div>
        <p>
          {{ 'admin.admin-area.connected-users' | transloco }}
        </p>
      </div>
    }
    @if (userCount()) {
      <div fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="center">
          <span>{{ userCount() }}</span>
        </div>
        <p>
          {{ 'admin.admin-area.user-accounts' | transloco }}
        </p>
      </div>
    }
    @if (roomCount()) {
      <div fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="center">
          <span>{{ roomCount() }}</span>
        </div>
        <p>
          {{ 'admin.admin-area.rooms' | transloco }}
        </p>
      </div>
    }
  </div>
}
