<div fxLayout="row" fxLayoutAlign="center center" [ngClass]="{'icon-container': !withText, 'feature-container': withText}">
  <div matRipple role="button" fxLayout="column" fxLayoutAlign="center center" class="action-button"
       [ngClass]="{'disabled': item.disabled}"
       *ngFor="let item of items" (click)="sendKeyEvent(item.key)"
       [matTooltip]="('control-bar.' + item.name | translate) + ' (' + ('control-bar.' + item.key | translate) + ')'">
    <mat-icon [ngClass]="{'nav-icon': withText}">{{item.icon}}</mat-icon>
    <p *ngIf="withText" class="text">{{ ('control-bar.' + item.name) | translate }}</p>
  </div>
</div>
