.mat-card {
  width: 92%;
}

.mat-card-content > :first-child {
  margin-top: 15px;
}

.mat-list {
  background-color: var(--surface);
}

.moreButton {
  color: var(--primary)
}

.delete {
  color: var(--warn)
}

.mat-tooltip-component {
  position: relative;
}

.mat-raised-button {
  height: 40px;
  min-width: 120px;
}

.info-text {
  font-size: calc(14px + 0.3vw);
}

.mat-checkbox {
  margin-left: 10px;
}

.cardTitle {
  margin-left: 2%;
  width: 60%;
}

.mat-form-field {
  width: 100%;
}
