h2 {
  margin: 20px 0 20px 0;
}

.buttons {
  margin-top: 20px;
}

.submit {
  background-color: var(--primary);
  color: var(--on-primary);
}

.abstain {
  background-color: var(--secondary);
  color: var(--on-secondary);
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.correct {
  color: var(--green);
}

.wrong {
  color: var(--red);
}

mat-icon {
  font-size: 80px;
  width: 80px;
  height: 80px;
}

mat-list {
  position: relative;
}

.solution {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -40px 0 0 -40px;
}

::ng-deep .mat-radio-outer-circle {
  .mat-radio-checked & {
    border-color: var(--secondary)!important;
  }
  border-color: var(--on-surface)!important;
}

::ng-deep .mat-radio-inner-circle {
  background-color: var(--secondary)!important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
          .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: var(--secondary);
}

.mat-checkbox {
  color: var(--on-surface)!important;
}

::ng-deep .mat-checkbox-frame {
  border-color: var(--on-surface);
}

::ng-deep .mat-radio-ripple .mat-ripple-element {
  background-color: var(--secondary);
}

::ng-deep .mat-radio-label-content {
  color: var(--on-surface)!important;
}

::ng-deep .mat-checkbox-label {
  color: var(--on-surface)!important;
}
