<h2 class="mat-headline">{{ content.body }}</h2>

<form (ngSubmit)="submitAnswer()">
  <mat-divider></mat-divider>
  <mat-list *ngIf="content.multiple && !isLoading">
    <mat-list-item *ngFor="let answer of checkedAnswers" [ngClass]="{'disabled': alreadySent}">
      <mat-checkbox *ngIf="alreadySent" [checked]="answer.checked" name="answer">
        {{ answer.answerOption.label }}
      </mat-checkbox>
      <mat-checkbox *ngIf="!alreadySent" [(ngModel)]="answer.checked" name="answer">
        {{ answer.answerOption.label }}
      </mat-checkbox>
    </mat-list-item>
  </mat-list>
  <mat-radio-group *ngIf="!content.multiple" [(ngModel)]="selectedSingleAnswer" name="Radio">
    <mat-list *ngIf="!isLoading">
      <mat-list-item *ngFor="let answer of checkedAnswers" [ngClass]="{'disabled': alreadySent}">
        <mat-radio-button color="primary" [checked]="answer.checked" [value]="answer.answerOption.label" name="answer">
          {{ answer.answerOption.label }}
        </mat-radio-button>
      </mat-list-item>
    </mat-list>
  </mat-radio-group>
  <mat-divider></mat-divider>
  <div fxLayoutAlign="center" fxLayoutGap="20px" class="buttons">
    <button mat-raised-button class="abstain" [ngClass]="{'disabled' : alreadySent}" (click)="abstain($event)">
      {{ 'answer.abstain' | translate }}</button>
    <button mat-raised-button class="submit" [ngClass]="{'disabled' : alreadySent}" type="submit">
      {{ 'answer.submit' | translate }}</button>
  </div>
</form>
<div *ngIf="alreadySent" class="solution">
  <mat-icon [ngClass]="isCorrect ? 'correct' : 'wrong'">{{isCorrect ? 'check' : 'close'}}</mat-icon>
</div>
