<div fxLayout="column" fxLayoutGap="16px">
  @if (isLoading) {
    <app-loading-indicator></app-loading-indicator>
  }
  @if (!isLoading) {
    @if (content.correctNumber !== undefined) {
      <app-correct-answer-results
        [correctAnswerFractions]="getCorrectAnswerFractions()"
        [show]="showCorrect"
        [round]="roundsToDisplay + 1"
        [compareRounds]="compareRounds()"
      ></app-correct-answer-results>
    }
    <div
      class="results-container"
      [ngClass]="{
        invisible: !answersVisible,
      }"
    >
      <div
        class="chart-container"
        [ngClass]="{
          invisible: !answersVisible,
          'normal-chart': !isPresentation && answersVisible,
          'presentation-chart': isPresentation && answersVisible,
        }"
      >
        <canvas class="chart" id="{{ chartId }}"></canvas>
      </div>
      @if (
        answersVisible && (!showCorrect || content.correctNumber === undefined)
      ) {
        <div
          class="border-container"
          [ngClass]="{
            'presentation-container-padding': isPresentation,
          }"
        >
          <div
            fxLayout="row wrap"
            fxLayoutAlign="space-between"
            fxLayoutGap="1em"
          >
            @for (statInfo of statInfos; track statInfo) {
              <app-statistic-info
                [label]="statInfo"
                [round]="roundsDisplayed"
                [data]="getInfoStats(statInfo)"
                [hasAnswers]="responseCounts.answers > 0"
              ></app-statistic-info>
            }
          </div>
        </div>
      }
    </div>
  }
  @if (!isLoading) {
    <div
      class="results-container"
      [ngClass]="{
        invisible:
          !answersVisible ||
          !showCorrect ||
          content.correctNumber === undefined,
      }"
      fxLayout="column"
      fxLayoutAlign="start center"
    >
      <div
        class="correct-container"
        [ngClass]="{
          'border-container': !isPresentation,
          'column-container': isPresentation,
        }"
      >
        @if (isPresentation) {
          <mat-icon class="correct-icon">check_circle</mat-icon>
        }
        <span class="info-text">{{
          'answer.correct-answer-is' | transloco
        }}</span>
        <div
          class="correct-number-container"
          [ngClass]="{ 'relative-container': isPresentation }"
        >
          <b
            class="correct-number"
            [ngClass]="{ 'big-number': isPresentation }"
            >{{ content.correctNumber }}</b
          >
          @if (content.tolerance) {
            <span [ngClass]="{ 'tolerance-absolute': isPresentation }"
              >&plusmn;&nbsp;{{ content.tolerance }}</span
            >
          }
        </div>
      </div>
    </div>
  }
</div>
