<div fxLayout="row" fxLayoutGap="8px">
  <button
    id="readonly-button"
    mat-icon-button
    (click)="toggleReadonly()"
    matTooltip="{{
      'creator.comment-list.' +
        (readonly ? 'allow-creation' : 'dont-allow-creation') | transloco
    }}"
    appHotkey="5"
    appTrackInteraction="Comments readonly state toggled"
    appTrackName="{{ readonly ? 'off' : 'on' }}"
  >
    <mat-icon class="bar-icon">{{ readonly ? 'lock_open' : 'lock' }}</mat-icon>
  </button>

  <button
    id="more-button"
    mat-icon-button
    [matMenuTriggerFor]="moreMenu"
    matTooltip="{{ 'creator.comment-list.more-options' | transloco }}"
    appHotkey="6"
  >
    <mat-icon class="bar-icon">more_vert</mat-icon>
  </button>
</div>

<mat-menu #moreMenu="matMenu">
  <button mat-menu-item (click)="create()">
    <mat-icon color="primary">add_box</mat-icon>
    <span>{{ 'comment-list.add-comment' | transloco }}</span>
  </button>

  <mat-divider></mat-divider>

  @if (viewRole === 'OWNER') {
    <button mat-menu-item (click)="navToSettings()">
      <mat-icon class="settings-icon">settings</mat-icon>
      <span>{{ 'creator.comment-list.settings' | transloco }}</span>
    </button>
  }

  <lib-extension-point
    extensionId="add-archive"
    (extensionEvent)="resetComments()"
  ></lib-extension-point>

  <button
    [disabled]="comments.length === 0"
    mat-menu-item
    (click)="onExport()"
    appTrackInteraction="Comments exported"
  >
    <mat-icon class="settings-icon">save</mat-icon>
    <span>{{ 'creator.comment-list.export-comments' | transloco }}</span>
  </button>

  @if (viewRole === 'OWNER') {
    <button
      [disabled]="comments.length === 0"
      mat-menu-item
      (click)="openDeleteCommentsDialog()"
    >
      <mat-icon color="warn">delete_outline</mat-icon>
      <span>{{
        'creator.comment-list.delete-' +
          (isModeration ? 'banned' : 'all') +
          '-comments' | transloco
      }}</span>
    </button>
  }
</mat-menu>
