.container {
  width: calc(100vw - 30px);
  max-width: 800px;
  overflow: hidden;
}

.stepper-container {
  width: calc(100vw - calc(70px + 6%));
  max-width: calc(760px + 6%);
  overflow: hidden;
}

.stepper-navigation-bar {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.step-container {
  min-width: 50px;
  height: 50px;
  background-color: var(--background);
  cursor: pointer;
  margin: 0 calc(calc(100% - 250px) / 10);
  border-radius: 50%;
  -webkit-tap-highlight-color: transparent;
}

.step {
  min-width: 30px;
  height: 30px;
  font-size: 18px;
  background-color: var(--primary);
  color: var(--on-primary);
  outline: 0;
  border: 0;
  border-radius: 50%;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
}

.step.active {
  color: var(--on-secondary);
  background-color: var(--secondary);
}

.sent {
  background-color: var(--surface);
  color: var(--on-surface);
  transition: 1000ms;
}

.mat-icon-button {
  margin-top: 10px;
  align-self: center;
  width: calc(20px + 3%);
}

.arrow {
  transition: 500ms;
  color: var(--primary);
}

.disabled {
  opacity: 0.4;
}
