<div class="visually-hidden" [appAutofocus] tabIndex="-1">
  {{ 'survey.a11y-message' | a11yIntro | async }}
</div>
<div
  id="feedback-container"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxFill
>
  @if (isLoading) {
    <app-loading-indicator></app-loading-indicator>
  }
  @if (!isLoading) {
    <app-live-feedback
      id="live-feedback"
      [data]="data"
      [dataChanged]="dataChanged"
      [isClosed]="isClosed"
      [type]="type"
    ></app-live-feedback>
  }
  @if (showAnswerCount) {
    <div
      class="answer-count"
      [ngClass]="{ 'over-control-bar': controlBarVisible }"
    >
      <app-answer-count
        id="answer-count"
        tabindex="{{ !isClosed ? '0' : '-1' }}"
        [count]="answerCount"
        [size]="'presentation'"
      ></app-answer-count>
    </div>
  }
</div>
