@import '../../../variables';

@include xs {
  .header > * {
    font-size: $m-font-size;
  }
}

@include gt-xs {
  .header > * {
    font-size: $l-font-size;
  }
}

.room-short-id {
  flex-shrink: 0;
  opacity: 0.5;
}
