#comment {
  text-align: left;
  max-height: calc(100vh - 4vw - 70px);
  font-size: calc(18px + 1.5vw);
  margin: 5%;
  white-space: pre-line;
  hyphens: auto;
  overflow-wrap: anywhere !important;
  overflow: auto;
}

#comment p {
  margin-top: 1px;
  line-height: 1.4;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
.exitBtn {
  position: absolute;
  top: 2em;
  max-height: 100px;
  left: 2em;
}

