@import '../../../../variables';

.chart-container {
  height: 40vh;
  max-height: 500px;
  transition: all 300ms;
}

.mat-list-item {
  background-color: var(--background);
  margin-bottom: 10px;
  border-radius: 5px;
  align-items: center;
  color: var(--on-surface);
}

.all-animations {
  transition: 300ms;
}

.answer-label {
  font-size: 18px;
  font-weight: $font-weight-bold;
  margin-right: 12px;
}

.correct {
  background-color: var(--surface);
  box-shadow: 0 0 6px var(--green);
}

.invisible {
  height: 0;
  opacity: 0;
}

.no-background, .no-background > *:not(.answer-label) {
  transition: box-shadow 300ms;
  background: transparent;
  font-weight: $font-weight-bold;
}

.no-background .answer-label {
  margin: 0;
  min-width: 25px;
  max-height: 25px;
  line-height: 25px;
  padding: 6px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid var(--grey);
  transition: border-color 300ms;
}

.no-background.correct {
  .answer-label {
    border-color: transparent;
  }
}
