form {
  display: block;
  width: 100%;
  max-width: 800px;
  margin-bottom: 50px;
}

mat-hint {
  color: var(--on-surface) !important;
}

.mat-select-value-text {
  color: var(--on-surface);
  caret-color: var(--on-surface);
}
