<button
  mat-fab
  class="scroll-top"
  tabindex="-1"
  (click)="scrollTop()"
  [ngClass]="{
    visible: showScrollButton,
    'above-add': showAddButton,
    'no-nav-bar': !navBarExists,
  }"
>
  <mat-icon>arrow_upward</mat-icon>
</button>

<button
  mat-stroked-button
  color="primary"
  class="scroll-to-new-posts"
  (click)="loadAndScroll()"
  [ngClass]="{
    'scroll-to-new-posts-visible': showScrollToNewPostsButton,
    'above-bar': navBarExists,
  }"
>
  <mat-icon>arrow_upward</mat-icon>
  {{ 'comment-list.there-are-new-posts' | transloco }}
</button>

@if (showAddButton) {
  <button
    class="add-button mobile-add"
    mat-fab
    color="primary"
    (click)="create()"
    [ngClass]="{
      'mobile-add-above-nav': navBarExists,
      'mobile-add-hide': !onInit,
    }"
    [disabled]="addButtonDisabled"
    matTooltip="{{ 'comment-list.add-comment' | transloco }}"
  >
    <mat-icon>add</mat-icon>
  </button>
}
