@use '../../../variables' as *;

.less-bottom-space {
  padding-bottom: $spacing;
}

.template-card {
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: 0 0px 3px var(--grey);
  }

  &:active {
    opacity: 0.8;
  }
}

.template-name {
  font-size: 20px;
  font-weight: $font-weight-bold;
}

.chip-container {
  width: 100%;
  padding: 4px 0;
  overflow-x: hidden;
}

.chip-container::after {
  content: '';
  width: 100%;
  position: relative;
  background-image: linear-gradient(to right, transparent, var(--surface));
}

@include xs {
  .mat-mdc-standard-chip {
    --mdc-chip-label-text-size: 12px;
  }

  .template-name {
    font-size: initial;
  }

  .template-description {
    font-size: $s-font-size;
  }
}
