<mat-card
  fxLayout="column"
  fxLayoutAlign="space-between"
  tabindex="0"
  class="template-card primary-shadow-hover primary-shadow-focus"
  [ngClass]="{ 'less-bottom-space': template.published }"
  role="button"
  (click)="preview()"
>
  <div>
    <span class="template-name">{{ template.name }}</span>
    <p class="ellipsis template-description">
      {{ template.description }}
    </p>
  </div>
  <div fxLayout="column" fxLayoutGap="0.5em">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
      <app-content-group-info
        [groupType]="template.groupType"
        [contentCount]="template.templateIds.length"
        [countColor]="true"
      ></app-content-group-info>
      @if (template.published && template.license) {
        <app-template-license
          [ownerName]="template.attribution"
          [license]="template.license"
          [aiGenerated]="template.aiGenerated"
        ></app-template-license>
      }
    </div>
    @if (template.published) {
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-chip-set class="chip-container no-flex-flow">
          @for (tag of template.tags; track tag) {
            <mat-chip>
              {{ tag.name }}
            </mat-chip>
          }
        </mat-chip-set>
      </div>
    }
  </div>
</mat-card>
