@use '../../../variables' as *;

.slide-toggle-header {
  color: var(--on-surface);
  font-weight: var(
    --settings-slide-toggle-header-font-weight,
    $font-weight-bold
  );
  font-size: var(--settings-slide-toggle-font-size, $m-font-size);
}

.slide-toggle-description {
  font-size: var(--settings-slide-toggle-font-size, $m-font-size);
  color: var(--on-surface-light);
}

.disabled {
  opacity: 0.5;
}
