<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
  <mat-slide-toggle
    fxFill
    [(ngModel)]="isChecked"
    (change)="toggle($event)"
    [disabled]="disabled"
    labelPosition="before"
  >
    <div [ngClass]="{ disabled: disabled }" fxLayout="column" fxLayoutGap="6px">
      <div fxLayout="row" fxLayoutAlign="start center">
        <span class="slide-toggle-header">
          {{ label | transloco }}
        </span>
        <ng-content>
          <!-- Used by extensions -->
        </ng-content>
      </div>
      <span class="slide-toggle-description">
        {{ label + '-info' | transloco }}
      </span>
    </div>
  </mat-slide-toggle>
</div>
