.mat-card {
  width: 400px;
  padding: 2em;
}

.login {
  padding-left: 10px;
  margin-top: 1em;
  color: var(--secondary);
}

p {
  font-size: smaller;
  margin-bottom: 0;
}

.mat-checkbox {
  margin-bottom: 1em!important;
}
