<div fxLayout="column" fxLayoutAlign="center center" fxFill>
  <mat-card class="login-card" fxLayout="column" fxLayoutAlign="center center">
    <p tabindex="0">
      {{ 'register.info' | translate : { accountService: accountServiceTitle } }}
    </p>
    <form class="full-width" fxLayout="column"
          fxLayoutAlign="space-around" fxLayoutGap="10px">
      <mat-form-field class="input-block" appearance="outline">
        <mat-label>{{ 'login.email' | translate }}</mat-label>
        <input id="email-input"
               matInput type="email" #userName [formControl]="usernameFormControl"
               placeholder="{{ 'login.enter-email' | translate }}"
               [errorStateMatcher]="matcher" aria-labelledby="register-email-description"/>
        <mat-error *ngIf="usernameFormControl.hasError('email') && !usernameFormControl.hasError('required')">
          {{ 'login.email-invalid' | translate }}
        </mat-error>
        <mat-error *ngIf="usernameFormControl.hasError('required')">
          {{ 'login.email-required' |translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input-block" appearance="outline">
        <mat-label>{{ 'login.password' | translate }}</mat-label>
        <input matInput type="password" [type]="hidePw ? 'password' : 'text'" #userPassword [formControl]="passwordFormControl"
               [errorStateMatcher]="matcher"
               placeholder="{{ 'login.enter-password' | translate }}" aria-labelledby="register-password-description"
               autocomplete="new-password"/>
        <button mat-icon-button matSuffix (click)="hidePw = !hidePw" [matTooltip]="(hidePw ? 'register.show-password' : 'register.hide-password') | translate">
          <mat-icon>{{hidePw ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          {{ 'register.password-required' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-checkbox [(ngModel)]="acceptToS" name="accept">
        {{ 'register.accept' | translate }}<a href="{{linkOfToS}}" target="_blank">{{ 'register.terms' | translate }}</a>{{ 'register.accept-2' | translate }}
      </mat-checkbox>
      <div fxLayout="column" fxLayoutAlign="center center">
        <button class="button-primary login-button" mat-raised-button type="submit" (click)="register(userName.value, userPassword.value)"
                aria-labelledby="register-description">
          {{ 'register.register' | translate }}
        </button>
      </div>
      <div fxLayout="row" fxLayoutAlign="center">
        <p class="smaller-text">{{ 'register.already-registered' | translate }}</p>
        <a class="action-link after-text-link" [routerLink]="'/login'" aria-labelledby="register">
          {{ 'login.login' | translate }}</a>
      </div>
    </form>
  </mat-card>
</div>

<div class="visually-hidden">
  <div id="register-description">{{ 'register.a11y-register' | translate }}</div>
  <div id="register-email-description">{{ 'register.email-description' | translate }}</div>
  <div id="register-password-description">{{ 'register.password-description' | translate }}</div>
  <div id="register-password-description-repeat">{{ 'register.password-description-repeat' | translate }}</div>
</div>
