@import '../../../../variables';

$bar-height: 65px;
$mobile-bar-height: 50px;
$smaller-mobile-bar-height: 40px;
$small-mobile-bar-height: 35px;
$bar-margin: 10px;
$mobile-bar-margin: 8px;
$small-mobile-bar-margin: 5px;
$card-padding: min(4vw, 16px);
$bottom-bar-height: 62px;

.mat-card {
  width: 100%;
}

.label-icon, .icon-fixed-size {
  font-size: 40px;
  height: 40px;
  width: 40px;
  color: var(--on-surface);
  margin: 0 20px 0 4px!important;
}

.mat-raised-button {
  min-width: 120px;
  height: 36px;
}

.bottom-button {
  transition: 300ms;
  margin: 16px 0 8px 0;
}

.survey-container {
  position: relative;
}

.faded {
  opacity: 0.3;
}

.text {
  width: 320px;
  margin: -32px 0 0 -160px;
  text-align: center;
}

.invisible {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: scale(0);
  transition: 0.2s;
  opacity: 0;
}

.visible {
  transition: 0.2s;
  transform: scale(1);
  opacity: 1;
}

.answer-label {
  color: var(--on-surface);
  font-size: calc(24px + 0.5vw);
  font-weight: $font-weight-bold;
  margin: 0 30px 0 14px!important;
}

.answer {
  width: 100%;
  background-color: var(--primary)!important;
  cursor: pointer;
  outline: none;
}

.bar-fixed-size {
  height: $bar-height;
  margin: $bar-margin 0;
}

@media (min-width: 700px) {
  .answer-container {
    height: calc(100vh - ((#{$card-padding} * 2) + (#{$bar-height} * 4) + (#{$bar-margin} * 8)));
  }

  .bar {
    height: $bar-height;
    margin: $bar-margin 0;
  }
}

@media (max-width: 1000px) {
  .answer-container {
    height: calc(100vh - calc(((#{$card-padding} * 2) + (#{$bar-height} * 4) + (#{$bar-margin} * 8) + #{$bottom-bar-height}) + calc(64px + 8vw) + 36px));
  }
}

@media (max-width: 700px) {
  .answer-container {
    height: calc(100vh - calc(((#{$card-padding} * 2) + (#{$mobile-bar-height} * 4) + (#{$mobile-bar-margin} * 8) + #{$bottom-bar-height}) + calc(56px + 8vw) + 36px));
  }

  .bar, .bar-fixed-size {
    height: $mobile-bar-height;
    margin: $mobile-bar-margin 0;
  }
}

@media (max-height: 680px) {
  .answer-container {
    height: calc(100vh - calc(((#{$card-padding} * 2) + (#{$smaller-mobile-bar-height} * 4) + (#{$small-mobile-bar-margin} * 8) + #{$bottom-bar-height}) + calc(56px + 8vw) + 36px));
  }

  .bar {
    height: $smaller-mobile-bar-height;
    margin: $small-mobile-bar-margin 0;
  }

  .label-icon {
    font-size: $smaller-mobile-bar-height;
    height: $smaller-mobile-bar-height;
    width: $smaller-mobile-bar-height;
  }

  .button-label-icon {
    font-size: $smaller-mobile-bar-height!important;
    height: $smaller-mobile-bar-height!important;
    width: $smaller-mobile-bar-height!important;
  }
}

@media (max-height: 600px) {
  .answer-container {
    height: calc(100vh - calc(((#{$card-padding} * 2) + (#{$small-mobile-bar-height} * 4) + (#{$small-mobile-bar-margin} * 8) + #{$bottom-bar-height}) + calc(56px + 8vw) + 36px));
  }

  .bar {
    height: $small-mobile-bar-height;
    margin: $small-mobile-bar-margin 0;
  }

  .label-icon {
    font-size: $small-mobile-bar-height;
    height: $small-mobile-bar-height;
    width: $small-mobile-bar-height;
  }

  .button-label-icon {
    font-size: $small-mobile-bar-height!important;
    height: $small-mobile-bar-height!important;
    width: $small-mobile-bar-height!important;
  }

  .card-row {
    min-height: 50px!important;
  }
}

.answer-container {
  max-height: 400px;
  transition: 600ms;
}

.answer-button-label {
  color: var(--on-primary);
  font-size: 28px;
}

.button-label-icon {
  font-size: 40px;
  height: 40px;
  width: 40px;
  color: var(--on-primary);
}

.card-row {
  height: 50%;
  min-height: 80px;
  width: 100%;
  max-width: 832px;
  margin-top: $card-padding;
  .mat-card:first-child {
    margin-right: $card-padding;
  }
}

.button-container {
  transition: 300ms ease-out;
}

.invisible-button {
  position: relative;
  width: 0;
  margin: 0!important;
  left: 100px;
  opacity: 0;
  overflow: hidden;
}

.visible-button {
  position: relative;
  left: 0;
  top: 0;
  opacity: 1;
  width: auto;
  overflow: auto;
  margin-right: 10px!important;
}

.full-height {
  height: calc(100vh - 8vw);
}
