.notification-container {
  z-index: 3;
  padding: 0.5em 1em;
  border-radius: 10px;
  border: 2px solid var(--warn);
  position: fixed;
  left: calc(50vw - 100px);
  bottom: 1em;
  transition: bottom 300ms;
  opacity: 0.7;
}

.expanded {
  bottom: 90px;
}

.hidden {
  bottom: -50px;
}

.notification {
  margin: 0;
}
