@import '../../../variables';

.trigger-text {
  margin-top: 2px;
  font-size: var(--mdc-text-button-label-text-size);
}

.state-option {
  padding: 0.25em 1em;
}

.state-name {
  font-weight: $font-weight-bold;
  font-size: $m-font-size;
}

.state-description {
  font-size: $s-font-size;
}

.content-count {
  font-size: $xs-font-size;
  opacity: 0.7;
}

.import-btn-mobile {
  background-color: var(--surface);
  color: var(--on-surface);
  position: fixed;
  z-index: 3;
  right: 4vw;

  // 2 x padding (8vw) + fab height (56px) + nav bar height (56px)
  bottom: calc(8vw + 112px);
}

.action-icon {
  opacity: 0.7;
}

.mat-mdc-progress-bar {
  height: 8px;
}

.percent {
  line-break: strict;
  white-space: nowrap;
}

.progress-container {
  margin-top: -$spacing;
  margin-bottom: $spacing !important;
}

.live-mode-hint {
  cursor: pointer;
  color: var(--play);
}

@include xs {
  .live-mode-hint {
    font-size: $xs-font-size;

    mat-icon {
      font-size: $xs-font-size;
      width: $xs-font-size;
      height: $xs-font-size;
    }
  }
}

@include gt-xs {
  .live-mode-hint {
    font-size: $s-font-size;

    mat-icon {
      font-size: $s-font-size;
      width: $s-font-size;
      height: $s-font-size;
    }
  }
}
