@if (isLoading) {
  <app-loading-indicator></app-loading-indicator>
}
@if (!isLoading) {
  <app-base-card>
    <div fxLayout="column" fxLayoutGap="12px" fxFill>
      <div fxLayout="column" fxLayoutGap="16px">
        <div
          fxLayout="row wrap"
          fxLayoutAlign="space-between"
          fxLayoutGap="16px"
        >
          <div fxLayout="column" fxLayoutGap="8px">
            <span>{{ contentGroup.name }}</span>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
              <app-content-group-info
                [groupType]="contentGroup.groupType"
                [contentCount]="
                  contentGroup.contentIds ? contentGroup.contentIds.length : 0
                "
                [published]="contentGroup.published"
              ></app-content-group-info>
              @if (isLiveMode()) {
                <div
                  fxLayout="row"
                  fxLayoutGap="4px"
                  class="live-mode-hint"
                  type="button"
                  (click)="openSettings()"
                >
                  <mat-icon>play_circle</mat-icon>
                  <span>{{ 'creator.content.live-mode' | transloco }}</span>
                </div>
              }
            </div>
            <mat-menu #groupSettings="matMenu">
              <button mat-menu-item [matMenuTriggerFor]="importExportMenu">
                <mat-icon>download</mat-icon>
                {{ 'creator.content.export-content-group' | transloco }}
              </button>
              <mat-menu #importExportMenu="matMenu">
                <button
                  mat-menu-item
                  (click)="exportToCsv()"
                  [disabled]="contents.length === 0"
                >
                  {{ 'creator.export.export-series' | transloco }}
                </button>
                <lib-extension-point
                  extensionId="series-results-export"
                  [extensionData]="{
                    series: contentGroup,
                    shortId: room.shortId,
                  }"
                ></lib-extension-point>
              </mat-menu>
              <div
                [matTooltip]="
                  'creator.content.publishing-template-not-possible' | transloco
                "
                [matTooltipDisabled]="!isGuest"
                matTooltipPosition="before"
              >
                <button
                  *appFeatureFlag="'CONTENT_GROUP_TEMPLATES'"
                  mat-menu-item
                  id="publish-as-template"
                  (click)="publishAsTemplate()"
                  [disabled]="contents.length < 1 || isGuest"
                  appTrackInteraction="Publish as template dialog opened"
                >
                  <mat-icon>public</mat-icon>
                  {{ 'creator.content.publish-as-template' | transloco }}
                </button>
              </div>
              <mat-divider></mat-divider>
              @if (contentGroup.groupType !== GroupType.FLASHCARDS) {
                <button
                  mat-menu-item
                  (click)="deleteAllAnswers()"
                  [disabled]="contents.length === 0"
                >
                  <mat-icon>clear_all</mat-icon>
                  <span>{{
                    'creator.content.reset-group-results' | transloco
                  }}</span>
                </button>
              }
              <button
                mat-menu-item
                (click)="deleteGroup()"
                [disabled]="isModerator()"
              >
                <mat-icon color="warn">delete_forever</mat-icon>
                {{ 'creator.content.delete-content-group' | transloco }}
              </button>
            </mat-menu>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign.xs="center" fxLayoutGap="8px">
            <div fxLayout="row" fxLayoutGap="8px">
              @if (contentGroup.groupType === GroupType.QUIZ) {
                <button
                  mat-icon-button
                  [disabled]="!contentGroup.leaderboardEnabled"
                  [matTooltip]="'content.leaderboard' | transloco"
                  [routerLink]="'leaderboard'"
                  data-testid="leaderboard-btn"
                >
                  <mat-icon class="action-icon">emoji_events</mat-icon>
                </button>
              }
              <button
                mat-icon-button
                (click)="openSettings()"
                [matTooltip]="'creator.content.group-settings' | transloco"
                data-testid="content-group-settings"
              >
                <mat-icon class="action-icon">settings</mat-icon>
              </button>
              <button
                mat-icon-button
                [matMenuTriggerFor]="groupSettings"
                [matTooltip]="'creator.content.more-options' | transloco"
                data-testid="group-more-menu"
              >
                <mat-icon class="action-icon">more_vert</mat-icon>
              </button>
              <mat-menu #groupSettings="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="exportMenu">
                  <mat-icon>download</mat-icon>
                  {{ 'creator.content.export-content-group' | transloco }}
                </button>
                <mat-menu #exportMenu="matMenu">
                  <button
                    mat-menu-item
                    (click)="exportToCsv()"
                    [disabled]="contents.length === 0"
                  >
                    {{ 'creator.export.export-series' | transloco }}
                  </button>
                  <lib-extension-point
                    extensionId="series-results-export"
                    [extensionData]="{
                      series: contentGroup,
                      shortId: room.shortId,
                    }"
                  ></lib-extension-point>
                </mat-menu>
                <div
                  [matTooltip]="
                    'creator.content.publishing-template-not-possible'
                      | transloco
                  "
                  [matTooltipDisabled]="!isGuest"
                  matTooltipPosition="before"
                >
                  <button
                    *appFeatureFlag="'CONTENT_GROUP_TEMPLATES'"
                    mat-menu-item
                    id="publish-as-template"
                    (click)="publishAsTemplate()"
                    [disabled]="contents.length < 1 || isGuest"
                    appTrackInteraction="Publish as template dialog opened"
                  >
                    <mat-icon>public</mat-icon>
                    {{ 'creator.content.publish-as-template' | transloco }}
                  </button>
                </div>
                <mat-divider></mat-divider>
                @if (contentGroup.groupType !== GroupType.FLASHCARDS) {
                  <button
                    mat-menu-item
                    (click)="deleteAllAnswers()"
                    [disabled]="contents.length === 0"
                  >
                    <mat-icon>clear_all</mat-icon>
                    <span>{{
                      'creator.content.delete-answers' | transloco
                    }}</span>
                  </button>
                }
                <button mat-menu-item (click)="deleteGroup()">
                  <mat-icon color="warn">delete_forever</mat-icon>
                  {{ 'creator.content.delete-content-group' | transloco }}
                </button>
              </mat-menu>
            </div>
          </div>
        </div>
        @if (!isLoading && totalCorrect) {
          <div
            fxLayout="row"
            fxLayoutGap="16px"
            fxLayoutAlign="center center"
            class="progress-container"
            [matTooltip]="
              'creator.content.group-progress-info'
                | transloco
                  : {
                      percent: totalCorrect,
                      abstentions: totalAbstentions,
                    }
            "
          >
            <mat-progress-bar
              mode="determinate"
              value="{{ totalCorrect }}"
              class="custom-height progress-background"
              [class]="'progress-' + getProgressColor()"
            ></mat-progress-bar>
            <span class="percent">{{ totalCorrect + ' %' }}</span>
          </div>
        }
        <div fxLayout="column" fxLayoutGap="12px">
          <div fxLayout="row" fxLayoutGap="10px">
            <button
              fxHide.xs
              mat-raised-button
              id="content-create-button"
              color="primary"
              [routerLink]="'create'"
              appHotkey="1"
              [appHotkeyTitle]="'creator.room-page.create-content' | transloco"
            >
              <mat-icon>add</mat-icon>
              {{ 'creator.room-page.create-content' | transloco }}
            </button>
            <button
              fxHide.gt-xs
              mat-fab
              color="primary"
              id="content-create-button-mobile"
              class="mobile-add"
              [ngClass]="{
                'mobile-add-above-nav': true,
                'mobile-add-hide': !onInit,
              }"
              [routerLink]="'create'"
              [matTooltip]="'creator.room-page.create-content' | transloco"
            >
              <mat-icon>add</mat-icon>
            </button>
            <button
              fxHide.xs
              mat-button
              (click)="importFromCsv()"
              appTrackInteraction="File dialog for CSV import opened"
            >
              <mat-icon>file_upload</mat-icon>
              <span>{{ 'creator.import.import-contents' | transloco }}</span>
            </button>
            <button
              fxHide.gt-xs
              mat-fab
              id="import-contents-button-mobile"
              class="import-btn-mobile"
              (click)="importFromCsv()"
              [matTooltip]="'creator.import.import-contents' | transloco"
            >
              <mat-icon>file_upload</mat-icon>
            </button>
          </div>
          @if (!contentGroup.published) {
            <div
              fxLayout="column"
              fxLayoutGap="16px"
              fxLayoutAlign="center center"
            >
              <span class="hint-sm">{{
                'creator.content.group-is-hidden-for-participants' | transloco
              }}</span>
              <button
                mat-stroked-button
                color="primary"
                (click)="publishContentGroup()"
              >
                <mat-icon>lock_open</mat-icon
                >{{ 'creator.content.publish-content-group' | transloco }}
              </button>
            </div>
          }
          <app-content-list
            [room]="room"
            [contentGroup]="contentGroup"
            [contents]="contents"
            [contentGroupStats]="contentGroupStats"
            [isModerator]="isModerator()"
            [attributionsExist]="attributionsExist"
            [contentStats]="contentStats"
            (hasStartedContentChanged)="handleActiveContentChanged($event)"
          ></app-content-list>
        </div>
      </div>
    </div>
  </app-base-card>
}
