#contentGroup {
  box-shadow: none;
  border: 1px solid var(--grey);
  transition: all 150ms;
  margin-top: 10px;
  padding: 0 16px;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 3px var(--primary);
  }
}

.container {
  width: 100%;
}

.locked {
  opacity: 0.5;
}

.badge {
  margin: 0 5px 0 10px;
}
