#contentGroup {
  background-color: var(--background) !important;
  overflow: hidden;
  position: relative;
  top: 0;
  text-align: center;
  transition: all 0.2s;
  margin-top: 10px;
  max-height: 50px;
  padding: 5px;

  &:hover {
    cursor: pointer;
    transform: scaleX(1.001);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
}

mat-icon {
  margin-top: 20px;
}

mat-card-title {
  margin-top: 18px;
  color: var(--on-background);
}
