<div fxLayout="column" fxLayoutAlign="center center" fxFill>
  <mat-card class="login-card" fxLayout="column" fxLayoutAlign="center center">
    <app-form-header
      [text]="
        'register.info' | transloco: { accountService: accountServiceTitle() }
      "
    ></app-form-header>
    <form
      class="full-width"
      fxLayout="column"
      fxLayoutAlign="space-around"
      fxLayoutGap="10px"
    >
      <mat-form-field class="input-block" appearance="outline">
        <mat-label>{{ 'login.email' | transloco }}</mat-label>
        <input
          id="email-input"
          matInput
          type="email"
          #userName
          [appAutofocus]
          [formControl]="usernameFormControl"
          [errorStateMatcher]="matcher"
          (blur)="activateValidators()"
        />
        @if (
          usernameFormControl.hasError('email') &&
          !usernameFormControl.hasError('required')
        ) {
          <mat-error>
            {{ 'login.email-invalid' | transloco }}
          </mat-error>
        }
        @if (usernameFormControl.hasError('required')) {
          <mat-error>
            {{ 'login.email-required' | transloco }}
          </mat-error>
        }
      </mat-form-field>

      <app-password-entry
        [checkStrength]="true"
        [isNew]="true"
      ></app-password-entry>

      <div>
        <mat-checkbox
          [(ngModel)]="acceptTos"
          [disabled]="formDisabled"
          name="accept"
          class="tos-checkbox"
        >
          {{ 'register.accept' | transloco
          }}<a href="{{ linkOfTos() }}" target="_blank">{{
            'register.terms' | transloco
          }}</a
          >{{ 'register.accept-2' | transloco }}
        </mat-checkbox>
      </div>
      <app-loading-button
        name="register.register"
        [fullWidth]="true"
        (clicked)="register(userName.value)"
      ></app-loading-button>
      <div fxLayout="row" fxLayoutAlign="center center" class="link-container">
        <span class="smaller-text">
          {{ 'register.already-registered' | transloco }}
        </span>
        <button mat-button color="accent" [routerLink]="'/login'">
          {{ 'login.login' | transloco }}
        </button>
      </div>
    </form>
  </mat-card>
</div>
