<div fxLayout="column" fxLayoutGap="20px" fxFill>
  <div fxLayout="row" fxLayoutAlign="center">
    <button id="live-announcer-button" tabIndex="-1" (click)="announce()"
            class="visually-hidden">{{ 'room-page.a11y-room-message' | translate: {name: room.name} }}</button>
    <app-loading-indicator *ngIf="isLoading"></app-loading-indicator>
    <mat-card *ngIf=" !isLoading && room">
      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <div class="header">
            <span class="room-name">
              {{ room.name }}
            </span>
            <span class="room-short-id">
               {{room.shortId}}
            </span>
          </div>
          <button mat-icon-button class="corner-buttons" *ngIf="role !== ''" (click)="switchRole()"
                  aria-labelledby="switch-role">
            <mat-icon class="corner-icon icon-secondary" matTooltip="{{ 'room-page.switch-role' | translate}}">{{roleIconString}}
            </mat-icon>
          </button>
          <span *ngIf="role === ''"></span>
        </div>
        <div *ngIf="room.description" fxLayoutAlign="center">
          <app-rendered-text [rawText]="room.description.trim()" [renderedText]="room.renderedDescription"></app-rendered-text>
        </div>
      </mat-card-content>
      <div fxLayout="column" fxLayoutAlign="center">
        <div class="action-button-container" fxLayout="row" fxLayoutAlign="center">
          <div class="action-button-item" fxLayoutAlign="center center">
            <button id="comments-button" mat-icon-button class="main-button" [disableRipple]="true"
                    routerLink="/participant/room/{{ room.shortId }}/comments" aria-labelledby="comments">
              <mat-icon matBadge="{{commentCounter}}" class="main-icon">
                question_answer
              </mat-icon>
              <p class="button-text">
                {{ 'room-page.comments' | translate}}</p>
            </button>
          </div>
          <div *ngIf="surveyEnabled" class="action-button-item" fxLayoutAlign="center center">
            <button mat-icon-button class="main-button" id="live-survey-button" aria-labelledby="live-survey"
                    [disableRipple]="true" routerLink="/participant/room/{{ room.shortId }}/survey">
              <mat-icon class="main-icon">
                thumbs_up_down
              </mat-icon>
              <p class="button-text">
                {{ 'room-page.live-survey' | translate}}</p>
            </button>
          </div>
        </div>
      </div>
      <p tabindex="-1" id="live-survey-disabled" class="visually-hidden">
        {{ 'room-page.a11y-live-survey-disabled' | translate }}</p>
      <div *ngIf="room && contentGroups">
        <p tabindex="-1" id="content-groups" class="visually-hidden">
          {{ 'room-page.a11y-content-groups' | translate: {count: contentGroups.length} }}</p>
        <app-content-groups *ngFor="let contentGroup of contentGroups" [contentGroupName]="contentGroup.name"
                            [length]="calcContentsInGroup(contentGroup)" [isLoose]="false"></app-content-groups>
        <p tabindex="-1" id="no-content-groups" class="visually-hidden">
          {{ 'room-page.a11y-no-content-groups' | translate }}</p>
      </div>

      <lib-extension-point extensionId="attachment-list" [extensionData]="attachmentData">
      </lib-extension-point>

    </mat-card>
  </div>
</div>

<div class="visually-hidden">
  <div id="comments">{{'room-page.a11y-comments' | translate}}</div>
  <div id="live-survey">{{'room-page.a11y-live-survey' | translate}}</div>
  <div id="statistics">{{'room-page.a11y-statistics' | translate}}</div>
  <div id="switch-role">{{'room-page.a11y-switch-role' | translate}}</div>
</div>
