mat-card {
  width: 100%;
  min-height: 350px;
}

mat-card-content > :first-child {
  margin-top: 5%;
}

.mat-icon-button {
  width: 60%;
  height: 75%;
  margin-bottom: 3%;
  color: var(--primary) !important;
}

.main-icon {
  font-size: 80px;
  height: 80px;
  width: 80px;
}

.desktop {
  font-size: 70px;
  height: 70px;
  width: 70px;
}

button {
  width: 30%;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.2)
  }
}

h3 {
  margin: 5% 0 5% 0;
}

mat-card-header {
  min-height: 80px !important;
  height: 12% !important;
  margin-bottom: 10%;
}

mat-card-title {
  height: 40%;
  min-height: 100px;
  min-width: 200px;
}

mat-card-subtitle {
  height: 20%;
}

mat-expansion-panel {
  background-color: var(--surface) !important;
  min-width: 200px;
  hyphens: auto;
}

mat-grid-list {
  margin-bottom: 5%;
}

mat-grid-tile {
  height: 100% !important;
  width: 45% !important;
  padding: 2% !important;
}

.corner-icons {
  width: 10%;
  max-width: 40px;
}

#stat-icon {
  font-size: 35px;
  height: 35px;
  width: 35px;
}

.gavel {
  margin: 5% 2% 0 0;
  color: var(--on-surface);
}
