mat-card {
  width: 100%;
  min-height: 300px;
}

mat-card-content > :first-child {
  margin-top: 5%;
}

.mat-icon-button {
  width: 60%;
  height: 75%;
  margin-bottom: 3%;
  color: var(--primary) !important;
}

.main-icon {
  font-size: 70px;
  height: 70px;
  width: 70px;
}

.desktop {
  font-size: 80px;
  height: 80px;
  width: 80px;
}

button {
  width: 30%;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.1)
  }
}

mat-card-header {
  margin: 5% 0;
}

mat-card-title {
  word-break: break-all;
  font-size: calc(16px + 1vw) !important;
}

mat-card-subtitle {
  margin: 0;
}

.room-short-id {
  font-size: calc(16px + 0.5vw);
  color: var(--on-surface);
  margin-top: 4.5%;
  white-space: nowrap;
}

mat-grid-list {
  margin-bottom: 5%;
}

mat-grid-tile {
  height: 100% !important;
  width: 45% !important;
  padding: 2% !important;
}

.corner-icons {
  width: 10%;
  max-width: 40px;
}

#stat-icon {
  font-size: 35px;
  height: 35px;
  width: 35px;
}

.gavel {
  margin: 5% 2% 0 0;
  color: var(--on-surface);
}
