<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
  <mat-card>
    <div fxLayout="row">
      <div class="cardTitle">
        <h2 *ngIf="!isTitleEdit" [style.fontSize.px]=10>{{ collectionName }}</h2>
        <mat-form-field class="mat-focused" [ngClass]="{'activeInput': isTitleEdit, 'inactiveInput': !isTitleEdit}">
          <input #nameInput matInput maxlength="25" [(ngModel)]="updatedName">
        </mat-form-field>
      </div>
      <span class="fill-remaining-space"></span>
      <div *ngIf="allowEditing">
        <button *ngIf="!isTitleEdit" mat-icon-button class="editButtons" (click)="goInEditMode()"
                matTooltip="{{ 'content.edit-content-group' | translate}}">
          <mat-icon>edit</mat-icon>
        </button>
        <button *ngIf="isTitleEdit" mat-icon-button class="editButtons" (click)="leaveEditMode()"
                matTooltip="{{ 'content.abort' | translate}}">
          <mat-icon>clear</mat-icon>
        </button>
        <button *ngIf="isTitleEdit" mat-icon-button class="editButtons" (click)="saveGroupName()"
                matTooltip="{{ 'content.save-content-group' | translate}}">
          <mat-icon>done</mat-icon>
        </button>
      </div>
    </div>
    <mat-grid-list cols="3" rowHeight="1:1" *ngIf="!isLoading">
      <mat-grid-tile>
        <button class="actionButton" mat-icon-button
                routerLink="/creator/room/{{ room.shortId }}/create-content">
          <mat-icon class="actionIcon">note_add</mat-icon>
          <h3 *ngIf="deviceType === 'desktop'">{{ 'room-page.create-content' | translate}}</h3>
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button class="actionButton" mat-icon-button
                routerLink="/creator/room/{{ room.shortId }}/{{ contentGroup.name }}/presentation">
          <mat-icon class="actionIcon">school</mat-icon>
          <h3 *ngIf="deviceType === 'desktop'">{{ 'room-page.present' | translate}}</h3>
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button class="actionButton" mat-icon-button
                routerLink="/creator/room/{{ room.shortId }}/statistics">
          <mat-icon class="actionIcon">insert_chart</mat-icon>
          <h3 *ngIf="deviceType === 'desktop'">{{ 'room-page.answer-statistics' | translate}}</h3>
        </button>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center">
        <div fxLayout="row" fxLayoutAlign="center">
          <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
        </div>
      </div>
      <mat-expansion-panel *ngFor="let content of contents; index as i" class="matPanel">
        <mat-expansion-panel-header class="matPanelListHeader">
          <mat-panel-title class="panelTitle">
            {{ labels[i] }}
          </mat-panel-title>
          <button mat-icon-button color="accent" (click)="editContent(content);$event.stopPropagation();"
                  class="editButton" matTooltip="{{ 'content.edit-content' | translate}}">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="accent" [matMenuTriggerFor]="chooseGroups" (click)="$event.stopPropagation() "
                  class="editButton" class="editButton" matTooltip="{{ 'content.add-content-to-group' | translate}}">
            <mat-icon>library_add</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteContent(content);$event.stopPropagation();"
                  class="deleteButton editButton" matTooltip="{{ 'content.delete-content' | translate}}">
            <mat-icon>delete_forever</mat-icon>
          </button>

          <mat-menu #chooseGroups="matMenu" xPosition="before">
            <button mat-menu-item *ngFor="let cg of contentGroups" (click)="addToContentGroup(content.id, cg.name)">
              <span>{{ cg.name }}</span>
            </button>
          </mat-menu>

        </mat-expansion-panel-header>
        <mat-panel-description class="panelTitle">
          {{ content.body }}
        </mat-panel-description>
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>
</div>
