mat-card {
  width: 100%;
  max-width: 800px;
  background-color: var(--surface)!important;
}

mat-card-content > :first-child {
  margin-top: 15px;
}

mat-expansion-panel {
  background-color: var(--primary-variant);
  margin-bottom: 5px;
  hyphens: auto;
}

mat-panel-title {
  flex-basis: 0;
  align-items: center;
  font-size: medium;
  margin-right: 5px;
  color: var(--on-primary)!important;
}

mat-expansion-panel-header {
  background-color: var(--secondary) !important;
  padding-left: 3%;
  padding-right: 3%;
}

.matPanel {
  background-color: var(--secondary);
  margin-bottom: 5px;
  color: var(--on-secondary);
}

.panelTitle {
  width: 8% !important;
  color: var(--on-primary) !important;
}

h2 {
  font-size: larger;
}

.actionButton {
  width: 75%;
  height: 75%;
  margin: 5px;
  transition: all 0.5s;
  color: var(--primary)!important;

  &:hover {
    transform: scale(1.25)
  }
}

.editButton {
  width: 15%;
  max-width: 60px;
  color: var(--on-primary)
}

.deleteButton {
  margin-right: 4%;
  color: var(--red)
}

mat-tooltip-component {
  position: relative;
}

.actionIcon {
  font-size: 50px;
  height: 50px;
  width: 50px;
  line-height: 100%!important;
}

mat-progress-spinner {
  margin-top: 10px;
}

#editGroup {
  margin-top: 15px;
}
