<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
  <mat-card>
    <div fxLayout="row">
      <div class="cardTitle">
        <h2 *ngIf="!isTitleEdit">{{ collectionName }}</h2>
        <mat-form-field class="mat-focused" [ngClass]="{'activeInput': isTitleEdit, 'inactiveInput': !isTitleEdit}">
          <input #nameInput matInput [(ngModel)]="updatedName">
        </mat-form-field>
      </div>
      <span class="fill-remaining-space"></span>
      <div>
        <button *ngIf="!isTitleEdit" mat-icon-button class="editButtons" (click)="goInEditMode()">
          <mat-icon>edit</mat-icon>
        </button>
        <button *ngIf="isTitleEdit" mat-icon-button class="editButtons" (click)="leaveEditMode()">
          <mat-icon>clear</mat-icon>
        </button>
        <button *ngIf="isTitleEdit" mat-icon-button class="editButtons" (click)="saveGroupName()">
          <mat-icon>done</mat-icon>
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-grid-list cols="3" rowHeight="1:1" *ngIf="!isLoading">
      <mat-grid-tile>
        <button class="actionButton" mat-icon-button
                routerLink="/creator/room/{{ room.shortId }}/create-content">
          <mat-icon class="actionIcon">note_add</mat-icon>
          <h3 *ngIf="deviceType === 'desktop'">{{ 'room-page.create-content' | translate}}</h3>
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button class="actionButton" mat-icon-button
                routerLink="/creator/room/{{ room.shortId }}//presentation">
          <mat-icon class="actionIcon">school</mat-icon>
          <h3 *ngIf="deviceType === 'desktop'">{{ 'room-page.present' | translate}}</h3>
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button class="actionButton" mat-icon-button
                routerLink="/creator/room/{{ room.shortId }}/statistics">
          <mat-icon class="actionIcon">insert_chart</mat-icon>
          <h3 *ngIf="deviceType === 'desktop'">{{ 'room-page.answer-statistics' | translate}}</h3>
        </button>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center">
        <div fxLayout="row" fxLayoutAlign="center">
          <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
        </div>
      </div>
      <mat-expansion-panel *ngFor="let content of contents; index as i" class="matPanel">
        <mat-expansion-panel-header class="matPanelListHeader">
          <mat-panel-title class="panelTitle">
            {{ labels[i] }}
          </mat-panel-title>
          <button mat-icon-button color="accent" (click)="editContent(content);$event.stopPropagation();"
                  class="editButton">
            <mat-icon>create</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteContent(content);$event.stopPropagation();"
                  class="deleteButton editButton">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </mat-expansion-panel-header>
        <mat-panel-description class="panelTitle">
          {{ content.body }}
        </mat-panel-description>
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>
</div>
