mat-card-content > :first-child {
  margin-top: 15px;
}

mat-expansion-panel {
  background-color: var(--secondary-variant);
  margin-bottom: 5px;
  hyphens: auto;
}

mat-panel-title {
  flex-basis: 0;
  align-items: center;
  font-size: medium;
  margin-right: 5px;
}

mat-expansion-panel-header {
  background-color: var(--table-a);
  padding-left: 3%;
  padding-right: 3%;
}

.matPanel {
  background-color: var(--table-a);
  margin-bottom: 5px;
  color: var(--on-surface);
}

.panelTitle {
  width: 8% !important;
  color: var(----on-surface);
}

.actionButton {
  width: 75%;
  height: 75%;
  margin: 5px;
  transition: all 0.5s;
  color: var(--primary) !important;

  &:hover {
    transform: scale(1.25)
  }
}

.editButton {
  width: 15%;
  max-width: 60px;
  color: var(--primary)
}

.deleteButton {
  margin-right: 4%;
  color: var(--warn)
}

mat-tooltip-component {
  position: relative;
}

.actionIcon {
  font-size: 50px;
  height: 50px;
  width: 50px;
}

mat-progress-spinner {
  margin-top: 10px;
}

.editButtons {
  margin-top: 15px;
}

.cardTitle {
  margin-left: 2%;
  width: 70%;
  height: 70px;
}

.activeInput {
  width: 100%;
  font-size: larger;
}

.inactiveInput {
  width: 0;
}
