@import '../../../../variables';

$chart-size: 100px;

.canvas-container {
  width: $chart-size;
  height: $chart-size / 2;
  position: relative;
}

.text-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

@mixin text-base {
  opacity: 0.8;
}

.data-text {
  @include text-base;

  font-weight: $font-weight-bold;
  font-size: $l-font-size;
}

.info-text {
  @include text-base;

  font-size: $s-font-size;
}

@include xs {
  .canvas-container {
    width: calc($chart-size * 0.8);
    height: calc($chart-size * 0.8 / 2);
  }

  .data-text {
    font-size: $s-font-size;
  }
}
