table {
  border-spacing: 0;
}

td {
  vertical-align: top;
  border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);

  &:first-child {
    padding-right: 10px;
  }
}

tr:first-child > td {
  border-top: 0;
}

tr:last-child > td {
  border-top: 0;
}
