<div fxLayout="column" fxLayoutGap="10px">
  <div>
    @if (displayAnswers.length > 0) {
      <app-divider></app-divider>
    }
    <app-answer-option-list
      [answers]="displayAnswers"
      [hasCorrectAnswers]="false"
      [hasMultipleCorrectAnswers]="false"
      [allowDeletion]="!isEditMode || !isAnswered"
      [disabled]="formDisabled"
      [sortable]="true"
    ></app-answer-option-list>
  </div>
  @if (!isEditMode || !isAnswered) {
    <app-create-answer-option
      [answers]="displayAnswers"
    ></app-create-answer-option>
  }
</div>
