<mat-menu #moreMenu="matMenu">
  <ng-container>
    @if (content && editingEnabled) {
      <button
        mat-menu-item
        (click)="editContent()"
        attr.aria-label="{{ 'creator.content.a11y-edit-content' | transloco }}"
      >
        <mat-icon>edit</mat-icon>
        <span> {{ 'creator.content.edit-content' | transloco }}</span>
      </button>
    }
    @if (content && hasFormatAnswer(content.format) && editingEnabled) {
      <mat-divider></mat-divider>
    }
    @if (content && hasFormatAnswer(content.format)) {
      <button
        mat-menu-item
        (click)="deleteContentAnswers()"
        attr.aria-label="{{
          'creator.content.a11y-delete-answers' | transloco
        }}"
      >
        <mat-icon>clear_all</mat-icon>
        <span>{{ 'creator.content.delete-answers' | transloco }}</span>
      </button>
    }
    @if (settingsEnabled) {
      <button mat-menu-item [routerLink]="'/account/preferences'">
        <mat-icon>settings_suggest</mat-icon>
        <span>{{ 'creator.content.preferences' | transloco }}</span>
      </button>
    }
    @if (content && hasFormatRounds(content.format)) {
      <button
        [disabled]="!multipleRounds"
        mat-menu-item
        [matMenuTriggerFor]="roundMenu"
        [attr.aria-label]="
          'content.round' +
            ((this.contentRounds.get(content.id) || 0) > 1 ? 's-' : '-') +
            'displayed'
            | transloco
              : {
                  rounds: rounds[this.contentRounds.get(content.id) || 0],
                }
        "
      >
        <mat-icon>tune</mat-icon>
        {{ 'content.round' | transloco }}&nbsp;{{
          rounds[this.contentRounds.get(content.id) || 0]
        }}
      </button>
      <mat-menu #roundMenu>
        @for (roundItem of rounds; track roundItem; let i = $index) {
          <button mat-menu-item (click)="changeRound(i)">
            <span
              [ngClass]="{
                'selected-menu-item': this.contentRounds.get(content.id) === i,
              }"
            >
              {{ 'content.round' | transloco }}&nbsp;{{ roundItem }}
            </span>
          </button>
        }
      </mat-menu>
      <button
        mat-menu-item
        (click)="startNewRound()"
        [disabled]="content.state.round > 1"
      >
        <mat-icon>replay</mat-icon>
        {{ 'creator.content.start-new-round' | transloco }}
      </button>
    }
  </ng-container>
</mat-menu>
