@import '../../../../variables';

.mat-card {
  width: 100%;
  max-width: 800px;
}

h2 {
  margin: 0;
}

.less-important {
  opacity: 0.8;
}

.type-icon {
  opacity: 0.6;
}

.delete-item {
  margin-top: 16px;
}

span {
  line-height: 20px;
  vertical-align: middle;
}

.delete {
  color: var(--warn);
}

@media (max-width: 600px) {
  .input-field {
    width: 100%;
  }

  .bigger {
    display: none;
  }

  .smaller {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

@media (min-width: 600px) {
  .input-field {
    width: calc(50% - 8px);
  }

  .bigger {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
  }

  .smaller {
    display: none;
  }
}
