@import '../../../../_variables.scss';

.container {
  margin: 8px 0;
  text-align: center;
}

.container:not(.medium-container) > :first-child {
  margin-right: 8px;
}

.medium-container {
  width: 120px;
  margin: 8px 0 0;
}

.small-container {
  margin: 8px 0 0;
}

.counter {
  font-size: 24px;
  font-weight: $font-weight-bold;
  margin: 0;
  color: var(--secondary);
}

.counter-text {
  line-height: 28px;
  margin: 0;
}
