.container {
  margin: 8px 0;
  text-align: center;
}

.medium-container {
  width: 120px;
  margin: 8px 0 0;
}

.small-container {
  margin: 8px 0 0;
}

.counter {
  margin: 0;
  color: var(--secondary);
}

.counter-text {
  line-height: 28px;
  margin: 0;
}
