<div fxLayout="column">
  @if (isLoading) {
    <app-loading-indicator></app-loading-indicator>
  }
  @if (!isLoading) {
    <div fxLayout="column" [fxLayoutGap]="showCorrect ? '16px' : '0px'">
      @if (!isSurvey && isPresentation) {
        <app-correct-answer-results
          [answerCounts]="getAnswerCounts()"
          [correctAnswerCounts]="getCorrectAnswerCounts()"
          [abstentionCounts]="getAbstentionCounts()"
          [show]="showCorrect"
          [round]="roundsToDisplay + 1"
          [compareRounds]="this.roundsToDisplay > 1"
        ></app-correct-answer-results>
      }
      <div
        class="chart-container"
        [ngClass]="{
          invisible: !answersVisible,
          'normal-chart': !isPresentation && answersVisible,
          'presentation-chart': isPresentation && answersVisible,
          'no-bottom-margin':
            settings.contentAnswersDirectlyBelowChart && isPresentation,
        }"
      >
        <canvas
          class="chart"
          id="{{ chartId }}"
          data-testid="content-results-chart"
        ></canvas>
      </div>
    </div>
  }
  @if (
    !isLoading && isPresentation && settings.contentAnswersDirectlyBelowChart
  ) {
    <div fxLayout="row" fxLayoutAlign="space-between">
      @for (a of options; track a; let i = $index) {
        <div fxLayout="column" fxLayoutAlign="start center">
          <p
            [style.width]="answerLabelWidth"
            class="chart-answer-label"
            [ngClass]="{
              'not-correct': showCorrect && !checkIfCorrect(i),
              'no-margin': content.format !== ContentType.SCALE,
            }"
          >
            <app-rendered-text
              [rawText]="a.label"
              [renderedText]="a.renderedLabel"
            ></app-rendered-text>
          </p>
          @if (!isSurvey) {
            <mat-icon
              [ngClass]="{
                'show-correct-icon': showCorrect && checkIfCorrect(i),
              }"
              class="correct-icon"
              >check</mat-icon
            >
          }
        </div>
      }
    </div>
  }
  @if (
    (!isLoading && !settings.contentAnswersDirectlyBelowChart) ||
    !isPresentation
  ) {
    <div role="list">
      @for (a of options; track a; let i = $index) {
        <div
          class="answer-item"
          role="listitem"
          [ngClass]="{
            correct: showCorrect && checkIfCorrect(i),
            'no-background answer-text': isPresentation,
            'all-animations': !isPresentation,
          }"
          tabindex="0"
          [attr.aria-label]="
            ('statistic.a11y-choice-evaluation'
              | transloco: { label: labelLetters[i], answer: a.label }) +
            (rounds > 1
              ? ('statistic.a11y-multiple-round-counts'
                | transloco
                  : { countRoundA: data[0][i], countRoundB: data[1][i] })
              : ('statistic.a11y-single-round-count'
                | transloco: { count: data[0][i] })) +
            (isSurvey
              ? ''
              : ((checkIfCorrect(i)
                  ? 'statistic.a11y-correct'
                  : 'statistic.a11y-wrong'
                ) | transloco))
          "
        >
          <div fxFill fxLayoutAlign="space-between center" fxLayoutGap="12px">
            <p class="answer-label">{{ labelLetters[i] }}</p>
            <app-rendered-text
              [rawText]="a.label"
              [renderedText]="a.renderedLabel"
            ></app-rendered-text>
            @if (!isSurvey) {
              <mat-icon
                [ngClass]="{
                  'show-correct-icon': showCorrect && checkIfCorrect(i),
                }"
                class="correct-icon"
                >check</mat-icon
              >
            }
          </div>
        </div>
      }
    </div>
  }
</div>
