@use '../variables' as *;

.app-component {
  padding: $spacing-2;
  background-color: var(--background);
}

@include gt-xs {
  .app-component {
    padding: $spacing-4;
  }
}

.standalone-container {
  background-color: var(--surface);
}

.mat-drawer-container {
  width: 100vw;
  height: var(--full-height);
  background-color: unset;
}

.mat-drawer {
  height: var(--full-height);
  width: $drawer-modal-width;
  background-color: var(--surface);
}

.button-container {
  padding: 8px;
}

.mat-icon {
  min-width: 18px;
  color: var(--on-surface-light);
}

.mat-mdc-button {
  opacity: 1;
  place-content: start;
}

:host-context(.theme-dark) {
  --mat-sidenav-scrim-color: rgb(100 100 100 / 60%);
}

.user-container {
  padding: 24px 16px;
}

.user-id {
  max-width: 160px;
  font-size: $s-font-size;
  color: var(--on-surface);

  &:nth-child(2) {
    color: var(--on-surface-light);
    font-size: $xs-font-size;
  }
}

.user-symbol {
  border-radius: 50%;
  width: 40px;
  height: 40px;

  span {
    color: var(--black);
  }

  &:not(.primary-variant) {
    background-color: var(--grey-lighter);
  }
}

.user-info {
  line-height: 1.5;
}
