.list-container {
  max-width: 800px;
}

.fixed-list {
  position: absolute;
  right: 0;
  top: 0;
  width: calc(40vw - 4em);
  background-color: var(--background);
  height: calc(var(--full-height) - 2em - 72px);
  overflow: auto;
  padding: 2em 2em 72px;
  margin-bottom: 2em;
}

.presentation-container {
  position: absolute;
  top: 4vw;
  left: 4vw;
  width: 52vw;
  height: calc(var(--full-height) - 4vw - 72px);
}

app-comment {
  cursor: pointer;
}
