<div fxLayout="row" class="comment-presentation-container">
  <div id="presentation-button" tabIndex="-1" class="visually-hidden">
    {{ 'creator.presentation.a11y-comment-message' | transloco }}
  </div>
  <div class="presentation-container">
    <app-present-comment
      fxFill
      [isPresentation]="true"
      [body]="activePost()?.body"
    ></app-present-comment>
  </div>
  <div #commentList (scroll)="onScroll()" class="list-container">
    @if (!isLoadingQna()) {
      <app-comment-settings-hint
        [state]="state()"
        [showToggleButton]="true"
        (toggleButtonClicked)="enableComments()"
      ></app-comment-settings-hint>
    }
    @if (isLoadingPosts()) {
      <app-loading-indicator></app-loading-indicator>
    } @else {
      @if (state() === QnaState.Started) {
        <app-comment-list-hint
          [isListEmpty]="posts().length < 1"
        ></app-comment-list-hint>
      }
      <div>
        @for (post of posts(); track post.id) {
          <app-comment
            [post]="post"
            [isEditor]="true"
            [isSimpleView]="true"
            [outlinedCard]="outlinedCards"
            [activePostId]="activePost()?.id"
            [animate]="animatePost"
            (click)="toggleActivePost(post.id)"
          >
          </app-comment>
        }
      </div>
    }
  </div>
</div>
