<form fxLayout="column" (ngSubmit)="close(true)">
  <div mat-dialog-content>
    <h3>{{ 'dialog.how-to-proceed' | translate }}</h3>
    <mat-radio-group
      [(ngModel)]="publishSingle"
      [ngModelOptions]="{ standalone: true }"
      fxLayout="column"
      fxLayoutGap="8px"
    >
      <mat-radio-button [value]="true">{{
        'dialog.publish-this-content' | translate
      }}</mat-radio-button>
      <mat-radio-button [value]="false">{{
        'dialog.publish-contents-up-to-here' | translate
      }}</mat-radio-button>
    </mat-radio-group>
  </div>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
    <button mat-button type="button" (click)="close(false)">
      {{ 'dialog.cancel' | translate }}
    </button>
    <button mat-flat-button color="primary">
      {{ 'dialog.publish' | translate }}
    </button>
  </div>
</form>
