@import '../../common/styles/room-overview';

.group-container {
  align-items: flex-end;
  justify-content: center;
  gap: 6px;
}

.empty-group-container {
  align-items: center;
  justify-content: center;

  .add-group {
    margin-bottom: 1em;
  }
}
