@import '../../common/styles/room-overview';

.group-container {
  align-items: flex-end;
  justify-content: center;
  gap: 6px;
}

.empty-group-container {
  align-items: center;
  justify-content: center;

  .add-group {
    margin-bottom: 0.5em;
  }
}

.button-container {
  display: flex;
  gap: 10px;
  flex-direction: column-reverse;
}

@media (min-width: 600px) {
  .button-container:not(.empty) {
    flex-direction: row;
  }
}
