@use '../../../variables' as *;
@use '../../common/styles/room-overview';

.group-types-container {
  display: grid;
  grid-gap: $spacing;
  grid-auto-flow: dense;
}

@include gt-xs {
  .group-types-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .mobile {
    visibility: hidden;
  }
}

.add-group-type-icon {
  position: absolute;
  right: $spacing-1;
  top: $spacing-1;
  visibility: hidden;
}

@mixin show-add-group-button {
  .add-group-type-icon {
    visibility: visible;
  }
}

.type-card {
  cursor: pointer;
  user-select: none;
  width: 100%;

  &:hover,
  &:focus-within {
    border-color: var(--grey);
    @include show-add-group-button;
  }
}

@media (hover: none) {
  @include show-add-group-button;
}

.group-type {
  font-size: $s-font-size;
}

.group-type-description {
  color: var(--on-surface-light);
  font-size: $xs-font-size;
}

.content-type-icon {
  opacity: 0.5;
  font-size: $m-font-size;
  width: $m-font-size;
  height: $m-font-size;
}

.overview-container {
  width: $card-width;
}
