@import '../../../variables';

#content-group {
  width: 100%;
  margin-top: 10px;
  padding: 0 16px;

  &:hover {
    cursor: pointer;
  }
}

.container {
  width: 100%;
}

.locked {
  opacity: 0.5;
  flex-shrink: 0;
}

.group-name {
  margin: 16px 0;
}

@include xs {
  .group-name {
    font-size: $s-font-size;
  }
}

@include gt-xs {
  .group-name {
    font-size: $m-font-size;
  }
}
