<mat-card
  appearance="outlined"
  tabindex="0"
  role="button"
  id="content-group"
  #contentGroupCard
  class="primary-shadow-hover"
  fxLayoutAlign="start center"
  (click)="viewContents()"
  attr.aria-label="{{
    'room-page.a11y-enter-content-group'
      | transloco
        : {
            name: contentGroup.name,
          }
  }}"
  (keyup.enter)="viewContents()"
>
  <div
    fxFill
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="0.5em"
  >
    <div
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="0.5em"
      class="ellipsis group-name"
    >
      <app-text-overflow-clip
        class="ellipsis"
        [text]="contentGroup.name"
      ></app-text-overflow-clip>
      <app-list-badge
        *ngIf="getLength()"
        [count]="getLength()"
      ></app-list-badge>
    </div>
    <mat-icon
      *ngIf="isLocked()"
      class="locked"
      [matTooltip]="'creator.room-page.group-locked' | transloco"
      >locked</mat-icon
    >
  </div>
</mat-card>
