@use '../../../variables' as *;

#content-group {
  width: 100%;
  padding: $spacing-2;

  &:not(:hover, :focus, :focus-within) {
    border-color: var(--border);

    .publishing-btn {
      display: none;
    }
  }

  &:hover,
  &:focus,
  &:focus-within {
    border-color: var(--grey);
    cursor: pointer;
  }
}

.group-name {
  font-size: $s-font-size;
}

@include gt-xl {
  .group-name {
    font-size: $m-font-size;
  }
}
