@import '../../../variables';

#content-group {
  width: 100%;
  padding: $spacing-2;

  @media (hover: hover) {
    &:not(:hover, :focus-within) {
      border-color: var(--border);

      .publishing-btn {
        display: none;
      }
    }
  }

  &:hover,
  :focus {
    border-color: var(--grey);
    cursor: pointer;
  }
}

@include xs {
  .group-name {
    font-size: $s-font-size;
  }
}

@include gt-xs {
  .group-name {
    font-size: $m-font-size;
  }
}
