<mat-card
  appearance="outlined"
  tabindex="0"
  role="button"
  id="content-group"
  #contentGroupCard
  fxLayoutAlign="start center"
  (click)="viewContents()"
  attr.aria-label="{{
    'room-page.a11y-enter-content-group'
      | transloco
        : {
            name: contentGroup.name,
          }
  }}"
  (keyup.enter)="viewContents()"
>
  <div
    fxFill
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="0.5em"
  >
    <div fxLayout="column" fxLayoutGap="8px" class="ellipsis">
      <div
        fxLayout="row"
        fxLayoutAlign="start center"
        fxLayoutGap="0.5em"
        class="ellipsis group-name"
      >
        <app-text-overflow-clip
          class="ellipsis"
          [text]="contentGroup.name"
        ></app-text-overflow-clip>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <app-content-group-info
          [contentGroup]="contentGroup"
        ></app-content-group-info>
      </div>
    </div>
    @if (!this.isParticipant()) {
      <button
        mat-icon-button
        color="primary"
        class="publishing-btn"
        (click)="$event.stopPropagation(); togglePublishing()"
      >
        <mat-icon
          [matTooltip]="
            (!contentGroup.published
              ? 'creator.content.publish'
              : 'creator.content.lock'
            ) | transloco
          "
          >{{ !contentGroup.published ? 'lock_open' : 'locked' }}</mat-icon
        >
      </button>
    }
  </div>
</mat-card>
