app-room-list {
  width: 100%;
  max-width: 800px;
}

.mat-raised-button {
  height: 50px;
  border-radius: 25px;
  margin: calc(1.35em + 1% - 7px) 0 calc(1.35em + 1%) 0;
  font-size: 18px;
  width: 250px;
}
