<app-stepper
  fxFill
  (newIndex)="updateIndex($event)"
  [listLength]="contents.length"
  [showSteps]="!hideControls"
  [fixedWitdth]="false"
>
  @for (content of contents; track content; let i = $index) {
    <cdk-step>
      <div fxLayoutAlign="center" id="step">
        @if (!showStepInfo || !isLiveMode || content.state.answeringEndTime) {
          <mat-card [ngClass]="{ 'no-card-appearance': hideControls }">
            @if (currentStep === undefined) {
              <app-loading-indicator></app-loading-indicator>
            } @else {
              <app-content-results
                [content]="content"
                [directShow]="
                  currentStep === i &&
                  settings.showContentResultsDirectly &&
                  !isLiveMode
                "
                [active]="currentStep === i"
                [contentIndex]="i"
                [isPresentation]="hideControls"
                [indexChanged]="indexChanged"
                [settings]="settings"
                [language]="language"
              >
              </app-content-results>
            }
          </mat-card>
        } @else {
          <div
            fxFill
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayoutGap="3em"
            class="waiting-container"
          >
            @if (currentStep !== undefined) {
              <app-content-step-info
                [current]="currentStep + 1"
                [totalCount]="contents.length"
              ></app-content-step-info>
              <span>{{ 'content.get-ready' | transloco }}</span>
            }
          </div>
        }
      </div>
      <div tabindex="0" class="visually-hidden">
        {{ 'statistic.a11y-no-more-answers' | transloco }}
      </div>
    </cdk-step>
  }
</app-stepper>
