<app-stepper
  fxFill
  (newIndex)="updateIndex($event)"
  [listLength]="stepCount"
  [showSteps]="!hideControls"
  [fixedWitdth]="false"
  [additionalStepIcon]="attributions.length > 0 ? 'attribution' : undefined"
>
  @for (content of contents; track content; let i = $index) {
    <cdk-step>
      <div fxLayoutAlign="center" id="step">
        <mat-card
          [ngClass]="{ 'no-card-appearance': hideControls }"
          [hidden]="
            showStepInfo && isLiveMode && !content.state.answeringEndTime
          "
        >
          <app-content-results
            [content]="content"
            [directShow]="
              currentStep === i &&
              settings.showContentResultsDirectly &&
              !isLiveMode
            "
            [active]="currentStep === i"
            [index]="i"
            [correctOptionsPublished]="true"
            [isPresentation]="hideControls"
            (updatedCounter)="updateCounter($event, currentStep === i)"
            [indexChanged]="indexChanged"
            [settings]="settings"
          >
          </app-content-results>
        </mat-card>
        <div
          fxFill
          fxLayout="column"
          fxLayoutAlign="center center"
          fxLayoutGap="3em"
          class="waiting-container"
          [hidden]="
            !showStepInfo || !isLiveMode || content.state.answeringEndTime
          "
        >
          <app-content-step-info
            [current]="currentStep + 1"
            [totalCount]="stepCount"
          ></app-content-step-info>
          <span>{{ 'content.get-ready' | transloco }}</span>
        </div>
      </div>
      <div tabindex="0" class="visually-hidden">
        {{ 'statistic.a11y-no-more-answers' | transloco }}
      </div>
    </cdk-step>
  }
  @if (attributions.length > 0) {
    <cdk-step>
      <div fxLayoutAlign="center" id="step">
        <mat-card [ngClass]="{ 'no-card-appearance': hideControls }">
          <app-attributions-info
            [attributions]="attributions"
            [contents]="contents"
          ></app-attributions-info>
        </mat-card>
      </div>
    </cdk-step>
  }
</app-stepper>
