@use '../../../variables' as *;

.share-menu-header {
  font-weight: $font-weight-bold;
}

.share-section-label {
  opacity: 0.7;
  font-size: $s-font-size;
}

.qr {
  pointer-events: none;
  height: 80px;
}
