<div *ngIf="!isLoading && !errorOnLoading">
  <div class="visually-hidden">
    <button id="message-button" (click)="announce()">{{ 'settings.a11y-message' | translate}}</button>
    <button tabindex="-1" id="keys-button"> {{ 'settings.a11y-shortcuts' | translate}}</button>
  </div>
  <div *ngFor="let setting of settings">
    <app-settings [settings]="setting" [room]="room"></app-settings>
  </div>
</div>
<app-loading-indicator *ngIf="isLoading"></app-loading-indicator>
<app-room-not-found *ngIf="!isLoading && errorOnLoading"></app-room-not-found>
