<div *ngIf="displayAnswers.length > 0">
  <app-divider></app-divider>
  <mat-list>
    <mat-list-item *ngFor="let answer of displayAnswers; let i = index">
      <div fxLayout="row" fxLayoutAlign="center center">
        <form fxLayout="row" class="full-width">
          <mat-form-field class="edit-input surface-input no-field-hint">
            <input
              id="answerEdit-{{ i }}"
              name="answerEdit"
              matInput
              [(ngModel)]="answer.answerOption.label"
              (focus)="goInEditMode(i)"
              (blur)="leaveEditMode()"
              autocomplete="off"
            />
          </mat-form-field>
        </form>
        <button
          mat-icon-button
          *ngIf="!isEditMode || noAnswersYet"
          attr.aria-label="{{
            'content.a11y-delete-answer'
              | translate : { answer: answer.answerOption.label }
          }}"
          class="delete"
          (click)="deleteAnswer(i)"
          matTooltip="{{ 'content.delete-answer' | translate }}"
        >
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-list>
</div>

<app-create-answer-option
  *ngIf="!isEditMode || noAnswersYet"
  (answerCreated)="addAnswer($event)"
  [resetEvent]="resetAnswerInputEvent"
></app-create-answer-option>
