@media(max-width: 1200px){
  .qr-container {
    display: flex;
    flex-direction: column;
  }

  .url {
    margin-bottom: 5%;
  }

  .text {
    margin-bottom: 0;
  }
}

@media(min-width: 1200px){
  .qr-container {
    display: flex;
    flex-direction: row;
  }

  .url {
    margin: 10% 0;
  }
}

.text {
  color: var(--on-surface);
}

$font-size: calc(32px + 1.5vw);
$icon-size: calc(32px + 6vw);

.web-icon {
  width: $icon-size;
  height: $icon-size;
  font-size: $icon-size;
  margin: 16px;
  opacity: 0.5;
  color: var(--primary);

}

.url {
  font-size: $font-size;
}
