@import '../../../../variables';

.mat-icon-button {
  color: var(--secondary);
}

.filterWrapper {
  width: 100%;
}

.mat-list {
  background-color: var(--surface);
}

.container {
  height: 100%;
  width: calc(100% - 40px);
}

.inner {
  outline: none;
  height: 60px;
}

.account-memberships {
  .inner {
    cursor: pointer;
  }
  padding-bottom: 0;
}

.rooms-from-guest {
  .action-buttons {
    min-width: 150px;
  }
}

.short-id {
  margin: 0 1em;
}

.delete {
  color: var(--warn);
  margin-right: 10px;
}

.no-rooms {
  text-align: center;
}

@media (max-width: 500px) {
  .rooms-from-guest {
    .role, .short-id{
      display: none;
    }
  }
}

#more {
  height: 1em;
}

.import {
  color: var(--primary);
}

.mat-button {
  color: var(--secondary);
}

.mat-stroked-button {
  height: 36px;
}
