.mat-icon-button {
  color: var(--secondary);
}

.filterWrapper {
  width: 100%;
}

.mat-card {
  padding: 0 1%;
}

.mat-list {
  padding: 0;
  outline: none;
  background-color: var(--surface);
}

.mat-list-item {
  height: auto;
  outline: none;
}

.container {
  height: 100%;
  width: 100%;
}

.inner {
  outline: none;
  height: 60px;
  cursor: pointer;
}

p {
  margin: 0;
  font-size: calc(14px + 0.3vw);
  display: flex;
  align-items: center;
}

.room-name {
  word-break: break-all;
}

.short-id {
  margin: 0 1em;
}

.delete {
  color: var(--warn);
  margin-right: 10px;
}

h3 {
  text-align: center;
}
