@import '../../../../variables';

.mat-icon-button {
  color: var(--primary);
}

.filterWrapper {
  width: 100%;
}

.mat-list {
  background-color: var(--surface);
}

.container {
  height: 100%;
  width: calc(100% - 40px);
}

.outer {
  padding: 0 0.5em 0 1em;
}

.inner {
  outline: none;
  height: 60px;
}

.account-memberships {
  .inner {
    cursor: pointer;
  }
}

.rooms-from-guest {
  .action-buttons {
    min-width: 150px;
  }
}

.short-id {
  margin: 0 1em;
  white-space: nowrap;
}

.hint {
  margin: 3em 0 1.5em;
  opacity: 0.7;
}

.alt-button {
  margin-bottom: 2.5em;
}

@media (max-width: 500px) {
  .rooms-from-guest {
    .role, .short-id{
      display: none;
    }
  }
}

.header-container {
  margin-bottom: 0.5em;
}

.search-container {
  position: relative;
}

.search-icon {
  color: var(--grey);
  position: absolute;
  height: 20px;
  width: 20px;
  font-size: 20px;
  top: 8px;
  left: 10px;
  opacity: 0.8;
}

.search-input {
  height: 36px;
  padding: 0 0 0 40px;
  margin: 0;
  border: 1px solid var(--grey);
  background-color: var(--surface);
  border-radius: 4px;
  &::placeholder {
    color: var(--on-surface);
  }
}

.add-mobile {
  background-color: var(--primary);
  position: fixed;
  bottom: 4vw;
  right: 4vw;
  z-index: 3;
}

@media(max-width: 600px) {
  .desktop-buttons {
    display: none;
  }

  .header-container {
    flex-direction: row-reverse!important;
  }

  .search-input {
    font-size: 12px;
    width: 130px;
  }
}

@media(min-width: 600px) {
  .mobile-buttons {
    display: none;
  }
  .search-input {
    font-size: 14px;
    width: 150px;
  }

}

.button-container {
  height: 36px;
}

.mat-button {
  opacity: 0.8;
}

.mat-stroked-button {
  height: 36px;
}
