<div fxFill fxLayout="column" fxLayoutAlign="space-between center">
  <mat-dialog-content [ngClass]="{ 'no-dialog-container': !data.roomId }">
    <div
      *ngIf="!previewTemplate"
      fxLayout.xs="column"
      fxLayout.gt-xs="row wrap"
      fxLayoutGap="1em"
      fxLayoutAlign="space-between"
    >
      <mat-tab-group
        (selectedTabChange)="switchList($event)"
        [selectedIndex]="showPublic ? 0 : 1"
        [disablePagination]="true"
      >
        <mat-tab [label]="'templates.public-templates' | transloco"> </mat-tab>
        <mat-tab [label]="'templates.my-templates' | transloco"> </mat-tab>
      </mat-tab-group>
      <app-template-language-selection
        *ngIf="showPublic"
        fxFlex.xs="100"
        [defaultLang]="selectedLang"
        [smaller]="true"
        (selectedLangChanged)="updateLanguage($event)"
      ></app-template-language-selection>
    </div>
    <div
      *ngIf="previewTemplate"
      fxLayout="column"
      fxLayoutGap="16px"
      fxLayoutAlign="start start"
    >
      <button mat-button (click)="previewTemplate = undefined">
        <mat-icon>arrow_back</mat-icon>
        {{ 'templates.back' | transloco }}
      </button>
      <app-content-group-template-preview
        fxFill
        [template]="previewTemplate"
        appearance="outlined"
        [roomId]="data.roomId"
        (backClicked)="previewTemplateId = undefined"
        (templateAdded)="closeDialog()"
      ></app-content-group-template-preview>
    </div>
    <div
      *ngIf="!previewTemplate"
      class="selection-container"
      fxLayout="column"
      fxLayoutGap="1em"
    >
      <app-template-tag-selection
        *ngIf="showPublic"
        (selectedTagsChanged)="updateTags($event)"
        [lang]="selectedLang"
        [langChanged]="langChanged"
        [selectedTags]="selectedTags"
        [selectedTagIds]="tagIdsQueryParams"
      ></app-template-tag-selection>
      <div fxLayout="column" fxLayoutGap="1em">
        <app-loading-indicator *ngIf="loadingTemplates"></app-loading-indicator>
        <div
          *ngIf="!loadingTemplates && templates.length === 0"
          fxLayoutAlign="center"
        >
          <p class="hint">{{ 'templates.no-templates-found' | transloco }}</p>
        </div>
        <div fxLayout="column" fxLayoutGap="10px">
          <app-content-group-template
            *ngFor="let template of templates"
            fxFlex="100"
            [template]="template"
            [roomId]="data.roomId"
            (templateSelected)="closeDialog()"
            (previewClicked)="showPreview($event)"
            [appearance]="data.roomId ? 'outlined' : 'raised'"
          ></app-content-group-template>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions
    *ngIf="data.roomId"
    fxLayoutAlign.xs="center"
    fxLayoutAlign.gt-xs="end"
  >
    <button mat-button matDialogClose>
      <mat-icon>close</mat-icon>
      {{ 'dialog.close' | transloco }}
    </button>
  </mat-dialog-actions>
</div>
