<div fxLayout="column" fxLayoutGap="8px">
  <app-loading-indicator *ngIf="isLoading"></app-loading-indicator>
  <div class="chart-container" *ngIf="!isLoading" [ngClass]="{ 'invisible': !answersVisible }">
    <canvas id="{{ chartId }}"></canvas>
  </div>
  <mat-list *ngIf="!isLoading">
    <mat-list-item *ngFor="let answer of answers; let i = index" [ngClass]="{ 'correct': showCorrect }">
      <div fxLayout="row" fxLayoutAlign="start center">
        <p class="answer-label">{{i + 1}}</p>
        <p>{{answer}}</p>
      </div>
    </mat-list-item>
  </mat-list>
</div>
