.chart-container {
  height: 40vh;
  max-height: 500px;
  transition: all 300ms;
}

.invisible {
  height: 0;
  opacity: 0;
}

.mat-list-item {
  background-color: var(--background);
  margin-bottom: 10px;
  border-radius: 5px;
  align-items: center;
  color: var(--on-surface);
  transition: all 300ms;
}

.correct {
  background-color: var(--surface);
  box-shadow: 0 0 6px var(--green);
}
