<div>
  <div fxLayout="column">
    <div *ngIf="content.format === 'TEXT'" fxLayout="row" fxLayoutAlign="space-between">
      <app-answer-count *ngIf="!isLoading" [count]="answerCount"></app-answer-count>
      <button mat-icon-button disableRipple (click)="toggleAnswers()"
              matTooltip="{{ 'statistic.show-answers' | translate }}">
        <mat-icon class="corner-icon icon-primary">insert_chart</mat-icon>
      </button>
    </div>
  </div>
  <app-rendered-text [rawText]="content.body" [renderedText]="content.renderedBody"></app-rendered-text>
  <lib-extension-point extensionId="attachment-list" [extensionData]="extensionData"></lib-extension-point>
  <div tabindex="-1" id="message-button" class="visually-hidden">
    {{ 'statistic.a11y-message-evaluation' | translate: {content: content.body} }}
  </div>
  <div class="answer-list" [ngClass]="{'invisible': !answersVisible}">
    <mat-list class="answer-list">
      <mat-list-item *ngFor="let answer of answers; let i = index" tabindex="0" attr.aria-label="
              {{ 'statistic.a11y-text-evaluation' | translate:{ count: answer.count, answer: answer.answer } }}">
        <span class="answer">{{answer.answer}}</span>
        <span *ngIf="answer.count > 1" class="count">x {{answer.count}}</span>
        <mat-divider *ngIf="i < answers.length -  1"></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
</div>
