@if (useIconButton) {
  <button
    id="filter-button"
    mat-icon-button
    [matMenuTriggerFor]="filterMenu"
    [matTooltip]="'comment-list.filter-comments' | transloco"
    appHotkey="4"
    data-testid="comments-filter-button"
  >
    <mat-icon class="bar-icon">filter_alt</mat-icon>
  </button>
} @else {
  <button
    mat-button
    class="standard-button"
    [matMenuTriggerFor]="filterMenu"
    [ngClass]="{ 'extra-padding': useExtraPadding }"
    data-testid="comments-filter-button"
  >
    {{
      ((selectedFlags.length > 0
        ? 'comment-list.filter-' + selectedFlags[0]
        : period !== undefined
          ? 'comment-list.select-' + getPeriodString(period)
          : 'comment-list.filter-all'
      ) | transloco) +
        (selectedFlags.length > 1
          ? ' (+' + (selectedFlags.length - 1) + ')'
          : '')
    }}
    <mat-icon>filter_alt</mat-icon>
  </button>
}
<mat-menu
  #filterMenu="matMenu"
  appTrackInteraction="Comment filter menu opened"
>
  <button
    mat-menu-item
    (click)="filter(CommentFilter.FAVORITE)"
    [attr.aria-label]="'comment-list.a11y-filter-favorite' | transloco"
    appTrackInteraction="Comments filtered"
    appTrackName="favorite"
  >
    <mat-icon
      [ngClass]="{
        'yellow icon-important': selectedFlags.includes(CommentFilter.FAVORITE),
      }"
      >grade</mat-icon
    >
    <span
      [ngClass]="{
        'selected-menu-item': selectedFlags.includes(CommentFilter.FAVORITE),
      }"
      >{{ 'comment-list.filter-favorite' | transloco }}</span
    >
  </button>

  <button
    mat-menu-item
    (click)="filter(CommentFilter.ANSWERED)"
    [attr.aria-label]="'comment-list.a11y-filter-answer' | transloco"
    appTrackInteraction="Comments filtered"
    appTrackName="answer"
  >
    <mat-icon
      [ngClass]="{
        'blue icon-important': selectedFlags.includes(CommentFilter.ANSWERED),
      }"
      >comment</mat-icon
    >
    <span
      [ngClass]="{
        'selected-menu-item': selectedFlags.includes(CommentFilter.ANSWERED),
      }"
      >{{ 'comment-list.filter-answered' | transloco }}</span
    >
  </button>

  <button
    mat-menu-item
    (click)="filter(CommentFilter.CORRECT)"
    [attr.aria-label]="'comment-list.a11y-filter-correct' | transloco"
    appTrackInteraction="Comments filtered"
    appTrackName="correct"
  >
    <mat-icon
      [ngClass]="{
        'green icon-important': selectedFlags.includes(CommentFilter.CORRECT),
      }"
      >check_circle</mat-icon
    >
    <span
      [ngClass]="{
        'selected-menu-item': selectedFlags.includes(CommentFilter.CORRECT),
      }"
      >{{ 'comment-list.filter-correct' | transloco }}</span
    >
  </button>

  <button
    mat-menu-item
    (click)="filter(CommentFilter.WRONG)"
    [attr.aria-label]="'comment-list.a11y-filter-wrong' | transloco"
    appTrackInteraction="Comments filtered"
    appTrackName="wrong"
  >
    <mat-icon
      [ngClass]="{
        'red icon-important': selectedFlags.includes(CommentFilter.WRONG),
      }"
      >cancel</mat-icon
    >
    <span
      [ngClass]="{
        'selected-menu-item': selectedFlags.includes(CommentFilter.WRONG),
      }"
      >{{ 'comment-list.filter-wrong' | transloco }}</span
    >
  </button>

  <button mat-menu-item [matMenuTriggerFor]="timeMenu">
    <mat-icon>access_time</mat-icon>
    <span
      [ngClass]="{
        'selected-menu-item': period !== undefined,
      }"
      >{{ 'comment-list.filter-time' | transloco }}</span
    >
  </button>

  <div
    [matTooltip]="'comment-list.no-categories-in-this-room' | transloco"
    [matTooltipDisabled]="!!tags()"
  >
    <button
      [disabled]="!tags().length"
      mat-menu-item
      [matMenuTriggerFor]="categoriesMenu"
    >
      <mat-icon>sell</mat-icon>
      <span
        [ngClass]="{
          'selected-menu-item': selectedTags && selectedTags.length > 0,
        }"
        >{{ 'comment-list.filter-categories' | transloco }}</span
      >
    </button>
  </div>
</mat-menu>

<mat-menu #timeMenu="matMenu">
  @for (period of periods; track period) {
    <div>
      <button
        mat-menu-item
        (click)="emitTimeRange(period)"
        [attr.aria-label]="'comment-list.a11y-select-' + period | transloco"
        appTrackInteraction="Comments filtered (period)"
        [appTrackName]="period"
      >
        <span [ngClass]="{ 'selected-menu-item': isPeriodSelected(period) }">{{
          'comment-list.select-' + period | transloco
        }}</span>
      </button>
    </div>
  }
</mat-menu>

<mat-menu #categoriesMenu="matMenu">
  @for (tag of tags(); track tag) {
    <div>
      <button
        mat-menu-item
        (click)="selectTag(tag)"
        appTrackInteraction="Comments filtered (category)"
        [appTrackName]="tag.name"
      >
        <span
          [ngClass]="{
            'selected-menu-item': isSelected(tag.id),
          }"
          >{{ tag.name }}</span
        >
      </button>
    </div>
  }
</mat-menu>
