<ars-screen>
  <div fxLayout="column" fxLayoutAlign="center center" class="qr-container">
    <button mat-raised-button *ngIf="isCreator" class="button-secondary header copyBtn" (click)="copyShortId()"
            aria-labelledby="copy-url">
      <mat-icon>link</mat-icon>
      {{ 'header.copy-url' | translate}}
    </button>
    <button class="button-primary header exitBtn" mat-raised-button (click)="onCloseClick()">
      <mat-icon>close</mat-icon>
    </button>
    <div>
      <h2>{{hostName}}</h2>
      <h2>{{'qr-dialog.session' | translate}}: {{key.slice(0, 4)}} {{key.slice(4, 8)}}</h2>
    </div>
    <qrcode [qrdata]="protocol + hostName + path + key" [width]="qrWidth" [errorCorrectionLevel]="'M'"></qrcode>
  </div>
</ars-screen>
<div class="visually-hidden" id="copy-url">{{ 'header.a11y-copy-url' | translate}}</div>
