<div mat-dialog-content fxLayout="column">
  <div [appAutofocus] tabIndex="-1" class="visually-hidden">
    {{ 'creator.comment-page.a11y-message-answer' | transloco }}
  </div>
  <div fxLayout="column" fxLayoutGap="10px">
    <mat-card appearance="outlined">
      <app-date class="date" [timestamp]="post.createdAt"></app-date>
      <p class="comment" appLangContext appDirContext>{{ post.body }}</p>
    </mat-card>
    <div fxLayout="row" fxLayoutAlign="center">
      @if (isEditor || (post.replies && post.replies.length > 0)) {
        <mat-card appearance="outlined" class="answer">
          @if (
            (!isEditor || !edit) && post.replies && post.replies.length > 0
          ) {
            <div>
              <app-rendered-text
                [rawText]="post.replies[0].body"
                [dynamic]="true"
                [markdownFeatureset]="MarkdownFeatureset.SIMPLE"
                [attr.aria-label]="
                  'comment-page.a11y-entered-answer'
                    | transloco: { answer: post.replies[0].body }
                "
                appLangContext
                appDirContext
              >
              </app-rendered-text>
              <div fxLayout="row" fxLayoutAlign="end">
                @if (isEditor && !edit) {
                  <button
                    mat-flat-button
                    color="primary"
                    (click)="editAnswer()"
                  >
                    <mat-icon>edit</mat-icon>
                    {{ 'creator.comment-page.edit-answer' | transloco }}
                  </button>
                }
              </div>
            </div>
          }
          @if (
            isEditor && (edit || !post.replies || post.replies.length === 0)
          ) {
            <div class="relative">
              <mat-tab-group
                animationDuration="0"
                [dynamicHeight]="true"
                (selectedTabChange)="tabChanged($event)"
              >
                <mat-tab
                  label="{{ 'creator.comment-page.your-answer' | transloco }}"
                >
                  @if (!renderPreview) {
                    <app-formatting-toolbar
                      class="tab-group-formatting-bar-mobile"
                      [inputElement]="answerInput"
                      [disabled]="formDisabled"
                      (valueChanged)="bodyInput = $event"
                    ></app-formatting-toolbar>
                  }
                  <mat-form-field class="input-block" appearance="outline">
                    <textarea
                      #answerInput
                      [disabled]="formDisabled"
                      [(ngModel)]="bodyInput"
                      (focus)="edit = true"
                      matInput
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="3"
                      cdkAutosizeMaxRows="8"
                      maxlength="1000"
                      name="answer"
                      [placeholder]="
                        'creator.comment-page.enter-answer' | transloco
                      "
                      appHotkey="1"
                      dir="auto"
                    >
                    </textarea>
                    <mat-hint align="end">
                      <span aria-hidden="true">
                        {{ bodyInput ? bodyInput.length : 0 }} / 1000
                      </span>
                    </mat-hint>
                  </mat-form-field>
                </mat-tab>
                <mat-tab
                  label="{{ 'creator.room.preview' | transloco }}"
                  [disabled]="!bodyInput"
                >
                  <div class="preview-container">
                    <app-rendered-text
                      [rawText]="bodyInput"
                      [dynamic]="renderPreview"
                      [markdownFeatureset]="MarkdownFeatureset.SIMPLE"
                    >
                    </app-rendered-text>
                  </div>
                </mat-tab>
              </mat-tab-group>
              @if (!renderPreview) {
                <app-formatting-toolbar
                  class="tab-group-formatting-bar"
                  [inputElement]="answerInput"
                  [disabled]="formDisabled"
                  (valueChanged)="bodyInput = $event"
                ></app-formatting-toolbar>
              }
            </div>
          }
          <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
            @if (isEditor && post.replies && post.replies.length > 0 && edit) {
              <button mat-stroked-button color="warn" (click)="deleteAnswer()">
                {{ 'creator.comment-page.delete-answer' | transloco }}
              </button>
            }
            @if (
              isEditor &&
              (edit || !post.replies || this.post.replies.length === 0)
            ) {
              <app-loading-button
                name="creator.comment-page.save-answer"
                (clicked)="saveAnswer()"
              ></app-loading-button>
            }
          </div>
        </mat-card>
      }
    </div>
  </div>
</div>
<mat-dialog-actions fxLayoutAlign="end">
  <button mat-button (click)="close()">Close</button>
</mat-dialog-actions>
