<div mat-dialog-content fxLayout="column">
  <div [appAutofocus] tabIndex="-1" class="visually-hidden">
    {{ 'creator.comment-page.a11y-message-answer' | a11yIntro | async }}
  </div>
  <div fxLayout="column" fxLayoutGap="10px">
    <mat-card appearance="outlined">
      <app-date
        class="date"
        [responsive]="true"
        [timestamp]="comment.timestamp"
      ></app-date>
      <p class="comment" appLangContext appDirContext>{{ comment.body }}</p>
    </mat-card>
    <div fxLayout="row" fxLayoutAlign="center">
      @if (isEditor || answer) {
        <mat-card appearance="outlined" class="answer">
          @if ((!isEditor || !edit) && answer) {
            <div>
              <app-rendered-text
                [rawText]="answer"
                [dynamic]="true"
                [markdownFeatureset]="MarkdownFeatureset.SIMPLE"
                [attr.aria-label]="
                  'comment-page.a11y-entered-answer'
                    | transloco: { answer: answer }
                "
                appLangContext
                appDirContext
              >
              </app-rendered-text>
              <div fxLayout="row" fxLayoutAlign="end">
                @if (isEditor && !edit) {
                  <button
                    mat-flat-button
                    color="primary"
                    (click)="editAnswer()"
                    aria-labelledby="edit"
                  >
                    <mat-icon>edit</mat-icon>
                    {{ 'creator.comment-page.edit-answer' | transloco }}
                  </button>
                }
              </div>
            </div>
          }
          @if (isEditor && (edit || !answer)) {
            <div class="relative">
              <mat-tab-group
                animationDuration="0"
                [dynamicHeight]="true"
                (selectedTabChange)="tabChanged($event)"
              >
                <mat-tab
                  label="{{ 'creator.comment-page.your-answer' | transloco }}"
                >
                  @if (!renderPreview) {
                    <app-formatting-toolbar
                      class="tab-group-formatting-bar-mobile"
                      [inputElement]="answerInput"
                      [disabled]="formDisabled"
                      (valueChanged)="answer = $event"
                    ></app-formatting-toolbar>
                  }
                  <mat-form-field class="input-block" appearance="outline">
                    <textarea
                      #answerInput
                      [disabled]="formDisabled"
                      [(ngModel)]="answer"
                      (focus)="edit = true"
                      matInput
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="3"
                      cdkAutosizeMaxRows="8"
                      maxlength="1000"
                      name="answer"
                      aria-labelledby="answer"
                      [placeholder]="
                        'creator.comment-page.enter-answer' | transloco
                      "
                      appHotkey="1"
                      dir="auto"
                    >
                    </textarea>
                    <mat-hint align="end">
                      <span aria-hidden="true">
                        {{ answer ? answer.length : 0 }} / 1000
                      </span>
                    </mat-hint>
                  </mat-form-field>
                </mat-tab>
                <mat-tab
                  label="{{ 'creator.room.preview' | transloco }}"
                  [disabled]="!answer"
                >
                  <div class="preview-container">
                    <app-rendered-text
                      [rawText]="answer"
                      [dynamic]="renderPreview"
                      [markdownFeatureset]="MarkdownFeatureset.SIMPLE"
                    >
                    </app-rendered-text>
                  </div>
                </mat-tab>
              </mat-tab-group>
              @if (!renderPreview) {
                <app-formatting-toolbar
                  class="tab-group-formatting-bar"
                  [inputElement]="answerInput"
                  [disabled]="formDisabled"
                  (valueChanged)="answer = $event"
                ></app-formatting-toolbar>
              }
            </div>
          }
          <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
            @if (isEditor && answer && edit) {
              <button
                mat-stroked-button
                color="warn"
                aria-labelledby="delete"
                (click)="deleteAnswer()"
              >
                {{ 'creator.comment-page.delete-answer' | transloco }}
              </button>
            }
            @if (isEditor && (edit || !answer)) {
              <app-loading-button
                name="creator.comment-page.save-answer"
                (clicked)="saveAnswer()"
              ></app-loading-button>
            }
          </div>
        </mat-card>
      }
    </div>
  </div>
  <div>
    <div class="visually-hidden">
      <div id="answer">
        {{ 'creator.comment-page.a11y-enter-answer' | transloco }}
      </div>
      <div id="delete">
        {{ 'creator.comment-page.a11y-delete-answer' | transloco }}
      </div>
      <div id="submit">
        {{ 'creator.comment-page.a11y-save-answer' | transloco }}
      </div>
      <div id="edit">
        {{ 'creator.comment-page.a11y-edit-answer' | transloco }}
      </div>
      <div id="exit">
        {{ 'creator.comment-page.a11y-close' | transloco }}
      </div>
    </div>
  </div>
</div>
<mat-dialog-actions fxLayoutAlign="end">
  <button mat-button (click)="close()">Close</button>
</mat-dialog-actions>
