<div>
  <div class="chart-container">
    <app-loading-indicator *ngIf="isLoading"></app-loading-indicator>
    <canvas id="chart"></canvas>
  </div>
</div>
<button mat-icon-button disableRipple (click)="toggleCorrect()"
        matTooltip="{{ 'statistic.answer-indicator' | translate }}" aria-labelledby="show-correct">
  <mat-icon>playlist_add_check</mat-icon>
</button>
<mat-list *ngIf="!isLoading" role="list">
  <mat-list-item role="listitem" [ngClass]="{'correct': colorLabel && checkIfCorrect(i)}" tabindex="0"
                 attr.aria-label="{{ ('statistic.a11y-choice-evaluation' | translate: { count: data[i], answer: a.answer }) +
                 (content.format !== 'LIKERT' ? ((checkIfCorrect(i) ?
                 'statistic.a11y-correct' : 'statistic.a11y-wrong') | translate) : '') }}"
                 *ngFor="let a of answerList; let i = index">
    <p class="label">{{a.label}}: {{a.answer}}</p>
  </mat-list-item>
</mat-list>
