<div fxLayout="row">
  <app-rendered-text [rawText]="content.body" [renderedText]="content.renderedBody"></app-rendered-text>
  <span class="fill-remaining-space"></span>
  <div fxLayout="column" fxLayoutAlign="space-around {{ !survey ? 'center' : 'end' }}">
    <div fxLayout="row" fxLayoutAlign="end" [ngClass]="{'fix-width': !survey}">
      <button mat-icon-button *ngIf="chartVisible && !survey" disableRipple (click)="toggleCorrect()"
              matTooltip="{{ 'statistic.answer-indicator' | translate }}" aria-labelledby="show-correct">
        <mat-icon class="corner-icon icon-primary">playlist_add_check</mat-icon>
      </button>
      <button mat-icon-button disableRipple (click)="toggleChart()" aria-labelledby="show-chart"
              matTooltip="{{ (chartVisible ? 'statistic.hide-chart' : 'statistic.show-chart') | translate }}">
        <mat-icon class="corner-icon icon-primary">insert_chart</mat-icon>
      </button>
    </div>
    <span class="fill-remaining-space"></span>
    <app-answer-count *ngIf="!isLoading" [count]="answerCount"></app-answer-count>
    <span class="fill-remaining-space"></span>
  </div>
  <div tabindex="-1" id="message-button" class="visually-hidden">
    {{ 'statistic.a11y-message-evaluation' | translate: {content: content.body} }}
  </div>
</div>
<lib-extension-point extensionId="attachment-list" [extensionData]="extensionData"></lib-extension-point>
<div>
  <app-loading-indicator *ngIf="isLoading"></app-loading-indicator>
  <div class="chart-container" *ngIf="!isLoading" [ngClass]="{ 'invisible': !chartVisible }">
    <canvas id="{{ chartId }}"></canvas>
  </div>
</div>
<mat-list *ngIf="!isLoading" role="list">
  <mat-list-item role="listitem" [ngClass]="{'correct': colorLabel && checkIfCorrect(i)}" tabindex="0"
                 attr.aria-label="{{ ('statistic.a11y-choice-evaluation' | translate: { count: data[i], answer: a.answer }) +
                 (content.format !== 'LIKERT' ? ((checkIfCorrect(i) ?
                 'statistic.a11y-correct' : 'statistic.a11y-wrong') | translate) : '') }}"
                 *ngFor="let a of answerList; let i = index">
    <p class="label">{{a.label}}: {{a.answer}}</p>
  </mat-list-item>
</mat-list>


<div class="visually-hidden">
  <div id="show-correct">{{ 'statistic.a11y-answer-indicator' | translate }}</div>
  <div id="show-chart">{{ 'statistic.a11y-show-chart' | translate }}</div>
</div>
