<div fxLayout="column" fxLayoutGap="8px">
  @if (isLoading) {
    <app-loading-indicator></app-loading-indicator>
  }
  @if (!isLoading) {
    <div fxLayout="column" [fxLayoutGap]="showCorrect ? '16px' : '0px'">
      <app-correct-answer-results
        [answerCounts]="getAnswerCounts()"
        [correctAnswerCounts]="getCorrectAnswerCounts()"
        [abstentionCounts]="getAbstentionCounts()"
        [show]="showCorrect"
      ></app-correct-answer-results>
      <div
        class="chart-container"
        [ngClass]="{
          invisible: !answersVisible,
          'normal-chart': !isPresentation && answersVisible,
          'presentation-chart': isPresentation && answersVisible,
        }"
      >
        <canvas
          class="chart"
          id="{{ chartId }}"
          data-testid="content-results-chart"
        ></canvas>
      </div>
    </div>
  }
  @if (!isLoading) {
    <div role="list">
      @for (answer of answerOptions; track answer; let i = $index) {
        <div
          class="answer-item"
          role="listitem"
          [ngClass]="{
            correct: showCorrect,
            'no-background answer-text': isPresentation,
            'all-animations': !isPresentation,
          }"
        >
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
            <p class="answer-label">{{ i + 1 }}</p>
            <app-rendered-text
              [rawText]="answer.label"
              [renderedText]="answer.renderedLabel"
            ></app-rendered-text>
          </div>
        </div>
      }
    </div>
  }
</div>
