<app-loading-indicator *ngIf="isLoading || isReloading"></app-loading-indicator>
<div>
  <div [appAutofocus] class="visually-hidden" tabindex="-1">
    {{
      'participant.answer.a11y-message'
        | a11yIntro: { group: contentGroupName }
        | async
    }}
  </div>
  <div
    *ngIf="!isLoading && !isReloading"
    fxLayout="column"
    fxLayoutAlign="start center"
  >
    <app-stepper
      *ngIf="contents.length > 0 && !this.showOverview"
      (newIndex)="updateContentIndexUrl($event)"
      [listLength]="contents.length"
      [completed]="alreadySent"
      [showSteps]="showStepper && !focusModeEnabled"
      [allowNavigation]="!focusModeEnabled"
    >
      <cdk-step *ngFor="let content of contents; let i = index">
        <div
          tabindex="0"
          [appAutofocus]
          id="step"
          *ngIf="currentStep >= i - 1 && currentStep <= i + 1"
        >
          <app-loading-indicator
            *ngIf="isReloadingCurrentContent"
          ></app-loading-indicator>
          <app-content-participant
            *ngIf="!isReloadingCurrentContent"
            (answerChanged)="receiveSentStatus($event, i)"
            (answerReset)="resetAnswer($event, i)"
            (next)="nextContent()"
            [content]="content"
            [contentGroupContentIds]="contentGroup.contentIds"
            [answer]="answers[i]"
            [lastContent]="i === contents.length - 1"
            [active]="currentStep === i"
            [index]="i"
            [statsPublished]="contentGroup.statisticsPublished"
            [correctOptionsPublished]="contentGroup.correctOptionsPublished"
            [attribution]="getAttribution()"
            [quizMode]="contentGroup.groupType === GroupType.QUIZ"
            [alias]="alias"
            [showCard]="showCard"
          >
          </app-content-participant>
        </div>
      </cdk-step>
    </app-stepper>
    <app-series-overview
      *ngIf="contents.length > 0 && showOverview"
      [group]="contentGroup"
      [contents]="contents"
      [finished]="isFinished"
      [isPureInfoSeries]="isPureInfoSeries"
      [alias]="alias"
    >
    </app-series-overview>
    <span
      *ngIf="!isLoading && !isReloading && contents.length === 0"
      class="hint"
      >{{ 'participant.answer.no-contents-published' | transloco }}</span
    >
  </div>
</div>
