@if (isLoading || isReloading) {
  <app-loading-indicator></app-loading-indicator>
}
<div>
  @if (!isLoading && !isReloading) {
    <div fxLayout="column" fxLayoutAlign="start center">
      @if (contents.length > 0 && !showOverview) {
        <app-stepper
          (newIndex)="updateContentIndexUrl($event)"
          [listLength]="contentGroup.contentIds.length"
          [answerResults]="answerResults"
          [showSteps]="showStepper"
          [allowNavigation]="!focusModeEnabled"
          [lockedContentsDisabled]="true"
        >
          @for (
            contentId of contentGroup.contentIds;
            track contentId;
            let i = $index
          ) {
            <cdk-step>
              @if (
                currentStep !== undefined &&
                currentStep >= i - 1 &&
                currentStep <= i + 1
              ) {
                <div tabindex="0" [appAutofocus] id="step">
                  @if (isReloadingCurrentContent) {
                    <app-loading-indicator></app-loading-indicator>
                  } @else {
                    @if (contents[i] && userId) {
                      <app-content-participant
                        (answerChanged)="receiveSentStatus($event, i)"
                        (answerReset)="resetAnswer(i)"
                        (next)="nextContent()"
                        [room]="room"
                        [content]="contents[i]"
                        [contentGroup]="contentGroup"
                        [userId]="userId"
                        [lastContent]="
                          i === contentGroup.contentIds.length - 1 ||
                          (!contents[i + 1] &&
                            contentGroup.publishingMode !== PublishingMode.LIVE)
                        "
                        [active]="currentStep === i"
                        [index]="i"
                        [statsPublished]="contentGroup.statisticsPublished"
                        [correctOptionsPublished]="
                          contentGroup.correctOptionsPublished
                        "
                        [attribution]="getAttribution()"
                        [alias]="alias"
                        [showCard]="showCard"
                        [hasAbstained]="
                          answerResults.get(i) === AnswerResultType.ABSTAINED
                        "
                        [answerResult]="answerResults.get(i)"
                        [activeTab]="activeTab"
                      >
                      </app-content-participant>
                    } @else {
                      <app-base-card>
                        <app-content-waiting
                          [alias]="alias"
                          [current]="i + 1"
                          [totalCount]="contentGroup.contentIds.length"
                          [roomId]="contentGroup.roomId"
                          [isLocked]="true"
                        ></app-content-waiting>
                      </app-base-card>
                    }
                  }
                </div>
              }
            </cdk-step>
          }
        </app-stepper>
      }
      @if (contents.length > 0 && showOverview) {
        <app-series-overview
          [group]="contentGroup"
          [contents]="contents"
          [finished]="isFinished"
          [isPureInfoSeries]="isPureInfoSeries"
          [alias]="alias"
        >
        </app-series-overview>
      }
      @if (!isLoading && !isReloading && contents.length === 0) {
        <span class="hint">{{
          'participant.answer.no-contents-published' | transloco
        }}</span>
      }
    </div>
  }
</div>
