<app-sidebar *ngIf="!isLoading" [barItems]="infoBarItems"></app-sidebar>
<div fxLayout="column" fxLayoutGap="20px" fxFill>
  <div fxLayout="row" fxLayoutAlign="center">
    <button id="live_announcer-button" tabIndex="-1" (click)="announce()"
            class="visually-hidden">{{ 'room-page.a11y-moderator-message' | translate: {room: room.name} }}</button>
    <app-loading-indicator *ngIf="isLoading"></app-loading-indicator>
    <mat-card *ngIf="!isLoading && room">
      <mat-card-content>
        <div fxLayout="row">
          <div class="header">
            <span class="room-name">
              {{ room.name }}
            </span>
            <span class="room-short-id">{{room.shortId | splitShortId}}</span>
          </div>
          <button mat-icon-button class="corner-buttons" (click)="switchRole('participant')"
                  aria-labelledby="switch-role">
            <mat-icon class="corner-icon icon-secondary"
                      matTooltip="{{ 'room-page.switch-role' | translate}}">{{roleIconString}}
            </mat-icon>
          </button>
        </div>
        <div *ngIf="room.description" fxLayoutAlign="center">
          <app-rendered-text [rawText]="room.description.trim()"
                             [renderedText]="room.renderedDescription"></app-rendered-text>
        </div>
      </mat-card-content>
      <div fxLayout="column" fxLayoutAlign="center">
        <div class="action-button-container" fxLayout="row" fxLayoutAlign="center">
          <div class="action-button-item" fxLayoutAlign="center center">
            <button id="comments-button" mat-icon-button class="main-button" [disableRipple]="true"
                    routerLink="/creator/room/{{ room.shortId }}/comments" aria-labelledby="comments">
              <mat-icon matBadge="{{commentCounter}}" class="main-icon">
                question_answer
              </mat-icon>
              <p class="button-text">
                {{ 'room-page.comments' | translate}}</p>
            </button>
          </div>
          <div *ngIf="moderationEnabled" class="action-button-item" fxLayoutAlign="center center">
            <button id="moderation-button" mat-icon-button aria-labelledby="moderation"
                    class="main-button"  [disableRipple]="true"
                    routerLink="/moderator/room/{{ room.shortId }}/comments/moderation">
              <mat-icon matBadge="{{moderatorCommentCounter}}" class="main-icon">
                gavel
              </mat-icon>
              <h3 class="button-text">{{ 'room-page.moderating-stream' | translate}}</h3>
            </button>
          </div>
        </div>
        <p tabindex="-1" id="moderation-disabled" class="visually-hidden">
          {{ 'room-page.a11y-moderation-disabled' | translate }}</p>
      </div>
    </mat-card>

  </div>
</div>

<div class="visually-hidden">
  <div id="comments">{{'room-page.a11y-comments' | translate}}</div>
  <div id="moderation">{{'room-page.a11y-moderation' | translate}}</div>
  <div id="switch-role">{{'room-page.a11y-switch-role' | translate}}</div>
</div>
