app-comment, .mat-card {
  width: 100%;
  max-width: 800px;
}

.answer {
  background-color: var(--alt-surface);
  color: var(--on-surface);
  padding: 20px;
  box-sizing: border-box
}

.mat-raised-button, .mat-stroked-button {
  min-width: 100px;
  margin-top: 3%;
}

.delete {
  color: var(--warn);
}

.mat-icon {
  font-size: 18px;
  height: 18px;
  width: 18px;
}

.edit-icon {
  margin-right: 5px;
}

.mat-form-field {
  margin-top: 1em;
}

.exit-icon {
  font-size: 24px;
  height: 24px;
  width: 24px;
}
