@use '../../../variables' as *;

#comment-card {
  margin-bottom: 10px;
  transition: border-color 300ms linear;

  &:not(.presentation-comment) {
    max-width: $card-width;
  }
}

#comment-entry {
  width: 100%;
}

.presentation-comment {
  max-width: 100%;

  &:not(.primary-shadow-always) {
    box-shadow: none;
  }
}

.mat-mdc-card-content > :first-child {
  margin-top: 20px;
}

.date {
  margin-right: 4px;
}

.light {
  color: var(--on-surface-light);
}

.mat-mdc-icon-button[disabled] {
  opacity: 0.8;
}

.score-creator {
  margin: 0 8px;
  color: var(--on-surface-light);

  @include xs {
    font-size: $s-font-size;
  }
}

.body {
  text-align: start;
  color: var(--on-surface);
  overflow-wrap: anywhere;
  hyphens: auto;
  line-height: 150%;

  @include xs {
    font-size: $s-font-size;
  }
}

.click {
  cursor: pointer;
}

.comment-actions {
  align-items: center;
  height: 40px;
  margin-bottom: $spacing;
}

.highlighted {
  $highlighted-border-width: 4px;

  transition: background-color 1s linear;
  padding: $spacing-2 - $highlighted-border-width;
  border: $highlighted-border-width solid var(--palette-accent-500);
}

.border-color-transparent {
  border-color: transparent;
}

.comment-tags {
  max-width: 140px;
  margin-top: $spacing;
}

.mat-mdc-standard-chip {
  cursor: pointer;
  margin: 0 0 0 $spacing;

  --mat-chip-label-text-color: var(--on-surface);

  font-size: $s-font-size;

  --mat-chip-label-text-size: $s-font-size;

  @include xs {
    --mat-chip-label-text-size: $xs-font-size;

    font-size: $xs-font-size;
  }
}

.vote-icon {
  font-size: $m-font-size;
  height: $m-font-size;
  width: $m-font-size;
  opacity: 0.3;

  @media (max-width: 767px) {
    margin-left: $spacing;
  }

  @media (min-width: 767px) {
    margin-left: $spacing-2;
  }
}
