<mat-card
  name="comment"
  fxLayout="row"
  fxLayoutAlign="space-between"
  id="comment-card"
  [appearance]="outlinedCard ? 'outlined' : 'raised'"
  [ngClass]="{
    highlighted: comment.highlighted && !isSimpleView,
    'presentation-comment': isSimpleView,
    'primary-shadow-always border-color-transparent':
      comment.highlighted && isSimpleView,
  }"
  [@slide]="isNew ? slideAnimationState : null"
  (@slide.done)="changeSlideState()"
  data-testid="comment-card"
>
  <div
    fxLayout="column"
    id="comment-entry"
    tabindex="0"
    role="button"
    (keyup.enter)="openPresentDialog()"
    attr.aria-label="{{
      'comment-page.comment'
        | transloco
          : {
              time:
                language === 'de'
                  ? (comment.timestamp | date: ' HH:mm ')
                  : (comment.timestamp | date: 'h:mm a'),
              votes:
                comment.score === 1
                  ? ('comment-page.a11y-text-textForOneVote' | transloco)
                  : comment.score +
                    ('comment-page.a11y-text-textForVotes' | transloco),
              comment: comment.body.trim(),
              correct:
                comment.correct === 1
                  ? ('comment-page.a11y-text-correct' | transloco)
                  : '',
              wrong:
                comment.correct === 2
                  ? ('comment-page.a11y-text-wrong' | transloco)
                  : '',
              favorite: comment.favorite
                ? ('comment-page.a11y-text-grade' | transloco)
                : '',
              answer: comment.answer
                ? ('comment-page.a11y-text-answer' | transloco)
                : '',
            }
    }}"
  >
    <div fxLayout="row" class="comment-actions">
      <div class="date light">
        <app-date [timestamp]="comment.timestamp"></app-date>
      </div>
      <span class="fill-remaining-space"></span>

      @if (comment.correct === 1) {
        <button
          mat-icon-button
          [disabled]="!isEditor || isSimpleView"
          (click)="markCorrect(1)"
          [matTooltip]="'creator.comment-page.mark-not-correct' | transloco"
          data-testid="comment-correct-button"
        >
          <mat-icon class="green">check_circle </mat-icon>
        </button>
      }
      @if (comment.correct === 2) {
        <button
          mat-icon-button
          [disabled]="!isEditor || isSimpleView"
          (click)="markCorrect(2)"
          [matTooltip]="'creator.comment-page.mark-not-wrong' | transloco"
          data-testid="comment-wrong-button"
        >
          <mat-icon class="red">cancel </mat-icon>
        </button>
      }
      @if (comment.favorite) {
        <button
          mat-icon-button
          [disabled]="!isEditor || isSimpleView"
          (click)="setFavorite()"
          [matTooltip]="'creator.comment-page.mark-not-favorite' | transloco"
          data-testid="comment-favorite-button"
        >
          <mat-icon class="yellow">grade </mat-icon>
        </button>
      }
      @if (comment.answer && !inAnswerView) {
        <button
          mat-icon-button
          (click)="answerComment()"
          [matTooltip]="'comment-page.go-to-answer' | transloco"
          data-testid="comment-answer-button"
        >
          <mat-icon class="blue">comment </mat-icon>
        </button>
      }
      @if (isModeration) {
        <button
          mat-icon-button
          color="primary"
          (click)="setAck()"
          [matTooltip]="'creator.comment-page.reject' | transloco"
          data-testid="release-comment-button"
        >
          <mat-icon>lock_open</mat-icon>
        </button>
      }
      @if (isEditor && !inAnswerView && !isSimpleView && !archived) {
        <button
          mat-icon-button
          [matMenuTriggerFor]="actionsMenu"
          [matTooltip]="'creator.comment-page.show-actions' | transloco"
          data-testid="comment-more-menu-button"
        >
          <mat-icon>more_horiz </mat-icon>
        </button>
      }
      @if (isEditor && archived) {
        <button
          mat-icon-button
          color="warn"
          (click)="deleteComment()"
          [matTooltip]="'creator.comment-page.delete' | transloco"
        >
          <mat-icon>delete </mat-icon>
        </button>
      }
      <mat-menu #actionsMenu="matMenu" xPosition="before">
        <button mat-menu-item (click)="answerComment()">
          <mat-icon class="blue icon-important">comment</mat-icon>
          <span>{{
            (!comment.answer
              ? 'creator.comment-page.answer'
              : 'comment-page.go-to-answer'
            ) | transloco
          }}</span>
        </button>

        <button mat-menu-item (click)="markCorrect(1)">
          <mat-icon class="green icon-important">check_circle</mat-icon>
          <span>{{
            (comment.correct !== 1
              ? 'creator.comment-page.mark-correct'
              : 'creator.comment-page.mark-not-correct'
            ) | transloco
          }}</span>
        </button>

        <button mat-menu-item (click)="markCorrect(2)">
          <mat-icon class="red icon-important">cancel</mat-icon>
          <span>{{
            (comment.correct !== 2
              ? 'creator.comment-page.mark-wrong'
              : 'creator.comment-page.mark-not-wrong'
            ) | transloco
          }}</span>
        </button>
        <button mat-menu-item (click)="setFavorite()">
          <mat-icon class="yellow icon-important">grade</mat-icon>
          <span>{{
            (!comment.favorite
              ? 'creator.comment-page.mark-favorite'
              : 'creator.comment-page.mark-not-favorite'
            ) | transloco
          }}</span>
        </button>
        @if (isEditor) {
          <button mat-menu-item (click)="deleteComment()">
            <mat-icon color="warn">delete</mat-icon>
            <span>{{ 'creator.comment-page.delete' | transloco }}</span>
          </button>
        }
        @if (!isModeration) {
          <button mat-menu-item (click)="setAck()">
            <mat-icon color="primary">{{
              comment.ack ? 'gavel' : 'lock_open'
            }}</mat-icon>
            <span>{{
              (comment.ack
                ? 'creator.comment-page.banish'
                : 'creator.comment-page.reject'
              ) | transloco
            }}</span>
          </button>
        }
      </mat-menu>
    </div>
    <div fxLayout="row" fxLayoutAlign="start">
      <div fxLayout="column" style="width: 100%">
        <div
          class="body click"
          fxLayout="column"
          fxLayoutAlign="start"
          appLangContext
          appDirContext
          (click)="openPresentDialog()"
        >
          <span aria-hidden="true">{{ comment.body.trim() }}</span>
        </div>
        @if (showTag) {
          <div class="comment-tags">
            <mat-chip-listbox>
              <mat-chip-option
                (click)="this.clickedOnTag.emit(comment.tag)"
                appTrackInteraction="Comments filtered"
                appTrackName="toggle-category"
                [selectable]="false"
              >
                {{ comment.tag }}
              </mat-chip-option>
            </mat-chip-listbox>
          </div>
        }
        @if (fileUploadEnabled) {
          <lib-extension-point
            extensionId="attachment-list"
            [extensionData]="extensionData"
          ></lib-extension-point>
        }
      </div>
      <span
        class="fill-remaining-space click"
        (click)="openPresentDialog()"
      ></span>
      @if (isEditor) {
        <div fxLayout="row" fxLayoutAlign="start end">
          <mat-icon class="vote-icon">thumb_up</mat-icon>
          <span class="score-creator">{{ comment.score }}</span>
        </div>
      }
    </div>
  </div>
  @if (!isEditor && userId && parseVote) {
    <app-voting
      [userId]="userId"
      [parseVote]="parseVote"
      [score]="comment.score"
      [roomId]="comment.roomId"
      [commentId]="comment.id"
    ></app-voting>
  }
</mat-card>
