@import '../../../../variables';

form {
  width: 100%;
}

.higher-option {
  padding: $spacing $spacing-2;
}

.format-name {
  font-weight: $font-weight-bold;
  font-size: $s-font-size;
  color: var(--on-dialog);
}

.format-description {
  font-size: $xs-font-size;
  color: var(--on-dialog);
}

.mat-mdc-card {
  overflow: hidden;
}

.top-space {
  margin-top: 16px;
}

.header-container {
  padding-bottom: 0.5em;
}

.back {
  margin-bottom: 20px;
}
