@use '../../../../variables' as *;

:host {
  height: 100%;
}

form {
  width: 100%;
}

.higher-option {
  padding: $spacing $spacing-2;
}

.format-name {
  font-weight: $font-weight-bold;
  font-size: $s-font-size;
  color: var(--on-dialog);
}

.format-description {
  font-size: $xs-font-size;
  color: var(--on-dialog);
}

.mat-mdc-card {
  overflow: hidden;
}

.header-container {
  padding-bottom: 0.5em;
}

.back {
  margin-bottom: 20px;
}

.fixed-height {
  max-height: calc(
    100% - var(--mat-button-protected-container-height) - $spacing-2
  );
}

.button-container,
.settings-container {
  margin-top: $spacing-2;
}

.flashcard-container {
  margin-top: $spacing-3;
}
