<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="center">
    <section class="card-container">
      <div class="card" [ngClass]="{ flipped: flipped }">
        <mat-card>
          <div class="side" [ngClass]="{ 'invisible-card-content': flipped }">
            <div class="visually-hidden">
              <div [appAutofocus] tabIndex="-1">
                {{
                  (isEditMode
                    ? 'creator.content.a11y-content-edit-message'
                    : 'creator.content.a11y-content-create-message'
                  )
                    | a11yIntro
                    | async
                }}
              </div>
            </div>
            <form fxLayout="column" fxLayoutGap="12px">
              <div
                class="header-container"
                fxLayout="row wrap"
                fxLayoutAlign="space-between center"
                fxLayoutGap="1em"
              >
                <mat-form-field
                  appearance="outline"
                  class="no-field-hint primary-form-field smaller-select-input"
                  tabindex="{{ isEditMode ? '-1' : '0' }}"
                >
                  <mat-select
                    panelClass="bigger-panel"
                    [(value)]="selectedFormat"
                    [disabled]="isEditMode || formDisabled"
                    [hideSingleSelectionIndicator]="true"
                    appHotkey="2"
                    [appHotkeyTitle]="'creator.content.format' | transloco"
                    data-testid="format-selection"
                  >
                    <mat-select-trigger>
                      <div
                        fxLayout="row"
                        fxLayoutAlign="start center"
                        fxLayoutGap="12px"
                        class="primary"
                      >
                        <mat-icon class="format-button-icon">{{
                          selectedFormat?.icon
                        }}</mat-icon>
                        <span>{{
                          'creator.content.format-' + selectedFormat?.name
                            | transloco
                        }}</span>
                      </div>
                    </mat-select-trigger>
                    @for (format of formats; track format) {
                      <mat-option [value]="format" class="higher-option">
                        <div
                          fxLayout="row"
                          fxLayoutAlign="start center"
                          fxLayoutGap="12px"
                        >
                          <mat-icon class="format-icon">{{
                            format.icon
                          }}</mat-icon>
                          <div fxLayout="column" fxLayoutGap="2px">
                            <span class="format-name">
                              {{
                                'creator.content.format-' + format.name
                                  | transloco
                              }}</span
                            >
                            <span class="format-description">{{
                              'creator.content.format-' +
                                format.name +
                                '-description' | transloco
                            }}</span>
                          </div>
                        </div>
                      </mat-option>
                    }
                  </mat-select>
                </mat-form-field>
                <app-formatting-toolbar
                  [inputElement]="questionInput"
                  (valueChanged)="question = $event"
                  [disabled]="formDisabled"
                ></app-formatting-toolbar>
              </div>
              <mat-form-field
                appearance="outline"
                class="input-block no-field-hint"
              >
                <mat-label>{{
                  (selectedFormat?.name !== 'slide'
                    ? 'creator.content.body'
                    : 'creator.content.body-neutral'
                  ) | transloco
                }}</mat-label>
                <textarea
                  [disabled]="formDisabled"
                  #questionInput
                  (input)="updateTextContainsImage(questionInput.value)"
                  [(ngModel)]="question"
                  [attr.aria-label]="
                    (created
                      ? 'creator.content.a11y-content-created'
                      : 'creator.content.a11y-enter-body'
                    ) | transloco
                  "
                  cdkAutosizeMaxRows="8"
                  cdkAutosizeMinRows="3"
                  matInput
                  cdkTextareaAutosize
                  maxlength="2000"
                  name="questionInput"
                  appHotkey="1"
                  [appHotkeyTitle]="'creator.content.body' | transloco"
                  dir="auto"
                ></textarea>
              </mat-form-field>
              @if (textContainsImage) {
                <app-hint
                  text="creator.utils.formatting-image-hint"
                  [type]="HintType.WARNING"
                ></app-hint>
              }
              @if (!isLoading) {
                <lib-extension-point
                  extensionId="attachment-list"
                  [extensionData]="attachmentData"
                ></lib-extension-point>
              }
              <div class="form-spacer"></div>
            </form>
            @if (
              selectedFormat &&
              !['slide', 'flashcard'].includes(selectedFormat.name)
            ) {
              <div
                fxLayout="row"
                fxLayout.xs="column-reverse"
                fxLayoutAlign="space-between center"
                fxLayoutAlign.xs="start start"
                fxLayoutGap="1em"
              >
                <mat-checkbox
                  [disabled]="formDisabled"
                  [(ngModel)]="abstentionsAllowed"
                >
                  {{ 'creator.content.abstentions-allowed' | transloco }}
                </mat-checkbox>
                <div
                  fxLayout="row"
                  fxLayout.xs="row-reverse"
                  fxLayoutGap="1em"
                  fxLayoutAlign="start center"
                  [matTooltip]="
                    (content?.duration
                      ? 'creator.content.timer-only-enabled-in-live-mode'
                      : 'creator.content.enable-live-mode-to-use-timer'
                    ) | transloco
                  "
                  [matTooltipDisabled]="isLiveMode()"
                >
                  <span
                    [ngStyle]="{
                      opacity: isLiveMode() && !formDisabled ? 1 : 0.5,
                    }"
                    >{{ 'creator.content.seconds-to-answer' | transloco }}</span
                  >
                  <mat-form-field
                    appearance="outline"
                    class="no-field-hint initial-width minimal-number-input smaller-select-input"
                  >
                    <input
                      [(ngModel)]="duration"
                      [disabled]="isAnswered || !isLiveMode() || formDisabled"
                      matInput
                      type="number"
                      max="600"
                      min="10"
                    />
                  </mat-form-field>
                </div>
              </div>
            }
            @if (!isLoading && selectedFormat) {
              <div>
                @switch (selectedFormat.type) {
                  @case (ContentType.CHOICE) {
                    <app-choice-content-form
                      [content]="content"
                      [isAnswered]="isAnswered"
                      [isEditMode]="isEditMode"
                      [correctAnswerSelection]="
                        contentGroup.groupType === GroupType.MIXED
                      "
                      [isQuiz]="contentGroup.groupType === GroupType.QUIZ"
                    >
                    </app-choice-content-form>
                  }
                  @case (ContentType.SCALE) {
                    <app-scale-content-form
                      [content]="content"
                      [isAnswered]="isAnswered"
                      [isEditMode]="isEditMode"
                      [language]="room.language"
                    >
                    </app-scale-content-form>
                  }
                  @case (ContentType.BINARY) {
                    <app-binary-content-form
                      [isEditMode]="isEditMode"
                      [content]="content"
                      [answerSelection]="
                        contentGroup.groupType !== GroupType.SURVEY
                      "
                      [isQuiz]="contentGroup.groupType === GroupType.QUIZ"
                    >
                    </app-binary-content-form>
                  }
                  @case (ContentType.FLASHCARD) {
                    <app-flashcard-content-form
                      [content]="content"
                      [isEditMode]="isEditMode"
                    >
                    </app-flashcard-content-form>
                  }
                  @case (ContentType.SORT) {
                    <app-sort-content-form
                      [content]="content"
                      [isEditMode]="isEditMode"
                      [isAnswered]="isAnswered"
                    >
                    </app-sort-content-form>
                  }
                  @case (ContentType.WORDCLOUD) {
                    <app-wordcloud-content-form
                      [content]="content"
                      [isEditMode]="isEditMode"
                    >
                    </app-wordcloud-content-form>
                  }
                  @case (ContentType.PRIORITIZATION) {
                    <app-prioritization-content-form
                      [content]="content"
                      [isEditMode]="isEditMode"
                      [isAnswered]="isAnswered"
                    >
                    </app-prioritization-content-form>
                  }
                  @case (ContentType.NUMERIC) {
                    <app-numeric-content-form
                      [content]="content"
                      [isEditMode]="isEditMode"
                      [correctAnswerSelection]="
                        contentGroup.groupType === GroupType.MIXED
                      "
                      [isAnswered]="isAnswered"
                      [isQuiz]="contentGroup.groupType === GroupType.QUIZ"
                    >
                    </app-numeric-content-form>
                  }
                  @case (ContentType.SHORT_ANSWER) {
                    <app-short-answer-content-form
                      [content]="content"
                      [isAnswered]="isAnswered"
                      [isEditMode]="isEditMode"
                    >
                    </app-short-answer-content-form>
                  }
                }
              </div>
            }
          </div>

          <div
            [ngClass]="{ 'invisible-card-content': !flipped }"
            class="back side"
          >
            @if (flipped && content) {
              <app-content-preview
                [content]="content"
                [language]="room.language"
              ></app-content-preview>
            }
          </div>
          <div
            [ngStyle]="{ transform: flipped ? 'rotateY(180deg)' : '' }"
            fxLayout="row"
            fxLayoutAlign="center"
            fxLayoutGap="10px"
            [ngClass]="{ 'top-space': isEditMode }"
          >
            <button
              [disabled]="formDisabled"
              (click)="togglePreview()"
              [attr.aria-label]="'creator.content.a11y-preview' | transloco"
              mat-stroked-button
            >
              {{
                (flipped ? 'creator.content.back' : 'creator.content.preview')
                  | transloco
              }}
            </button>
            <app-loading-button
              [name]="
                isEditMode ? 'creator.content.save' : 'creator.content.create'
              "
              (clicked)="submitContent()"
            ></app-loading-button>
          </div>
        </mat-card>
      </div>
    </section>
  </div>
</div>
