@if (multipleAnswersAllowed) {
  <mat-list>
    @for (
      checkedAnswer of displayAnswers;
      track checkedAnswer;
      let i = $index
    ) {
      <div
        class="list-item"
        fxLayout="row"
        fxLayoutAlign="space-between center"
        [ngClass]="{
          'correct-answer': checkOption(i, true),
          'wrong-answer': checkOption(i, false),
          'primary-border-color': checkedAnswer.checked && !isDisabled,
        }"
      >
        @if (isDisabled) {
          <mat-checkbox
            [disabled]="true"
            color="primary"
            [checked]="checkedAnswer.checked"
            name="answer"
            class="answer-checkbox choice-answer"
          >
            <app-rendered-text
              [rawText]="checkedAnswer.answerOption.label"
              [renderedText]="checkedAnswer.answerOption.renderedLabel"
            ></app-rendered-text>
          </mat-checkbox>
        }
        @if (!isDisabled) {
          <mat-checkbox
            color="primary"
            [(ngModel)]="checkedAnswer.checked"
            name="answer"
            class="answer-checkbox choice-answer"
          >
            <app-rendered-text
              [rawText]="checkedAnswer.answerOption.label"
              [renderedText]="checkedAnswer.answerOption.renderedLabel"
              [dynamic]="dynamicRendering"
              [markdown]="false"
            ></app-rendered-text>
          </mat-checkbox>
        }
        @if (isCorrectOptionVisible(i)) {
          <mat-icon
            class="answer-indicator"
            [ngClass]="correctOptionIndexes.includes(i) ? 'correct' : 'wrong'"
            [attr.data-testid]="
              isAnswerOptionCorrect(i) ? 'correct-icon' : 'wrong-icon'
            "
          >
            {{ isAnswerOptionCorrect(i) ? 'check' : 'close' }}</mat-icon
          >
        }
      </div>
    }
  </mat-list>
}
@if (!multipleAnswersAllowed && displayAnswers) {
  <mat-radio-group
    [disabled]="isDisabled"
    [(ngModel)]="selectedAnswerIndex"
    name="{{ 'answer' + contentId }}"
  >
    <mat-list>
      @for (
        checkedAnswer of displayAnswers;
        track checkedAnswer;
        let i = $index
      ) {
        <div
          class="list-item unanswered"
          fxLayout="row"
          fxLayoutAlign="space-between center"
          [ngClass]="{
            'correct-answer': checkOption(i, true),
            'wrong-answer': checkOption(i, false),
            'primary-border-color': selectedAnswerIndex === i && !isDisabled,
          }"
        >
          <mat-radio-button
            (change)="selectSingleAnswer(i)"
            color="primary"
            class="answer-radio-button choice-answer"
            [ngClass]="{
              'answer-radio-checked': selectedAnswerIndex === i,
              'disabled-choice-answer': isDisabled,
            }"
            [checked]="checkedAnswer.checked"
            [value]="i"
            name="answer"
          >
            <app-rendered-text
              [rawText]="checkedAnswer.answerOption.label"
              [renderedText]="checkedAnswer.answerOption.renderedLabel"
              [dynamic]="dynamicRendering"
              [markdown]="false"
            ></app-rendered-text>
          </mat-radio-button>
          @if (isCorrectOptionVisible(i)) {
            <mat-icon
              class="answer-indicator"
              [ngClass]="correctOptionIndexes.includes(i) ? 'correct' : 'wrong'"
              [attr.data-testid]="
                isAnswerOptionCorrect(i) ? 'correct-icon' : 'wrong-icon'
              "
            >
              {{ isAnswerOptionCorrect(i) ? 'check' : 'close' }}</mat-icon
            >
          }
        </div>
      }
    </mat-list>
  </mat-radio-group>
}
