<div mat-dialog-content tabindex="0">
  <h3>{{ data.section + data.headerLabel | translate }}</h3>
  <p>{{ data.section + data.body | translate }}</p>
  <p *ngIf="data.bodyElement">
    <strong>{{ data.bodyElement }}</strong>
  </p>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
  <button
    *ngIf="data.abortLabel"
    mat-button
    [attr.aria-label]="data.section + 'a11y-' + data.abortLabel | translate"
    (click)="closeDialog(data.abortLabel)"
  >
    {{ data.section + data.abortLabel | translate }}
  </button>
  <button
    mat-flat-button
    color="{{ data.type === 'button-primary' ? 'primary' : 'warn' }}"
    [attr.aria-label]="data.section + 'a11y-' + data.confirmLabel | translate"
    (click)="closeDialog(data.confirmLabel)"
  >
    {{ data.section + data.confirmLabel | translate }}
  </button>
</div>
