<div
  *ngIf="totalTime"
  [fxLayout]="layout"
  fxLayoutAlign="start center"
  fxLayoutGap="1em"
>
  <div class="progress-container" [style.border-radius]="borderRadius + 'px'">
    <div
      fxFill
      class="primary-background"
      [style.border-radius]="borderRadius + 'px'"
      [style.transform]="'translateX(-100%)'"
      [style.transition]="'transform ' + totalTime + 'ms' + ' linear'"
    ></div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.5em">
    <mat-icon class="timer-icon" *ngIf="showIcon">timer</mat-icon>
    <span [style.font-size]="fontSize">{{
      getTime() || ('timer.time-is-up' | transloco)
    }}</span>
  </div>
</div>
