@import '../../../variables';

.progress-container {
  width: 100%;
  height: 6px;
  background-color: var(--grey-light);
  overflow: hidden;
}

.progress {
  height: 100%;
}

.timer-icon {
  opacity: 0.5;
}

.big-font {
  font-size: $l-font-size;
}

@include gt-xl {
  .big-font {
    font-size: $xl-font-size;
  }
}
