<form (ngSubmit)="checkLogin(roomName.value)">
  <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'dialog.room-name' | translate }}</mat-label>
      <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
             (keypress)="resetEmptyInputs()" matInput #roomName class="input-block" type="text" autocomplete="off"
             maxlength="30" [(ngModel)]="longName" name="roomName" aria-labelledby="room-name-input"/>
      <mat-hint align="end" *ngIf="!emptyInputs"><span aria-hidden="true">{{roomName.value.length}}
        / 30</span></mat-hint>
    </mat-form-field>
    <app-hint *ngIf="!auth || auth.authProvider === 'ARSNOVA_GUEST'"
              [type]="warningType" text="dialog.not-logged-in"></app-hint>
  </div>
</form>
<app-dialog-action-buttons
  buttonsLabelSection="dialog"
  confirmButtonLabel="create-room"
  [cancelButtonClickAction]="buildCloseDialogActionCallback()"
  [confirmButtonClickAction]="buildRoomCreateActionCallback(roomName)"
></app-dialog-action-buttons>

<div class="visually-hidden">
  <div id="room-name-input">{{ ('dialog.a11y-room-name-input' | translate) }}
    {{ !auth || auth.authProvider === 'ARSNOVA_GUEST' ? ('dialog.a11y-room-creation-guest' | translate) : '' }}</div>
</div>
