<div>
  <div *ngIf="bonusTokens.length >= 1">
    <div fxLayout="row" *ngFor="let bonusToken of bonusTokens; index as i" class="tokens">
      <p tabindex="0">
        {{bonusToken.token}}
      </p>
      <span class="fill-remaining-space"></span>
      <p>
        {{bonusToken.timestamp | date: lang === 'de' ? 'dd.MM.yy' : ' M/d/yy'}}
      </p>
      <span class="fill-remaining-space"></span>
      <button mat-icon-button (click)="navToComment(bonusToken.commentId)">
        <mat-icon matTooltip="{{ 'settings.nav-to-comment' | translate }}">comment</mat-icon>
      </button>
      <button mat-icon-button (click)="openDeleteSingleBonusDialog(bonusToken.userId, bonusToken.commentId, i)">
        <mat-icon matTooltip="{{ 'settings.delete-token' | translate }}" class="delete-icon">close</mat-icon>
      </button>
    </div>
  </div>
  <div *ngIf="bonusTokens.length === 0">
    <p>{{'settings.no-bonus' | translate }}
    <p>
  </div>
  <div *ngIf="bonusTokens.length > 1">
    <button mat-button class="delete button-warn" (click)="openDeleteAllBonusDialog()">
      <mat-icon>delete</mat-icon>
      {{'settings.delete-all-tokens' | translate}}
    </button>
  </div>
</div>
