<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
  <form class="full-width answer-form" fxLayout="row">
    <mat-form-field appearance="fill">
      <mat-label>{{ 'creator.content.add-answer' | transloco }}</mat-label>
      <input
        matInput
        [disabled]="formDisabled"
        name="answer"
        #answerInput
        [(ngModel)]="newAnswer"
        autocomplete="off"
        [maxLength]="lengthLimit"
      />
      <button
        [disabled]="formDisabled"
        color="primary"
        class="add-button"
        mat-icon-button
        matSuffix
        (click)="createAnswer()"
      >
        <mat-icon>add_circle</mat-icon>
      </button>
    </mat-form-field>
  </form>
</div>
