@use '@angular/material' as mat;

$dark-primary: mat.m2-define-palette(mat.$m2-deep-purple-palette, A100);
$dark-accent: mat.m2-define-palette(mat.$m2-green-palette, A100);
$dark-warn: mat.m2-define-palette(mat.$m2-red-palette, A100);
$dark-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
    typography: mat.m2-define-typography-config(),
  )
);

.theme-dark {
  --warn: #ef9a9a;
  --warn-variant: #b71c1c;
  --warn-inverted: #c62828;
  --warn-soft: #ffcc80;
  --warn-soft-inverted: #fb8c00;
  --success: #81c784;
  --success-inverted: #43a047;
  --play: #00c853;
  --play-variant: #2e7d32;
  --background: #212121;
  --surface: #333;
  --dialog: #424242;
  --alt-surface: #323232;
  --on-background: #fcfcfc;
  --on-surface: #fcfcfc;
  --table-a: #424242;
  --table-b: #505050;
  --border: #595959;
  --green: #81c784;
  --red: #e57373;
  --orange: #ffb74d;
  --yellow: #fff176;
  --blue-light: #64b5f6;
  --blue: #7986cb;
  --grey: #aaa;
  --grey-light: #444;
  --black: #000;
  --bar-blue: #027db9;
  --bar-yellow: #ffca28;
  --bar-teal: #4d8076;
  --bar-deep-orange: #e64a19;
  --bar-purple: #8e79ab;
  --bar-brown: #9f6b3f;
  --bar-green: #787b1d;
  --bar-pink: #eb0054;
  --bar-cyan: #00838f;
  --bar-orange: #fb8c00;
  --bar-light-green: #558b2f;
  --bar-red: #ef5350;
  --likert-strongly-agree: #3f51b5;
  --likert-agree: #7986cb;
  --likert-neither: #e0e0e0;
  --likert-disagree: #ff8a65;
  --likert-strongly-disagree: #ff5722;
  --text-blue: #81d4fa;
  --text-pink: #f48fb1;
  --text-teal: #80cbc4;
  --text-orange: #ffab91;
  --text-purple: #ce93d8;
  --text-green: #c5e1a5;
  --text-grey: #bdbdbd;
  --alt-text-blue: #82b1ff;
  --alt-text-pink: #ff80ab;
  --alt-text-teal: #a7ffeb;
  --alt-text-orange: #ffd180;
  --alt-text-purple: #ea80fc;
  --alt-text-green: #ccff90;
  --alt-text-red: #ff8a80;
  --gold: #ffe57f;
  --silver: #c0c0c0;
  --bronze: #cfab77;
  --mixed: #82b1ff;
  --mixed-variant: #002460;
  --quiz: #b9f6ca;
  --quiz-variant: #0c5f23;
  --survey: #ff80ab;
  --survey-variant: #5f0020;
  --flashcards: #ffd180;
  --flashcards-variant: #5f3d00;
}
