.forgot-pw {
  color: var(--on-surface);
}

.register {
  padding: 0 10px 0 10px;
  color: var(--secondary);
}

p {
  font-size: smaller;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px var(--dialog) inset;
  -webkit-text-fill-color: var(--on-surface);
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px var(--dialog) inset;
  -webkit-text-fill-color: var(--on-surface);
}

form {
  width: 90%;
  max-width: 600px;
}

.mat-raised-button {
  width: 100%;
  max-width: 300px;
}
