<div *ngIf="!isLoading" fxLayout="column" fxLayoutAlign="center center" fxFill>
  <mat-card fxLayout="column" fxLayoutAlign="center center" [ngClass]="{'invisible-card': deviceWidth < 500}">
    <button *ngFor="let provider of ssoProviders" (click)="loginViaSso(provider.id)" class="button-primary"
            id="{{provider.title}}-button" mat-raised-button type="button"
            attr.aria-label="{{ 'login.a11y-sso-login' | translate:{provider: provider.title} }}">
      {{ 'login.login-with' | translate }} {{ provider.title }}
    </button>
    <p *ngIf="allowDbLogin && ssoProviders.length > 0">{{ 'login.or' | translate }}</p>
    <mat-divider *ngIf="allowDbLogin && ssoProviders.length > 0"></mat-divider>
    <form class="full-width" fxLayout="column" fxLayoutGap="10px">
      <mat-form-field *ngIf="allowDbLogin" class="input-block" appearance="outline">
        <mat-label>{{ 'login.email' | translate }}</mat-label>
        <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
               [(ngModel)]="username" [errorStateMatcher]="matcher" [formControl]="usernameFormControl" matInput
               id="email-input" name="username" aria-labelledby="email-description" placeholder="{{ 'login.enter-email' | translate }}"/>
      </mat-form-field>
      <mat-form-field *ngIf="allowDbLogin" appearance="outline" class="no-field-hint">
        <mat-label>{{ 'login.password' | translate }}</mat-label>
        <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
               [(ngModel)]="password" [errorStateMatcher]="matcher" [formControl]="passwordFormControl" matInput
               id="password-input" name="password" type="password" aria-labelledby="password-description"
               placeholder="{{ 'login.enter-password' | translate }}"/>
      </mat-form-field>
      <div *ngIf="allowDbLogin" fxLayout="row">
        <a class="action-link forgot-pw" [routerLink]="" (click)="navToPasswordReset(); $event.preventDefault();
     $event.stopPropagation();" aria-labelledby="forgot-pw">
          {{ 'login.password-reset' | translate }}
        </a>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <button *ngIf="allowDbLogin" class="button-primary login-button" mat-raised-button (click)="login()"
                aria-labelledby="login-description">
          {{ 'login.login' | translate }}
        </button>
      </div>
      <div *ngIf="allowDbLogin" fxLayout="row" fxLayoutAlign="center">
        <p>{{ 'login.not-registered' | translate }}</p>
        <a class="action-link register" [routerLink]="'/register'" aria-labelledby="register">
          {{ 'login.register' | translate }}</a>
      </div>
    </form>
  </mat-card>
</div>

<app-loading-indicator *ngIf="isLoading"></app-loading-indicator>

<div class="visually-hidden">
  <div *ngIf="allowDbLogin" id="email-description">{{ 'login.email-description' | translate }}</div>
  <div *ngIf="allowDbLogin" id="password-description">{{ 'login.password-description' | translate }}</div>
  <div *ngIf="allowDbLogin" id="login-description">{{ 'login.login-description' | translate }}</div>
  <div *ngIf="allowDbLogin" id="forgot-pw">{{ 'login.a11y-reset-pw' | translate }}</div>
  <div *ngIf="allowDbLogin" id="register">{{ 'login.a11y-register' | translate }}</div>
</div>
