.forgot-pw {
  color: var(--on-surface);
  margin-bottom: 1em;
}

.register {
  padding-left: 10px;
  margin-top: 1em;
  color: var(--secondary);
}

p {
  font-size: smaller;
  margin-bottom: 0;
}

.mat-card {
  width: 400px;
  padding: 2em;
}

.mat-divider {
  width: 95%!important;
  max-width: 350px!important;
  position: static!important;
  margin: 10px 0 20px 0;
}

input:-webkit-autofill  {
  -webkit-box-shadow: 0 0 0 30px var(--surface) inset;
  -webkit-text-fill-color: var(--on-surface);
}
