<div id="content-message" tabindex="-1" attr.aria-label="{{ (alreadySent? 'answer.a11y-already-answered' : content.format === ContentType.TEXT ?
  'answer.a11y-current-text' : (isMultiple ? 'answer.a11y-current-multiple' : 'answer.a11y-current-single')) | translate: {index: index+1, question: content.body} }}">
  <app-loading-indicator *ngIf="isLoading" [size]="80"></app-loading-indicator>
  <section class="card-container" *ngIf="!isLoading">
    <div class="card" [ngClass]="{'flipped': flipped}">
      <mat-card>
        <div class="side" [ngClass]="{'invisible-card-content': flipped}">
          <div fxLayout="row">
            <app-rendered-text tabindex="-1" [rawText]="content.body" [renderedText]="content.renderedBody"></app-rendered-text>
            <div tabindex="0" class="visually-hidden"
                 *ngIf="alreadySent">{{ hasAbstained ? ('answer.a11y-has-abstained' | translate) : content.format !== ContentType.TEXT ? (
              ('answer.a11y-already-answered-' + (isMultiple ? 'multiple' : 'single')) | translate: {
                  answers: answersString
                }) : ('answer.a11y-already-answered-text' | translate: {answer: answer.body}) }}</div>
            <span class="fill-remaining-space"></span>
            <button id="go-to-stats" *ngIf="alreadySent && (statsPublished || content.format === ContentType.TEXT)
            && [ContentType.SLIDE, ContentType.FLASHCARD].indexOf(content.format) === -1" mat-icon-button
                    (click)="goToStats()" matTooltip="{{'answer.go-to-stats' | translate}}" aria-labelledby="flip-to-stats">
              <mat-icon class="corner-icon icon-secondary">
                insert_chart
              </mat-icon>
            </button>
          </div>
          <lib-extension-point extensionId="attachment-list" [extensionData]="extensionData"></lib-extension-point>
          <form (ngSubmit)="submitAnswerEvent($event,'answer')" id="answerForm">
            <div *ngIf="!flipped">
              <app-content-choice-participant *ngIf="content.format === ContentType.CHOICE ||
            content.format === ContentType.SCALE || content.format === ContentType.BINARY" [answer]="answer"
                                              [content]="content" [alreadySent]="alreadySent" (answerChanged)="forwardAnswerMessage($event)"
                                              [sendEvent]="sendEvent" [statsPublished]="statsPublished" [correctOptionsPublished]="correctOptionsPublished">
              </app-content-choice-participant>
              <app-content-text-participant *ngIf="content.format === ContentType.TEXT" [answer]="answer"
                                            [content]="content" [alreadySent]="alreadySent" [sendEvent]="sendEvent"
                                            (answerChanged)="forwardAnswerMessage($event)"
              ></app-content-text-participant>
              <app-content-sort-participant *ngIf="content.format === ContentType.SORT" [answer]="answer"
                                            [content]="content" [alreadySent]="alreadySent" [sendEvent]="sendEvent"
                                            (answerChanged)="forwardAnswerMessage($event)" [statsPublished]="statsPublished"
                                            [correctOptionsPublished]="correctOptionsPublished">
              </app-content-sort-participant>
            </div>
            <div *ngIf="[ContentType.SLIDE, ContentType.FLASHCARD].indexOf(content.format) === -1">
              <div [ngClass]="{'visible' : alreadySent, 'invisible': !alreadySent}" class="text">
                <p *ngIf="!hasAbstained">{{'answer.has-voted' | translate}}</p>
                <p *ngIf="hasAbstained">{{'answer.has-abstained' | translate}}</p>
              </div>
              <div [ngClass]="{'invisible' : alreadySent}">
                <div fxLayoutAlign="center" fxLayoutGap="10px">
                  <button tabindex="{{alreadySent ? '-1' : '0'}}" mat-raised-button *ngIf="content.abstentionsAllowed"
                          class="button-abort"
                          [ngClass]="{'disabled' : alreadySent}" (click)="submitAnswerEvent($event, 'abstention')" aria-labelledby="abstain">
                    {{ 'answer.abstain' | translate }}</button>
                  <button tabindex="{{alreadySent ? '-1' : '0'}}" mat-raised-button class="button-primary"
                          [ngClass]="{'disabled' : alreadySent}" type="submit"
                          aria-labelledby="submit">
                    {{ 'answer.submit' | translate }}</button>
                </div>
              </div>
            </div>
            <div *ngIf="content.format === ContentType.FLASHCARD" fxLayoutAlign="center">
              <button mat-raised-button class="button-primary" (click)="goToStats()" aria-labelledby="show-front">
                {{ 'answer.show-back' | translate }}
              </button>
            </div>
          </form>
        </div>
        <div class="back side" [ngClass]="{'invisible-card-content': !flipped}">
          <div *ngIf="flipped" class="back-container">
            <button id="go-to-content" *ngIf="content.format !== ContentType.FLASHCARD && flipped" tabindex="0" class="toggleSide" mat-icon-button
                    matTooltip="{{'answer.go-to-content' | translate}}" (click)="goToStats()" aria-labelledby="flip-back">
              <mat-icon class="corner-icon icon-secondary">
                cached
              </mat-icon>
            </button>
            <app-statistic-content *ngIf="content.format !== ContentType.FLASHCARD && flipped" [content]="content"
                                   [directShow]="true" [correctOptionsPublished]="correctOptionsPublished"></app-statistic-content>
            <div *ngIf="content.format === ContentType.FLASHCARD && flipped">
              <app-rendered-text [rawText]="content.additionalText" [renderedText]="content.renderedAdditionalText"
                                 [markdownFeatureset]="flashcardMarkdownFeatures" (rendered)="isLoading = false;"></app-rendered-text>
              <div fxLayoutAlign="center" fxLayoutGap="10px">
                <button mat-raised-button class="button-abort" (click)="goToStats()" aria-labelledby="show-front">
                  {{ 'answer.show-front' | translate }}
                </button>
                <button mat-raised-button [ngClass]="{'button-secondary': lastContent, 'button-primary': !lastContent}"
                        (click)="goToNextContent(lastContent)" aria-labelledby="next-content">
                  {{ (lastContent ? 'answer.first-content' : 'answer.next-content') | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>

  </section>
  <div tabindex="-1" class="visually-hidden">
    <div id="submit">{{ 'answer.a11y-submit' | translate }}</div>
    <div id="abstain">{{ 'answer.a11y-abstain' | translate }}</div>
    <div id="flip-to-stats">{{ 'answer.a11y-go-to-stats' | translate }}</div>
    <div id="flip-back">{{ 'answer.a11y-go-to-content' | translate }}</div>
    <div id="show-back">{{ 'answer.a11y-show-back' | translate }}</div>
    <div id="show-front">{{ 'answer.a11y-show-front' | translate }}</div>
    <div id="next-content">{{ 'answer.a11y-next-content' | translate }}</div>
  </div>
</div>
