.info {
  margin-top: -20px;
}

.info-icon {
  font-size: 24px;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
}

.content_container {
  width: 100%;
  height: calc(100% - 50px);
  float: left;
}

.scroll_container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.inner_scroll_container {
  width: 100%;
  margin-top: 15px;
  float: left;
}

.button_container {
  width: 100%;
  height: 50px;
  float: left;
}

.header-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.header-container button {
  margin-left: .3rem;
}
