h2 {
  margin: 20px 0;
}

.buttons {
  margin-top: 20px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

p {
  font-size: 20px;
  margin: 10px 0;
}

.answer {
  opacity: 0.7;
}

.text {
  margin: 20px 0 0 0;
  color: var(--primary);
}

.invisible {
  height: 0;
  transform: scale(0);
  text-align: center;
}

.visible {
  height: 32px;
  transition: 0.6s;
  transform: scale(1);
}
