<h2 class="mat-headline">{{ content.subject }}</h2>

<form *ngIf="!givenAnswer">
  <mat-divider></mat-divider>
  <mat-form-field class="input-block">
    <textarea (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()" matInput
              [(ngModel)]="textAnswer" name="answer" placeholder="{{ 'answer.your-answer' | translate }}"></textarea>
  </mat-form-field>
</form>
<mat-divider></mat-divider>
<div *ngIf="givenAnswer">
  <p>{{givenAnswer.body}}</p>
  <mat-divider></mat-divider>
</div>
<div fxLayoutAlign="center" fxLayoutGap="20px" class="buttons">
  <button mat-raised-button (click)="abstain($event)" class="abstain" [ngClass]="{'disabled' : alreadySent}">
    {{ 'answer.abstain' | translate }}</button>
  <button mat-raised-button (click)="submitAnswer()" class="submit" [ngClass]="{'disabled' : alreadySent}" type="submit">
    {{ 'answer.submit' | translate }}</button>
</div>
