h2 {
  margin: 20px 0 20px 0;
}

.buttons {
  margin-top: 20px;
}

.submit {
  background-color: var(--primary);
  color: var(--on-primary);
}

.abstain {
  background-color: var(--secondary);
  color: var(--on-secondary);
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

::ng-deep .mat-form-field-label {
  color: var(--on-surface)!important;
}

::ng-deep .mat-form-field-underline {
  background-color: var(--on-surface)!important;
}

::ng-deep .mat-form-field-ripple {
  background-color: var(--on-surface)!important;
}

mat-form-field {
  color: var(--on-surface);
}
