.mat-card {
  width: 92%;
}

.mat-list {
  background-color: var(--surface);
}

.mat-list-item {
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
}


@mixin show-button-bar {
  opacity: 1;
  max-width: 200px;
  pointer-events: initial;
}

.show-bar {
  @include show-button-bar;
}

.mat-list-item:hover {
  * > .button-bar {
    @include show-button-bar;
  }
}

.button-bar {
  pointer-events: none;
  opacity: 0;
  max-width: 0;
}

@media(hover: none) {
  .button-bar {
    @include show-button-bar;
  }
}

.moreButton {
  color: var(--primary)
}

.delete {
  color: var(--warn)
}

.mat-tooltip-component {
  position: relative;
}

.cardTitle {
  margin-left: 16px;
  min-width: 240px;
  width: 50%;
  align-items: center;
}
@media(min-width: 501px) {
  .status-bar {
    margin-right: 16px;
  }
}

@media(max-width: 500px) {
  .cardTitle {
    margin: 0;
  }

  .status-bar {
    margin: 0;
  }

  .settings-buttons {
    margin-top: 10px;
  }
}

.action-container {
  min-height: 60px;
  margin-bottom: 4px;
}

.status-bar {
  opacity: 0.8;
}

.active {
  animation: activate 400ms;
  color: var(--green);
}

.inactive {
  animation: disable 400ms;
  color: var(--red);
}

@keyframes activate {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes disable {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.activeInput {
  width: 100%;
  font-size: larger;
  font-weight: 500;
}

.slide-text {
  font-size: 16px;
  text-align: center;
}

.lock-icon {
  transition: 1s;
}

.locked {
  color: var(--primary);
}

.unlocked {
  color: var(--on-surface);
}

.locked-content {
  opacity: 0.7;
}

.unlocked-content {
  background-color: var(--secondary-variant)!important;
  & p {
    color: var(--black);
  }
}

.menu-lock {
  & mat-icon {
    color: var(--red);
  }
}

.menu-unlock {
  & mat-icon {
    color: var(--green);
  }
}

.content-list {
  max-width: 100%;
  min-height: 40px;
  min-width: 120px;
  display: block;
  background: var(--surface);
  border-radius: 4px;
  overflow: hidden;
}

.content-box {
  cursor: move;
  background: var(--surface);
}

.cdk-drag-preview {
  padding: 0 16px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.content-list.cdk-drop-list-dragging .content-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.not-supported {
  cursor: initial;
}

.settings-button {
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}

.add-mobile {
  background-color: var(--primary);
  margin: 0!important;
  position: fixed;
  bottom: 4vw;
  right: 4vw;
  z-index: 3;
}

@media(max-width: 500px) {
  .add-desktop {
    display: none;
  }

  .mat-card {
    margin-bottom: 4vw;
  }
}

@media(min-width: 501px) {
  .add-mobile {
    display: none;
  }
}
