<app-loading-indicator *ngIf="isLoading"></app-loading-indicator>
<div fxFill fxLayout="column">
  <div *ngIf="!isLoading" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
    <div class="visually-hidden">
      <button id="message-button" tabIndex="-1" (click)="announce()">
        {{ 'content.a11y-content-list-message' | translate: { name: contentGroup.name } }}</button>
      <button id="keys-button" tabIndex="-1" (click)="announce()">
        {{ 'content.a11y-content-list-shortcuts' | translate }}</button>
    </div>
    <mat-card>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <div class="cardTitle" fxLayout="row" fxLayoutAlign="start center">
          <mat-form-field class="activeInput no-field-hint" [ngClass]="{'hideEditing': !isInTitleEditMode && !inputFocus}" appearance="outline">
            <input id="nameInput" #nameInput (focus)="goInTitleEditMode()" (blur)="leaveTitleEditMode()"
                   (mouseenter)="inputFocus = true" (mouseleave)="inputFocus = false" (keyup.enter)="removeFocusFromInput()"
                   matInput maxlength="25" [(ngModel)]="updatedName" aria-labelledby="edit-content-group-name">
          </mat-form-field>
        </div>
        <div fxLayoutAlign="center center" fxLayoutGap="8px" class="status-bar">
          <mat-icon class="status-icon" [ngClass]="{'active': statisticsPublished, 'inactive': !statisticsPublished}"
                  [matTooltip]="('content.statistics-are' + (statisticsPublished ? '' : '-not') + '-published') | translate"
                    aria-labelledby="{{ ('content.a11y-statistics-are' + statisticsPublished ? '' : '-not' + '-published') | translate }}">
            bar_chart
          </mat-icon>
          <mat-icon class="status-icon" [ngClass]="{'active': correctOptionsPublished, 'inactive': !correctOptionsPublished}"
                    [matTooltip]="('content.correct-options-are' + (correctOptionsPublished ? '' : '-not') + '-published') | translate"
                    aria-labelledby="{{ ('content.a11y-correct-options-are' + correctOptionsPublished ? '' : '-not' + '-published') | translate }}">
            done_all
          </mat-icon>
        </div>
      </div>
      <mat-card-content fxLayout="column">
        <app-loading-indicator *ngIf="isLoading" [size]="50"></app-loading-indicator>
        <div *ngIf="!isLoading" fxLayout="row wrap" fxLayoutAlign="space-between center" class="action-container">
          <div *ngIf="!isInSortingMode" fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="10px">
            <button mat-raised-button id="content-create-button" class="button-primary add-desktop"
                    aria-labelledby="create-content" routerLink="/creator/room/{{ room.shortId }}/create-content">
              <mat-icon>add</mat-icon>
              {{ 'room-page.create-content' | translate}}
            </button>
            <button mat-mini-fab id="content-create-button-mobile" class="button-primary add-mobile"
                    aria-labelledby="create-content" routerLink="/creator/room/{{ room.shortId }}/create-content"
                    [matTooltip]="'room-page.create-content' | translate">
              <mat-icon>add</mat-icon>
            </button>
            <div class="settings-buttons">
              <button mat-button id="statistic-button" class="settings-button"  aria-labelledby="statistics"
                      routerLink="/creator/room/{{ room.shortId }}/statistics" [disabled]="contents.length === 0">
                <mat-icon>insert_chart</mat-icon>
                {{ 'room-page.answer-statistics' | translate }}
              </button>
              <button mat-button id="settings-button" class="settings-button" [matMenuTriggerFor]="groupSettings"
                      aria-labelledby="settings">
                <mat-icon>settings</mat-icon>
                {{ 'content.group-settings' | translate}}
              </button>
            </div>
            <mat-menu #groupSettings="matMenu">
              <button mat-menu-item (click)="toggleStatisticsPublished()"
                      aria-labelledby="publish-statistics">
                <mat-icon>bar_chart</mat-icon>
                {{ (statisticsPublished ? 'content.dont-publish-statistics' : 'content.publish-statistics') | translate }}
              </button>
              <button mat-menu-item (click)="toggleCorrectOptionsPublished()">
                <mat-icon>done_all</mat-icon>
                {{ (correctOptionsPublished ? 'content.dont-publish-correct-options' : 'content.publish-correct-options') | translate }}
              </button>
              <button mat-menu-item id="edit-group-sort" aria-labelledby="edit-content-group-sort"
                      (click)="goInSortingMode()" [disabled]="contents.length < 2">
                <mat-icon>swap_vert</mat-icon>
                {{ 'content.sort-content-group' | translate }}
              </button>
              <button mat-menu-item (click)="exportToCsv()" [disabled]="contents.length === 0">
                <mat-icon>file_download</mat-icon>
                {{ 'export.export' | translate }}
              </button>
              <button mat-menu-item (click)="importFromCsv()">
                <mat-icon>file_upload</mat-icon>
                {{ 'import.import' | translate }}
              </button>
            </mat-menu>
          </div>
          <div fxLayoutGap="10px">
            <button *ngIf="isInSortingMode" mat-raised-button class="abort button-abort"
                    (click)="leaveSortingMode(true)" (keyup.enter)="leaveTitleEditMode()" aria-labelledby="discard-changes">
              {{ 'content.abort' | translate }}
            </button>
            <button *ngIf="isInSortingMode" mat-raised-button class="button-secondary"
                    (keyup.enter)="saveSorting()" (click)="saveSorting()" aria-labelledby="save-sort-changes">
              {{ 'content.save' | translate }}
            </button>
          </div>
          <div fxLayoutAlign="center center" fxLayoutGap="16px">
            <p *ngIf="!isInSortingMode" class="slide-text">
              {{ 'content.unlock-collection' | translate}}
              <mat-slide-toggle id="lock-group-slide" (change)="publishContents()" [(ngModel)]="published"
                                aria-labelledby="lock-group">
              </mat-slide-toggle>
            </p>
          </div>
        </div>
        <div>
          <div tabindex="-1" id="content-list" class="visually-hidden">
            {{ 'content.a11y-content-list-contents' | translate: { count: contents.length } }}</div>
          <p *ngIf="contents.length === 0">{{ 'content.no-contents-yet' | translate }}</p>
          <mat-list *ngIf="!isInSortingMode">
              <mat-list-item *ngFor="let content of contents; index as i" fxLayout="column" fxLayoutAlign="center"
                             class="bottom-border" (click)="navigateToContentStats(content)"
                             [ngClass]="{'not-supported': contentTypes.indexOf(content.format) === -1, 'locked-content': !isPublished(i), 'unlocked-content': isPublished(i)}">
              <div fxLayout="row" fxLayoutAlign="space-between" fxFill>
                <p class="ellipsis" tabindex="0" role="button" (keyup.enter)="navigateToContentStats(content)"
                   attr.aria-label="{{ 'content.a11y-selected-content' | translate: { name: content.body } }}">
                  {{ content.body }}
                </p>
                <div fxLayout="row" fxLayoutAlign="center center" [ngClass]="{'show-bar': i === activeMenuIndex, 'button-bar': i !== activeMenuIndex}">
                  <div fxLayout="row" *ngIf="contentTypes.indexOf(content.format) > -1">
                    <button mat-icon-button *ngIf="content.format === 'TEXT' && content.state.answersPublished"
                            (click)="toggleAnswersPublished(content);$event.stopPropagation()"
                            attr.aria-label="{{ 'content.a11y-dont-publish-answers' | translate }}"
                            matTooltip="{{ 'content.dont-publish-answers' | translate}}">
                      <mat-icon class="lock-icon unlocked">visibility</mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="content.format === 'TEXT' && !content.state.answersPublished"
                            (click)="toggleAnswersPublished(content);$event.stopPropagation()"
                            attr.aria-label="{{ 'content.a11y-publish-answers' | translate }}"
                            matTooltip="{{ 'content.publish-answers' | translate}}">
                      <mat-icon class="lock-icon locked">visibility_off</mat-icon>
                    </button>
                    <button mat-icon-button (click)="$event.stopPropagation()" #publishTrigger="matMenuTrigger"
                            [matMenuTriggerFor]="publishActions" (menuOpened)="openedMenu(i)"
                            attr.aria-label="{{ 'content.a11y-unlock' | translate }}"
                            matTooltip="{{ 'content.unlock' | translate}}">
                      <mat-icon class="lock-icon locked">lock_open</mat-icon>
                    </button>
                    <mat-menu #publishActions="matMenu" xPosition="before" (closed)="closedMenu()">
                      <div class="menu-unlock">
                        <button mat-menu-item *ngIf="((firstPublishedIndex !== lastPublishedIndex) ||
                        (firstPublishedIndex === lastPublishedIndex && i !== firstPublishedIndex)) ||
                        !isPublished(i)" (click)="publishContent(i, true)"
                                [attr.aria-label]="'content.a11y-unlock-this-content' | translate">
                          <mat-icon>vertical_align_center</mat-icon>
                          {{ 'content.unlock-this-content' | translate}}
                        </button>
                        <button mat-menu-item *ngIf="i !== contents.length -1 && !isPublished(i)" (click)="publishContentFrom(i, true)"
                                [attr.aria-label]="'content.a11y-unlock-contents-from' | translate">
                          <mat-icon>vertical_align_top</mat-icon>
                          {{ 'content.unlock-contents-from' | translate}}
                        </button>
                        <button mat-menu-item *ngIf="!isPublished(i) && i > 0" (click)="publishContentUpTo(i, true)"
                                [attr.aria-label]="'content.a11y-unlock-contents-up-to' | translate">
                          <mat-icon>vertical_align_bottom</mat-icon>
                          {{ 'content.unlock-contents-up-to' | translate}}
                        </button>
                      </div>
                      <div *ngIf="isPublished(i)" class="menu-lock">
                        <button mat-menu-item *ngIf="isStart(i) || isEnd(i)" (click)="publishContent(i, false)"
                                [attr.aria-label]="'content.a11y-lock-this-content' | translate">
                          <mat-icon>vertical_align_center</mat-icon>
                          {{ 'content.lock-this-content' | translate}}
                        </button>
                        <button mat-menu-item *ngIf="!isStart(i)" (click)="publishContentUpTo(i, false)"
                                [attr.aria-label]="'content.a11y-lock-contents-up-to' | translate">
                          <mat-icon>vertical_align_top</mat-icon>
                          {{ 'content.lock-contents-up-to' | translate}}
                        </button>
                        <button mat-menu-item *ngIf="!isEnd(i)" (click)="publishContentFrom(i, false)"
                                  [attr.aria-label]="'content.a11y-lock-contents-from' | translate">
                          <mat-icon>vertical_align_bottom</mat-icon>
                          {{ 'content.lock-contents-from' | translate}}
                        </button>
                      </div>
                    </mat-menu>
                    <button mat-icon-button (keyup.enter)="menuTrigger.openMenu()" #menuTrigger="matMenuTrigger"
                            [matMenuTriggerFor]="moreActions" (click)="$event.stopPropagation()" aria-labelledby="more"
                            (menuOpened)="openedMenu(i)"
                            class="moreButton" matTooltip="{{ 'content.more-options' | translate}}">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #moreActions="matMenu" xPosition="before" (closed)="closedMenu()">
                      <button mat-menu-item (click)="editContent(content)" attr.aria-label="{{ 'content.a11y-edit-content' | translate }}">
                        <mat-icon>edit</mat-icon>
                        <span> {{ 'content.edit-content' | translate}}</span>
                      </button>
                      <button mat-menu-item [matMenuTriggerFor]="chooseGroups" attr.aria-label="{{ 'content.a11y-add-to-content-group' | translate }}">
                        <mat-icon>library_add</mat-icon>
                        <span>{{ 'content.add-content-to-group' | translate}}</span>
                      </button>
                      <button mat-menu-item (click)="showDeleteAnswerDialog(content)" attr.aria-label="{{ 'content.a11y-delete-answers' | translate }}">
                        <mat-icon>clear_all</mat-icon>
                        <span>{{ 'content.delete-answers' | translate}}</span>
                      </button>
                      <button mat-menu-item (click)="removeContent(content)" attr.aria-label="{{ 'content.a11y-remove-content-from-group' | translate }}">
                        <mat-icon>clear</mat-icon>
                        <span>{{ 'content.remove-content-from-group' | translate}}</span>
                      </button>
                      <button mat-menu-item (click)="deleteContent(content)" attr.aria-label="{{ 'content.a11y-delete-content' | translate }}">
                        <mat-icon class="delete">delete_forever</mat-icon>
                        <span>{{ 'content.delete-content' | translate}}</span>
                      </button>
                    </mat-menu>

                    <mat-menu #chooseGroups="matMenu" xPosition="before">
                      <button mat-menu-item *ngFor="let cg of contentGroups; index as i" [disabled]="i === currentGroupIndex"
                              (click)="addToContentGroup(content.id, cg, false)"
                              attr.aria-label="{{ 'content.a11y-add-to-this-content-group' | translate: { name: cg } }}">
                        <span>{{ cg }}</span>
                      </button>
                      <mat-divider></mat-divider>
                      <button mat-menu-item (click)="showContentGroupCreationDialog(content.id, false)" attr.aria-label="{{ 'content.a11y-new-content-group' | translate }}">
                        <mat-icon>add</mat-icon>
                        <span>{{ 'content.new-content-group' | translate}}</span>
                      </button>
                    </mat-menu>
                  </div>
                  <button *ngIf="contentTypes.indexOf(content.format) === -1" class="not-supported" mat-icon-button
                          #warning="matTooltip" matTooltip="{{ 'content.format-not-supported' | translate }}"
                          (click)="warning.toggle();$event.stopPropagation()">
                    <mat-icon class="warn-icon">warning</mat-icon>
                  </button>
                </div>
              </div>
              </mat-list-item>
          </mat-list>
          <div *ngIf="isInSortingMode">
            <mat-list cdkDropList [cdkDropListData]="copiedContents" (cdkDropListDropped)="drop($event)">
              <mat-list-item class="content-box bottom-border" fxLayout="column" fxLayoutAlign="center"
                             *ngFor="let content of copiedContents; index as i" cdkDrag [cdkDragStartDelay]="50"
                             [ngClass]="{'locked-content': !isPublished(i), 'unlocked-content': isPublished(i)}">
                <div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
                  <p class="ellipsis">{{content.body}}</p>
                  <mat-icon>drag_handle</mat-icon>
                </div>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="visually-hidden">
  <div id="edit-content-group-name">{{ 'content.a11y-edit-content-group-name' | translate }}</div>
  <div id="create-content">{{ 'content.a11y-create-content' | translate }}</div>
  <div id="statistics">{{ 'content.a11y-nav-to-stats' | translate }}</div>
  <div id="settings">{{ 'content.a11y-open-group-settings' | translate }}</div>
  <div id="publish-statistics">{{ (statisticsPublished ? 'content.a11y-dont-publish-statistics' : 'content.a11y-publish-statistics') | translate }}</div>
  <div id="lock-group">{{ (published ? 'content.a11y-lock-collection' : 'content.a11y-unlock-collection') | translate }}</div>
  <div id="more">{{ 'content.a11y-more-options' | translate }}</div>
  <div id="save-sort-changes">{{ 'content.a11y-save-sort-changes' | translate }}</div>
</div>
