.mat-card {
  width: 92%;
}

.mat-card-content > :first-child {
  height: 64px;
}

.mat-list {
  background-color: var(--surface);
}

.mat-list-item {
  cursor: pointer;
}

.actionButton {
  width: 75%;
  height: 75%;
  margin: 5px;
  transition: all 150ms;
  color: var(--primary) !important;
  &.mat-focus-indicator {
    border-radius: 0;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.actionIcon {
  font-size: 40px;
  height: 40px;
  width: 40px;
}


.desktop {
  font-size: 50px;
  height: 50px;
  width: 50px;
}

.button-text {
  padding: 0;
  margin: 3% 0;
}

@media (min-width: 500px) {
  .button-text {
    font-size: 18px;
  }
}

.small-text {
  font-size: 16px;
}

.moreButton {
  color: var(--primary)
}

.delete {
  color: var(--warn)
}

.mat-tooltip-component {
  position: relative;
}

.cardTitle {
  margin-left: 16px;
  width: 70%;
  height: 70px;
}

.activeInput {
  width: 100%;
  font-size: larger;
}

.inactiveInput {
  height: 0;
  width: 0;
}

.lock {
  margin: 0 10px;
}

.slide-text {
  font-size: 16px;
  text-align: center;
}

.mat-raised-button {
  min-width: 120px;
}

.abort {
  margin-right: 16px;
}

.lock-icon {
  transition: 1s;
}

.locked {
  color: var(--primary);
}

.unlocked {
  color: var(--on-surface);
}

.content-list {
  max-width: 100%;
  min-height: 40px;
  min-width: 120px;
  display: block;
  background: var(--surface);
  border-radius: 4px;
  overflow: hidden;
}

.content-box {
  cursor: move;
  background: var(--surface);
}

.cdk-drag-preview {
  padding: 0 16px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.content-list.cdk-drop-list-dragging .content-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.not-supported {
  cursor: initial;
}

h2 {
  margin: 16px 0;
}
