@if (isLoading) {
  <app-loading-indicator></app-loading-indicator>
}
@if (!isLoading) {
  <app-content-choice-answer
    [answer]="answer"
    [selectableAnswers]="selectableAnswers"
    [isDisabled]="isDisabled"
    [multipleAnswersAllowed]="content.multiple"
    [hasAbstained]="hasAbstained"
    [hasCorrectAnswer]="isChoice"
    [isCorrectAnswerPublished]="correctOptionsPublished"
    [contentId]="content.id"
    [selectedAnswerIndex]="selectedAnswerIndex"
    [correctOptionIndexes]="correctOptionIndexes"
    [language]="language"
    (answerIndexSelected)="setAnswerIndex($event)"
  >
  </app-content-choice-answer>
}
