@use '../../../variables' as *;

@include xs {
  .content-count {
    font-size: $xs-font-size;
  }

  .locked-info {
    font-size: $xs-font-size;

    mat-icon {
      font-size: $xs-font-size;
      width: $xs-font-size;
      height: $xs-font-size;
    }
  }
}

@include gt-xs {
  .content-count {
    font-size: $s-font-size;
  }

  .locked-info {
    font-size: $s-font-size;

    mat-icon {
      font-size: $s-font-size;
      width: $s-font-size;
      height: $s-font-size;
    }
  }
}

.group-type-container {
  padding: 6px;
  border-radius: 50%;
}

.group-type {
  font-size: $m-font-size;
  width: $m-font-size;
  height: $m-font-size;
}

.content-count {
  white-space: nowrap;

  &:not(.count-color) {
    opacity: 0.7;
  }
}

.count-color {
  border-radius: $border-radius;
  padding: 4px 8px;
  border-width: 2px;
  border-style: solid;
}

.locked-info {
  color: var(--on-surface);
  opacity: 0.7;
}

.mixed {
  color: var(--mixed);
  border-color: var(--mixed-variant);

  &:not(.no-bg) {
    background-color: var(--mixed-variant);
  }
}

.quiz {
  color: var(--quiz);
  border-color: var(--quiz-variant);

  &:not(.no-bg) {
    background-color: var(--quiz-variant);
  }
}

.survey {
  color: var(--survey);
  border-color: var(--survey-variant);

  &:not(.no-bg) {
    background-color: var(--survey-variant);
  }
}

.flashcards {
  color: var(--flashcards);
  border-color: var(--flashcards-variant);

  &:not(.no-bg) {
    background-color: var(--flashcards-variant);
  }
}
