@import '../../../variables';

@include xs {
  .content-count {
    font-size: $xs-font-size;
  }

  .locked-info {
    font-size: $xs-font-size;

    mat-icon {
      font-size: $xs-font-size;
      width: $xs-font-size;
      height: $xs-font-size;
    }
  }
}

@include gt-xs {
  .content-count {
    font-size: $s-font-size;
  }

  .locked-info {
    font-size: $s-font-size;

    mat-icon {
      font-size: $s-font-size;
      width: $s-font-size;
      height: $s-font-size;
    }
  }
}

.group-type-container {
  padding: 6px;
  border-radius: 50%;
}

.group-type {
  font-size: $m-font-size;
  width: $m-font-size;
  height: $m-font-size;
}

.content-count {
  opacity: 0.7;
}

.locked-info {
  color: var(--on-surface);
  opacity: 0.7;
}

.mixed {
  color: var(--mixed);
  background-color: var(--mixed-variant);
}

.quiz {
  color: var(--quiz);
  background-color: var(--quiz-variant);
}

.survey {
  color: var(--survey);
  background-color: var(--survey-variant);
}

.flashcards {
  color: var(--flashcards);
  background-color: var(--flashcards-variant);
}
