<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
  @if (groupType) {
    <div
      fxLayout="row"
      fxLayoutAlign="center center"
      class="group-type-container"
      [class]="groupType.toLowerCase()"
      [matTooltip]="'content.group-type-' + groupType.toLowerCase() | transloco"
    >
      <mat-icon class="group-type">{{ typeIcons.get(groupType) }}</mat-icon>
    </div>
  }
  @if (contentCount !== undefined) {
    <span class="content-count">{{
      'content.content-count'
        | transloco
          : {
              count: contentCount,
            }
    }}</span>
  }
  @if (!published) {
    <div
      fxLayout="row"
      fxLayoutGap="4px"
      fxLayoutAlign="start center"
      class="locked-info"
    >
      <mat-icon>lock</mat-icon>
      <span>{{ 'creator.content.locked' | transloco }}</span>
    </div>
  }
</div>
