@import '../../presentation/bars/control-bar/control-bar.component';

.mat-card {
  margin: 3% 5px;
  max-width: 800px;
  width: calc(calc(92vw - 2em) - 10px);
}

.presentation-card {
  max-width: 600px;
  margin-bottom: $bar-height;
}

.scalable {
  transform-origin: 0 0;
  max-width: 610px;
  transition: transform 300ms;
  transform: scale(1);
  position: absolute;
}
