.pulsating-circle {
  background-color: var(--play);
  border-radius: 50%;
  animation: pulsate 2s ease-out;
  animation-iteration-count: infinite;
}

@keyframes pulsate {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}
