<mat-form-field
  fxFill
  appearance="outline"
  class="no-field-hint"
  [ngClass]="{ 'smaller-select-input': smaller }"
>
  <mat-label>{{ 'templates.language' | transloco }}</mat-label>

  <mat-select [value]="selectedLang" [disabled]="formDisabled">
    @if (allowNoneSelection) {
      <mat-option (click)="updateLang()">
        {{ 'general.not-specified' | transloco }}
      </mat-option>
      <mat-divider></mat-divider>
    }
    @for (lang of langs; track lang) {
      <mat-option [value]="lang" (click)="updateLang(lang)">
        {{ lang.nativeName }}
      </mat-option>
    }
  </mat-select>
</mat-form-field>
