mat-form-field {
  font-size: x-large;
}

form {
  padding-top: 5%;
}

mat-error {
  font-size: small;
  color: var(--on-surface) !important;
}

.mat-fab {
  width: 65px;
  height: 65px;
  background-color: var(--primary);
  color: var(--on-primary);
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px var(--surface) inset;
  -webkit-text-fill-color: var(--on-surface);
}
