<mat-list *ngIf="content.multiple">
  <mat-list-item *ngFor="let answer of checkedAnswers" fxLayout="column" fxLayoutAlign="center">
    <mat-checkbox [disabled]="true" *ngIf="alreadySent" [checked]="answer.checked" name="answer">
      {{ answer.answerOption.label }}
    </mat-checkbox>
    <mat-checkbox *ngIf="!alreadySent" [(ngModel)]="answer.checked" name="answer"
                  aria-label="{{ 'answer.a11y-select-answer' | translate: {answer: answer.answerOption.label} }}">
      {{ answer.answerOption.label }}
    </mat-checkbox>
  </mat-list-item>
</mat-list>
<mat-radio-group [disabled]="alreadySent" *ngIf="!content.multiple" name="Radio">
  <mat-list>
    <mat-list-item *ngFor="let answer of checkedAnswers" fxLayout="column" fxLayoutAlign="center">
      <mat-radio-button (change)="selectSingleAnswer(answer.answerOption.label)"
                        aria-label="{{ 'answer.a11y-select-answer' | translate: {answer: answer.answerOption.label} }}"
                        [checked]="answer.checked" [value]="answer.answerOption.label" name="answer">
        {{ answer.answerOption.label }}
      </mat-radio-button>
    </mat-list-item>
  </mat-list>
</mat-radio-group>
<div *ngIf="isChoice && !hasAbstained && content.state.responsesVisible"
     class="solution invisible" [ngClass]="{'visible' : alreadySent}">
  <mat-icon class="icon-indicator" [ngClass]="isCorrect ? 'correct' : 'wrong'">
    {{isCorrect ? 'check' : 'close'}}</mat-icon>
</div>
