<mat-list *ngIf="content.multiple">
  <div class="mat-list-item" *ngFor="let checkedAnswer of checkedAnswers; let i = index" fxLayout="row" fxLayoutAlign="space-between center"
       [ngClass]="{'correct-answer': checkOption(i ,true), 'wrong-answer': checkOption(i, false)}">
    <mat-checkbox [disabled]="true" *ngIf="alreadySent" [checked]="checkedAnswer.checked" name="answer">
      {{ checkedAnswer.answerOption.label }}
    </mat-checkbox>
    <mat-checkbox *ngIf="!alreadySent" [(ngModel)]="checkedAnswer.checked" name="answer"
                  aria-label="{{ 'answer.a11y-select-answer' | translate: {answer: checkedAnswer.answerOption.label} }}">
      {{ checkedAnswer.answerOption.label }}
    </mat-checkbox>
    <mat-icon *ngIf="isCorrectOptionVisible(i)"
              [ngClass]="correctOptionIndexes.includes(i) ? 'correct' : 'wrong'">
      {{ isAnswerOptionCorrect(i) ? 'check' : 'close'}}</mat-icon>
  </div>
</mat-list>
<mat-radio-group [disabled]="alreadySent" *ngIf="!content.multiple" name="{{'answer' + content.id}}">
  <mat-list>
    <div class="mat-list-item" *ngFor="let checkedAnswer of checkedAnswers; let i = index" fxLayout="row" fxLayoutAlign="space-between center"
         [ngClass]="{'correct-answer': checkOption(i, true), 'wrong-answer': checkOption(i, false)}">
      <mat-radio-button (change)="selectSingleAnswer(checkedAnswer.answerOption.label)"
                        aria-label="{{ 'answer.a11y-select-answer' | translate: {answer: checkedAnswer.answerOption.label} }}"
                        [checked]="checkedAnswer.checked" [value]="checkedAnswer.answerOption.label" name="answer">
        {{ checkedAnswer.answerOption.label }}
      </mat-radio-button>
      <mat-icon *ngIf="isCorrectOptionVisible(i)" [ngClass]="correctOptionIndexes.includes(i) ? 'correct' : 'wrong'">
        {{ isAnswerOptionCorrect(i) ? 'check' : 'close'}}</mat-icon>
    </div>
  </mat-list>
</mat-radio-group>
