<div fxLayout="column" fxLayoutAlign="center center" fxFill>
  <mat-card fxLayout="column" fxLayoutAlign="center center" [ngClass]="{'invisible-card': deviceWidth < 500}">
    <form (ngSubmit)="resetPassword()" class="full-width" fxLayout="column" fxLayoutAlign="space-around"
          fxLayoutGap="10px">
      <mat-form-field class="input-block" appearance="outline">
        <mat-label>{{ 'login.email' | translate }}</mat-label>
        <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
               aria-labelledby="password-reset-description" placeholder="{{ 'login.enter-email' | translate }}"
               matInput type="email" #email [(ngModel)]="username" [formControl]="usernameFormControl"
               [errorStateMatcher]="matcher" name="email"/>
      </mat-form-field>
      <p class="info">{{ 'password-reset.forgot-password' | translate }}</p>
      <div fxLayout="column" fxLayoutAlign="center center">
        <button mat-raised-button class="button-primary login-button" type="submit" aria-labelledby="password-reset-button">
          {{ 'password-reset.reset-password' | translate }}
        </button>
      </div>
    </form>
  </mat-card>
</div>

<div class="visually-hidden">
  <div id="password-reset-description">{{ 'password-reset.email-description' | translate }}</div>
  <div id="password-reset-button">{{ 'password-reset.a11y-reset-button' | translate }}</div>
</div>
