<div fxLayout="column" fxLayoutAlign="center center" fxFill>
  <mat-card fxLayout="column" fxLayoutAlign="center center" [ngClass]="{'invisible-card': deviceWidth < 500}">
    <h4 fxFlexAlign="start">{{ 'password-reset.forgot-password' | translate }}</h4>
    <form (ngSubmit)="resetPassword()" class="full-width" fxLayout="column" fxLayoutAlign="space-around"
          fxLayoutGap="10px">
      <mat-form-field class="input-block">
        <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
               aria-labelledby="password-reset-description"
               matInput type="email" #email [(ngModel)]="username" [formControl]="usernameFormControl"
               [errorStateMatcher]="matcher" name="email"/>
        <mat-placeholder>{{ 'password-reset.email' | translate }}</mat-placeholder>
        <mat-error *ngIf="usernameFormControl.hasError('email') && !usernameFormControl.hasError('required')">
          {{ 'password-reset.email-invalid' | translate }}
        </mat-error>
      </mat-form-field>
      <div fxLayout="column" fxLayoutAlign="center center">
        <button mat-raised-button class="button-primary login-button" type="submit" aria-labelledby="password-reset-button">
          {{ 'password-reset.reset-password' | translate }}
        </button>
      </div>
    </form>
  </mat-card>
</div>

<div class="visually-hidden">
  <div id="password-reset-description">{{ 'password-reset.email-description' | translate }}</div>
  <div id="password-reset-button">{{ 'password-reset.a11y-reset-button' | translate }}</div>
</div>
