<div fxLayout="column" fxLayoutGap="0.75em" fxLayoutAlign="start center">
  @if (showFixedBar) {
    <div class="bar-placeholder"></div>
  }
  <div
    class="bar-container"
    [ngClass]="{
      'bar-container-fixed': showFixedBar,
    }"
    fxLayout="column"
    fxLayoutAlign="start center"
  >
    <div fxLayout="row" fxLayoutGap="8px" class="inner-bar-container">
      <mat-form-field
        appearance="outline"
        class="no-field-hint minimal-height-input search-input"
      >
        <mat-icon matPrefix class="smaller-icon search-icon">search</mat-icon>
        <input
          matInput
          (input)="search()"
          (keyup.escape)="resetSearch()"
          [(ngModel)]="searchInput"
          [placeholder]="
            (commentCounter === 0
              ? 'comment-list.no-posts-to-search'
              : 'comment-list.search-comments-with-count'
            ) | transloco: { count: commentCounter }
          "
          appHotkey="2"
          [appHotkeyTitle]="'comment-list.search-comments' | transloco"
        />
        @if (searchInput) {
          <button mat-icon-button matSuffix (click)="resetSearch()">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>

      <mat-form-field
        id="sort-select"
        appearance="outline"
        class="no-field-hint minimal-height-select-input sort-select"
      >
        <mat-select
          [value]="currentSort"
          [hideSingleSelectionIndicator]="true"
          appHotkey="3"
          [appHotkeyTitle]="'comment-list.sort-comments' | transloco"
        >
          <mat-select-trigger>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
              <mat-icon class="smaller-icon"> sort </mat-icon>
              <span class="ellipsis sort-option">{{
                'comment-list.sort-' + currentSort | transloco
              }}</span>
            </div>
          </mat-select-trigger>
          @for (sortItem of sortItems; track sortItem) {
            <mat-option
              [value]="sortItem.name"
              (click)="sort(sortItem.name)"
              [attr.aria-label]="
                'comment-list.a11y-sort-' + sortItem.name | transloco
              "
              appTrackInteraction="Comments sorted"
              [appTrackName]="sortItem.name"
            >
              <mat-icon
                [ngClass]="
                  currentSort === sortItem.name
                    ? sortItem.activeClass + ' icon-important'
                    : ''
                "
                >{{ sortItem.icon }}</mat-icon
              >
              <span class="sort-option">{{
                'comment-list.sort-' + sortItem.name | transloco
              }}</span>
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <button
        id="sort-button"
        mat-icon-button
        [matMenuTriggerFor]="sortMenu"
        [matTooltip]="'comment-list.sort-comments' | transloco"
      >
        <mat-icon class="bar-icon">sort</mat-icon>
      </button>

      <app-comment-filter
        [currentFilter]="currentFilter"
        [period]="period"
        [categories]="categories"
        [selectedCategory]="selectedCategory"
        (filterSelected)="filter($event)"
        (categorySelected)="selectCategory($event)"
        (periodSelected)="setPeriod($event)"
      ></app-comment-filter>

      <ng-content></ng-content>

      @if (showAddButton) {
        <div class="add-button-divider">
          <mat-divider [vertical]="true"></mat-divider>
        </div>
      }
      @if (showAddButton) {
        <button
          id="add-comment-button"
          mat-raised-button
          color="primary"
          [disabled]="isAddButtonDisabled"
          (click)="create()"
          appHotkey="1"
          [appHotkeyTitle]="'comment-list.add-comment' | transloco"
        >
          <mat-icon>add</mat-icon>
          {{ 'comment-list.add-comment' | transloco }}
        </button>
      }
    </div>

    <mat-menu
      #sortMenu="matMenu"
      appTrackInteraction="Comment sort menu opened"
    >
      @for (sortItem of sortItems; track sortItem) {
        <button
          mat-menu-item
          (click)="sort(sortItem.name)"
          [attr.aria-label]="
            'comment-list.a11y-sort-' + sortItem.name | transloco
          "
          appTrackInteraction="Comments sorted"
          [appTrackName]="sortItem.name"
        >
          <mat-icon
            [ngClass]="
              currentSort === sortItem.name
                ? sortItem.activeClass + ' icon-important'
                : ''
            "
            >{{ sortItem.icon }}</mat-icon
          >
          <span
            [ngClass]="{ 'selected-menu-item': currentSort === sortItem.name }"
            >{{ 'comment-list.sort-' + sortItem.name | transloco }}</span
          >
        </button>
      }
    </mat-menu>
  </div>
  @if (currentFilter || period !== CommentPeriod.ALL || selectedCategory) {
    <mat-chip-listbox fxFill>
      @if (period !== CommentPeriod.ALL) {
        <app-filter-chip
          [name]="'comment-list.select-' + period | transloco"
          (removeClicked)="setPeriod(CommentPeriod.ALL)"
        ></app-filter-chip>
      }
      @if (currentFilter && currentFilter !== CommentFilter.TAG) {
        <app-filter-chip
          [name]="'comment-list.filter-' + currentFilter | transloco"
          (removeClicked)="filter()"
        ></app-filter-chip>
      }
      @if (selectedCategory) {
        <app-filter-chip
          [name]="selectedCategory"
          (removeClicked)="selectCategory()"
        ></app-filter-chip>
      }
    </mat-chip-listbox>
  }
</div>
