<div fxLayout="column" fxLayoutGap="0.75em" fxLayoutAlign="start center">
  @if (showFixedBar) {
    <div class="bar-placeholder"></div>
  }
  <div
    class="bar-container"
    [ngClass]="{
      'bar-container-fixed': showFixedBar,
    }"
    fxLayout="column"
    fxLayoutAlign="start center"
  >
    <div fxLayout="row" fxLayoutGap="8px" class="inner-bar-container">
      <mat-form-field
        appearance="outline"
        class="no-field-hint minimal-height-input search-input"
      >
        <mat-icon matPrefix class="smaller-icon search-icon">search</mat-icon>
        <input
          matInput
          (input)="search()"
          (keyup.escape)="resetSearch()"
          [(ngModel)]="searchInput"
          [placeholder]="
            (commentCounter === 0
              ? 'comment-list.no-posts-to-search'
              : 'comment-list.search-comments-with-count'
            ) | transloco: { count: commentCounter }
          "
          appHotkey="2"
          [appHotkeyTitle]="'comment-list.search-comments' | transloco"
        />
        @if (searchInput) {
          <button mat-icon-button matSuffix (click)="resetSearch()">
            <mat-icon>close</mat-icon>
          </button>
        }
      </mat-form-field>

      <mat-form-field
        id="sort-select"
        appearance="outline"
        class="no-field-hint minimal-height-select-input sort-select"
      >
        <mat-select
          [value]="currentSort"
          [hideSingleSelectionIndicator]="true"
          appHotkey="3"
          [appHotkeyTitle]="'comment-list.sort-comments' | transloco"
        >
          <mat-select-trigger>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
              <mat-icon class="smaller-icon"> sort </mat-icon>
              <span class="ellipsis sort-option">{{
                'comment-list.sort-' + currentSort | transloco
              }}</span>
            </div>
          </mat-select-trigger>
          @for (sortItem of sortItems; track sortItem) {
            <mat-option
              [value]="sortItem.name"
              (click)="sort(sortItem.name)"
              [attr.aria-label]="
                'comment-list.a11y-sort-' + sortItem.name | transloco
              "
              appTrackInteraction="Comments sorted"
              [appTrackName]="sortItem.name"
            >
              <mat-icon
                [ngClass]="
                  currentSort === sortItem.name
                    ? sortItem.activeClass + ' icon-important'
                    : ''
                "
                >{{ sortItem.icon }}</mat-icon
              >
              <span class="sort-option">{{
                'comment-list.sort-' + sortItem.name | transloco
              }}</span>
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <button
        id="sort-button"
        mat-icon-button
        [matMenuTriggerFor]="sortMenu"
        [matTooltip]="'comment-list.sort-comments' | transloco"
        appHotkey="3"
      >
        <mat-icon class="bar-icon">sort</mat-icon>
      </button>

      <button
        id="filter-button"
        mat-icon-button
        [matMenuTriggerFor]="filterMenu"
        [matTooltip]="'comment-list.filter-comments' | transloco"
        appHotkey="4"
      >
        <mat-icon class="bar-icon">filter_alt</mat-icon>
      </button>

      <ng-content></ng-content>

      @if (showAddButton) {
        <div class="add-button-divider">
          <mat-divider [vertical]="true"></mat-divider>
        </div>
      }
      @if (showAddButton) {
        <button
          id="add-comment-button"
          mat-raised-button
          color="primary"
          [disabled]="isAddButtonDisabled"
          (click)="create()"
          appHotkey="1"
          [appHotkeyTitle]="'comment-list.add-comment' | transloco"
        >
          <mat-icon>add</mat-icon>
          {{ 'comment-list.add-comment' | transloco }}
        </button>
      }
    </div>

    <mat-menu
      #sortMenu="matMenu"
      appTrackInteraction="Comment sort menu opened"
    >
      @for (sortItem of sortItems; track sortItem) {
        <button
          mat-menu-item
          (click)="sort(sortItem.name)"
          [attr.aria-label]="
            'comment-list.a11y-sort-' + sortItem.name | transloco
          "
          appTrackInteraction="Comments sorted"
          [appTrackName]="sortItem.name"
        >
          <mat-icon
            [ngClass]="
              currentSort === sortItem.name
                ? sortItem.activeClass + ' icon-important'
                : ''
            "
            >{{ sortItem.icon }}</mat-icon
          >
          <span
            [ngClass]="{ 'selected-menu-item': currentSort === sortItem.name }"
            >{{ 'comment-list.sort-' + sortItem.name | transloco }}</span
          >
        </button>
      }
    </mat-menu>

    <mat-menu
      #filterMenu="matMenu"
      appTrackInteraction="Comment filter menu opened"
    >
      <button
        mat-menu-item
        (click)="filter(CommentFilter.FAVORITE)"
        [attr.aria-label]="'comment-list.a11y-filter-favorite' | transloco"
        appTrackInteraction="Comments filtered"
        appTrackName="favorite"
      >
        <mat-icon
          [ngClass]="{
            'yellow icon-important': currentFilter === CommentFilter.FAVORITE,
          }"
          >grade</mat-icon
        >
        <span
          [ngClass]="{
            'selected-menu-item': currentFilter === CommentFilter.FAVORITE,
          }"
          >{{ 'comment-list.filter-favorite' | transloco }}</span
        >
      </button>

      <button
        mat-menu-item
        (click)="filter(CommentFilter.ANSWERED)"
        [attr.aria-label]="'comment-list.a11y-filter-answer' | transloco"
        appTrackInteraction="Comments filtered"
        appTrackName="answer"
      >
        <mat-icon
          [ngClass]="{
            'blue icon-important': currentFilter === CommentFilter.ANSWERED,
          }"
          >comment</mat-icon
        >
        <span
          [ngClass]="{
            'selected-menu-item': currentFilter === CommentFilter.ANSWERED,
          }"
          >{{ 'comment-list.filter-answered' | transloco }}</span
        >
      </button>

      <button
        mat-menu-item
        (click)="filter(CommentFilter.CORRECT)"
        [attr.aria-label]="'comment-list.a11y-filter-correct' | transloco"
        appTrackInteraction="Comments filtered"
        appTrackName="correct"
      >
        <mat-icon
          [ngClass]="{
            'green icon-important': currentFilter === CommentFilter.CORRECT,
          }"
          >check_circle</mat-icon
        >
        <span
          [ngClass]="{
            'selected-menu-item': currentFilter === CommentFilter.CORRECT,
          }"
          >{{ 'comment-list.filter-correct' | transloco }}</span
        >
      </button>

      <button
        mat-menu-item
        (click)="filter(CommentFilter.WRONG)"
        [attr.aria-label]="'comment-list.a11y-filter-wrong' | transloco"
        appTrackInteraction="Comments filtered"
        appTrackName="wrong"
      >
        <mat-icon
          [ngClass]="{
            'red icon-important': currentFilter === CommentFilter.WRONG,
          }"
          >cancel</mat-icon
        >
        <span
          [ngClass]="{
            'selected-menu-item': currentFilter === CommentFilter.WRONG,
          }"
          >{{ 'comment-list.filter-wrong' | transloco }}</span
        >
      </button>

      <button mat-menu-item [matMenuTriggerFor]="timeMenu">
        <mat-icon>access_time</mat-icon>
        <span
          [ngClass]="{
            'selected-menu-item': period !== CommentPeriod.ALL,
          }"
          >{{ 'comment-list.filter-time' | transloco }}</span
        >
      </button>

      <div
        [matTooltip]="'comment-list.no-categories-in-this-room' | transloco"
        [matTooltipDisabled]="!!categories"
      >
        <button
          [disabled]="!categories"
          mat-menu-item
          [matMenuTriggerFor]="categoriesMenu"
        >
          <mat-icon>sell</mat-icon>
          <span
            [ngClass]="{
              'selected-menu-item': selectedCategory,
            }"
            >{{ 'comment-list.filter-categories' | transloco }}</span
          >
        </button>
      </div>
    </mat-menu>

    <mat-menu #timeMenu="matMenu">
      @for (periodItem of periodsList; track periodItem) {
        <div>
          <button
            mat-menu-item
            (click)="setTimePeriod(periodItem)"
            [attr.aria-label]="
              'comment-list.a11y-select-' + periodItem | transloco
            "
            appTrackInteraction="Comments filtered (period)"
            [appTrackName]="periodItem"
          >
            <span [ngClass]="{ 'selected-menu-item': periodItem === period }">{{
              'comment-list.select-' + periodItem | transloco
            }}</span>
          </button>
        </div>
      }
    </mat-menu>

    <mat-menu #categoriesMenu="matMenu">
      @for (category of categories; track category) {
        <div>
          <button
            mat-menu-item
            (click)="selectCategory(category)"
            appTrackInteraction="Comments filtered (category)"
            [appTrackName]="category"
          >
            <span
              [ngClass]="{
                'selected-menu-item': selectedCategory === category,
              }"
              >{{ category }}</span
            >
          </button>
        </div>
      }
    </mat-menu>
  </div>
  @if (currentFilter || period !== CommentPeriod.ALL || selectedCategory) {
    <mat-chip-listbox fxFill>
      @if (period !== CommentPeriod.ALL) {
        <app-filter-chip
          [name]="'comment-list.select-' + period | transloco"
          (removeClicked)="setTimePeriod(CommentPeriod.ALL)"
        ></app-filter-chip>
      }
      @if (currentFilter && currentFilter !== CommentFilter.TAG) {
        <app-filter-chip
          [name]="'comment-list.filter-' + currentFilter | transloco"
          (removeClicked)="filter(currentFilter)"
        ></app-filter-chip>
      }
      @if (selectedCategory) {
        <app-filter-chip
          [name]="selectedCategory"
          (removeClicked)="selectCategory()"
        ></app-filter-chip>
      }
    </mat-chip-listbox>
  }
</div>
