@use '../../../variables' as *;

.sort-select,
.search-input {
  background-color: var(--surface);
}

.bar-placeholder {
  height: 40px;
}

.bar-container {
  width: 100%;
  background-color: var(--background);
  z-index: 1;
}

.inner-bar-container {
  width: 100%;
}

.bar-container-fixed {
  position: fixed;
  box-shadow: 0 4px 2px -2px rgb(0 0 0 / 10%);
  padding: min(16px, 4vw) 0;
  top: $bar-height;

  .inner-bar-container {
    max-width: $card-width;
    width: 100%;
  }
}

#add-comment-button {
  flex-shrink: 0;
}

.add-button-divider {
  padding: 0 12px 0 4px;
}

.sort-option {
  font-size: 14px;
}

.smaller-icon {
  font-size: 18px;
  width: 18px;
  height: 18px;
}

.search-icon {
  opacity: 0.5;
  padding: 10px 12px;
}

@media (max-width: 767px) {
  #add-comment-button,
  #sort-select,
  .add-button-divider {
    display: none;
    visibility: hidden;
    width: 0;
    margin: 0;
  }
}

@media (min-width: 768px) {
  #sort-button {
    display: none;
    visibility: hidden;
  }

  .add-button-divider * {
    height: 100%;
  }
}

@include xs {
  .bar-container-fixed {
    top: $mobile-bar-height;
  }
}

@include lt-md {
  .bar-container-fixed {
    width: 100vw;
    left: 0;
  }
}

@include gt-md {
  .bar-container-fixed {
    width: calc(calc(100vw - var(--scrollbar-width)) - $navigation-rail-width);
    left: $navigation-rail-width;
  }
}
