@import '../../../variables';

$bar-position-y: calc(4vw + $bar-height);
$bar-position-y-hidden: calc(-8vw - $bar-height);

.search-input {
  box-sizing: border-box;
  padding: 0 10px 0 5px;
  background-color: var(--background);
  border: none;
  outline: none;
  font-size: large;
}

.search-input.search-hidden {
  width: 0;
  padding: 0;
}

.search-input:not(.search-hidden) {
  width: 100%;
  margin-left: 16px;
}

.mat-mdc-mini-fab:not(.mat-primary) {
  background-color: var(--surface);
  color: var(--on-surface);
  opacity: 0.8;
}

.counter {
  color: var(--on-background);
  text-align: center;
  font-size: 1.5em !important;
  margin: 0 14px 0 0;
}

.bar-container {
  border-radius: 35px;
  background-color: var(--background);
  z-index: 1;
}

@mixin fixed {
  position: fixed;
  padding: 15px;
}

@mixin fixed-center {
  top: $bar-position-y;
  right: 50%;

  &:not(.no-nav-bar) {
    transform: translateX(calc(50% + ($navigation-rail-width / 2)));
  }

  transform: translateX(50%);
}

.bar-container-fixed {
  @include fixed;
}

@media (max-width: 1000px) {
  #add-comment-button {
    display: none;
  }

  .bar-container {
    padding: 15px;
  }

  .bar-container-fixed {
    right: 50%;
    transform: translateX(50%);
    transition: top 400ms;

    &:not(.visible-on-scrolling-up) {
      top: $bar-position-y-hidden;
    }
  }

  .visible-on-scrolling-up {
    top: $bar-position-y;
  }
}

@media (min-width: 1001px) {
  .always-fixed {
    @include fixed;
    @include fixed-center;
  }

  .bar-container-fixed {
    transition: all 400ms;
  }

  .bar-container-fixed > * {
    transition: opacity 200ms;
  }

  .bar-container-fixed:hover > * {
    opacity: 1;
  }

  .bar-container-fixed:not(:hover) > * {
    opacity: 0.7;
  }

  .bar-container-fixed.fixed-hidden {
    opacity: 0;
    top: $bar-position-y-hidden;
    right: 0;
  }

  .bar-container-fixed:not(.fixed-hidden) {
    opacity: 1;
    @include fixed-center;
  }

  .counter:not(.show-counter) {
    display: none;
  }
}
