.mat-select-value-text {
  color: var(--on-surface);
  caret-color: var(--on-surface);
}

::ng-deep .mat-select-arrow-wrapper .mat-select-arrow {
  color: var(--on-surface);
}

::ng-deep .mat-select-value-text {
  color: var(--on-surface);
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: var(--primary);
}
