@import '../../../variables';

.container:not(.presentation-container) {
  margin: $spacing 0;
  text-align: center;
}

.medium-container {
  width: 120px;
}

.counter {
  font-size: $xl-font-size;
  font-weight: $font-weight-bold;
}

.presentation-container {
  .counter-text {
    font-size: $l-font-size;
  }

  @include gt-xl {
    .counter-text {
      font-size: $xl-font-size;
    }
  }
}
