@import '../../../variables';

.container {
  font-size: $m-font-size;

  :first-child {
    font-weight: $font-weight-bold;
  }
}

.bigger-font {
  font-size: $l-font-size;
}

@include gt-xl {
  .bigger-font {
    font-size: $xl-font-size;
  }
}
