<div fxLayout="row" [ngClass]="{'search-container' : !scroll, 'search-container-fixed' : scroll}"
     *ngIf="comments.length > 2" (window:scroll)="checkScroll()" fxLayoutAlign="center center">
  <input tabindex="-1" (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()" #searchBox
         id="searchBox" [ngClass]="{'search-input-hidden': !search, 'search-input': search }"
         (input)="searchComments()" [(ngModel)]="searchInput" [placeholder]="searchPlaceholder"
         aria-labelledby="search-box-input-description">
  <button id="search-close-button" mat-icon-button *ngIf="searchInput !== '' || search" class="close-btn"
          (click)="hideCommentsList=false; searchInput = ''; search = false; searchPlaceholder = '';"
          aria-labelledby="close_search">
    <mat-icon>close</mat-icon>
  </button>

  <div class="button-bar" fxLayoutAlign="center center" fxLayoutGap="1em">
    <div *ngIf="!search">
      <h3 class="counter">{{ filteredComments && hideCommentsList ? filteredComments.length : comments.length }}</h3>
    </div>

    <button id="search-button" mat-mini-fab (click)="activateSearch(); filterComments('')" class="bar-icon"
            *ngIf="!search && comments && comments.length > 0" aria-labelledby="search-list"
            matTooltip="{{ 'comment-list.filter-search' | translate }}">
      <mat-icon>search</mat-icon>
    </button>

    <button id="sort-button" mat-mini-fab aria-labelledby="sort-list" class="bar-icon"
            *ngIf="!searchBox.value && comments && comments.length > 0 && !search"
            [matMenuTriggerFor]="sortMenu" matTooltip="{{ 'comment-list.sort-comments' | translate }}">
      <mat-icon>swap_vert</mat-icon>
    </button>
    <button id="switch-button" mat-mini-fab class="bar-icon" aria-labelledby="switch-list"
            (click)="switchToCommentList()" *ngIf="!searchBox.value && comments && comments.length > 0 && !search"
            matTooltip="{{ 'comment-list.switch-to-comment-list' | translate }}">
      <mat-icon>playlist_add_check</mat-icon>
    </button>
  </div>

  <mat-menu #sortMenu="matMenu" xPosition="before">
    <button mat-menu-item *ngIf="isSafari === false" (click)="sortComments(time)" aria-labelledby="sort-time">
      <mat-icon [ngClass]="{time: 'unread-icon'}[currentSort]">access_time</mat-icon>
      <span>{{ 'comment-list.sort-list-time' | translate }}</span>
    </button>

    <button mat-menu-item (click)="sortComments(votedesc)" aria-labelledby="sort-up">
      <mat-icon [ngClass]="{votedesc: 'up'}[currentSort]">keyboard_arrow_up</mat-icon>
      <span>{{ 'comment-list.sort-vote-asc' | translate }}</span>
    </button>

    <button mat-menu-item (click)="sortComments(voteasc)" aria-labelledby="sort-down">
      <mat-icon [ngClass]="{voteasc: 'down'}[currentSort]">keyboard_arrow_down</mat-icon>
      <span>{{ 'comment-list.sort-vote-desc' | translate }}</span>
    </button>
  </mat-menu>

</div>

<div *ngIf="scroll" class="search-bar-placeholder"></div>

<app-loading-indicator *ngIf="isLoading" [size]="80"></app-loading-indicator>

<button mat-icon-button class="button-primary scrollTop" [ngClass]="{'visible': scrollExtended}"
        (click)="scrollTop()" tabIndex="-1">
  <mat-icon>arrow_upward</mat-icon>
</button>

<div class="comments-container" *ngIf="!isLoading">
  <app-comment *ngFor="let current of hideCommentsList ? filteredComments : comments" [comment]="current"
               [parseVote]="getVote(current)"></app-comment>
</div>

<div *ngIf="comments && comments.length < 1 && !isLoading" fxLayout="row" fxLayoutAlign="center center"
     class="no-comments">
  <p>{{ 'comment-page.no-comments' | translate }}</p>
</div>

<div class="visually-hidden">
  <div id="search-box-input-description">{{ 'comment-page.search-box-input-description' | translate }}</div>
  <div id="sort-list">{{'comment-list.a11y-sort-list' | translate}}</div>
  <div id="sort-up">{{'comment-list.a11y-sort-up' | translate}}</div>
  <div id="sort-down">{{'comment-list.a11y-sort-down' | translate}}</div>
  <div id="sort-time">{{'comment-list.a11y-sort-time' | translate}}</div>
  <div id="switch-list">{{'comment-list.a11y-switch-to-public-list' | translate}}</div>
</div>
