@import "../../../../variables";

.mat-form-field {
  float: left;
  padding-left: 10px;
}

#searchBox {
  box-sizing: border-box;
  padding: 0 10px 0 5px;
  background-color: var(--background);
  border: none;
  outline: none;
  min-height: 70px;
  font-size: large;
  border-radius: 35px;
  color: var(--on-surface);
  transition: width 300ms linear;
}

.search-bar-placeholder {
  height: 70px;
}

.search-input-hidden {
  width: 0;
  padding: 0 !important;
}

.search-input {
  width: 100%;
  margin-left: 2em;
}

.search-container {
  transition: top 400ms;
  border-radius: 35px;
  background-color: var(--background);
  z-index: 1;
}

.search-container-fixed {
  border-radius: 35px;
  background-color: var(--background);
  position: fixed;
  top: 4vw;
  left: calc(50% - 150px);
  width: 100%;
  max-width: 300px;
  z-index: 1;
}

.search-container-fixed-visible {
  top: 4vw;
}

.search-container-fixed-invisible {
  position: sticky;
  top: calc(-4vw - 70px);
}

.close-btn {
  margin-right: 2em;
}

.bar-icon {
  background-color: var(--secondary);
  color: var(--on-secondary);
  opacity: 0.7;
}

.bigger-icon {
  height: 24px;
  width: 24px;
  font-size: 24px;
  margin-top: -2px;
}

.currentPeriod {
  color: var(--primary);
}

.no-comments {
  margin-top: 10%;
}

.counter {
  color: var(--on-background);
  text-align: center;
  font-size: 1.5em!important;
  margin: 0;
}

::placeholder {
  color: var(--on-surface);
  opacity: 1;
}

.mobile-scroll-position {
  bottom: calc(4vw + 56px)!important;
}

.scrollTop {
  position: fixed;
  right: calc(-4vw - 40px);
  bottom: 4vw;
  z-index: 1;
  transition: right 400ms;
}

.visible {
  right: calc(4vw);
}

.comments-container {
  margin-top: min(1em, 4vw);
}
