<app-nav-bar (isVisible)="checkIfNavBarExists($event)"></app-nav-bar>
<div class="nav-bar-container">
  <div fxLayout="row" class="search-container" [ngClass]="{'search-container-fixed-invisible': scroll && !scrollActive && deviceType !== 'desktop', 'search-container-fixed': scroll,
        'search-container-fixed-visible' : scroll && (deviceType === 'desktop' || scrollActive)}"
       (window:scroll)="checkScroll()" fxLayoutAlign="center center">
    <input tabindex="-1" (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()" #searchBox
           id="searchBox" [ngClass]="{'search-input-hidden': !search, 'search-input': search}"
           (input)="searchComments()" [(ngModel)]="searchInput" [placeholder]="searchPlaceholder"
           aria-labelledby="search-box-input-description">
    <button id="search-close-button" mat-icon-button *ngIf="searchInput !== '' || search" class="close-btn"
            (click)="hideCommentsList=false; searchInput = ''; search = false; searchPlaceholder = ''; getDisplayComments()"
            aria-labelledby="close_search">
      <mat-icon>close</mat-icon>
    </button>

    <div class="button-bar" fxLayoutAlign="center center" fxLayoutGap="1em">
      <div *ngIf="!search">
        <h3 class="counter">
          {{ filteredComments && hideCommentsList ? filteredComments.length : commentsFilteredByTime.length }}
        </h3>
      </div>

      <button id="search-button" mat-mini-fab (click)="activateSearch()" class="bar-icon"
              *ngIf="!search" aria-labelledby="search-list"
              matTooltip="{{ 'comment-list.filter-search' | translate }}">
        <mat-icon>search</mat-icon>
      </button>

      <button id="sort-button" mat-mini-fab aria-labelledby="sort-list" class="bar-icon"
              *ngIf="!search"
              [matMenuTriggerFor]="sortMenu" matTooltip="{{ 'comment-list.sort-comments' | translate }}">
        <mat-icon>swap_vert</mat-icon>
      </button>
      <button id="select-time-button" mat-mini-fab aria-labelledby="select-time" class="bar-icon"
              *ngIf="!search"
              [matMenuTriggerFor]="timeMenu" matTooltip="{{ 'comment-list.select-time' | translate }}">
        <mat-icon class="bigger-icon">access_time</mat-icon>
      </button>
    </div>

    <mat-menu #sortMenu="matMenu" xPosition="before">
      <button mat-menu-item (click)="sortComments(time, true)" aria-labelledby="sort-time">
        <mat-icon [ngClass]="{time: 'unread-icon'}[currentSort]">access_time</mat-icon>
        <span>{{ 'comment-list.sort-list-time' | translate }}</span>
      </button>

      <button mat-menu-item (click)="sortComments(votedesc, true)" aria-labelledby="sort-up">
        <mat-icon [ngClass]="{votedesc: 'up'}[currentSort]">keyboard_arrow_up</mat-icon>
        <span>{{ 'comment-list.sort-vote-asc' | translate }}</span>
      </button>

      <button mat-menu-item (click)="sortComments(voteasc, true)" aria-labelledby="sort-down">
        <mat-icon [ngClass]="{voteasc: 'down'}[currentSort]">keyboard_arrow_down</mat-icon>
        <span>{{ 'comment-list.sort-vote-desc' | translate }}</span>
      </button>
    </mat-menu>

    <mat-menu #timeMenu="matMenu" xPosition="before">
      <div *ngFor="let periodItem of periodsList">
        <button mat-menu-item (click)="setTimePeriod(periodItem)"  [ngClass]="{'currentPeriod': periodItem === period}"
                aria-labelledby="{{periodItem}}">
          <span>{{ ('comment-list.select-' + periodItem) | translate }}</span>
        </button>
      </div>
    </mat-menu>

  </div>

  <div *ngIf="scroll && (deviceType === 'desktop' || scrollActive)" class="search-bar-placeholder"></div>

  <app-loading-indicator *ngIf="isLoading" [size]="80"></app-loading-indicator>

  <button mat-icon-button class="button-abort scrollTop" tabindex="-1" (click)="scrollTop()"
          [ngClass]="{'visible': scrollExtended && scrollActive,
                      'mobile-scroll-position': deviceType === 'mobile' && navBarExists,
                      'desktop-scroll-position': deviceType === 'desktop'}">
    <mat-icon>arrow_upward</mat-icon>
  </button>

  <div class="comments-container" *ngIf="!isLoading">
    <app-comment *ngFor="let current of displayComments" [comment]="current" [isNew]="current.id === newestComment.id"
                 [parseVote]="getVote(current)" [referenceEvent]="referenceEvent.asObservable()"></app-comment>
  </div>

  <div *ngIf="!isLoading" fxLayout="row" fxLayoutAlign="center center">
    <p *ngIf="comments.length < 1" class="no-comments" tabindex="0" aria-labelledby="no-comments">
      {{ 'comment-page.no-comments' | translate }}
    </p>
    <p tabindex="0" aria-labelledby="no-comments" *ngIf="((hideCommentsList && filteredComments.length < 1) ||
            (!hideCommentsList && commentsFilteredByTime.length < 1)) && comments.length >= 1" class="no-comments">
      {{ 'comment-page.no-comments-found' | translate }}
    </p>
  </div>

  <div class="visually-hidden">
    <div id="search-box-input-description">{{ 'comment-page.search-box-input-description' | translate }}</div>
    <div id="search-list">{{'comment-list.a11y-search-list' | translate}}</div>
    <div id="sort-list">{{'comment-list.a11y-sort-list' | translate}}</div>
    <div id="select-time">{{'comment-list.a11y-select-time' | translate}}</div>
    <div id="sort-up">{{'comment-list.a11y-sort-up' | translate}}</div>
    <div id="sort-down">{{'comment-list.a11y-sort-down' | translate}}</div>
    <div id="sort-time">{{'comment-list.a11y-sort-time' | translate}}</div>
    <div id="new-comment">{{ 'comment-page.new-comment' | translate:{comment: newestComment.body} }}</div>
    <div id="no-comments">{{ 'comment-page.a11y-no-comments' | translate }}</div>
  </div>
</div>
