@import "../../../../variables";

.mat-form-field {
  float: left;
  padding-left: 10px;
}

#searchBox {
  box-sizing: border-box;
  padding: 0 10px 0 5px;
  background-color: var(--background);
  border: none;
  outline: none;
  min-height: 70px;
  font-size: large;
  border-radius: 35px;
  color: var(--on-surface);
  transition: width 300ms linear;
}

.search-bar-placeholder {
  height: 70px;
}

.search-input-hidden {
  width: 0;
  padding: 0 !important;
}

.search-input {
  width: 100%;
  margin-left: 2em;
}

.search-container {
  border-radius: 35px;
  background-color: var(--background);
}

.search-container-fixed {
  border-radius: 35px;
  background-color: var(--background);
  position: fixed;
  top: 4vw;
  left: calc(50% - 125px);
  width: 100%;
  max-width: 250px;
  z-index: 1;
}

.close-btn {
  margin-right: 2em;
}

.bar-icon {
  background-color: var(--secondary);
  color: var(--on-secondary);
  opacity: 0.7;
}

.bigger-icon {
  height: 24px;
  width: 24px;
  font-size: 24px;
  margin-top: -2px;
}

.currentPeriod {
  color: var(--primary);
}

.no-comments {
  margin-top: 10%;
}

.counter {
  color: var(--on-background);
  width: 28px;
  text-align: center;
  font-size: 1.5em!important;
  margin: 0;
}

::placeholder {
  color: var(--on-surface);
  opacity: 1;
}

.scrollTop {
  position: fixed;
  left: 5%;
  bottom: 5%;
  transform: scale(0);
  z-index: 1;
  transition: 0.1s;
}

.visible {
  transform: scale(1);
}

.comments-container {
  margin-top: min(1em, 4vw);
}
