<div fxLayout="column" fxLayoutGap="10px">
    <div cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="drop($event)"
         [cdkDropListDisabled]="isEditMode && !noAnswersYet">
      <mat-list>
        <app-divider *ngIf="displayAnswers.length  > 0"></app-divider>
        <mat-list-item cdkDrag fxLayout="column" fxLayoutAlign="center" *ngFor="let answer of displayAnswers; let i = index">
            <div fxLayout="row" fxLayoutAlign="center center" class="full-width">
                <mat-icon cdkDragHandle *ngIf="!isAnswerEdit > -1 && (!isEditMode || noAnswersYet)" class="drag-icon">
                  drag_handle
                </mat-icon>
                <form fxLayout="row" class="full-width">
                  <mat-form-field class="editInput full-width no-field-hint" appearance="standard">
                    <input id="answerEdit-{{i}}" name="answerEdit" matInput [(ngModel)]="answer.answerOption.label"
                         (focus)="goInEditMode(i)" (blur)="leaveEditMode()" class="full-width" autocomplete="off">
                  </mat-form-field>
                </form>
                <span class="fill-remaining-space"></span>
                <button mat-icon-button *ngIf="!isEditMode || noAnswersYet"
                        attr.aria-label="{{ 'content.a11y-delete-answer' | translate: {answer: answer.answerOption.label} }}"
                        class="delete" (click)="deleteAnswer(i)"
                        matTooltip="{{ 'content.delete-answer' | translate }}">
                  <mat-icon>clear</mat-icon>
                </button>
            </div>
        </mat-list-item>
      </mat-list>
    </div>
    <div *ngIf="(!isEditMode || noAnswersYet)" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
        <form class="full-width answer-form" fxLayout="row">
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>{{ 'content.add-answer' | translate }}</mat-label>
                <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
                       matInput name="answer" id="answer-input" aria-labelledby="answer" [(ngModel)]="newAnswer"
                       autocomplete="off">
                <button class="add-button" mat-icon-button matSuffix (click)="addAnswer()">
                    <mat-icon class="add-icon">add_circle</mat-icon>
                </button>
                <mat-placeholder>{{ 'content.answer' | translate }}</mat-placeholder>
            </mat-form-field>
        </form>
    </div>
</div>
