<app-feature-card
  [feature]="'room-page.comments' | transloco"
  [description]="
    !!pausedDescription && state() === QnaState.Paused
      ? pausedDescription
      : description
  "
  [countHint]="
    showCount
      ? ('room-page.comment-count' | transloco: { count: counts().accepted })
      : undefined
  "
  [color]="
    state() === QnaState.Started
      ? 'var(--play)'
      : state() === QnaState.Paused
        ? 'var(--warn-soft)'
        : 'var(--warn)'
  "
  [stateText]="'room-page.' + state().toLowerCase() | transloco"
  [clickable]="clickable"
  icon="question_answer"
  url="comments"
  hotkey="1"
>
  @if (showControls) {
    <ng-container featureAction>
      <div fxLayout="row" fxLayoutGap="8px">
        @if (state() !== QnaState.Started) {
          <button
            mat-icon-button
            [matTooltip]="'creator.room-page.start' | transloco"
            [style]="'color: var(--play)'"
            (click)="enableComments()"
            appDisabledIfReadonly
            data-testid="start-comments"
          >
            <mat-icon>play_circle</mat-icon>
          </button>
        }
        @if (state() === QnaState.Started) {
          <button
            mat-icon-button
            [matTooltip]="'creator.room-page.pause' | transloco"
            [style]="'color: var(--warn-soft)'"
            (click)="pauseComments()"
            appDisabledIfReadonly
            data-testid="pause-comments"
          >
            <mat-icon>pause_circle</mat-icon>
          </button>
        }
        @if (state() === QnaState.Started || state() === QnaState.Paused) {
          <button
            mat-icon-button
            [matTooltip]="'creator.room-page.stop' | transloco"
            [style]="'color: var(--warn)'"
            (click)="disableComments()"
            appDisabledIfReadonly
            data-testid="stop-comments"
          >
            <mat-icon>stop_circle</mat-icon>
          </button>
        }
      </div>
    </ng-container>
  }
</app-feature-card>
