<app-feature-card
  [feature]="'room-page.comments' | transloco"
  [description]="description"
  [countHint]="
    showCount && commentCounter !== undefined
      ? ('room-page.comment-count' | transloco: { count: commentCounter })
      : undefined
  "
  [color]="
    commentSettings?.disabled
      ? 'var(--warn)'
      : commentSettings?.readonly
        ? 'var(--warn-soft)'
        : 'var(--play)'
  "
  [stateText]="
    (commentSettings?.disabled
      ? 'room-page.stopped'
      : commentSettings?.readonly
        ? 'room-page.paused'
        : 'room-page.started'
    ) | transloco
  "
  [clickable]="clickable"
  icon="question_answer"
  url="comments"
  hotkey="1"
>
  @if (showControls) {
    <ng-container featureAction>
      <div fxLayout="row" fxLayoutGap="8px">
        @if (commentSettings?.disabled || commentSettings?.readonly) {
          <button
            mat-icon-button
            [matTooltip]="'creator.room-page.start' | transloco"
            [style]="'color: var(--play)'"
            (click)="enableComments()"
            appDisabledIfReadonly
          >
            <mat-icon>play_circle</mat-icon>
          </button>
        }
        @if (!commentSettings?.readonly && !commentSettings?.disabled) {
          <button
            mat-icon-button
            [matTooltip]="'creator.room-page.pause' | transloco"
            [style]="'color: var(--warn-soft)'"
            (click)="pauseComments()"
            appDisabledIfReadonly
          >
            <mat-icon>pause_circle</mat-icon>
          </button>
        }
        @if (!commentSettings?.disabled) {
          <button
            mat-icon-button
            [matTooltip]="'creator.room-page.stop' | transloco"
            [style]="'color: var(--warn)'"
            (click)="disableComments()"
            appDisabledIfReadonly
          >
            <mat-icon>stop_circle</mat-icon>
          </button>
        }
      </div>
    </ng-container>
  }
</app-feature-card>
