.list-item {
  &:not(:first-of-type) {
    border-top: 1px solid var(--border);
  }

  padding: 12px 16px;
}

.answer {
  word-break: break-word;
}

.delete-button {
  opacity: 0;
}

@mixin show-delete-button {
  opacity: 1;
}

@media (hover: none) {
  .moderation .delete-button {
    @include show-delete-button;
  }
}

.moderation:hover,
.moderation:focus-within {
  background-color: var(--surface);
  filter: brightness(97%);

  .delete-button {
    @include show-delete-button;
  }
}

.correct-icon {
  color: var(--success);
  opacity: 0;
  transition: opacity 300ms;
}

.show-correct-icon {
  opacity: 1;
}
