.list-item {
  padding: 12px 16px;

  &:not(:first-of-type) {
    border-top: 1px solid var(--border);
  }
}

.answer {
  word-break: break-word;
}

.count {
  margin-left: 0.5em;
}

.delete-button {
  opacity: 0;
  margin-left: 0.5em;
}

@mixin show-delete-button {
  opacity: 1;
}

@media (hover: none) {
  .moderation .delete-button {
    @include show-delete-button;
  }
}

.moderation:hover,
.moderation:focus-within {
  background-color: var(--surface);
  filter: brightness(97%);

  .delete-button {
    @include show-delete-button;
  }
}
