<h2>{{ 'creator.content.attributions' | transloco }}</h2>
<p class="subheader">
  {{ 'creator.content.attributions-subheader' | transloco }}
</p>
<mat-list>
  <mat-list-item *ngFor="let attribution of attributions" class="bottom-border">
    <span>{{ 'creator.content.content' | transloco }}</span>
    <span>
      {{ getContentIndex(attribution.contentId) + 1 + ':' }}
    </span>
    <span>{{
      attribution.attribution + ', ' + LICENSES.get(attribution.license)?.name
    }}</span>
  </mat-list-item>
</mat-list>
