@use '../../../variables' as *;

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.voting-icon {
  width: 32px;
  height: 32px;
  font-size: 32px;
  line-height: 32px;

  &:not(.green, .red) {
    color: var(--on-surface-light);
  }
}

.score {
  text-align: center;
  color: var(--on-surface-light);
}

.vote-container {
  margin-left: $spacing;

  & > button {
    padding: 0 !important;
  }
}

.vote-up {
  animation: up-vote 800ms;
}

.vote-down {
  animation: down-vote 800ms;
}

.reset {
  animation: rubber 800ms;
}

@keyframes up-vote {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.05, 0.75, 1) translateY(-6px);
  }

  40% {
    transform: scale3d(0.75, 1.05, 1) translateY(-12px);
  }

  50% {
    transform: scale3d(1.05, 0.95, 1) translateY(-10px);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1) translateY(-7px);
  }

  80% {
    transform: scale3d(1.05, 0.95, 1) translateY(-5px);
  }

  100% {
    transform: scale3d(1, 1, 1) translateY(0);
  }
}

@keyframes down-vote {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.05, 0.75, 1) translateY(6px);
  }

  40% {
    transform: scale3d(0.75, 1.05, 1) translateY(12px);
  }

  50% {
    transform: scale3d(1.05, 0.95, 1) translateY(10px);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1) translateY(7px);
  }

  80% {
    transform: scale3d(1.05, 0.95, 1) translateY(5px);
  }

  100% {
    transform: scale3d(1, 1, 1) translateY(0);
  }
}

@keyframes rubber {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.05, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.05, 1);
  }

  50% {
    transform: scale3d(1.05, 0.95, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}
