<div
  fxLayout="column"
  fxLayoutAlign="center"
  class="vote-container"
  [ngClass]="
    { '1': 'vote-up', '-1': 'vote-down', '0': 'reset' }[currentVoteString]
  "
>
  <button
    mat-icon-button
    (click)="voteComment(1)"
    [matTooltip]="
      (currentVote === 1
        ? 'comment-page.withdraw-upvote'
        : 'comment-page.vote-up'
      ) | transloco
    "
  >
    <mat-icon class="voting-icon" [ngClass]="{ green: currentVote === 1 }"
      >keyboard_arrow_up</mat-icon
    >
  </button>
  <span class="score">{{ score }}</span>
  <button
    mat-icon-button
    (click)="voteComment(-1)"
    [matTooltip]="
      (currentVote === -1
        ? 'comment-page.withdraw-downvote'
        : 'comment-page.vote-down'
      ) | transloco
    "
  >
    <mat-icon class="voting-icon" [ngClass]="{ red: currentVote === -1 }"
      >keyboard_arrow_down</mat-icon
    >
  </button>
</div>
