@use '@angular/material' as mat;

/* File for global styling variables */

// Font

$font-family: 'Roboto, "Helvetica Neue", sans-serif';
$font-weight-bold: 500;
$font-weight-extra-bold: 700;
$xs-font-size: 12px;
$s-font-size: 14px;

// Positioning

$bar-height: 64px;
$mobile-bar-height: 56px;
$navigation-rail-width: 72px;

// Spaces

$app-padding: 4vw;

// Card

$card-width: 832px;

// Navigation drawer

$drawer-width: 256px;

// Breakpoints

$screen-xs-min: 599px;
$screen-s-max: 999px;
$screen-md-min: 1000px;

@mixin xs {
  @media (max-width: $screen-xs-min) {
    @content;
  }
}

@mixin lt-md {
  @media (max-width: $screen-s-max) {
    @content;
  }
}

@mixin gt-md {
  @media (min-width: $screen-md-min) {
    @content;
  }
}
