@use '@angular/material' as mat;

/* File for global styling variables */

// Font

$font-family: 'Roboto, "Helvetica Neue", sans-serif';
$font-weight-bold: 500;
$font-weight-extra-bold: 700;
$xs-font-size: 12px;
$s-font-size: 14px;
$m-font-size: 16px;
$l-font-size: 20px;
$xl-font-size: 24px;

// Positioning

$bar-height: 64px;
$mobile-bar-height: 56px;
$navigation-rail-width: 72px;

// Spaces

$spacing: 8px;
$spacing-1: $spacing * 1.5;
$spacing-2: $spacing * 2;
$spacing-3: $spacing * 2.5;
$spacing-4: $spacing * 3;
$spacing-5: $spacing * 6;
$spacing-6: $spacing * 8;
$spacing-7: $spacing * 12;

// Borders

$border-radius: 4px;

// Card

$card-width: 832px;

// Navigation drawer

$drawer-width: 256px;
$drawer-modal-width: 288px;

// Breakpoints

$screen-xs-max: 599px;
$screen-sm-min: 600px;
$screen-sm-max: 999px;
$screen-md-min: 1000px;
$screen-md-max: 1279px;
$screen-lg-min: 1280px;
$screen-xl-min: 1600px;

// Buttons

$icon-button-size: 40px;

@mixin xs {
  @media (max-width: $screen-xs-max) {
    @content;
  }
}

@mixin gt-xs {
  @media (min-width: $screen-sm-min) {
    @content;
  }
}

@mixin lt-md {
  @media (max-width: $screen-sm-max) {
    @content;
  }
}

@mixin gt-md {
  @media (min-width: $screen-md-min) {
    @content;
  }
}

@mixin lt-lg {
  @media (max-width: $screen-md-max) {
    @content;
  }
}

@mixin gt-lg {
  @media (min-width: $screen-lg-min) {
    @content;
  }
}

@mixin gt-xl {
  @media (min-width: $screen-xl-min) {
    @content;
  }
}

// Viewport

body {
  --full-height: 100vh;
}

@supports (height: 100dvh) {
  body {
    --full-height: 100dvh;
  }
}
