@use '@fontsource/material-symbols-outlined';
@use '@fontsource/roboto/index' as roboto;
@use '@fontsource/roboto/400-italic' as roboto400i;
@use '@fontsource/roboto/500' as roboto500;
@use '@fontsource/roboto/500-italic' as roboto500i;
@use '@fontsource/roboto/700' as roboto700;
@use '@fontsource/roboto/700-italic' as roboto700i;
@use 'katex/dist/katex.min';
@use 'prismjs/themes/prism-okaidia';

mat-icon {
  font-family: 'Material Symbols Outlined', sans-serif;
  font-size: 24px;
  line-height: 1;
}
