@import 'theme/light-theme/light-theme';
@import 'theme/dark-theme/dark-theme';
@import 'theme/beamer-theme/beamer-theme';

@include mat-core();

@include angular-material-theme($light-theme);

.dark {
  @include angular-material-theme($dark-theme);
}

.beamer {
  @include angular-material-theme($beamer-theme);
}

@import 'theme/theme';

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width:100%;
  height:100%;
  overflow:hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  left: -10000px;
}

.modal {
  outline: none;
  border-color: transparent;
}

.placeholder {
  color: var(--on-surface);
}

markdown {
  color: var(--on-surface);
}

h2 {

  color: var(--on-surface) !important;
  font-size: 24px !important;
}

h3 {
  color: var(--on-surface) !important;
  font-size: 18px !important;
}

h4 {
  padding-top: 10%;
  font-size: 17px !important;
}

p, div {
  color: var(--on-surface);
  hyphens: auto;
}

address {
  font-style: normal;
}

.overflow_hide {
  height: 0;
  overflow: hidden;
}

.testBox {
  width:50%;
  height:50%;
  position: fixed;
  left:0;
  top:25%;
  z-index: 1000;
  background-color: var(--surface);
}

.cdk-overlay-dark-backdrop {
  background: var(--background);
}

.filledDialog {
  width:calc( 100% - 50px);
  min-width:calc( 100% - 50px);
  max-width:calc( 100% - 50px);
  height:calc( 100% - 50px);
  margin:25px;
  padding:0;
}

.screenDialog {
  width:100%;
  min-width:100%;
  max-width:100%;
  height:100%;
  margin:0;
  padding:0;
}

.imgWrp img {
  width:calc( 100% - 35px );
  height:calc( 100% - 35px );
  image-rendering: crisp-edges;
}


// ---------------------------------
// Adjustment of material components
//----------------------------------

// Mat Progress Bars

.feedback-progress .mat-progress-bar-fill::after {
  background-color: var(--secondary);
}

.feedback-progress .mat-progress-bar-buffer {
  background-color: var(--feedback-buffer);
}

// Mat Tabs

.mat-tab-labels {
  justify-content: center;
}

.mat-tab-header-pagination-chevron {
  border-color: var(--secondary);
}

.mat-tab-header-pagination-disabled .mat-tab-header-pagination-chevron {
  border-color: var(--feedback-buffer);
  opacity: 0.5;
}

.mat-tab-label {
  color: var(--on-surface);
}

.mat-tab-label-active {
  color: var(--on-surface);
}

.mat-ink-bar {
  background-color: var(--primary) !important;
}

// Mat Form Fields

.mat-form-field-label {
  color: var(--on-surface)!important;
}

.mat-form-field-underline {
  background-color: var(--on-surface)!important;
}

.mat-form-field-ripple {
  background-color: var(--on-surface)!important;
}

// Mat Radio Buttons

.mat-radio-outer-circle {
  .mat-radio-checked & {
    border-color: var(--secondary)!important;
  }
  border-color: var(--on-surface);
}

.mat-radio-inner-circle {
  background-color: var(--secondary);
}

.mat-radio-ripple .mat-ripple-element {
  background-color: var(--secondary);
}

// Mat Checkboxes

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: var(--secondary);
}

.mat-checkbox-frame {
  border-color: var(--on-surface);
}
