@use '@angular/material' as mat;
@import 'theme/dark-theme/dark-theme';
@import 'theme/arsnova-theme/arsnova-theme';

@include mat.core();

@include mat.all-component-themes($arsnova-theme);

.dark {
  @include mat.all-component-themes($dark-theme);
}

@import 'theme/theme';
@import 'variables';

body {
  background-color: var(--background);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100%;
}

[tabindex] {
  outline: none;
}

[hidden] {
  display: none ! important;
}

@media(max-width: 1000px) {
  .hide-lg {
    display: none;
  }
}

// Positioning

.relative {
  position: relative;
}

// Scrollbar

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--background);
}

body::-webkit-scrollbar-thumb {
  background: var(--surface);
  border-radius: 10px;
}

// States

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  left: -10000px;
}

.disabled {
  opacity: 0.5;
}

// Headings & Texts

h1, h2, h3, h4 {
  color: var(--on-surface);
  outline: none;
  font-weight: $font-weight-bold;
}

h2 {
  font-size: 24px !important;
}

h3 {
  font-size: 18px !important;
}

h4 {
  font-size: 17px !important;
}

p, div {
  color: var(--on-surface);
  hyphens: auto;
}

address {
  font-style: normal;
}

a {
  color: var(--secondary);
}

strong, b {
  font-weight: $font-weight-bold;
}

ul {
  color: var(--on-surface);
}

.smaller-text {
  font-size: smaller;
  margin-bottom: 0;
}

@mixin ellipsis-mixin {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis {
  @include ellipsis-mixin();
}

@mixin hint-base {
  font-size: 16px;
  font-weight: $font-weight-bold;
  opacity: 0.7;
}

.hint {
  @include hint-base;
  margin: 3em 0 2em;
}

.hint-sm {
  @include hint-base;
  margin: 1.5em 0;
}

// Inputs

input, input:focus {
  color: var(--on-surface);
  caret-color: var(--on-surface);

  &:focus {
    caret-color: var(--on-surface);
  }
}

input:disabled {
  color: var(--on-surface)!important;
  opacity: 0.7;
}

textarea {
  line-height: 120%;
  color: var(--on-surface);
  caret-color: var(--on-surface);
}

.mat-form-field {
  color: var(--on-surface);
}

.mat-placeholder {
  color: var(--on-surface);
}

.mat-form-field:not(.mat-form-field-disabled) .mat-hint:not(.warn, .warn-soft, .success) {
  color: var(--on-surface) !important;
}

.mat-hint.warn {
  color: var(--warn)!important;
}

.mat-hint.warn-soft {
  color: var(--warn-soft)!important;
}

.mat-hint.success {
  color: var(--green)!important;
}


.mat-error {
  color: var(--warn) !important;
}

.full-width {
  width: 100%;
}

.mat-form-field {
  ::placeholder {
    color: var(--on-surface);
    opacity: 0.5;
  }
}

// Dialogs

.screenDialog {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0;
  .mat-dialog-container {
    padding: min(4vw, 24px);
  }
}

.mat-dialog-title {
  color: var(--on-surface);
}

.mat-dialog-content {
  outline: none;
}

div {
  outline: none;
}

@media(min-width: 1000px) {
  .dialog-margin {
    .mat-dialog-container {
      margin-left: $navigation-rail-width;
    }
  }
}

// Mat Progress Bar

.survey-progress .mat-progress-bar-fill::after {
  background-color: var(--secondary);
}

.survey-progress .mat-progress-bar-buffer {
  background-color: var(--background);
}

.statistic-status-good .mat-progress-bar-fill::after {
  background-color: var(--green);
}

.statistic-status-good .mat-progress-bar-buffer {
  background-color: var(--green-light);
}

.statistic-status-okay .mat-progress-bar-fill::after {
  background-color: var(--yellow);
}

.statistic-status-okay .mat-progress-bar-buffer {
  background-color: var(--yellow-light);
}

.statistic-status-bad .mat-progress-bar-fill::after {
  background-color: var(--red);
}

.statistic-status-bad .mat-progress-bar-buffer {
  background-color: var(--red-light);
}

.progress-primary .mat-progress-bar-fill::after {
  background-color: var(--primary);
}

.progress-primary .mat-progress-bar-buffer {
  background-color: var(--primary-variant);
}

// Mat progress spinner

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: var(--primary);
}

// Mat Tab

.mat-tab-header-pagination-chevron {
  border-color: var(--secondary);
}

.mat-tab-header-pagination-disabled .mat-tab-header-pagination-chevron {
  border-color: var(--secondary-variant);
  opacity: 0.5;
}

.mat-tab-label {
  padding: 0 4% !important;
  color: var(--on-surface);
  opacity: 1 !important;
}

.mat-tab-label-active {
  color: var(--on-surface);
}

.mat-ink-bar {
  background-color: var(--primary) !important;
}

@media(min-width: 768px) {
  .tab-group-formatting-bar {
    z-index: 2;
    position:absolute;
    top: 4px;
    right: 0;
  }
}

// Mat Form Field

.mat-form-field-label {
  color: var(--on-surface) !important;
}

.mat-form-field.mat-form-field-disabled .mat-form-field-label {
  color: var(--on-surface) !important;
  opacity: 0.7;
}

.mat-form-field-underline {
  background-color: var(--on-surface) !important;
}

.mat-form-field-appearance-fill .mat-form-field-underline::before {
  background-color: var(--on-surface);
}

.mat-form-field-ripple {
  background-color: var(--on-surface) !important;
}

.mat-form-field-disabled .mat-form-field-outline:not(.mat-form-field-outline-thick) {
  opacity: 0.2 !important;
}

.no-field-hint .mat-form-field-wrapper {
  padding-bottom: 0;
}

.activeInput .mat-form-field-flex {
  transition: padding 0.5s;
}

.activeInput .mat-form-field-infix {
  padding: 10px 0;
  margin-top: 4.8px;
  border: none;
}

.hideEditing .mat-form-field-flex {
  padding: 0!important;
}

.hideEditing .mat-form-field-outline > * {
  border: none!important;
}

/*.activeInput:not(:hover) .mat-form-field-flex {
  padding: 0!important;
}

.activeInput:not(:hover) .mat-form-field-outline > * {
  border: none!important;
}*/

.big-input {
  .mat-form-field-infix {
    padding: .4em 0 .8em 0;
  }

  .mat-form-field-suffix .mat-icon-button .mat-icon {
    height: 50px;
    width: 50px;
    font-size: 50px;
    border-radius: 50%;
  }

  .mat-form-field-suffix {
    .mat-icon-button {
      height: 50px!important;
      width: 50px!important;
      margin-left: 0.75em;
      margin-right: 0.15em;
    }
  }

  input {
    height: 50px;

    &::placeholder {
      opacity: 0.3;
      font-size: 95%;
    }
  }
}

.form-spacer {
  margin-bottom: 16px;
  margin-right: 16px;
}

// Mat Radio Button

.mat-radio-button.mat-radio-disabled .mat-radio-outer-circle {
  border-color: var(--grey)!important;
}

.mat-radio-button .mat-radio-outer-circle {
  border-color: var(--on-surface);
}

.mat-radio-button.mat-radio-disabled .mat-radio-inner-circle {
  background-color: var(--grey)!important;
}

.mat-radio-outer-circle {
  .mat-radio-checked & {
    border-color: var(--secondary)!important;
  }
}

.mat-radio-inner-circle {
  background-color: var(--secondary);
}

.mat-radio-ripple .mat-ripple-element {
  background-color: var(--secondary);
}

.mat-list-item-content > .mat-radio-button > .mat-radio-label > .mat-radio-label-content {
  padding-left: 16px;
  white-space: normal;
}

.mat-radio-label-content {
  color: var(--on-surface)!important;
  line-height: 24px!important;
}

.answer-radio-checked .mat-radio-outer-circle {
  border-color: var(--primary) !important;
}

.answer-radio-button .mat-radio-outer-circle {
  border-color: var(--grey);
}

.answer-radio-button .mat-radio-inner-circle {
  background-color: var(--primary)!important;
}

.answer-radio-button .mat-radio-ripple .mat-ripple-element {
  background-color: transparent!important;
}

.answer-radio-button .mat-radio-label-content {
  padding: 0;
  white-space: normal;
  margin: -3px 14px;
}

.answer-radio-button {
  margin-left: 14px;
}

// Mat Checkbox

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  &:not(.mat-checkbox-disabled .mat-checkbox-background) {
    background-color: var(--secondary);
  }
}

.mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-frame {
  border-color: var(--on-surface);
}

.mat-checkbox-checked .mat-ripple-element {
  background-color: var(--secondary)!important;
}

.mat-checkbox-label {
  margin-left: 10px;
  color: var(--on-surface)!important;
}

.mat-checkbox-layout {
  white-space: normal!important;
}

.answer-checkbox.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.answer-checkbox.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  &:not(.mat-checkbox-disabled .mat-checkbox-background) {
    background-color: var(--primary);
  }
}

.answer-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-frame {
  border-color: var(--grey);
}

.answer-checkbox .mat-ripple-element {
  background-color: transparent!important;
}

.answer-checkbox .mat-checkbox-label {
  margin: 0;
}

.answer-checkbox .mat-checkbox-layout {
  width: calc(100% - 28px);
  margin: -3px 14px;
}

.answer-checkbox .mat-checkbox-inner-container {
  margin: auto 14px auto 0;
}

// Mat Slider


.mat-accent .mat-slider-thumb {
  background-color: var(--primary);
}

.mat-accent .mat-slider-thumb-label {
  background-color: var(--primary);
}

.mat-accent .mat-slider-track-fill {
  background-color: var(--primary);
}

// Mat Slide

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: var(--secondary);
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: var(--secondary-variant);
}

// Mat Select

.mat-select-value-text {
  color: var(--on-surface);
  caret-color: var(--on-surface);
}

.mat-select-arrow-wrapper .mat-select-arrow {
  color: var(--on-surface);
}

.mat-select-value-text {
  color: var(--on-surface);
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: var(--primary);
}

// Mat List

.mat-list-base .mat-list-item {
  min-height: 48px;
  height: auto !important;
}

.mat-list-base {
  padding: 0!important;
}

.mat-list {
  padding: 0;
  outline: none;
  border-radius: 4px;
}

.mat-list-item {
  height: auto;
  outline: none;
}

.bottom-border {
  border-bottom: solid 1px var(--border);
}

.mat-list-item.bottom-border:last-of-type {
  border-bottom: solid 1px transparent;
}


.full-width-list-item {
  .mat-list-item-content {
    padding: 0!important;
  }
}

// Mat Table

.mat-table {
  background-color: inherit;
}

.mat-cell, .mat-header-cell {
  color: var(--on-surface);
}

// Buttons

.mat-raised-button[disabled] {
  color: var(--on-surface)!important;
  opacity: 0.6;
}

.mat-button:not([disabled]):not(.nav-button) {
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}

.mat-button:disabled {
  color: var(--on-surface)!important;
  opacity: 0.5;
}

.button-primary {
  background-color: var(--primary);
  color: var(--on-primary);
}

.mat-button.button-primary[disabled] {
  background-color: var(--cancel);
  color: var(--on-surface);
  opacity: 0.8;
}

.button-warn {
  background-color: var(--warn);
  color: var(--on-warn);
}

.button-abort {
  color: var(--on-dialog);
}

.button-text {
  color: var(--on-surface);
  padding-left: 5px;
  font-size: 16px;
}

.login-button {
  width: 200px;
  max-width: 100%;
  margin: 5px 0;
}

[role="button"], [role="listitem"], button {
  &:focus-visible {
    outline: 2px solid var(--secondary)!important;
  }
  &:focus:not(:focus-visible) {
    outline: none;
  }
}

.stroked-primary {
  color: var(--primary);
  border-color: var(--primary)!important;
}

.mat-button, .mat-raised-button, .mat-stroked-button {
  .mat-icon {
    height: 20px;
    width: 20px;
    font-size: 20px;
    margin-right: 4px;
    margin-bottom: 2px;
  }
}

.mobile-add-hide {
  transform: translateY(calc(4vw + 56px))!important;
}

.mobile-add {
  background-color: var(--primary)!important;
  color: var(--on-primary)!important;
  position: fixed!important;
  transition: transform 100ms ease-out!important;
  right: 4vw;
  bottom: 4vw;
  z-index: 3;
  margin: 0!important;
}

.mobile-add-above-nav {
  transform: translateY(-56px)!important;
}

// Links

.action-link {
  font-size: smaller;
  text-decoration: none;
  font-weight: $font-weight-bold;
}

.after-text-link {
  padding-left: 10px;
  margin-top: 1em;
  color: var(--secondary);
}

// Icons

.mat-icon {
  line-height: 100%!important;
  overflow: visible!important;
}

.icon-secondary {
  color: var(--secondary);
}

.icon-primary {
  color: var(--primary)!important;
}

.icon-warn {
  color: var(--warn)!important;
}

.icon-warn-soft {
  color: var(--warn-soft);
}
// Card

.mat-card {
  width: calc(92vw - 2em);
  max-width: 800px;
  color: var(--on-surface);
  background: var(--surface);
}

.mat-card-header .mat-card-header-text {
  margin: 0;
}

.card-container {
  width: 100%;
  max-width: 832px;
  position: relative;
  -webkit-perspective: 3000px;
  -moz-perspective: 3000px;
  perspective: 3000px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: -webkit-transform 500ms;
  -moz-transition: -moz-transform 500ms;
  -o-transition: -o-transform 500ms;
  transition: all 500ms;
  -webkit-transform-origin: 50% 50%;
}

.side {
  position: relative;
  transition: 400ms;
}

.card .back {
  background-color: var(--surface);
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.card.flipped {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.invisible-card-content {
  height: 0;
  opacity: 0;
  pointer-events: none;
  tab-index: -1;
}

.invisible-card {
  box-shadow: none!important;
  background-color: var(--background)!important;
}

.login-card {
  width: 400px;
  max-width: 100%;
  padding: 2em!important;
  @media(max-width: 500px) {
    padding: 1.5em!important;
  }
}

.presentation-card {
  transition: none!important;
  padding: 0!important;
  margin: 0;
  box-shadow: none!important;
}

.mat-card-subtitle {
  color: var(--on-surface);
  opacity: 0.7;
}

// Badge

.mat-badge-content {
  background: var(--secondary);
  color: var(--on-secondary);
}

.icon-badge .mat-badge-content {
  top: -2px!important;
  right: -2px!important;
}

// Mat expansion panel

.mat-expansion-indicator::after {
  color: var(--on-surface);
}

.mat-expansion-panel:not(.mat-expanded) {
  background-color: var(--table-a);
}

// Menu

.mat-menu-panel {
  background-color: var(--dialog);
}

.mat-menu-content {
  background-color: var(--dialog);
}

.mat-menu-item {
  color: var(--on-dialog);
  .mat-icon {
    margin-bottom: 2px;
  }
}

.mat-menu-item .mat-icon-no-color {
  color: var(--on-dialog);
}

.mat-menu-item-submenu-trigger::after {
  color: var(--on-dialog);
}

button.mat-menu-item {
  background-color: var(--dialog);
}

button.mat-menu-item:hover {
  background-color: var(--dialog);
}

.mat-option.higher-option {
  height: unset!important;
  padding: 8px 16px!important;
}

.bigger-panel {
  @media(max-width: 767px) {
    max-width: 90vw!important;
    max-height: 400px!important;
  }

  @media(min-width: 768px) {
    max-width: 500px!important;
    max-height: unset!important;
  }
}

.mat-form-field-appearance-outline.primary-form-field {
  .mat-form-field-outline-start {
    border-color: var(--primary)!important;
    border-right-style: none!important;
  }
  
  .mat-form-field-outline-end {
    border-color: var(--primary)!important;
    border-left-style: none!important;
  }

  .mat-select-arrow-wrapper {
    transform: translateX(0)!important;
    .mat-select-arrow {
      color: var(--primary)!important;
    }
  }

  .mat-form-field-infix {
    padding: 0.5em 0;
  }
}

.mat-form-field-appearance-outline.smaller-select {
  .mat-select-arrow-wrapper {
    transform: translateX(0)!important;
    .mat-select-arrow {
      color: var(--on-surface)!important;
    }
  }

  .mat-form-field-infix {
    padding: 0.5em 0 1em;
  }
}

.mat-menu-panel.wider-panel {
  max-width: 500px;
  @media(max-width: 520px) {
    // full width - app padding
    max-width: 92%;
    // app padding
    margin-left: 4%;
  }
}

@media(min-width: 1000px) {
  .mat-menu-panel.series-menu {
    position: absolute;
    left: $navigation-rail-width;
    top: -64px;
  }
}

.mat-menu-item > .mat-icon:not(.icon-primary, .icon-warn, .icon-important), .mat-menu-item[disabled] > .mat-icon,
.mat-menu-item > * > .mat-icon:not(.icon-primary, .icon-warn, .icon-important) {
  opacity: 0.7;
}

// Snackbar

.mat-snack-bar-container {
  background-color: var(--surface);
  color: var(--on-surface);
}

.presentation-snack-bar {
  position: fixed;
  bottom: 70px;
  left: calc(50vw - 196px);
}

// RenderedTextComponent
// This cannot be handled in the component itself because of custom rendering of the text-container's content.
.rendered-text.text-container {
  img {
    max-width: 100%;
    max-height: 80vh;
  }
}

app-rendered-text:not(.rendered-list-preview-container) {
  width: 100%;
}

.preview-container {
  margin-top: 10px;
  min-height: 76px;
  padding: 12px;
}

.text-container > p {
  @include ellipsis-mixin();
}

.rendered-list-preview-container {
  position: relative;
  @include ellipsis-mixin();
  // 2 * margin (1em) + text height (19px)
  max-height: calc(2em + 19px);
}

.rendered-list-preview {
  h1, h2, h3, h4 {
    font-size: 1em!important;
    margin: 1em 0;
  }
}

.rendered-list-preview > .katex-block {
  height: 100%;
  margin: 0;
}

.rendered-list-preview > * > img {
  height: 40px;
  margin: 0;
}

@mixin bottom-fade-out {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 16px;
}

.rendered-list-preview-container:not(.bg-unlocked):after {
  @include bottom-fade-out();
  background-image: linear-gradient(to bottom, transparent, var(--surface));
}

.rendered-list-preview-container.bg-unlocked:after {
  @include bottom-fade-out();
  background-image: linear-gradient(to bottom, transparent, var(--unlocked));
}

// Divider

.mat-divider {
  border-color: var(--grey-light);
}
