@import 'theme/light-theme/light-theme';
@import 'theme/dark-theme/dark-theme';
@import 'theme/beamer-theme/beamer-theme';

@include mat-core();

@include angular-material-theme($light-theme);

.dark {
  @include angular-material-theme($dark-theme);
}

.beamer {
  @include angular-material-theme($beamer-theme);
}

@import 'theme/theme';

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width:100%;
  height:100%;
  overflow:hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  left: -10000px;
}

.overflow_hide {
  height: 0;
  overflow: hidden;
}

// Headings & Texts

h1 {
  color: var(--on-surface);
}

h2 {
  color: var(--on-surface) !important;
  font-size: 24px !important;
}

h3 {
  color: var(--on-surface) !important;
  font-size: 18px !important;
}

h4 {
  color: var(--on-surface);
  font-size: 17px !important;
}

p, div {
  color: var(--on-surface);
  hyphens: auto;
}

address {
  font-style: normal;
}

// Inputs

input, input:focus {
  color: var(--on-surface);
  caret-color: var(--on-surface);
  &:focus {
    caret-color: var(--on-surface);
  }
}

textarea {
  line-height: 120%;
  color: var(--on-surface);
  caret-color: var(--on-surface);
}

mat-form-field {
  color: var(--on-surface);
}

mat-placeholder {
  color: var(--on-surface);
}

mat-hint {
  color: var(--on-surface)!important;
}

markdown {
  color: var(--on-surface);
}

// Dialogs

.screenDialog {
  width:100%;
  min-width:100%;
  max-width:100%;
  height:100%;
  margin:0;
  padding:0;
}

.modal {
  outline: none;
  border-color: transparent;
}

// Mat Progress Bar

.feedback-progress .mat-progress-bar-fill::after {
  background-color: var(--secondary);
}

.feedback-progress .mat-progress-bar-buffer {
  background-color: var(--feedback-buffer);
}

.statistic-status-good .mat-progress-bar-fill::after {
  background-color: var(--green);
}

.statistic-status-good .mat-progress-bar-buffer {
  background-color: var(--green-light);
}

.statistic-status-okay .mat-progress-bar-fill::after {
  background-color: var(--yellow);
}

.statistic-status-okay .mat-progress-bar-buffer {
  background-color: var(--yellow-light);
}

.statistic-status-bad .mat-progress-bar-fill::after {
  background-color: var(--red);
}

.statistic-status-bad .mat-progress-bar-buffer {
  background-color: var(--red-light);
}

// Mat Tab

.mat-tab-labels {
  justify-content: center;
}

.mat-tab-header-pagination-chevron {
  border-color: var(--secondary);
}

.mat-tab-header-pagination-disabled .mat-tab-header-pagination-chevron {
  border-color: var(--feedback-buffer);
  opacity: 0.5;
}

.mat-tab-label {
  color: var(--on-surface);
  opacity: 1!important;
}

.mat-tab-label-active {
  color: var(--on-surface);
}

.mat-ink-bar {
  background-color: var(--primary) !important;
}

// Mat Form Field

.mat-form-field-label {
  color: var(--on-surface)!important;
}

.mat-form-field-underline {
  background-color: var(--on-surface)!important;
}

.mat-form-field-ripple {
  background-color: var(--on-surface)!important;
}

// Mat Radio Button

.mat-radio-outer-circle {
  .mat-radio-checked & {
    border-color: var(--secondary)!important;
  }
  border-color: var(--on-surface);
}

.mat-radio-inner-circle {
  background-color: var(--secondary)!important;
}

.mat-radio-ripple .mat-ripple-element {
  background-color: var(--secondary);
}

.mat-list-item-content > mat-radio-button > .mat-radio-label > .mat-radio-label-content {
  padding-left: 18px!important;
}

// Mat Checkbox

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: var(--secondary);
}

.mat-checkbox-frame {
  border-color: var(--on-surface);
}

.mat-checkbox-label {
  margin-left: 10px;
}

.mat-checkbox-layout {
  margin: 10px 0;
  white-space: normal !important;
}

// Mat List

.mat-list-base .mat-list-item {
  min-height: 48px;
  height: auto!important;
}

// Buttons

.button-primary {
  background-color: var(--primary);
  color: var(--on-primary);
}

.button-secondary {
  background-color: var(--secondary);
  color: var(--on-secondary);
}

.button-warn {
  background-color: var(--warn);
  color: var(--on-warn);
}

// Icons

mat-icon {
  line-height: 100%!important;
}
