<mat-toolbar></mat-toolbar>
<div fxLayout="row" fxLayoutAlign="center center" *ngIf="!isLoading && total >= status.zero">
  <mat-progress-bar mode="determinate" value="{{total}}" [ngClass]="{'statistic-status-good': total >= status.good,
                            'statistic-status-okay': total < status.good && total >= status.okay,
                            'statistic-status-bad': total < status.okay && total != status.empty}"></mat-progress-bar>
  <span class="fill-remaining-space"></span>
  <span>{{total.toFixed() + ' %'}}</span>
  <span class="fill-remaining-space"></span>
</div>
<div fxLayoutAlign="center">
  <span *ngIf="!isLoading && total < status.zero">{{'statistic.no-answers-yet' | translate}}</span>
</div>
<mat-toolbar></mat-toolbar>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="content">
    <mat-header-cell *matHeaderCellDef> {{'statistic.content' | translate}} </mat-header-cell>
    <mat-cell *matCellDef="let cp; let i = index" [ngClass]="{
      'cell-a' : i % 2 === 0,
      'cell-b' : i % 2 != 0,
      'invisible' : cp.percent < status.zero}" (click)="goToStats(cp.contentId)">{{cp.content.subject}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="percentage">
    <mat-header-cell *matHeaderCellDef> {{'statistic.percentage' | translate }} </mat-header-cell>
    <mat-cell *matCellDef="let cp; let i = index" [ngClass]="{
      'cell-a' : i % 2 === 0,
      'cell-b' : i % 2 != 0,
      'invisible' : cp.percent < status.zero}"
             (click)="goToStats(cp.contentId)">{{cp.percent >= status.zero ? cp.percent.toFixed() + ' %' : ''}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="abstentions">
    <mat-header-cell *matHeaderCellDef> {{'statistic.abstentions' | translate}} </mat-header-cell>
    <mat-cell *matCellDef="let cp; let i = index" [ngClass]="{
      'cell-a' : i % 2 === 0,
      'cell-b' : i % 2 != 0,
      'invisible' : cp.percent < status.zero}" (click)="goToStats(cp.contentId)">{{cp.abstentions}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="counts">
    <mat-header-cell *matHeaderCellDef> {{'statistic.answers' | translate}} </mat-header-cell>
    <mat-cell *matCellDef="let cp; let i = index" [ngClass]="{
      'cell-a' : i % 2 === 0,
      'cell-b' : i % 2 != 0,
      'invisible' : cp.percent < status.zero}" (click)="goToStats(cp.contentId)">{{cp.counts}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</table>

<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px" fxFill>
  <div fxLayout="row" fxLayoutAlign="center">
    <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
  </div>
</div>
