@import '../../../variables';

.radio-item {
  user-select: none;
  padding: $spacing;
  border-style: solid;
  border-width: 2px;
  border-radius: $border-radius;

  &.selected {
    transition: border-color 300ms;
  }

  &:not(:first-of-type) {
    margin-top: $spacing-1;
  }
}

.radio-name {
  font-weight: $font-weight-bold;
  font-size: $s-font-size;
}

.radio-description {
  font-size: $xs-font-size;
}

mat-icon {
  min-width: $l-font-size;
  width: $l-font-size;
  height: $l-font-size;
  font-size: $l-font-size;
}
