<mat-radio-group
  [(ngModel)]="selectedItemValue"
  (change)="itemValueChanged.emit($event.value)"
  [ngModelOptions]="{ standalone: true }"
  fxLayout="column"
  fxLayoutGap="8px"
>
  <mat-list>
    @for (item of items; track item) {
      <div
        class="radio-item"
        [ngStyle]="{
          'border-color':
            selectedItemValue === item.value ? item.color : 'var(--border)',
        }"
        [ngClass]="{
          selected: selectedItemValue === item.value,
          'primary-border-color':
            selectedItemValue === item.value && !item.color,
        }"
      >
        <mat-radio-button
          labelPosition="before"
          [value]="item.value"
          fxLayout="row"
          color="primary"
          class="answer-radio-button choice-answer {{
            item.value.toLowerCase()
          }}"
          style="--mat-radio-selected-icon-color: {{
            item.color
          }}; --mat-radio-selected-focus-icon-color: {{ item.color }}"
          [attr.data-testid]="item.title"
          [attr.aria-label]="item.title"
        >
          <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="start center">
            @if (item.icon) {
              <mat-icon [style]="'color: ' + item.color">{{
                item.icon
              }}</mat-icon>
            }
            <div fxLayout="column">
              <span class="radio-name">
                {{ item.title }}
              </span>
              <span class="radio-description">
                {{ item.description }}
              </span>
            </div>
          </div>
        </mat-radio-button>
      </div>
    }
  </mat-list>
</mat-radio-group>
