@if (disabled || readonly) {
  <div
    fxLayout="column"
    fxLayoutAlign="start center"
    [ngClass]="{ 'bottom-margin': showToggleButton }"
  >
    <p class="hint">
      {{
        (disabled
          ? 'comment-list.comments-are-not-enabled'
          : 'comment-list.creation-currently-not-allowed'
        ) | transloco
      }}
    </p>
    @if ((disabled || readonly) && showToggleButton) {
      <app-loading-button
        [name]="'creator.comment-list.start-qna'"
        (clicked)="toggleSettings()"
      ></app-loading-button>
    }
  </div>
}
