<form>
  <div mat-dialog-content>
    @if (useUserSearch) {
      <app-search-bar
        label="{{ 'admin.admin-area.' + inputName | transloco }}"
        [results]="searchResults"
        [showSuccessIndicator]="!!user"
        (inputChanged)="search($event)"
        (inputCleared)="clear()"
        (itemSelected)="selectUser($event)"
      ></app-search-bar>
    } @else {
      <mat-form-field appearance="outline">
        <mat-label>{{ 'admin.admin-area.' + inputName | transloco }}</mat-label>
        <input
          matInput
          [(ngModel)]="input"
          [formControl]="formControl"
          autocomplete="off"
        />
      </mat-form-field>
    }
  </div>
  <div fxLayoutAlign="end">
    <div mat-dialog-actions fxLayout="row-reverse" fxLayoutAling="end">
      <app-loading-button
        [name]="'admin.admin-area.' + primaryAction"
        (clicked)="submit()"
        [isDialog]="true"
      ></app-loading-button>
      <button
        (click)="close()"
        aria-labelledby="cancel"
        mat-button
        type="button"
      >
        {{ 'admin.admin-area.cancel' | transloco }}
      </button>
    </div>
  </div>
</form>
