@if (isLoading) {
  <app-loading-indicator></app-loading-indicator>
}
@if (!isLoading) {
  <div class="answer-container">
    <app-content-sort-answer
      [answerOptions]="answerOptions"
      [disabled]="isDisabled"
    ></app-content-sort-answer>
    @if (!hasAbstained && correctOptionsPublished) {
      <div
        class="solution invisible"
        [ngClass]="{ visible: isDisabled && isCorrect !== undefined }"
      >
        <mat-icon
          class="icon-indicator"
          [ngClass]="isCorrect ? 'correct' : 'wrong'"
        >
          {{ isCorrect ? 'check' : 'close' }}</mat-icon
        >
      </div>
    }
  </div>
}
