<div tabindex="-1" attr.aria-label="{{ 'answer.a11y-current-slide' | translate }}">
  <app-loading-indicator *ngIf="isLoading" [size]="80"></app-loading-indicator>
  <mat-card>
    <div fxLayout="row">
      <app-rendered-text tabindex="0" [rawText]="content.body" [renderedText]="content.renderedBody"></app-rendered-text>
    </div>
    <lib-extension-point extensionId="attachment-list" [extensionData]="extensionData"></lib-extension-point>
  </mat-card>
  <div tabindex="-1" class="visually-hidden">
  </div>
</div>
