.disabled {
  opacity: 0.8;
  pointer-events: none;
}

p {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin: 0;
}

.text {
  padding: 10px 0;
}

.invisible {
  position: absolute;
  left: 50%;
  top: -200px;
  transform: scale(0);
}

.visible {
  top: 50%;
  transition: 0.5s;
  transform: scale(1);
}

.absolute-position {
  position: absolute;
  z-index: 1;
}

.attribution-button {
  > mat-icon {
    opacity: 0.5;
  }
}

.countdown-container {
  padding: 0.75em 0;
}
