<div
  mat-dialog-content
  fxLayout="column"
  fxLayoutAlign="center"
  fxLayoutGap="20px"
>
  <mat-form-field appearance="outline">
    <mat-label>{{ 'comment-page.your-comment' | transloco }}</mat-label>
    <textarea
      [disabled]="formDisabled"
      matInput
      #commentBody
      cdkTextareaAutosize
      cdkAutosizeMinRows="5"
      cdkAutosizeMaxRows="10"
      maxlength="500"
      dir="auto"
    ></textarea>
    <mat-hint align="end"
      ><span aria-hidden="true"
        >{{ commentBody.value.length }} / 500</span
      ></mat-hint
    >
  </mat-form-field>
  @if (data.tags !== null && data.tags !== undefined && data.tags.length > 0) {
    <mat-form-field appearance="outline" class="no-field-hint">
      <mat-label aria-labelledby="category">{{
        'comment-page.tag' | transloco
      }}</mat-label>
      <mat-select class="comment-tag" [disabled]="formDisabled">
        @for (tag of data.tags; track tag) {
          <mat-option
            value="{{ tag }}"
            (click)="updateTag(tag)"
            attr.aria-label="{{
              'comment-page.a11y-select-tag' | transloco: { tag: tag }
            }}"
            >{{ tag }}</mat-option
          >
        }
        <mat-option (click)="updateTag('')">{{
          'comment-page.none' | transloco
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  }
</div>
<div mat-dialog-actions fxLayoutAlign="end">
  @if (data.fileUploadEnabled) {
    <lib-extension-point
      extensionId="image-upload"
      [extensionData]="eventsWrapper"
    ></lib-extension-point>
  }
  <div fxLayoutAlign="end">
    <div fxLayout="row-reverse" fxLayoutAling="end" fxLayoutGap="10px">
      <app-loading-button
        name="comment-page.send"
        [isDialog]="true"
        (clicked)="closeDialog(commentBody.value)"
      ></app-loading-button>
      <button
        (click)="onNoClick()"
        aria-labelledby="cancel"
        mat-button
        type="button"
      >
        {{ 'comment-page.cancel' | transloco }}
      </button>
    </div>
  </div>
  <div class="visually-hidden">
    <div id="category">{{ 'comment-page.a11y-tag' | transloco }}</div>
  </div>
</div>
