<div
  mat-dialog-content
  fxLayout="column"
  fxLayoutAlign="center"
  fxLayoutGap="20px"
>
  <mat-form-field appearance="outline">
    <mat-label>{{ 'comment-page.your-comment' | translate }}</mat-label>
    <textarea
      matInput
      #commentBody
      cdkTextareaAutosize
      cdkAutosizeMinRows="5"
      cdkAutosizeMaxRows="10"
      maxlength="500"
    ></textarea>
    <mat-hint align="end"
      ><span aria-hidden="true"
        >{{ commentBody.value.length }} / 500</span
      ></mat-hint
    >
  </mat-form-field>
  <mat-form-field
    *ngIf="
      data.tags !== null && data.tags !== undefined && data.tags.length > 0
    "
    appearance="outline"
    class="no-field-hint"
  >
    <mat-label aria-labelledby="category">{{
      'comment-page.tag' | translate
    }}</mat-label>
    <mat-select class="comment-tag">
      <mat-option
        *ngFor="let tag of data.tags"
        value="{{ tag }}"
        (click)="updateTag(tag)"
        attr.aria-label="{{
          'comment-page.a11y-select-tag' | translate : { tag: tag }
        }}"
        >{{ tag }}</mat-option
      >
      <mat-option (click)="updateTag('')">{{
        'comment-page.none' | translate
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions fxLayoutAlign="end">
  <lib-extension-point
    *ngIf="data.fileUploadEnabled"
    extensionId="image-upload"
    [extensionData]="eventsWrapper"
  ></lib-extension-point>
  <div fxLayoutAlign="end">
    <div fxLayout="row-reverse" fxLayoutAling="end" fxLayoutGap="10px">
      <button
        (click)="closeDialog(commentBody.value)"
        mat-flat-button
        color="primary"
      >
        {{ 'comment-page.send' | translate }}
      </button>
      <button
        (click)="onNoClick()"
        aria-labelledby="cancel"
        mat-button
        type="button"
      >
        {{ 'comment-page.cancel' | translate }}
      </button>
    </div>
  </div>
  <div class="visually-hidden">
    <div id="category">{{ 'comment-page.a11y-tag' | translate }}</div>
  </div>
</div>
