#commentSlider {
  width: 100%;
}

.delete {
  color: var(--warn);
}

.update {
  transition: 500ms;
}

.export-icon {
  margin-right: 2px;
}

.add-icon {
  color: var(--primary);
  line-height: 28px;
  font-size: 28px;
  height: 28px!important;
  width: 28px;
}
