<div fxLayout="column" fxLayoutGap="16px">
  <div>
    <div tabindex="0" id="comments-settings" class="visually-hidden">{{ 'settings.a11y-comments' | translate }}</div>
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
        <div>
          <p class="slide-toggle-header">{{ 'settings.threshold' | translate }}</p>
          <p class="slide-toggle-description">{{ 'settings.threshold-info' | translate }}</p>
        </div>
        <mat-slide-toggle [(ngModel)]="enableThreshold" (change)="updateCommentSettings()"
                          aria-labelledby="threshold"></mat-slide-toggle>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" *ngIf="enableThreshold">
        <mat-slider id="commentSlider" min="-50" max="-5" step="5" [(ngModel)]="threshold"
                    (input)="onSliderChange($event)" (change)="updateCommentSettings(); announceThreshold();"></mat-slider>
        <h2>&nbsp;{{ threshold | number }}</h2>
      </div>
    </div>
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
        <div>
          <p class="slide-toggle-header">{{ 'settings.comment-moderation' | translate}}</p>
          <p class="slide-toggle-description">{{ 'settings.comment-moderation-info' | translate}}</p>
        </div>
        <mat-slide-toggle [(ngModel)]="enableModeration" (change)="updateCommentSettings()"
                          aria-labelledby="settings-comment-moderation"></mat-slide-toggle>
      </div>
      <div *ngIf="enableModeration" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px">
        <div>
          <p class="slide-toggle-header">{{ 'settings.direct-send' | translate }}</p>
          <p class="slide-toggle-description">{{ 'settings.direct-send-info' | translate }}</p>
        </div>
        <mat-slide-toggle [(ngModel)]="directSend" (change)="updateDirectSend()"
                            aria-labelledby="settings-direct-send"></mat-slide-toggle>
      </div>
    </div>
  </div>
  <div>
    <div tabindex="0" id="tags-settings" class="visually-hidden">{{ 'settings.a11y-categories' | translate }}</div>
    <div>
      <mat-form-field class="input-block no-field-hint" appearance="outline">
        <mat-label>{{ 'settings.tags' | translate }}</mat-label>
        <mat-chip-list #tagList>
          <mat-chip *ngFor="let tag of tags" [removable]="true" (removed)="deleteTag(tag)">
            {{tag}}
            <mat-icon matChipRemove attr.aria-label="{{ 'settings.a11y-remove-tag' | translate: { name: tag } }}">cancel</mat-icon>
          </mat-chip>
          <input (focus)="eventService.makeFocusOnInputTrue()" (blur)="eventService.makeFocusOnInputFalse()"
                 [matChipInputFor]="tagList" (matChipInputTokenEnd)="addTag()"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 type="text" [(ngModel)]="tagName" name="taginput" aria-labelledby="category" maxlength="15"
          placeholder="{{ 'settings.new-tag' | translate }}"/>
        </mat-chip-list>
      </mat-form-field>
    </div>
  </div>
</div>

<lib-extension-point extensionId="archive-list" [extensionData]="{room: room}"></lib-extension-point>

<div class="visually-hidden">
  <div id="threshold">{{'settings.a11y-threshold' | translate}} </div>
  <div id="settings-comment-moderation">{{'settings.a11y-comment-moderation' | translate}} </div>
  <div id="settings-direct-send">{{'settings.a11y-direct-send' | translate}} </div>
  <div id="category">{{ 'settings.a11y-enter-tag' | translate }}</div>
</div>
