#commentSlider {
  width: 100%;
}

.action {
  margin: 10px 0;
  min-width: 200px;
}

.delete {
  color: var(--warn);
}

.update {
  transition: 500ms;
}

button {
  min-width: 105px;
}

mat-icon {
  margin-right: 10px;
}
