<form fxLayout="column">
  <div mat-dialog-content>
    <h3>{{ 'creator.dialog.how-to-proceed' | transloco }}</h3>
    <mat-radio-group
      [(ngModel)]="selectedAction"
      [ngModelOptions]="{ standalone: true }"
      fxLayout="column"
      fxLayoutGap="8px"
    >
      <mat-radio-button
        *ngFor="let action of actions[actionType]"
        [value]="action"
        >{{
          'creator.dialog.' + actionType + '-' + action | transloco
        }}</mat-radio-button
      >
    </mat-radio-group>
  </div>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end" fxLayoutGap="10px">
    <button mat-button type="button" (click)="close()">
      {{ 'dialog.cancel' | transloco }}
    </button>
    <button mat-flat-button color="primary" (click)="close(selectedAction)">
      {{ 'creator.dialog.' + actionType | transloco }}
    </button>
  </div>
</form>
