<div fxLayoutAlign="center center" fxFlex>
  <button
    id="{{ feature }}-button"
    mat-icon-button
    color="primary"
    class="main-button no-ripple"
    [disableRipple]="true"
    [routerLink]="[url || feature]"
    [attr.aria-label]="'room-page.a11y-' + feature | transloco"
    [appHotkey]="hotkey"
    [appHotkeyTitle]="'room-page.' + feature | transloco"
  >
    <mat-icon
      matBadge="{{ badgeCounter }}"
      matBadgeColor="accent"
      class="main-icon"
    >
      {{ icon }}
    </mat-icon>
    <p class="button-text">
      {{ 'room-page.' + feature | transloco }}
    </p>
  </button>
</div>
