@import '../../../variables';

.main-button {
  width: 100% !important;
  height: 100% !important;
  transition: transform 150ms;
}

@media (hover: hover) {
  .main-button {
    &:hover {
      transform: scale(1.05);
    }
  }
}

@media (min-width: 701px) {
  .main-icon {
    font-size: 70px;
    height: 70px;
    width: 70px;
  }
}

@media (max-width: 700px) {
  .main-icon {
    font-size: 60px;
    height: 60px;
    width: 60px;
  }
}

.button-text {
  font-size: 18px;
  padding: 0;
  margin: 16px 0 0;
  line-height: 20px;
  font-weight: $font-weight-bold;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
