<div fxLayout="row" fxLayoutAlign="center">
  <div
    class="page-container"
    tabindex="-1"
    [appAutofocus]
    [attr.aria-label]="'comment-page.a11y-message' | a11yIntro | async"
  >
    @if (!disabled) {
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <app-comment-list-bar
          fxFill
          [showFixedBar]="scroll && isScrollStart"
          [commentCounter]="commentsFilteredByTime.length"
          [isAddButtonDisabled]="readonly"
          [currentFilter]="currentFilter"
          [currentSort]="currentSort"
          [period]="period"
          [navBarExists]="!focusModeEnabled"
          [showAddButton]="true"
          [categories]="tags()"
          [selectedCategory]="currentTag"
          [searchInput]="searchInput"
          (searchInputChanged)="searchComments($event)"
          (createCommentClicked)="openCreateDialog()"
          (filterSelected)="filterComments($event)"
          (sortingSelected)="sortCommentsManually($event)"
          (periodSelected)="setTimePeriod($event)"
          (categorySelected)="selectTag($event)"
        >
        </app-comment-list-bar>
      </div>
    }
    @if (isLoading) {
      <app-loading-indicator></app-loading-indicator>
    }
    <app-comment-settings-hint
      [disabled]="disabled"
      [readonly]="readonly"
    ></app-comment-settings-hint>
    @if (!isLoading && !disabled) {
      <app-comment-list-hint
        [isListEmpty]="comments.length < 1"
        [noPostsFound]="
          (hideCommentsList && filteredComments.length < 1) ||
          (!hideCommentsList && commentsFilteredByTime.length < 1)
        "
      ></app-comment-list-hint>
    }
    @if (!isLoading && !disabled) {
      <div class="comments-container">
        @for (comment of displayComments; track comment) {
          <app-comment
            [comment]="comment"
            [referenceEvent]="referenceEvent.asObservable()"
            [isNew]="comment.id === newestComment.id"
            [fileUploadEnabled]="fileUploadEnabled"
            [parseVote]="getVote(comment)"
            [userId]="userId"
            (clickedOnTag)="selectTag($event)"
            [tags]="tags()"
          >
          </app-comment>
        }
      </div>
    }
    @if (comments.length < 3 && !isLoading && !disabled) {
      <app-comment-list-add-button
        [disabled]="readonly"
        (buttonClicked)="openCreateDialog()"
      ></app-comment-list-add-button>
    }
    <app-comment-list-floating-buttons
      [showAddButton]="!disabled"
      [addButtonDisabled]="readonly"
      [showScrollButton]="scrollExtended && scrollActive"
      [showScrollToNewPostsButton]="scrollExtended && unreadCommentCount > 0"
      [navBarExists]="!focusModeEnabled"
      (scrollTopClicked)="scrollTop(true)"
      (loadAndScrollClicked)="loadAndScroll()"
      (createClicked)="openCreateDialog()"
      appDisabledIfReadonly
    ></app-comment-list-floating-buttons>
  </div>
</div>
