$search-bar-height: 70px;

.page-container {
  width: 100%;
  max-width: calc(800px + 2em);
}

.header-container {
  height: $search-bar-height;
}

.comments-container {
  margin-top: min(1em, 4vw);
  margin-bottom: 20px;
}
