<div fxLayout="row" fxLayoutAlign="center">
  <div
    class="page-container"
    tabindex="-1"
    [appAutofocus]
    [attr.aria-label]="'comment-page.a11y-message' | a11yIntro | async"
  >
    @if (state() !== QnaState.Stopped) {
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <app-comment-list-bar
          fxFill
          [roomId]="roomId()"
          [showFixedBar]="scroll && isScrollStart"
          [commentCounter]="
            isModeration() ? counts().rejected : counts().accepted
          "
          [isAddButtonDisabled]="state() === QnaState.Paused"
          [selectedFlags]="selectedFlags"
          [currentSort]="currentSort"
          [period]="selectedPeriodFilter()"
          [navBarExists]="!focusModeEnabled"
          [showAddButton]="true"
          [selectedTags]="selectedTags()"
          [searchInput]="searchInput"
          (searchInputChanged)="searchComments($event)"
          (createCommentClicked)="openCreateDialog()"
          (filterSelected)="selectFlagFilter($event)"
          (filterRemoved)="removeFlagFilter($event)"
          (sortingSelected)="sort($event)"
          (periodSelected)="setPeriod($event)"
          (tagSelected)="selectFilterTag($event)"
          (tagRemoved)="removeFilterTag($event)"
        >
        </app-comment-list-bar>
      </div>
    }
    @if (!isLoadingQna()) {
      <app-comment-settings-hint [state]="state()"></app-comment-settings-hint>
    }
    @if (isLoadingPosts()) {
      <app-loading-indicator></app-loading-indicator>
    } @else if (state() !== QnaState.Stopped) {
      <app-comment-list-hint
        [isListEmpty]="posts().length === 0"
        [noPostsFound]="!!search() || !!this.selectedTags()"
      ></app-comment-list-hint>
      <div class="comments-container">
        @for (post of posts(); track post.id) {
          <app-comment
            [post]="post"
            [activePostId]="activePost()?.id"
            [animate]="animatePost"
            (clickedOnTag)="selectFilterTag($event)"
          >
          </app-comment>
        }
      </div>
      @if (posts().length < 3 && state() !== QnaState.Stopped) {
        <app-comment-list-add-button
          [disabled]="state() === QnaState.Paused"
          (buttonClicked)="openCreateDialog()"
        ></app-comment-list-add-button>
      }
    }
    <app-comment-list-floating-buttons
      [showAddButton]="state() !== QnaState.Stopped"
      [addButtonDisabled]="state() === QnaState.Paused"
      [showScrollButton]="scrollExtended && scrollActive"
      [showScrollToNewPostsButton]="scrollExtended && newPostsAvailable"
      [navBarExists]="!focusModeEnabled()"
      (scrollTopClicked)="scrollTop()"
      (createClicked)="openCreateDialog()"
      appDisabledIfReadonly
    ></app-comment-list-floating-buttons>
  </div>
</div>
