<div fxLayout="row" fxLayoutAlign="center">
  <div class="page-container">
    <div *ngIf="!disabled" fxLayout="row" fxLayoutAlign="space-between center">
      <app-comment-list-bar
        fxFill
        [showFixedBar]="scroll && isScrollStart"
        [commentCounter]="commentsFilteredByTime.length"
        [isAddButtonDisabled]="readonly"
        [currentFilter]="currentFilter"
        [currentSort]="currentSort"
        [period]="period"
        [navBarExists]="!focusModeEnabled"
        [showAddButton]="true"
        [categories]="this.room.extensions?.comments?.tags"
        [selectedCategory]="currentTag"
        [searchInput]="searchInput"
        (searchInputChanged)="searchComments($event)"
        (createCommentClicked)="openCreateDialog()"
        (filterSelected)="filterComments($event)"
        (sortingSelected)="sortCommentsManually($event)"
        (periodSelected)="setTimePeriod($event)"
        (categorySelected)="selectTag($event)"
      >
      </app-comment-list-bar>
    </div>
    <app-loading-indicator *ngIf="isLoading"></app-loading-indicator>
    <app-comment-settings-hint
      [disabled]="disabled"
      [readonly]="readonly"
    ></app-comment-settings-hint>
    <app-comment-list-hint
      *ngIf="!isLoading && !disabled"
      [isListEmpty]="comments.length < 1"
      [noPostsFound]="
        (hideCommentsList && filteredComments.length < 1) ||
        (!hideCommentsList && commentsFilteredByTime.length < 1)
      "
    ></app-comment-list-hint>
    <div
      *ngIf="!isLoading && !disabled"
      class="comments-container"
      tabindex="-1"
      appHotkey="7"
      [appHotkeyTitle]="'comment-list.list' | transloco"
      [attr.aria-label]="'comment-list.list' | transloco"
    >
      <app-comment
        *ngFor="let comment of displayComments"
        [comment]="comment"
        [referenceEvent]="referenceEvent.asObservable()"
        [isNew]="comment.id === newestComment.id"
        [fileUploadEnabled]="fileUploadEnabled"
        [parseVote]="getVote(comment)"
        [userId]="userId"
        (clickedOnTag)="selectTag($event)"
      >
      </app-comment>
    </div>
    <app-comment-list-add-button
      *ngIf="comments.length < 3 && !isLoading && !disabled"
      (buttonClicked)="openCreateDialog()"
    ></app-comment-list-add-button>
    <app-comment-list-floating-buttons
      [showAddButton]="!disabled"
      [addButtonDisabled]="readonly"
      [showScrollButton]="scrollExtended && scrollActive"
      [showScrollToNewPostsButton]="scrollExtended && unreadCommentCount > 0"
      [navBarExists]="!focusModeEnabled"
      (scrollTopClicked)="scrollTop(true)"
      (loadAndScrollClicked)="loadAndScroll()"
      (createClicked)="openCreateDialog()"
    ></app-comment-list-floating-buttons>
  </div>
</div>
