@if (isLoading()) {
  <app-loading-indicator></app-loading-indicator>
} @else {
  <div fxLayout="column" fxLayoutGap="24px">
    <div tabindex="0" id="comments-settings" class="visually-hidden">
      {{ 'creator.settings.a11y-comments' | transloco }}
    </div>
    <app-settings-slide-toggle
      label="creator.settings.threshold"
      [isChecked]="!!threshold()"
      (toggleEvent)="updateThreshold()"
    ></app-settings-slide-toggle>
    @if (!!threshold()) {
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1em">
        <mat-slider id="comment-slider" min="-50" max="-5" step="5"
          ><input
            #thresholdInput
            matSliderThumb
            [value]="threshold()"
            (valueChange)="updateThreshold($event)"
        /></mat-slider>
        <p class="threshold-value">&nbsp;{{ thresholdInput.value }}</p>
      </div>
    }
    <app-settings-slide-toggle
      label="creator.settings.direct-send"
      [isChecked]="autoPublish()"
      (toggleEvent)="updateAutoPublish($event)"
    ></app-settings-slide-toggle>
    <div tabindex="0" id="tags-settings" class="visually-hidden">
      {{ 'creator.settings.a11y-categories' | transloco }}
    </div>
    <form>
      <mat-form-field class="full-width no-field-hint" appearance="outline">
        <mat-label>{{ 'creator.settings.tags' | transloco }}</mat-label>
        <mat-chip-grid #tagList>
          @for (tag of tags(); track tag) {
            <mat-chip-row [removable]="true" (removed)="removeTag(tag.id)">
              {{ tag.name }}
              <mat-icon
                matChipRemove
                attr.aria-label="{{
                  'creator.settings.a11y-remove-tag'
                    | transloco: { name: tag.name }
                }}"
                >cancel</mat-icon
              >
            </mat-chip-row>
          }
          <input
            [matChipInputFor]="tagList"
            (matChipInputTokenEnd)="addTag()"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            type="text"
            [(ngModel)]="newTagName"
            name="taginput"
            maxlength="15"
            placeholder="{{ 'creator.settings.new-tag' | transloco }}"
          />
        </mat-chip-grid>
      </mat-form-field>
    </form>
  </div>
}
