@import '../../../../variables';

#comment-slider {
  width: 100%;
}

.threshold-value {
  font-weight: $font-weight-bold;
  text-align: center;

  // Align with slide toogles and prevent slider from with change
  width: 40px;
  padding-right: 4px;
}
