<div *ngIf="showToolbar" id="footer-toolbar" fxLayout="row">
  <lib-extension-point extensionId="footer-reference">
      <div fxLayout="row" fxLayoutAlign="center center" fxFill>
        <a [attr.href]="referenceUrl" target="_blank" class="slogan">
          <span class="powered-by text">{{ 'footer.powered-by' | translate }}</span>
          <span class="by text">{{ 'footer.by' | translate }}</span>
          <span class="name">Particify</span>
        </a>
    </div>
  </lib-extension-point>
  <span class="fill-remaining-space"></span>
  <div fxLayout="row wrap" fxLayoutAlign="end">
    <a *ngIf="feedbackUrl" [routerLink]="feedbackUrl" class="link text">{{'footer.feedback' | translate}}</a>
    <a [routerLink]="" [matMenuTriggerFor]="privacyMenu" class="link text">{{'footer.dsgvo' | translate}}</a>
    <a *ngIf="imprintUrl" [routerLink]="" (click)="showImprint()" class="link text">{{'footer.imprint' | translate}}</a>
  </div>
  <mat-menu #privacyMenu="matMenu" [overlapTrigger]="false">
    <button *ngIf="privacyUrl" class="item-title" mat-menu-item (click)="showDataProtection()">
      {{ 'footer.privacy-policy' | translate }}</button>
    <button class="item-title" mat-menu-item (click)="showCookieSettings()">
      {{ 'footer.cookie-settings' | translate }}</button>
  </mat-menu>
</div>

<div class="visually-hidden">
  <div id="data-protection-label">{{'footer.a11y-data-protection' | translate}}</div>
  <div id="imprint-label">{{'footer.a11y-imprint' | translate}}</div>
</div>
