@import "../../../../variables";

footer {
  overflow-y: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#footer-toolbar {
  background-color: var(--background);
  height: auto;
  padding: 0;
}

a {
  font-size: 12px;
  font-weight: $font-weight-bold;
  text-decoration: none;
  color: var(--on-surface);
  opacity: 0.6;
  padding: 0.8em 0;
  margin-right: 1em;
  cursor: pointer;
}
