@if (showTitle) {
  <h3
    tabindex="0"
    [appAutofocus]
    [attr.aria-label]="'creator.content.a11y-preview-header' | transloco"
  >
    {{
      (content.format !== 'FLASHCARD'
        ? 'creator.content.preview'
        : 'content.flashcard-front'
      ) | transloco
    }}
  </h3>
}
<mat-card
  appearance="outlined"
  appLangContext
  [dir]="language | languageDirection"
>
  <app-rendered-text
    tabindex="0"
    [rawText]="content.body"
    [dynamic]="true"
    [markdownFeatureset]="markdownFeatureset"
  ></app-rendered-text>
  <lib-extension-point
    extensionId="attachment-list"
    [extensionData]="attachmentData"
  ></lib-extension-point>
  @if (
    content.format === 'CHOICE' ||
    content.format === 'SCALE' ||
    content.format === 'BINARY'
  ) {
    <app-content-choice-answer
      [selectableAnswers]="selectableAnswers"
      [multipleAnswersAllowed]="multipleAnswers"
      [dynamicRendering]="
        content.format === 'CHOICE' && renderAnswersDynamically
      "
    ></app-content-choice-answer>
  }
  @if (content.format === 'SORT') {
    <app-content-sort-answer
      [answerOptions]="answerOptions"
      [dynamicRendering]="renderAnswersDynamically"
    ></app-content-sort-answer>
  }
  @if (content.format === 'WORDCLOUD') {
    <app-content-wordcloud-answer
      [words]="words"
    ></app-content-wordcloud-answer>
  }
  @if (content.format === 'PRIORITIZATION' && assignablePoints) {
    <app-content-prioritization-answer
      [answerOptions]="answerOptionsWithPoints"
      [assignablePoints]="assignablePoints"
    ></app-content-prioritization-answer>
  }
  @if (content.format === 'TEXT') {
    <app-content-text-answer></app-content-text-answer>
  }
  @if (content.format === 'NUMERIC' && numericContent) {
    <app-content-numeric-answer
      [content]="numericContent"
    ></app-content-numeric-answer>
  }
</mat-card>
@if (content.format === 'FLASHCARD') {
  <div>
    <h3>
      {{ 'content.flashcard-back' | transloco }}
    </h3>
    <mat-card appearance="outlined">
      @if (additionalText) {
        <app-rendered-text
          [rawText]="additionalText"
          [dynamic]="true"
          [markdownFeatureset]="markdownFeatureset"
        >
        </app-rendered-text>
      }
    </mat-card>
  </div>
}
